force-app/main/default/flows/Account_Team_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_into_collection</name>
        <label>Add into collection</label>
        <locationX>1135</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>UpdateTasklst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignGrpId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Grp_and_Task</name>
        <label>Assign Task Grp and Task</label>
        <locationX>890</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>updateTask.Group_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskGrpId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_into_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_values</name>
        <label>Assign task values</label>
        <locationX>713</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Task_Instance.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accTeam.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReminderDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Instance.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_of_Task</name>
        <label>Collection of Task</label>
        <locationX>713</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Grp</name>
        <label>Update Task Grp</label>
        <locationX>1268</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>updateTask.Group_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskGrpId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_into_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Team_Member_Check</name>
        <label>Account Team Member Check</label>
        <locationX>291</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_team_member_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Account_Team_Member</targetReference>
            </connector>
            <label>If Account team member is found</label>
        </rules>
        <rules>
            <name>Account_Team_Member_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Team_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_For_AccountOwner</targetReference>
            </connector>
            <label>Account Team Member Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetTaskId</name>
        <label>GetTaskId</label>
        <locationX>689</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assignGrpTaskId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignGrpId</targetReference>
            </connector>
            <label>assignGrpTaskId</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_TaskGrpId_Not_null</name>
        <label>If TaskGrpId Not null</label>
        <locationX>879</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Grp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_GrpId_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskGrpId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Grp_and_Task</targetReference>
            </connector>
            <label>Is GrpId empty</label>
        </rules>
    </decisions>
    <description>When Account is activate or PO number is not populated Task will be created for Account Team member</description>
    <formulas>
        <name>varReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/24)</expression>
    </formulas>
    <interviewLabel>Account Team Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Task Creation</label>
    <loops>
        <name>assignGrpId</name>
        <label>assignGrpId</label>
        <locationX>974</locationX>
        <locationY>184</locationY>
        <assignNextValueToReference>updateTask</assignNextValueToReference>
        <collectionReference>Task_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_TaskGrpId_Not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTasklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Account_Team_Member</name>
        <label>Iterate Account Team Member</label>
        <locationX>533</locationX>
        <locationY>385</locationY>
        <assignNextValueToReference>accTeam</assignNextValueToReference>
        <collectionReference>Account_Team_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_task_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>536</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>GetTaskId</targetReference>
        </connector>
        <inputReference>Task_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_For_AccountOwner</name>
        <label>Create Task For AccountOwner</label>
        <locationX>306</locationX>
        <locationY>184</locationY>
        <assignRecordIdToReference>varTaskId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>varReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_account_members</name>
        <label>Get account members</label>
        <locationX>154</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Team_Member_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ExcludeRole</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>Account_Team_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecordType</name>
        <label>GetTaskRecordType</label>
        <locationX>154</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTasklist</name>
        <label>UpdateTasklist</label>
        <locationX>1257</locationX>
        <locationY>187</locationY>
        <inputReference>UpdateTasklst</inputReference>
    </recordUpdates>
    <startElementReference>GetTaskRecordType</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account_Team_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This field is used to set ActivityDate</description>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ExcludeRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Task_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task_Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>taskGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdateTasklst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
