force-app/main/default/flows/Actions_for_the_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_to_Acorn_Accept</name>
        <label>Send to Acorn Accept</label>
        <locationX>587</locationX>
        <locationY>93</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Accept_Work_Order</targetReference>
        </connector>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>varWORecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Acorn_Cancel</name>
        <label>Send to Acorn Cancel</label>
        <locationX>1027</locationX>
        <locationY>853</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>varWORecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>SDT-4728, Vendor Check send</description>
        <name>Send_to_Acorn_Cancel_Non_Vendor</name>
        <label>Send to Acorn Cancel Non Vendor</label>
        <locationX>1018</locationX>
        <locationY>1141</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Work_Order1</targetReference>
        </connector>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>varWORecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Acorn_Dry_Run</name>
        <label>Send to Acorn Dry Run</label>
        <locationX>1004</locationX>
        <locationY>298</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Work_Order_Dry_Run</targetReference>
        </connector>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>varWORecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Acorn_Resend</name>
        <label>Send to Acorn Resend</label>
        <locationX>925</locationX>
        <locationY>628</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Work_Order_Resend</targetReference>
        </connector>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>varWORecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Accept_Assignment</name>
        <label>Accept Assignment</label>
        <locationX>478</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>varWORecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Accept</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_API_Data</name>
        <label>Assignment API Data IS WM Vendor</label>
        <locationX>913</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>varWORecord.Exception_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Exception_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Cancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_API_Data_Not_IS_WM_Vendor</name>
        <label>Assignment API Data Not IS WM Vendor</label>
        <locationX>908</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>varWORecord.Exception_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Description_Non_Vendor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Exception_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Send_Work_Order_to_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Work_Order_to_Vendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Cancel_Non_Vendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dry_Run_Assignment</name>
        <label>Dry Run Assignment</label>
        <locationX>901</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>varWORecord.Dry_Run_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Dry_Run_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Dry_Run_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWORecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dry Run</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Dry_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resend_Assignement</name>
        <label>Resend Assignement</label>
        <locationX>818</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>varWORecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Resend</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acc_WM_Vendor</name>
        <choiceText>Acc_WM_Vendor</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>varCancelSendWO</name>
        <choiceText>Don&apos;t send the Work Order</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>varDryRun</name>
        <choiceText>Dry Run</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varSelectAccept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varSelectCancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varSelectResend</name>
        <choiceText>Resend</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>varSendTheWO</name>
        <choiceText>Resend the Work Order</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Acorn_Num_Null_check_msg_display</name>
        <label>Acorn Num Null check msg display</label>
        <locationX>291</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Mark_as_Dry_Run2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_wo_num_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_null_chk_msg_disp</targetReference>
            </connector>
            <label>If Acorn wo num is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Acorn_Num_Nulll</name>
        <label>Acorn Num Nulll</label>
        <locationX>72</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Accept2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_wo_number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_number_null</targetReference>
            </connector>
            <label>If Acorn wo number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Acorn_wo_num_null_check</name>
        <label>Acorn wo num null check</label>
        <locationX>604</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Mark_as_Dry_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Acorn_wo_num_is_nulll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_num_null_check_msg</targetReference>
            </connector>
            <label>if Acorn wo num is nulll</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_outcome</name>
        <label>Check the outcome</label>
        <locationX>717</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resend_the_WorkOrder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSendTheWO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resend_Assignement</targetReference>
            </connector>
            <label>Resend the WorkOrder</label>
        </rules>
        <rules>
            <name>Cancel_the_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelSendWO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_the_WO</targetReference>
            </connector>
            <label>Cancel the Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Acorn_number_is_null_check</name>
        <label>If Acorn number is null check</label>
        <locationX>433</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Accept_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_workorder_number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_workorder_null</targetReference>
            </connector>
            <label>If Acorn workorder number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_on_Acorn_WO_num</name>
        <label>Null check on Acorn WO num</label>
        <locationX>581</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Resend_Assignement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_num_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_num_null_check</targetReference>
            </connector>
            <label>If Acorn num is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>NullCheck_on_AcornWOnumber</name>
        <label>NullCheck on AcornWOnumber</label>
        <locationX>504</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Resend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acor_WO_number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_Num_null_on_Resend_action</targetReference>
            </connector>
            <label>If Acor WO number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Accept_Work_Order</name>
        <label>Update Accept Work Order</label>
        <locationX>740</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Accept_Wo_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accept_WO</targetReference>
            </connector>
            <label>Update Accept Wo Yes</label>
        </rules>
        <rules>
            <name>Update_Accept_WO_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_API_Error</targetReference>
            </connector>
            <label>Update Accept WO No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1139</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Work_Order_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancel_WO</targetReference>
            </connector>
            <label>Update Work Order:Yes</label>
        </rules>
        <rules>
            <name>Update_Work_Order_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_ERROR_Canc</targetReference>
            </connector>
            <label>Update Work Order:No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order1</name>
        <label>Update Work Order</label>
        <locationX>1123</locationX>
        <locationY>1169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Work_Order_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancel_WO_Non_Vendor</targetReference>
            </connector>
            <label>Update Work Order_Yes</label>
        </rules>
        <rules>
            <name>Update_Work_Order_No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_API_Cancel_Non_Vendor</targetReference>
            </connector>
            <label>Update Work Order_No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_Dry_Run</name>
        <label>Update Work Order Dry Run</label>
        <locationX>1119</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Dry_Run_WO_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dry_Run</targetReference>
            </connector>
            <label>Update Dry Run WO Yes</label>
        </rules>
        <rules>
            <name>Update_Dry_Run_WO_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Dry_Run_API</targetReference>
            </connector>
            <label>Update Dry Run WO No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_Resend</name>
        <label>Update Work Order Resend</label>
        <locationX>1033</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Resend_Work_Order_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resend_WO</targetReference>
            </connector>
            <label>Update Resend Work Order Yes</label>
        </rules>
        <rules>
            <name>Update_Resend_Work_Order_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_API_Resend</targetReference>
            </connector>
            <label>Update Resend Work Order No</label>
        </rules>
    </decisions>
    <decisions>
        <name>WM_Vendor_or_Non_WM_Vendor</name>
        <label>WM Vendor or Non WM Vendor</label>
        <locationX>649</locationX>
        <locationY>1090</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_WM_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Purchase</targetReference>
            </connector>
            <label>IS WM Vendor</label>
        </rules>
        <rules>
            <name>Not_WM_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Purchase_Non_WM_Vendor</targetReference>
            </connector>
            <label>Not WM Vendor</label>
        </rules>
        <rules>
            <name>Acorn_WO_not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Cancellation_Process</targetReference>
            </connector>
            <label>Acorn WO number not available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Workorder_Status</name>
        <label>Workorder Status</label>
        <locationX>376</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_equal_to_Cancel_for_Resend</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectResend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resend2</targetReference>
            </connector>
            <label>Status is equal to Cancel for Resend</label>
        </rules>
        <rules>
            <name>Status_is_not_equal_to_Cancel_for_Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectResend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullCheck_on_AcornWOnumber</targetReference>
            </connector>
            <label>Status is not equal to Cancel for Resend</label>
        </rules>
        <rules>
            <name>Status_is_equal_to_Cancel_but_Date_is_not_in_Past_for_Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectResend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_check_on_Acorn_WO_num</targetReference>
            </connector>
            <label>Status is equal to Cancel but Date is not in Past for Resend</label>
        </rules>
        <rules>
            <name>Check_If_Cancel_WO_Criteria_meets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectCancel</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Check  If Cancel WO Criteria meets</label>
        </rules>
        <rules>
            <name>Check_If_Cancel_WO_Criteria_does_not_meet</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectCancel</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Purchase2</targetReference>
            </connector>
            <label>Check If Cancel WO Criteria does not meet</label>
        </rules>
        <rules>
            <name>Check_if_Dry_Run_WO_Criteria_meets</name>
            <conditionLogic>1 AND (2 AND 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDryRun</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_wo_num_null_check</targetReference>
            </connector>
            <label>Check if Dry Run WO Criteria meets</label>
        </rules>
        <rules>
            <name>Check_If_Dry_Run_WO_does_not_meet</name>
            <conditionLogic>(1 OR (2 OR 3) OR 5 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDryRun</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_Num_Null_check_msg_display</targetReference>
            </connector>
            <label>Check If Dry Run WO does not meet</label>
        </rules>
        <rules>
            <name>Accept_the_WorkOrder_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectAccept</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Acorn_number_is_null_check</targetReference>
            </connector>
            <label>Accept the WorkOrder Success</label>
        </rules>
        <rules>
            <name>Accept_Workorder_Unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectAccept</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_Num_Nulll</targetReference>
            </connector>
            <label>Accept Workorder Unsuccessful</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varCancellationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exception_Reason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Actions for the Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actions for the Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Account Records, WM Vendor</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>425</locationX>
        <locationY>1152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WM_Vendor_or_Non_WM_Vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWORecord.Vendor_Account_Id__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WM_Vendor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>188</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Workorder_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>varWORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Integration_Status__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Vendor_Account_Id__c</queriedFields>
        <queriedFields>Acorn_WorkOrder_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accept_WO</name>
        <label>Update Accept WO</label>
        <locationX>884</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Accept_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancel_WO</name>
        <label>Update Cancel WO</label>
        <locationX>1307</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Cancel_Purchase3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <elementReference>Cancellation_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancel_WO_Non_Vendor</name>
        <label>Update Cancel WO Non Vendor</label>
        <locationX>1321</locationX>
        <locationY>1115</locationY>
        <connector>
            <targetReference>Cancel_Purchase1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <elementReference>Cancellation_Description_Non_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Work_Order_to_Vendor__c</field>
            <value>
                <elementReference>Send_Work_Order_to_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dry_Run</name>
        <label>Update Dry Run</label>
        <locationX>1324</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Mark_as_Dry_Run3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dry_Run_Cost__c</field>
            <value>
                <elementReference>Dry_Run_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dry_Run_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dry_Run_Price__c</field>
            <value>
                <elementReference>Dry_Run_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Dry Run</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resend_WO</name>
        <label>Update Resend WO</label>
        <locationX>1213</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>Actions_on_Workorder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Resend</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>.</description>
        <name>Accept2</name>
        <label>Accept</label>
        <locationX>178</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Acc</name>
            <fieldText>Work Order can only be accepted,if the WO Status is sent.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Accept_API_Error</name>
        <label>Accept API Error</label>
        <locationX>743</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>API_Error_Accept</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Accept_WorkOrder</name>
        <label>Accept WorkOrder</label>
        <locationX>1106</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Accept</name>
            <fieldText>WorkOrder is accepted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_null_chk_msg_disp</name>
        <label>Acorn null chk msg disp</label>
        <locationX>363</locationX>
        <locationY>94</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_display</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_num_null_check</name>
        <label>Acorn num null check</label>
        <locationX>642</locationX>
        <locationY>660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Null_Check_message</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_num_null_check_msg</name>
        <label>Acorn num null check msg</label>
        <locationX>710</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Acorn_nullchk</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_Num_null_on_Resend_action</name>
        <label>Acorn Num null on Resend action</label>
        <locationX>485</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_on_Acorn_Num_null</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_number_null</name>
        <label>Acorn number null</label>
        <locationX>38</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Acorn_number_null_msg</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acorn_workorder_null</name>
        <label>Acorn_workorder_null</label>
        <locationX>603</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Acorn_workorder_number_null</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Actions_on_Workorder</name>
        <label>Actions on Workorder</label>
        <locationX>1341</locationX>
        <locationY>636</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>Workorder is resent.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>API_ERROR_Canc</name>
        <label>Error</label>
        <locationX>1143</locationX>
        <locationY>995</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>API_Error_Canc_WM_Vend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase</name>
        <label>Cancel Purchase</label>
        <locationX>780</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_API_Data</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Description</name>
            <dataType>String</dataType>
            <fieldText>Cancellation Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter at least 9 characters in the cancellation description field</errorMessage>
                <formulaExpression>LEN({!Cancellation_Description}) &gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cancellation_Reason2</name>
            <choiceReferences>varCancellationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase1</name>
        <label>Cancel Purchase</label>
        <locationX>1413</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelSuccessMsg1</name>
            <fieldText>You&apos;ve Cancelled the Work Order</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase2</name>
        <label>Cancel Purchase</label>
        <locationX>328</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelErrorMsg</name>
            <fieldText>Oops! You can&apos;t cancel a Work Order if the status is cancelled or closed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase3</name>
        <label>Cancel Purchase</label>
        <locationX>1422</locationX>
        <locationY>865</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelSuccessMsg</name>
            <fieldText>You&apos;ve Cancelled the Work Order</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase_Non_WM_Vendor</name>
        <label>Cancel Purchase</label>
        <locationX>813</locationX>
        <locationY>1111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_API_Data_Not_IS_WM_Vendor</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Description_Non_Vendor</name>
            <dataType>String</dataType>
            <fieldText>Cancellation Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter at least 9 characters in the cancellation description field</errorMessage>
                <formulaExpression>LEN({!Cancellation_Description_Non_Vendor}) &gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cancellation_Reason3</name>
            <choiceReferences>varCancellationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Work_Order_to_Vendor</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send Work Order to Vendor?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_the_WO</name>
        <label>Cancel the WO</label>
        <locationX>915</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cancelled</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_API_Cancel_Non_Vendor</name>
        <label>Error</label>
        <locationX>1118</locationX>
        <locationY>1280</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>API_Error_Non_Vend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_API_Resend</name>
        <label>Error</label>
        <locationX>1318</locationX>
        <locationY>528</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>API_Resend_Errror</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Dry_Run_API</name>
        <label>Error Dry Run API</label>
        <locationX>1063</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Bx_Error_API</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <fields>
            <name>WorkOrder_Actions</name>
            <choiceReferences>varSelectResend</choiceReferences>
            <choiceReferences>varSelectCancel</choiceReferences>
            <choiceReferences>varDryRun</choiceReferences>
            <choiceReferences>varSelectAccept</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WorkOrder Actions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mark_as_Dry_Run</name>
        <label>Mark as Dry Run</label>
        <locationX>832</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dry_Run_Assignment</targetReference>
        </connector>
        <fields>
            <name>Dry_Run_Cost</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Dry Run Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dry_Run_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Dry Run Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter at least 9 characters in the description field</errorMessage>
                <formulaExpression>LEN({!Description}) &gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mark_as_Dry_Run2</name>
        <label>Mark as Dry Run</label>
        <locationX>195</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DryRunErrorMsg</name>
            <fieldText>Oops! You can&apos;t mark it as dry run if the work order is Cancelled or service date is not entered or in the future.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mark_as_Dry_Run3</name>
        <label>Mark as Dry Run</label>
        <locationX>1457</locationX>
        <locationY>285</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DryRunSuccessMsg</name>
            <fieldText>You marked it as Dry Run!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resend</name>
        <label>Resend</label>
        <locationX>604</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_outcome</targetReference>
        </connector>
        <fields>
            <name>DateBasedScreen</name>
            <choiceReferences>varCancelSendWO</choiceReferences>
            <choiceReferences>varSendTheWO</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>This WorkOrder occurs in the past and therefore is not necessary to send to the hauler.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resend2</name>
        <label>Resend</label>
        <locationX>895</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CantCancel</name>
            <fieldText>You can&apos;t resend the Workorder which is cancelled or service date is blank</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This work order cant be processed for cancelling as this work order is not integrated with Acorn yet.</description>
        <name>Work_Order_Cancellation_Process</name>
        <label>Work Order Cancellation Process</label>
        <locationX>672</locationX>
        <locationY>1288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Acorn_Num_Null</name>
            <fieldText>&lt;p&gt;You cannot perform this action currently. Please try again after sometime.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Acc_WM_Ven</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APIResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
