force-app/main/default/flows/Add_Account_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Append_To_Emails</description>
        <name>Append_To_Emails</name>
        <label>Append To Emails</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Append_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_append_in_text_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>remove_last_comma</description>
        <name>remove_last_comma</name>
        <label>remove last comma</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>remove_last_comma_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Team_Members_field</targetReference>
        </connector>
    </assignments>
    <description>Add Account Team Member to view Client Quotes</description>
    <formulas>
        <description>Append_Formula</description>
        <name>Append_Formula</name>
        <dataType>String</dataType>
        <expression>{!Loop_to_append_in_text_field.User.Email} + &apos;,&apos;</expression>
    </formulas>
    <formulas>
        <description>remove_last_comma_formula</description>
        <name>remove_last_comma_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!User_Emails}, LEN({!User_Emails}) - 1)</expression>
    </formulas>
    <interviewLabel>Add Account Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Account Team Member</label>
    <loops>
        <description>Loop_to_append_in_text_field</description>
        <name>Loop_to_append_in_text_field</name>
        <label>Loop to append in text field</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Records_To_Be_Inserted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_To_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>remove_last_comma</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Records_To_Be_Inserted</description>
        <name>Records_To_Be_Inserted</name>
        <label>Records To Be Inserted</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_append_in_text_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update custom Account Team Members field</description>
        <name>Update_Account_Team_Members_field</name>
        <label>Update custom Account Team Members field</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Team_Member__c</field>
            <value>
                <elementReference>User_Emails</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Records_To_Be_Inserted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>User_Emails</description>
        <name>User_Emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
