force-app/main/default/flows/AL_Save_Quote_Assigment_And_Create_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Assignment_Value</name>
        <label>Assign Quote Assignment Value</label>
        <locationX>776</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Next_Action_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNextDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.SBQQ__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Next Action Start Date and Last Action Performed to current date time</description>
        <name>Assign_Quote_Assignment_Value_for_Additional_Information_Needed</name>
        <label>Assign Quote Assignment Value for Additional Information Needed</label>
        <locationX>1035</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Next_Action_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNextDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.SBQQ__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Last_Action_Performed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Next_Action_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Assignment_Value_for_Pending_Information</name>
        <label>Assign Quote Assignment Value for Pending Information</label>
        <locationX>467</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Next_Action_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNextDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.SBQQ__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateQuote.Pending_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Type_Seletion</name>
        <label>Action Type Seletion</label>
        <locationX>608</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Assign_Quote_Assignment_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Assignment_Value_for_Pending_Information</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
        <rules>
            <name>Additional_Information_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Assignment_Value_for_Additional_Information_Needed</targetReference>
            </connector>
            <label>Additional Information Needed</label>
        </rules>
    </decisions>
    <description>Autolaunched flow to save the quote assigment and creating comments on any quote status, based on action type. Calling Quote Assignment Flow. SDT-24280 -- Added addtional information Needed</description>
    <formulas>
        <name>fcomments</name>
        <dataType>String</dataType>
        <expression>{!varActionType} + &apos; by &apos; + {!$User.FirstName} + &apos; &apos; + {!$User.LastName} + &apos; on &apos; + TEXT({!varNextDueDateTime}) + BR() +
 &apos;Quote assigned to &apos; + {!varAssignToName} + BR() +
&apos;Notes: &apos; + {!varNotes}</expression>
    </formulas>
    <formulas>
        <name>fCommentTeamUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Save Quote Assigment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Quote Assigment And Create Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Comment</name>
        <label>Save Comment</label>
        <locationX>631</locationX>
        <locationY>822</locationY>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>fcomments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Log_Type_Name__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCommentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <object>Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>631</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acorn_Ticket_Comment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCommentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Assignment</name>
        <label>Update Quote Assignment</label>
        <locationX>629</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <inputReference>varUpdateQuote</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Action_Type_Seletion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varActionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextDueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
