force-app/main/default/flows/Approval_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Approval_Log</name>
        <label>Add Approval Log</label>
        <locationX>847</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>UpdateApprovalLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalLogRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Approval_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Log</name>
        <label>Assign Approval Log</label>
        <locationX>848</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Actual_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Actual_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Actual_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tittle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Approval_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRec.Preferred_Contact_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRec.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Actual_Approver_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLogRec.Actual_External_Approver_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Approval_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Sub_Status_and_Status</name>
        <label>Assign Case Sub Status and Status</label>
        <locationX>1667</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.Case_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Service Integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_whether_Approval_Required_or_not</name>
        <label>Assign whether Approval Required or not</label>
        <locationX>687</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>IsRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Approval_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>869</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Case_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Not Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.SlaStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Case_Pending_Service_Integration</name>
        <label>Open Case Pending Service Integration</label>
        <locationX>1106</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Case_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Service Integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.SlaStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Case_Pending_Vendor_Information</name>
        <label>Open Case Pending Vendor Information</label>
        <locationX>1460</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Case_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Vendor Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.SlaStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Availability_Confirm_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Count</name>
        <label>Record Count</label>
        <locationX>273</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>NoofApprovalLog</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>approvalLoglst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Approval_Log_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <description>Approval log status &quot;Declined&quot;.</description>
        <name>Declined</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approval_Log_Update</name>
        <label>Approval Log Update</label>
        <locationX>364</locationX>
        <locationY>885</locationY>
        <defaultConnector>
            <targetReference>Case_Update_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Update_Approval_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateApprovalLog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Log</targetReference>
            </connector>
            <label>Is Update Approval Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Update_Decision</name>
        <label>Case Update Decision</label>
        <locationX>853</locationX>
        <locationY>793</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Case_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Offset</targetReference>
            </connector>
            <label>Open Case Update</label>
        </rules>
        <rules>
            <name>Closed_Case_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Declined</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Closed Case Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Service_Date</name>
        <label>Check Case Service Date</label>
        <locationX>1122</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>Open_Case_Pending_Service_Integration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Case Service Date is greater than or equal to SLA</defaultConnectorLabel>
        <rules>
            <name>If_Case_Service_Date_is_Less_than_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varServiceDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varSLADate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Case_Pending_Vendor_Information</targetReference>
            </connector>
            <label>If Case Service Date is Less than SLA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether availability is confirmed on case from capacity planer</description>
        <name>Check_If_Availability_Confirm</name>
        <label>Check If  Availability Confirm</label>
        <locationX>1657</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If  Vendor Availability Not Confirmed on Case</defaultConnectorLabel>
        <rules>
            <name>If_Vendor_Availability_Confirmed_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAvailabilityConfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Sub_Status_and_Status</targetReference>
            </connector>
            <label>If  Vendor Availability Confirmed on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_Approval_Log_List</name>
        <label>Check on Approval Log List</label>
        <locationX>361</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approval_List_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalLoglst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Approval_Logs</targetReference>
            </connector>
            <label>Is Approval List Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Whether Approval Log is related to Task or not.</description>
        <name>Check_on_Approval_Record</name>
        <label>Check on Approval Record</label>
        <locationX>468</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Check_to_update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Related_Approval_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLogRec.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaskRec.Approval_Log__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approval_Log</targetReference>
            </connector>
            <label>Is Related Approval Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_update_Required</name>
        <label>Check to update Required</label>
        <locationX>677</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Loop_Approval_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGreaterthanone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLogRec.Is_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalLogRec.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoofApprovalLog</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_whether_Approval_Required_or_not</targetReference>
            </connector>
            <label>Greater than one</label>
        </rules>
    </decisions>
    <description>Update Pending Service Integration Scenario, also add Location UTF offset</description>
    <environments>Default</environments>
    <formulas>
        <description>Service Date of the SLA Service Date Time</description>
        <name>ServiceDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!slaDateTime})</expression>
    </formulas>
    <formulas>
        <name>VarOutcome</name>
        <dataType>String</dataType>
        <expression>If(OR(ISPICKVAL ({!TaskRec.Outcome__c}, &quot;Approved&quot;), ISPICKVAL ({!TaskRec.Outcome__c}, &quot;Verified and Request Approved&quot;)),{!Approved},{!Declined})</expression>
    </formulas>
    <formulas>
        <name>varSLA_Datetime</name>
        <dataType>DateTime</dataType>
        <expression>{!varSLA_ServiceDateTime} + ({!varLocation_Offset_UTC}/24)</expression>
    </formulas>
    <formulas>
        <description>Convert SLA datetime to date only</description>
        <name>varSLADate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varSLA_Datetime})</expression>
    </formulas>
    <interviewLabel>Approval Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Log</label>
    <loops>
        <name>Loop_Approval_Logs</name>
        <label>Loop Approval Logs</label>
        <locationX>451</locationX>
        <locationY>708</locationY>
        <assignNextValueToReference>ApprovalLogRec</assignNextValueToReference>
        <collectionReference>approvalLoglst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_on_Approval_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approval_Log_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Approval Log based on the caseId</description>
        <name>Get_Approval_Logs</name>
        <label>Get Approval Logs</label>
        <locationX>160</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Approval_Log__c</object>
        <outputReference>approvalLoglst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the availability confirmed flag status from case</description>
        <name>Get_Case_Availability_Confirm_Flag</name>
        <label>Get Case Availability Confirm Flag</label>
        <locationX>1719</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Availability_Confirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varAvailabilityConfirm</assignToReference>
            <field>Availability_Confirmed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Offset</name>
        <label>Get Location Offset</label>
        <locationX>1006</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Service_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varLocation_Offset_UTC</assignToReference>
            <field>tz__UTF_Offset__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Log</name>
        <label>Update Approval Log</label>
        <locationX>697</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Case_Update_Decision</targetReference>
        </connector>
        <inputReference>UpdateApprovalLog</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1124</locationX>
        <locationY>985</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Request Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <elementReference>CaseRec.Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_Status__c</field>
            <value>
                <elementReference>CaseRec.Case_Sub_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaStartDate</field>
            <value>
                <elementReference>CaseRec.SlaStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseRec.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>389</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Approval_Logs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores Approval Log</description>
        <name>approvalLoglst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>ApprovalLogRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>ApproverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Based on CaseId Approval Log will be fetched.</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whether waiting for any other approval</description>
        <name>IsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Keeps the Number of Record Count</description>
        <name>NoofApprovalLog</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>SLA Service Date Time of case.</description>
        <name>slaDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Task Id</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store Task Record</description>
        <name>TaskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tittle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateApprovalLog</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>UpdateCaselst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAvailabilityConfirm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact Email of the Approver</description>
        <name>VarContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocation_Offset_UTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSLA_ServiceDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
