force-app/main/default/flows/Approval_Business_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckForFuzzyMatch</name>
        <label>CheckForFuzzyMatch</label>
        <locationX>1682</locationX>
        <locationY>650</locationY>
        <actionName>ServiceApproverFuzzyMatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_DND</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactTitle</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceApproverTitle</name>
            <value>
                <elementReference>varSAAccountTittle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varSAIsFuzzyMatch</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Optional_AL_into_List</name>
        <label>Add Optional AL into List</label>
        <locationX>1440</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLoglst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalLog</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_to_AL_List</name>
        <label>Add to AL List</label>
        <locationX>814</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLoglst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To add User service Approver</description>
        <name>Add_User_Type</name>
        <label>Add User Type</label>
        <locationX>822</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Log_for_No_Approval_Required</name>
        <label>Approval Log for No Approval Required</label>
        <locationX>564</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLoglst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalLog</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assginTypeandId</name>
        <label>assginTypeandId</label>
        <locationX>966</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AL_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AL_CAT</name>
        <label>Assign AL CAT</label>
        <locationX>693</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign AL Contact</description>
        <name>Assign_AL_Contact</name>
        <label>Assign AL Contact</label>
        <locationX>967</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Log</name>
        <label>Assign Approval Log &amp; Task</label>
        <locationX>106</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_and_Id</name>
        <label>Assign Approver and Id</label>
        <locationX>643</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Title_AL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers</name>
        <label>Assign Approvers</label>
        <locationX>768</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>ApproverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSADept</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproverTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAAccountTittle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptionalApprover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Optional_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DND</name>
        <label>Assign DND</label>
        <locationX>1399</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>varDND</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ServiceApprovers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Email Record values to Approval Log</description>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>1061</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To assign Email Service Approver</description>
        <name>Assign_Email_Type</name>
        <label>Assign Email Type</label>
        <locationX>1061</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ext</name>
        <label>Assign Ext</label>
        <locationX>854</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAExternalEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAExternalPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ServiceApprovers</name>
        <label>Assign ServiceApprovers</label>
        <locationX>1222</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedServiceApprovers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Title_AL</name>
        <label>Assign Title AL</label>
        <locationX>596</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>738</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AL_CAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign User Service Approver values to Approval Log</description>
        <name>Assign_User</name>
        <label>Assign User</label>
        <locationX>779</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignType</name>
        <label>assignType</label>
        <locationX>896</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Approver_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ext</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When Account Team Member is Case Owner</description>
        <name>ATM_Approver_Assignment</name>
        <label>ATM Approver Assignment</label>
        <locationX>516</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Auto_Approved</name>
        <label>Auto Approved</label>
        <locationX>682</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>IsAutoApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Is Auto Approved as &quot;True&quot;</description>
        <name>AutoApproved</name>
        <label>AutoApproved</label>
        <locationX>483</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>IsAutoApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rulematched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is for creation of Approval log for Contact Email Auto Approval</description>
        <name>Contact_Email_Auto_Approval</name>
        <label>Contact Email Auto Approval</label>
        <locationX>196</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creation of Approval logs when Contact&apos;s department matches with Department</description>
        <name>Department_Approver_Assignment</name>
        <label>Department Approver Assignment</label>
        <locationX>318</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is to create Approval log when Auto approval is required in case of Email.</description>
        <name>Email_Approver_Assignement</name>
        <label>Email Approver Assignement</label>
        <locationX>421</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseSuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailConst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count</name>
        <label>Get Count</label>
        <locationX>320</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>NoOfServiceApprover</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ServicerApproverlst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_SA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>More_than_one_Optional_Approval</name>
        <label>More than one Optional Approval</label>
        <locationX>1333</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.ServiceApprovers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatenatedServiceApprovers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Optional_AL_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is used to create approval log for No Approval Required Business Rule</description>
        <name>No_Approver_Assignment</name>
        <label>No Approver Assignment</label>
        <locationX>390</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoApprovalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAutoApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Log_for_No_Approval_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>One_Optional_Approver</name>
        <label>One Optional Approver</label>
        <locationX>613</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Is_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainedBR.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiredApproverandTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverTypeandId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAExternalPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSAServiceApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AL_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fuzzy_Match_to_False</name>
        <label>Set Fuzzy Match to False</label>
        <locationX>1381</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>varSAIsFuzzyMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FuzzyBlockLogic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Occurrence_Limit</name>
        <label>Show Occurrence Limit</label>
        <locationX>395</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>varOccurrenceLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Title_Approver_Assign</name>
        <label>Title Approver Assign</label>
        <locationX>69</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Account_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_check_Auto_Approval_for_Mandatory_Service_Approvers</name>
        <label>To check Auto Approval for Mandatory Service Approvers</label>
        <locationX>348</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>MandatoryDND</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Auto_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When User is Case Owner</description>
        <name>User_Approver_Assignment</name>
        <label>User Approver Assignment</label>
        <locationX>228</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ApprovalLog.BusinessRuleId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovedDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Actual_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Required_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Decision_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Service_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.ServiceApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autoApprovalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalLog.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_check_Auto_Approval_for_Mandatory_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountTeamMember</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Team Member</stringValue>
        </value>
    </constants>
    <constants>
        <name>approvalRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case approval is required.</stringValue>
        </value>
    </constants>
    <constants>
        <name>autoApprovalComments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This task has been completed automatically by the system</stringValue>
        </value>
    </constants>
    <constants>
        <name>autoApprovedDesc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case is Auto-Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>Email Record Type name</description>
        <name>EmailConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>External Approver</description>
        <name>ExternalApproverConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </constants>
    <constants>
        <name>Hyphen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>-</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoApprovalRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Approval Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>Title_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Title</stringValue>
        </value>
    </constants>
    <constants>
        <description>Record Type name of the User</description>
        <name>UserConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Approval_List</name>
        <label>Check Approval List</label>
        <locationX>1171</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalLoglst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDND</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_than_one_Optional_Approval</targetReference>
            </connector>
            <label>If Empty</label>
        </rules>
        <rules>
            <name>check_for_No_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDND</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalLoglst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approved</targetReference>
            </connector>
            <label>check for No Approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether case is auto approved or not.</description>
        <name>Check_Auto_Approved</name>
        <label>Check Auto Approved</label>
        <locationX>471</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Add_to_AL_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Approvers_Check</name>
            <conditionLogic>1 OR (2 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MandatoryDND</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoOfServiceApprover</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutoApproved</targetReference>
            </connector>
            <label>Service Approvers Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DND</name>
        <label>Check DND</label>
        <locationX>1284</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Check_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_check_DND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDND</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DND</targetReference>
            </connector>
            <label>To check DND</label>
        </rules>
        <rules>
            <name>To_check_DND_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDND</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ServiceApprovers</targetReference>
            </connector>
            <label>To check DND is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_SA_List</name>
        <label>Check on SA List</label>
        <locationX>567</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Auto_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_Service_Approvers</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA</name>
        <label>Check SA</label>
        <locationX>757</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Service_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Approval</name>
            <conditionLogic>((1 AND (2 OR 16) ) OR (3 AND 4) OR (6 AND (7 OR   8)) OR (9 AND 10) OR (11 AND (14 OR 15)) OR (12 AND 13) ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAAccountTittle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAATM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactDepartment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactDepartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSADept</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSuppliedEmail</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>WebEmailDomain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAIsFuzzyMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Approver_Check</targetReference>
            </connector>
            <label>Auto Approval</label>
        </rules>
        <rules>
            <name>Title_SA</name>
            <conditionLogic>((1 AND 2 AND 3) OR (3 AND 4 AND 5 AND 6 AND 9 )) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Title_Const</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSAAccountTittle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Title_Const</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAIsFuzzyMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_and_Id</targetReference>
            </connector>
            <label>Title</label>
        </rules>
        <rules>
            <name>CAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountTeamMember</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>CAT</label>
        </rules>
        <rules>
            <name>User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserConst</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Type</targetReference>
            </connector>
            <label>User Type</label>
        </rules>
        <rules>
            <name>Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExternalApproverConst</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignType</targetReference>
            </connector>
            <label>Department</label>
        </rules>
        <rules>
            <name>Email_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailConst</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Type</targetReference>
            </connector>
            <label>Email Type</label>
        </rules>
        <rules>
            <name>Contact_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.Multiple_Mandatory_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assginTypeandId</targetReference>
            </connector>
            <label>Contact Approval</label>
        </rules>
        <rules>
            <name>If_one_Optional_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfServiceApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Requester_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approvers</targetReference>
            </connector>
            <label>If one Optional Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>FuzzyBlockLogic</name>
        <label>FuzzyBlockLogic</label>
        <locationX>1673</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Check_DND</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fuzzy_Match_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Fuzzy_Search__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAAccountTittle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForFuzzyMatch</targetReference>
            </connector>
            <label>Fuzzy Match True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Title_Approver_Check</name>
        <label>Title Approver Check</label>
        <locationX>275</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Title_Approver</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varSAAccountTittle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Title</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAIsFuzzyMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAAccountTittle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Approver_Assign</targetReference>
            </connector>
            <label>Title Approver</label>
        </rules>
        <rules>
            <name>Case_Owner_Approver_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAATM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseRec.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAATM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATM_Approver_Assignment</targetReference>
            </connector>
            <label>CAT as Case Owner</label>
        </rules>
        <rules>
            <name>Case_Owner_Approver_Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseRec.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Approver_Assignment</targetReference>
            </connector>
            <label>User as Case Owner</label>
        </rules>
        <rules>
            <name>Department_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactDepartment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSADept</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSADept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varContactDepartment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Department_Approver_Assignment</targetReference>
            </connector>
            <label>Department Approver</label>
        </rules>
        <rules>
            <name>Contact_Email_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSAEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Email_Auto_Approval</targetReference>
            </connector>
            <label>Contact Email Approver</label>
        </rules>
        <rules>
            <name>Email_Approver</name>
            <conditionLogic>1  AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSAEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseSuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSuppliedEmail</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>WebEmailDomain</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Approver_Assignement</targetReference>
            </connector>
            <label>Email Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_BR_is_Available</name>
        <label>Whether BR is Available?</label>
        <locationX>115</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Auto_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Occurrence_Limit_By_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtainedBR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOccurrencelmt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWOCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ObtainedBR.Occurrence_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Occurrence_Limit</targetReference>
            </connector>
            <label>Occurrence Limit By Pass</label>
        </rules>
        <rules>
            <name>No_Approval_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtainedBR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtainedBR.No_Approval_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Approver_Assignment</targetReference>
            </connector>
            <label>No Approval required</label>
        </rules>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtainedBR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <description>Flow to Identify BR and Create Approval Log &amp; Task for Respective Approves</description>
    <formulas>
        <name>ApproverTypeandId</name>
        <dataType>String</dataType>
        <expression>{!approverType}+{!Hyphen}+{!ApproverId}</expression>
    </formulas>
    <formulas>
        <name>conSA</name>
        <dataType>String</dataType>
        <expression>IF ( ISNULL ( {!ConcatenatedServiceApprovers} ) , {!SA.ServiceApprover__c} , {!ConcatenatedServiceApprovers} + &apos;;&apos; + {!SA.ServiceApprover__c} )</expression>
    </formulas>
    <formulas>
        <name>RequiredApproverandTitle</name>
        <dataType>String</dataType>
        <expression>{!ApproverName} &amp;{!ApproverTitle}</expression>
    </formulas>
    <formulas>
        <description>This is to get the Web email of Case</description>
        <name>varCaseSuppliedEmail</name>
        <dataType>String</dataType>
        <expression>IF(( {!varCaseRec.SuppliedEmail} != null ),{!varCaseRec.SuppliedEmail},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Contact Department</description>
        <name>varContactDepartment</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRec.ContactId} != null &amp;&amp; {!varCaseRec.ContactDepartment__c} != null),{!varCaseRec.ContactDepartment__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>This is to get Email of Contact</description>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRec.ContactId} != null &amp;&amp; {!varCaseRec.EmailofContact__c} != null ),{!varCaseRec.EmailofContact__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Contains email of external approval or Email Record</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <expression>IF({!NoOfServiceApprover} == 1, IF({!varOptionalApprover.Approver_Type__c} == {!ExternalApproverConst},{!varOptionalApprover.External_Approver_Email__c},if({!varOptionalApprover.Approver_Type__c} == {!EmailConst},{!varOptionalApprover.Email__c},&apos;&apos;)),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varOccurrencelmt</name>
        <dataType>Number</dataType>
        <expression>If(AND(NOT(ISBLANK({!ObtainedBR.Occurrence_Limit__c})),NOT(ISBLANK({!ObtainedBR.Occurrence_Limit__c}))),{!ObtainedBR.Occurrence_Limit__c}, null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSAAccountTittle</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISBLANK({!SA.Account_Title__c})),{!SA.Account_Title__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAATM</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!SA.Account_Team_Member__c})),{!SA.Account_Team_Member__c}, &apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAContact</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!SA.Approver_Contact__c})),{!SA.Approver_Contact__c}, &apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varSADept</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!SA.Account_Department__c})),{!SA.Account_Department__c}, &apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAEmail</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!SA.Email__c})),{!SA.Email__c}, &apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAExternalEmail</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISBLANK({!SA.External_Approver_Email__c})),{!SA.External_Approver_Email__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAExternalPhone</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISBLANK({!SA.External_Approver_Phone_Number__c})),{!SA.External_Approver_Phone_Number__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAServiceApprover</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISBLANK({!SA.ServiceApprover__c})),{!SA.ServiceApprover__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSAUser</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!SA.User__c})),{!SA.User__c}, &apos; &apos;)</expression>
    </formulas>
    <formulas>
        <description>To dynamically map Required Approver when Approver Type is User/Account Team Member</description>
        <name>varUser</name>
        <dataType>String</dataType>
        <expression>IF({!NoOfServiceApprover} == 1 , IF({!varOptionalApprover.Approver_Type__c} == {!UserConst},{!varOptionalApprover.User__c},if({!varOptionalApprover.Approver_Type__c} == {!AccountTeamMember},{!varOptionalApprover.Account_Team_Member__c},&apos;&apos;)),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>WebEmailDomain</name>
        <dataType>String</dataType>
        <expression>IF({!SA.Approver_Type__c} == &apos;Email&apos; &amp;&amp;  Contains({!SA.Email__c}, &quot;*&quot;),SUBSTITUTE({!SA.Email__c},LEFT({!SA.Email__c}, FIND(&quot;@&quot;, {!SA.Email__c})),null),null)</expression>
    </formulas>
    <interviewLabel>Approval Business Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Business Rule</label>
    <loops>
        <name>Iterate_on_Service_Approvers</name>
        <label>Iterate on Service Approvers</label>
        <locationX>1180</locationX>
        <locationY>381</locationY>
        <assignNextValueToReference>SA</assignNextValueToReference>
        <collectionReference>ServicerApproverlst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fuzzy_Match_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Approval_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Whether_BR_is_Available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>ApprovalLoglst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConcatenatedServiceApprovers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dummyApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>dummyApprovallst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Log__c</objectType>
    </variables>
    <variables>
        <name>IsAutoApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MandatoryDND</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoOfServiceApprover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ObtainedBR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>When it is approved on contact,email and user</description>
        <name>Rulematched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Approver__c</objectType>
    </variables>
    <variables>
        <name>ServicerApproverlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Approver__c</objectType>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created to access Case Detail</description>
        <name>varCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varDND</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>To Display Occurrence Limit Text.</description>
        <name>varOccurrenceLimit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>When there is only one Optional Approver</description>
        <name>varOptionalApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Approver__c</objectType>
    </variables>
    <variables>
        <name>varSAIsFuzzyMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Number of Open Work Order belongs to Location and Asset</description>
        <name>varWOCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
