force-app/main/default/flows/Approval_Log_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Approval_Rec_Type</name>
        <label>Get Approval Rec Type</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Null_check_for_RecordTyoe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>VarApprovalRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Business_Hours_for_Due_Date_Time</name>
        <label>Get Business Hours for Due Date Time</label>
        <locationX>815</locationX>
        <locationY>52</locationY>
        <actionName>GetBusinessDelayTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Whether_Account_TeamMember</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rec</name>
            <value>
                <elementReference>varActualBaseTime</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDueDateTimeBusinessHours</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Attempt</name>
        <label>Update Attempt</label>
        <locationX>694</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>VarAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Hours_for_Due_Date_Time</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FirstName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Genesys</stringValue>
        </value>
    </constants>
    <constants>
        <name>IntegrationUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration User</stringValue>
        </value>
    </constants>
    <constants>
        <description>Function of Genesys Routing</description>
        <name>VarApprovalRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task;Approvals</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BR_Auto_Email_Condition</name>
        <label>BR Auto Email Condition</label>
        <locationX>1126</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Create_Task_without_Auto_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAutoEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isMultiAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_User</targetReference>
            </connector>
            <label>Email is Auto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_RecordTyoe</name>
        <label>Null check for RecordTyoe</label>
        <locationX>496</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarcaseRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attempt</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Attempt_check</name>
        <label>Task Attempt check</label>
        <locationX>771</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Attempt_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRec.Attempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_delay_SLA_process</targetReference>
            </connector>
            <label>Task Attempt Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_Account_TeamMember</name>
        <label>Whether Account TeamMember</label>
        <locationX>913</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assigneeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Is Team Member</label>
        </rules>
    </decisions>
    <description>Create Task when Approval Log is created V36</description>
    <formulas>
        <name>IsPrimaryCase</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ({!VarcaseRec.CaseNumber} == {!VarcaseRec.Reference_Number__c} ) , true , false)</expression>
    </formulas>
    <formulas>
        <name>varActualBaseTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) &amp; &apos;;&apos;&amp; {!varDueDateTimeDelayCheck}</expression>
    </formulas>
    <formulas>
        <description>Null check due date time delay field which comes from meta data</description>
        <name>varDueDateTimeDelayCheck</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varDueDateTimeDelay})),{!varDueDateTimeDelay},&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>varMulticaseId</name>
        <dataType>String</dataType>
        <expression>IF({!VarInputMultiCaseId}==null ,IF(({!VarcaseRec.CaseNumber} == {!VarcaseRec.Reference_Number__c}), {!VarcaseRec.Id} , &apos;&apos;) ,{!VarInputMultiCaseId})</expression>
    </formulas>
    <interviewLabel>Approval Log Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Log Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1297</locationX>
        <locationY>434</locationY>
        <assignRecordIdToReference>varTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Task_record_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Log__c</field>
            <value>
                <elementReference>ApprovalLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Type__c</field>
            <value>
                <elementReference>varApproverType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>VarAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Rule__c</field>
            <value>
                <elementReference>BusinessRuleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactEmail__c</field>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>ContactTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_Name__c</field>
            <value>
                <elementReference>ExtApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Required__c</field>
            <value>
                <elementReference>varIsRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Genesys_User__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Primary__c</field>
            <value>
                <elementReference>IsPrimaryCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>VarLastAgentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCaseId__c</field>
            <value>
                <elementReference>varMulticaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Auto Approval Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varGroupUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>Preferred_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>TaskProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSystemGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_without_Auto_Email</name>
        <label>Create Task without Auto Email</label>
        <locationX>1098</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>varTaskId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Log__c</field>
            <value>
                <elementReference>ApprovalLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Type__c</field>
            <value>
                <elementReference>varApproverType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>VarAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Rule__c</field>
            <value>
                <elementReference>BusinessRuleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactEmail__c</field>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>ContactTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_Name__c</field>
            <value>
                <elementReference>ExtApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Required__c</field>
            <value>
                <elementReference>varIsRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Genesys_User__c</field>
            <value>
                <elementReference>varIsGenesysUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Primary__c</field>
            <value>
                <elementReference>IsPrimaryCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>VarLastAgentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCaseId__c</field>
            <value>
                <elementReference>varMulticaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>assigneeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>Preferred_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>TaskProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSystemGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>get_Business_Rules</name>
        <label>get Business Rules</label>
        <locationX>976</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BR_Auto_Email_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessRuleId</elementReference>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputAssignments>
            <assignToReference>IsAutoEmail</assignToReference>
            <field>Is_Auto_Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_User</name>
        <label>Get Group User</label>
        <locationX>1402</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varGroupUser</assignToReference>
            <field>Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>834</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Business_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>isMultiAssets</assignToReference>
            <field>Is_Multiple_Asset__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_record_fields</name>
        <label>Task record fields</label>
        <locationX>924</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Attempt_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attempt__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Approval_Rec_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Task_Owner</name>
        <label>Assign Task Owner</label>
        <locationX>706</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
        <flowName>Task_Assignment</flowName>
        <inputAssignments>
            <name>varCaseOwner</name>
            <value>
                <elementReference>VarcaseRec.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRec</name>
            <value>
                <elementReference>VarcaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsNew</name>
            <value>
                <elementReference>VarIsNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>varLastModifiedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempts</name>
            <value>
                <elementReference>VarAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>TaskProcess</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsGenesysUser</assignToReference>
            <name>varIsGenesysUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assigneeId</assignToReference>
            <name>varTaskOwner</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Task_delay_SLA_process</name>
        <label>Task delay SLA process</label>
        <locationX>497</locationX>
        <locationY>437</locationY>
        <flowName>Task_delay_SLA_process</flowName>
        <inputAssignments>
            <name>TaskInputIdParam</name>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ApprovalLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assigneeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BusinessRuleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAccountTeam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsAutoEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isMultiAssets</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Preferred_Method</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApproverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAttempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarcaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarCaseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Due date time as per business hours</description>
        <name>varDueDateTimeBusinessHours</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueDateTimeDelay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarInputMultiCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsGenesysUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLastAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLastAgentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Task Last Modified by Id</description>
        <name>varLastModifiedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLocationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarParentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
