force-app/main/default/flows/Business_Rule_Chatter_Feed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_varFieldChanged</name>
        <label>Assign varFieldChanged</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VarFieldChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Instruction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Special_Ins__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Special_Ins__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_feed_item_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varFieldChanged_2</name>
        <label>Assign varFieldChanged 2</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VarFieldChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Instruction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Special_Instructions_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Special_Instructions_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_feed_item_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varFieldChanged_3</name>
        <label>Assign varFieldChanged 3</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VarFieldChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Channel Requirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Channel_Req__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Channel_Req__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_feed_item_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Long_Text_fields_changed</name>
        <label>Long Text fields changed</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>special_instruction_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Ins__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varFieldChanged</targetReference>
            </connector>
            <label>Special instruction changed</label>
        </rules>
        <rules>
            <name>Approval_instruction_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Instructions_Approval__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varFieldChanged_2</targetReference>
            </connector>
            <label>Approval instruction changed</label>
        </rules>
        <rules>
            <name>Channel_Requirement_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Req__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varFieldChanged_3</targetReference>
            </connector>
            <label>Channel Requirement changed</label>
        </rules>
    </decisions>
    <description>The flow is used to post the chatter with the long text area fields changed.</description>
    <environments>Default</environments>
    <formulas>
        <name>BodyformulachatterApprovalIns</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p&gt;&lt;i&gt;The field &lt;b&gt;&quot; &amp; {!VarFieldChanged} &amp;&quot; &lt;/b&gt; on the Business Rule &lt;b&gt;&quot; &amp; {!$Record.Name} &amp; &quot;&lt;/b&gt; has been updated:&lt;/i&gt;&lt;/p&gt;&quot; &amp;
&quot;&lt;p&gt;&lt;b&gt;Old Value:&lt;/b&gt; &quot; &amp; {!OldFieldValue}  &amp; &quot;&lt;/p&gt;&quot; &amp;
&quot;&lt;p&gt;&lt;b&gt;New Value: &lt;/b&gt; &quot; &amp; {!NewFieldValue}&amp; &quot;&lt;/p&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Business Rule Chatter Feed Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Rule Chatter Feed Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_feed_item_records</name>
        <label>create feed item records</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>BodyformulachatterApprovalIns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Long_Text_fields_changed</targetReference>
        </connector>
        <object>Business_Rule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarFieldChanged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
