force-app/main/default/flows/Business_Rule_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Container_Schedule_Type_Material</name>
        <label>Assign Container-Schedule Type-Material</label>
        <locationX>457</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageContainerScheduleTypeMaterial</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Material_Container</name>
        <label>Assign Material-Container</label>
        <locationX>431</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageContainerMaterial</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Material_Only</name>
        <label>Assign Material Only</label>
        <locationX>433</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageMaterialOnly</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage1 BR then that will be stored in output Business Rule</description>
        <name>Assign_stage_1</name>
        <label>Assign stage 1</label>
        <locationX>675</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage1Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_10</name>
        <label>Assign Stage 10</label>
        <locationX>668</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage10BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_11</name>
        <label>Assign Stage 11</label>
        <locationX>671</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage11Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_12</name>
        <label>Assign Stage 12</label>
        <locationX>672</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage12Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_13</name>
        <label>Assign Stage 13</label>
        <locationX>674</locationX>
        <locationY>1989</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage13Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_14</name>
        <label>Assign Stage 14</label>
        <locationX>676</locationX>
        <locationY>2089</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage14Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_15</name>
        <label>Assign Stage 15</label>
        <locationX>677</locationX>
        <locationY>2182</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage15Br</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage2 BR then that will be stored in output Business Rule</description>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>672</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage2BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage3 BR then that will be stored in output Business Rule</description>
        <name>Assign_stage_3</name>
        <label>Assign stage 3</label>
        <locationX>668</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage3BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage4 BR then that will be stored in output Business Rule</description>
        <name>Assign_Stage_4</name>
        <label>Assign Stage 4</label>
        <locationX>671</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage4BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage5 BR then that will be stored in output Business Rule</description>
        <name>Assign_Stage_5</name>
        <label>Assign Stage 5</label>
        <locationX>666</locationX>
        <locationY>1215</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage5BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If Business Rule is identified in Stage6 BR then that will be stored in output Business Rule</description>
        <name>Assign_Stage_6</name>
        <label>Assign Stage 6</label>
        <locationX>665</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage6BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_7</name>
        <label>Assign Stage 7</label>
        <locationX>665</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage7BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_8</name>
        <label>Assign Stage 8</label>
        <locationX>667</locationX>
        <locationY>1507</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage8BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_9</name>
        <label>Assign Stage 9</label>
        <locationX>667</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage9BR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Stage_Case_Reason</name>
        <label>Assign Stage Case Reason</label>
        <locationX>481</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageCaseReason</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stage10_Br</name>
        <label>Stage10 Br</label>
        <locationX>1249</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>Stage10BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage11_Br</name>
        <label>Stage11 Br</label>
        <locationX>1248</locationX>
        <locationY>1227</locationY>
        <assignmentItems>
            <assignToReference>Stage11Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage12_Br</name>
        <label>Stage12 Br</label>
        <locationX>1252</locationX>
        <locationY>1346</locationY>
        <assignmentItems>
            <assignToReference>Stage12Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage13_Br</name>
        <label>Stage13 Br</label>
        <locationX>1250</locationX>
        <locationY>1462</locationY>
        <assignmentItems>
            <assignToReference>Stage13Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage14_Br</name>
        <label>Stage14 Br</label>
        <locationX>1253</locationX>
        <locationY>1562</locationY>
        <assignmentItems>
            <assignToReference>Stage14Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage15_Br</name>
        <label>Stage15 Br</label>
        <locationX>1258</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>Stage15Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When case Asset is matched with BR asset.</description>
        <name>Stage1_BR</name>
        <label>Stage1 BR</label>
        <locationX>1223</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>Stage1Br</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign BR When case Project is matched with BR project.</description>
        <name>Stage2_Assign</name>
        <label>Stage2 Assign</label>
        <locationX>1224</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>Stage2BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign BR If case Schedule Type and Location matches the BR Schedule Type and Location</description>
        <name>Stage3_BR</name>
        <label>Stage3 BR</label>
        <locationX>1227</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>Stage3BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign BR when Container and Location matches the Br</description>
        <name>Stage4_Br</name>
        <label>Stage4 Br</label>
        <locationX>1229</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>Stage4BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign BR when only Case Location matches with the BR location</description>
        <name>Stage5_Br</name>
        <label>Stage5 Br</label>
        <locationX>1236</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>Stage5BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign BR when only Account,Service from Case matches with the Account and Service in BR</description>
        <name>Stage6_Br</name>
        <label>Stage6 Br</label>
        <locationX>1236</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Stage6BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage7_Br</name>
        <label>Stage7 Br</label>
        <locationX>1241</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>Stage7BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage8_Br</name>
        <label>Stage8 Br</label>
        <locationX>1243</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>Stage8BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage9_Br</name>
        <label>Stage9 Br</label>
        <locationX>1247</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>Stage9BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When Case Reason matches with values present on Case and BR record</description>
        <name>Stage_Case_Reason_BR</name>
        <label>Stage Case Reason BR</label>
        <locationX>1221</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>StageCaseReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>BR record selected based on Container-Material</description>
        <name>Stage_Container_Material</name>
        <label>Stage Container-Material</label>
        <locationX>1460</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>StageContainerMaterial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>BR record matching based on Container-Schedule Type-Material</description>
        <name>Stage_Container_Schedule_Type_Material</name>
        <label>Stage Container-Schedule Type-Material</label>
        <locationX>1705</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>StageContainerScheduleTypeMaterial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Material_only</name>
        <label>Stage Material only</label>
        <locationX>1412</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>StageMaterialOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check whether List of Business Rule is not Empty</description>
        <name>Check_on_BR_lst</name>
        <label>Check on BR lst</label>
        <locationX>570</locationX>
        <locationY>785</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BRlst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Fetched_BR</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check For Channel Requirments and Special Instructions in Business_rule__c</description>
        <name>CheckForChannelReq_SpecialInstructions</name>
        <label>CheckForChannelReq&amp;SpecialInstructions</label>
        <locationX>207</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Fetch_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckChannelRequirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChannelRequirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBRrecordswithChannelReq</targetReference>
            </connector>
            <label>CheckChannelRequirement</label>
        </rules>
        <rules>
            <name>CheckSpecialInstructions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialInstructions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchBRRecordsWIthSpecialInstruction</targetReference>
            </connector>
            <label>CheckSpecialInstructions</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Recordtype Name is not empty</description>
        <name>CheckonRecordTypeName</name>
        <label>CheckonRecordTypeName</label>
        <locationX>42</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>CheckForChannelReq_SpecialInstructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Is Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>To Identify particular Business Rule for the Case</description>
        <name>Identify_BR</name>
        <label>Identify BR</label>
        <locationX>807</locationX>
        <locationY>1323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Identify_Stage_Case_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage_Case_Reason_BR</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Case_Reason</targetReference>
            </connector>
            <label>Identify Stage Case-Reason</label>
        </rules>
        <rules>
            <name>Identify_Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage1_BR</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_1</targetReference>
            </connector>
            <label>Identify Stage 1</label>
        </rules>
        <rules>
            <name>Identify_stage_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage2_Assign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_2</targetReference>
            </connector>
            <label>Identify stage 2</label>
        </rules>
        <rules>
            <name>Identify_stage_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage3_BR</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_3</targetReference>
            </connector>
            <label>Identify stage 3</label>
        </rules>
        <rules>
            <name>Identify_Stage_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage4_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_4</targetReference>
            </connector>
            <label>Identify Stage 4</label>
        </rules>
        <rules>
            <name>Identify_Stage_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage5_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_5</targetReference>
            </connector>
            <label>Identify Stage 5</label>
        </rules>
        <rules>
            <name>Identify_Stage_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage6_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_6</targetReference>
            </connector>
            <label>Identify Stage 6</label>
        </rules>
        <rules>
            <name>Identify_Stage_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage7_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_7</targetReference>
            </connector>
            <label>Identify Stage 7</label>
        </rules>
        <rules>
            <name>Identify_Stage_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage8_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_8</targetReference>
            </connector>
            <label>Identify Stage 8</label>
        </rules>
        <rules>
            <name>Identify_Stage_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage9_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_9</targetReference>
            </connector>
            <label>Identify Stage 9</label>
        </rules>
        <rules>
            <name>Identify_Stage_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage10_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_10</targetReference>
            </connector>
            <label>Identify Stage 10</label>
        </rules>
        <rules>
            <name>Identify_Stage_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage11_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_11</targetReference>
            </connector>
            <label>Identify Stage 11</label>
        </rules>
        <rules>
            <name>Identify_Stage_Container_Schedule_Type_Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage_Container_Schedule_Type_Material</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Container_Schedule_Type_Material</targetReference>
            </connector>
            <label>Identify Stage Container-Schedule Type-Material</label>
        </rules>
        <rules>
            <name>Identify_Stage_Container_Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage_Container_Material</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Material_Container</targetReference>
            </connector>
            <label>Identify Stage Container-Material</label>
        </rules>
        <rules>
            <name>Identify_Material_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage_Material_only</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageMaterialOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Material_Only</targetReference>
            </connector>
            <label>Identify Material only</label>
        </rules>
        <rules>
            <name>Identify_Stage_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage12_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage12Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageMaterialOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_12</targetReference>
            </connector>
            <label>Identify Stage 12</label>
        </rules>
        <rules>
            <name>Identify_Stage_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage13_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage12Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage13Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageMaterialOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_13</targetReference>
            </connector>
            <label>Identify Stage 13</label>
        </rules>
        <rules>
            <name>Identify_Stage_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage14_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage4BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage12Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage13Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage14Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageMaterialOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_14</targetReference>
            </connector>
            <label>Identify Stage 14</label>
        </rules>
        <rules>
            <name>Identify_Stage_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage15_Br</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage1Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage2BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage3BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage5BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage6BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage7BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage8BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage9BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage10BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage11Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage12Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage13Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage14Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage15Br</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageCaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerScheduleTypeMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageContainerMaterial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageMaterialOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_15</targetReference>
            </connector>
            <label>Identify Stage 15</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify Business Rule based on Account,Service,Schedule Type,Location,Container in the Case</description>
        <name>Identifying_BR_Stage</name>
        <label>Identifying BR Stage</label>
        <locationX>1085</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>Iterate_Fetched_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Reason</name>
            <conditionLogic>1 AND 4 AND 5 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Case_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseReason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Case_Reason_BR</targetReference>
            </connector>
            <label>Case Reason</label>
        </rules>
        <rules>
            <name>Location_and_Asset</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage1_BR</targetReference>
            </connector>
            <label>Location and Asset</label>
        </rules>
        <rules>
            <name>Location_and_Project</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND ( 7 OR 8) AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Project</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage2_Assign</targetReference>
            </connector>
            <label>Location and Project</label>
        </rules>
        <rules>
            <name>Only_Project</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Project</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage3_BR</targetReference>
            </connector>
            <label>Only Project</label>
        </rules>
        <rules>
            <name>Location_Schedule_Type_and_Container</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND (10 OR 11) AND 12 AND 13 AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage4_Br</targetReference>
            </connector>
            <label>Location,Schedule Type and Container</label>
        </rules>
        <rules>
            <name>Location_and_Schedule_Type</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND (8 OR 9) AND 10 AND 11 AND 12 AND 13</conditionLogic>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage5_Br</targetReference>
            </connector>
            <label>Location and Schedule Type</label>
        </rules>
        <rules>
            <name>Location_and_Container</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND (8 OR 9) AND 10 AND 11 AND 12 AND 13</conditionLogic>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage6_Br</targetReference>
            </connector>
            <label>Location and Container</label>
        </rules>
        <rules>
            <name>Only_Location</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND (8 OR 9) AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage7_Br</targetReference>
            </connector>
            <label>Only Location</label>
        </rules>
        <rules>
            <name>Category_Container_and_schedule_Type</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND (11 OR 12)  AND 13 AND ((14 AND 15 AND 16) OR (17 AND 18 AND 19) OR (20 AND 21 AND 22) OR (23 AND 24 AND 25) AND 26)</conditionLogic>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Brand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division/Department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Division</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Division</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Geography</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Geography</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage8_Br</targetReference>
            </connector>
            <label>Category,Container and schedule Type</label>
        </rules>
        <rules>
            <name>Category_and_Schedule_Type</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10) AND 11 AND ((12 AND 13 AND 14) OR (15 AND 16 AND 17) OR (18 AND 19 AND 20) OR (21 AND 22 AND 23) AND 24)</conditionLogic>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Brand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division/Department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Division</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Division</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Geography</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Geography</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage9_Br</targetReference>
            </connector>
            <label>Category and Schedule Type</label>
        </rules>
        <rules>
            <name>Category_and_container</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10) AND 11 AND ((12 AND 13 AND 14) OR (15 AND 16 AND 17) OR (18 AND 19 AND 20) OR (21 AND 22 AND 23) AND 24)</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Brand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division/Department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Division</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Division</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Geography</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Geography</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage10_Br</targetReference>
            </connector>
            <label>Category and container</label>
        </rules>
        <rules>
            <name>Category_only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9 AND ((10 AND 11 AND 12) OR (13 AND 14 AND 15) OR (16 AND 17 AND 18) OR (19 AND 20 AND 21) AND 22)</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Brand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division/Department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Division</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Division</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Geography</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Geography</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage11_Br</targetReference>
            </connector>
            <label>Category only</label>
        </rules>
        <rules>
            <name>Container_Schedule_Type_and_Material</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 7 AND 15 AND 10 AND 5 AND 13 AND 8 AND 6 AND 14 AND 9 AND (11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Material</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Material</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Container_Schedule_Type_Material</targetReference>
            </connector>
            <label>Container,Schedule Type and Material</label>
        </rules>
        <rules>
            <name>Container_and_Material</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 13 AND 7 AND 8 AND 10 AND 5 AND 6 AND 9 AND (11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Material</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Material</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Container_Material</targetReference>
            </connector>
            <label>Container and Material</label>
        </rules>
        <rules>
            <name>Material_Only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Material</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Material</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Material_only</targetReference>
            </connector>
            <label>Material Only</label>
        </rules>
        <rules>
            <name>Schedule_Type_and_Container</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND (11 OR 12) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage12_Br</targetReference>
            </connector>
            <label>Schedule Type and Container</label>
        </rules>
        <rules>
            <name>Schedule_Type_only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScheduleType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScheduleType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage13_Br</targetReference>
            </connector>
            <label>Schedule Type only</label>
        </rules>
        <rules>
            <name>Container_Only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7) AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Container</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage14_Br</targetReference>
            </connector>
            <label>Container Only</label>
        </rules>
        <rules>
            <name>Default_BR</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Schedule_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Container__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.LocationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Project_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Category_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BR.Case_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage15_Br</targetReference>
            </connector>
            <label>Default BR</label>
        </rules>
    </decisions>
    <description>Identifies Business Rule based on Case Input - Added additional return fields from get BR query v24 with Project_Code__c, Case Reason and Material</description>
    <interviewLabel>Business Rule Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Rule Selection</label>
    <loops>
        <description>Iterating Fetched BR for identifying the exact Business Rule for Case</description>
        <name>Iterate_Fetched_BR</name>
        <label>Iterate Fetched BR</label>
        <locationX>872</locationX>
        <locationY>776</locationY>
        <assignNextValueToReference>BR</assignNextValueToReference>
        <collectionReference>BRlst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Identifying_BR_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Identify_BR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch BR based on Account and Service</description>
        <name>Fetch_BR</name>
        <label>Fetch BR</label>
        <locationX>231</locationX>
        <locationY>1081</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_on_BR_lst</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>BRlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Required_Information__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Container__c</queriedFields>
        <queriedFields>LocationId__c</queriedFields>
        <queriedFields>Service__c</queriedFields>
        <queriedFields>Schedule_Type__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Project_Code__c</queriedFields>
        <queriedFields>AssetId__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Multiple_Mandatory_Approvers__c</queriedFields>
        <queriedFields>Occurrence_Limit__c</queriedFields>
        <queriedFields>Category_Type__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>No_Approval_Required__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>Material__c</queriedFields>
        <queriedFields>Special_Instructions_Approval__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Business rule records with Special Instructions</description>
        <name>FetchBRRecordsWIthSpecialInstruction</name>
        <label>FetchBRRecordsWIthSpecialInstruction</label>
        <locationX>228</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_on_BR_lst</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Special_Instructions__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>BRlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Required_Information__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Container__c</queriedFields>
        <queriedFields>LocationId__c</queriedFields>
        <queriedFields>Service__c</queriedFields>
        <queriedFields>Schedule_Type__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Project_Code__c</queriedFields>
        <queriedFields>AssetId__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Multiple_Mandatory_Approvers__c</queriedFields>
        <queriedFields>Occurrence_Limit__c</queriedFields>
        <queriedFields>Category_Type__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Special_Ins__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>Material__c</queriedFields>
        <queriedFields>Special_Instructions_Approval__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>934</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForChannelReq_SpecialInstructions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Rule__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Fetch Business Rule records with Channel requirements</description>
        <name>GetBRrecordswithChannelReq</name>
        <label>GetBRrecordswithChannelReq</label>
        <locationX>423</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_on_BR_lst</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Channel_Requirements__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>BRlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Required_Information__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Container__c</queriedFields>
        <queriedFields>LocationId__c</queriedFields>
        <queriedFields>Service__c</queriedFields>
        <queriedFields>Schedule_Type__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Project_Code__c</queriedFields>
        <queriedFields>AssetId__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Multiple_Mandatory_Approvers__c</queriedFields>
        <queriedFields>Occurrence_Limit__c</queriedFields>
        <queriedFields>Category_Type__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Channel_Req__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>Special_Instructions_Approval__c</queriedFields>
        <queriedFields>Material__c</queriedFields>
    </recordLookups>
    <startElementReference>CheckonRecordTypeName</startElementReference>
    <status>Active</status>
    <variables>
        <description>AccountId of the Case</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>AssetId of the Case</description>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Business Rule instance</description>
        <name>BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Brand of the location</description>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains List of Business Rule based on Account and Service in Case</description>
        <name>BRlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains particular Business Rule for the Case</description>
        <name>BusinessRuleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Case Reason field value from Case record</description>
        <name>CaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Category Type of the Business Rule</description>
        <name>CategoryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChannelRequirements</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>ProductType of the Asset in the Case</description>
        <name>Container</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Division of the location</description>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Geography of location</description>
        <name>Geography</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Location Id of the case</description>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Location type of the location account</description>
        <name>LocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Material value fetched from the associated Case record</description>
        <name>Material</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Project of the Asset in the case</description>
        <name>Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type Id of the Business Rule</description>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type Name of the Business Rule</description>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Duration of the Asset in the Case</description>
        <name>ScheduleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Sub Type</description>
        <name>Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialInstructions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Stage10BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage11Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage12Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage13Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage14Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage15Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset is not blank in the Business Rule and it matches with the Case Asset</description>
        <name>Stage1Br</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset is blank and Project in the Business Rule matches with the Case</description>
        <name>Stage2BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset,Project is blank and Schedule Type,Location  in the Business Rule matches with the case</description>
        <name>Stage3BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset,Project,Schedule Type is blank and Container,Location in the Business Rule matches with the case</description>
        <name>Stage4BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset,Project,Schedule Type,Container is blank and only Location in the Business Rule matches with the Case</description>
        <name>Stage5BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Contains Business Rule if Asset,Project,Schedule Type,Container,Location is blank and Account,Service in the Business Rule matches with the case</description>
        <name>Stage6BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage7BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage8BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Stage9BR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Business Rule Selected Based on Case Reason</description>
        <name>StageCaseReason</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>When Container and Material Identifies a Business Rule</description>
        <name>StageContainerMaterial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>When Container Schedule Type and Material identifies a Buisness Rule</description>
        <name>StageContainerScheduleTypeMaterial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>StageMaterialOnly</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>CaseType</description>
        <name>varRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
