force-app/main/default/flows/Business_Rules_Automation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Notify_Managers</name>
        <label>Send Email to Notify Managers</label>
        <locationX>814</locationX>
        <locationY>1764</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Over_User_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_For_Sending_Email_To_Managers</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_Over_User_Details.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Notify_SE_Team</name>
        <label>Send Email to Notify SE Team</label>
        <locationX>874</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Log_Exception_For_Sending_Email_To_SE_Team</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SETeamEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Adding_SETeam_Salutation</name>
        <label>Adding SETeam Salutation</label>
        <locationX>874</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>EmailSalutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Notify_SE_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_User_Salutation</name>
        <label>Adding User Salutation</label>
        <locationX>814</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>EmailSalutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_User_Details.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Notify_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NAM_User_Ids</name>
        <label>Assign NAM User Ids</label>
        <locationX>442</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>NAMUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_NAM_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_NAM_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_User_Ids</name>
        <label>Assign PM User Ids</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>PMUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_PM_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_PM_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SD_User_Ids</name>
        <label>Assign SD User Ids</label>
        <locationX>746</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>SDUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_SD_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_SD_Teams</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>NAM_Team_Members</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>NAM Team Members</label>
        <locationX>726</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>currentItem_SD_Team_Members</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SD_Team_Members.TeamMemberRole</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>National Account Manager</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SD_Team_Members</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>PM_Team_Members</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>PM Team Members</label>
        <locationX>726</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_SD_Team_Members</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SD_Team_Members.TeamMemberRole</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>National Account Program Manager</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>NAM_Team_Members</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SD_Team_Members</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SD Team Members</label>
        <locationX>726</locationX>
        <locationY>684</locationY>
        <assignNextValueToReference>currentItem_SD_Team_Members</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SD_Team_Members.TeamMemberRole</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Sales Director</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Choose_Account_Team_Members</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Choose_Account_Team_Members</name>
        <label>Choose Account Team Members</label>
        <locationX>726</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_PM_Teams</targetReference>
            </connector>
            <label>PM Team</label>
        </rules>
        <rules>
            <name>NAM_Team</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_NAM_Teams</targetReference>
            </connector>
            <label>NAM Team</label>
        </rules>
        <rules>
            <name>SD_Team</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SD_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SD_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_SD_Teams</targetReference>
            </connector>
            <label>SD Team</label>
        </rules>
        <rules>
            <name>SE_Team</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAM_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SD_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SD_Team_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_SETeam_Salutation</targetReference>
            </connector>
            <label>SE Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Days_Until_Deactivated</name>
        <label>Days Until Deactivated</label>
        <locationX>1724</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X7_Days_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Until_Deactivated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members</targetReference>
            </connector>
            <label>7 Days Before</label>
        </rules>
        <rules>
            <name>Deactivate_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_Until_Deactivated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Business_Rules</targetReference>
            </connector>
            <label>Deactivate Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Business Rules Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Rules Automation Flow</label>
    <loops>
        <name>Iterate_Over_NAM_Teams</name>
        <label>Iterate Over NAM Teams</label>
        <locationX>354</locationX>
        <locationY>900</locationY>
        <collectionReference>NAM_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NAM_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_PM_Teams</name>
        <label>Iterate Over PM Teams</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <collectionReference>PM_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PM_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_SD_Teams</name>
        <label>Iterate Over SD Teams</label>
        <locationX>658</locationX>
        <locationY>900</locationY>
        <collectionReference>SD_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SD_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_User_Details</name>
        <label>Iterate Over User Details</label>
        <locationX>726</locationX>
        <locationY>1548</locationY>
        <collectionReference>Get_User_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_User_Salutation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Exception_For_Business_Rule_Deactivation</name>
        <label>Log Exception For Business Rule Deactivation</label>
        <locationX>2458</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Business Rules Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Update Failed While Deactivating Active Checkbox</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Update Failed Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_For_Get_Account_Team_Members</name>
        <label>Log Exception For Get Account Team Members</label>
        <locationX>1930</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Business Rules Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Exception Occours While Fetching Account Team Members</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Fetch Record Failed Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_For_Get_User_Details</name>
        <label>Log Exception For Get User Details</label>
        <locationX>1666</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Business Rules Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Exception Occours While Fetching User Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Fetch Record Failed Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_For_Sending_Email_To_Managers</name>
        <label>Log Exception For Sending Email To Managers</label>
        <locationX>1078</locationX>
        <locationY>1872</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Business Rules Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Exception Occours While Sending Email to Managers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Sending Email Failed Exception for Managers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_For_Sending_Email_To_SE_Team</name>
        <label>Log Exception For Sending Email To SE Team</label>
        <locationX>1138</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Business Rules Automation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Exception Occours While Sending Email to SE Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Sending Email Failed Exception for SE Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>726</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PM_Team_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_For_Get_Account_Team_Members</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>National Account Program Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>National Account Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales Director</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>726</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_User_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_For_Get_User_Details</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PMUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>NAMUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SDUserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Business_Rules</name>
        <label>Deactivate Business Rules</label>
        <locationX>2194</locationX>
        <locationY>360</locationY>
        <faultConnector>
            <targetReference>Log_Exception_For_Business_Rule_Deactivation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active_Inactive_Reason__c</field>
            <value>
                <stringValue>Business Rule has Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1598</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Days_Until_Deactivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!EmailSalutation},

This is a courtesy notification regarding the expiration of the following business rule: {!$Record.Name} {!$Record.End_Date__c}

As of today, this rule is set to end in 7 days. To ensure continuity in operations we recommend reviewing the rule and determining if it should be renewed, updated, or de-activated.

If no action is taken before the end date, the rule will be automatically deactivated.

Thank you for your attention to this matter!</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Business Rule Expiration Notice: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>SETeamEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SETeam@wm.com</text>
    </textTemplates>
    <variables>
        <name>currentItem_SD_Team_Members</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>EmailSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NAMUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
