force-app/main/default/flows/Business_Rule_Company_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RetrieveCompanyCategories</name>
        <label>RetrieveCompanyCategories</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>AcornCompanyDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Company_Categories</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AccountNum</name>
            <value>
                <elementReference>Get_Account_Details.AccountId__r.Customer_Code__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AcornCompanyDetails</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <collectionProcessors>
        <description>Sort the company categories based on the return from the API (API returns values as sorted by create date, we want to sort by character)</description>
        <name>Sort_Company_Categories</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Company Categories</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RetrieveCompanyCategories</collectionReference>
        <connector>
            <targetReference>Business_Rule_Company_Category</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Business Rule - Company Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Rule - Company Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetrieveCompanyCategories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the business rule with the selected company category</description>
        <name>Update_BR_with_Company_Category</name>
        <label>Update BR with Company Category</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>Get_Account_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Business_Rule_Company_Category</name>
        <label>Business Rule Company Category</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_BR_with_Company_Category</targetReference>
        </connector>
        <fields>
            <name>CompanyCategory</name>
            <extensionName>c:flowCompanyCategory</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistName</name>
                <value>
                    <stringValue>Business Rule Company Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistValues</name>
                <value>
                    <elementReference>RetrieveCompanyCategories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Get_Account_Details.Company_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Account_Details.Company_Category__c</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>companyCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PicklistVariableInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
