force-app/main/default/flows/Case_Sub_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Pickup_Open_Substatuses</name>
        <label>Assign Pickup Open Substatuses</label>
        <locationX>735</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Service Integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Dispatch</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Manual Dispatch</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Schedule Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Service Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Sub_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pickup_Substatuses</name>
        <label>Assign Pickup Substatuses</label>
        <locationX>530</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Customer Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Request Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Vendor Information</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Sub_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Open_Substatuses</name>
        <label>Assign Status Open Substatuses</label>
        <locationX>569</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Vendor Follow up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Service Issue Resolution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Schedule Recovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_allStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pending Recovery Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Sub_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type_Open</name>
        <label>Case Type Open</label>
        <locationX>188</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Nothing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Lifecycle</defaultConnectorLabel>
        <rules>
            <name>Pickup_Case_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pickup_Open_Substatuses</targetReference>
            </connector>
            <label>Pickup Case</label>
        </rules>
        <rules>
            <name>Status_Case_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Open_Substatuses</targetReference>
            </connector>
            <label>Status Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Pending</name>
        <label>Case Type Pending</label>
        <locationX>335</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Nothing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Lifecycle</defaultConnectorLabel>
        <rules>
            <name>Pickup_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pickup_Substatuses</targetReference>
            </connector>
            <label>Pickup Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>187</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Nothing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New or Closed</defaultConnectorLabel>
        <rules>
            <name>Sub_Status_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nothing_Screen</targetReference>
            </connector>
            <label>Sub Status Empty</label>
        </rules>
        <rules>
            <name>Pending_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Pending</targetReference>
            </connector>
            <label>Pending Status</label>
        </rules>
        <rules>
            <name>Open_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Open</targetReference>
            </connector>
            <label>Open Status</label>
        </rules>
    </decisions>
    <interviewLabel>Case Sub-Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Sub-Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CurrentStage</assignToReference>
            <field>Case_Sub_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CaseType</assignToReference>
            <field>Case_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Case_Sub_Status</name>
        <label>Case Sub-Status</label>
        <locationX>807</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubStatusVisual</name>
            <extensionName>c:flowCaseSubstatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>var_CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allStages</name>
                <value>
                    <elementReference>var_allStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nothing_Screen</name>
        <label>Nothing Screen</label>
        <locationX>448</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_allStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
