force-app/main/default/flows/Case_Update_Process_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Recursion_Check</name>
        <label>Case  Recursion Check</label>
        <locationX>71</locationX>
        <locationY>324</locationY>
        <actionName>GetTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_recursion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetTaskRecursionCheck</nameSegment>
        <outputParameters>
            <assignToReference>varRecursionCheck</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke</name>
        <label>Invoke Pattern Match</label>
        <locationX>1144</locationX>
        <locationY>432</locationY>
        <actionName>TrackingPattern</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TrackingPattern</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>ByPassLogic</label>
        <locationX>88</locationX>
        <locationY>648</locationY>
        <actionName>AvoidProcessBuilder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>AvoidProcessBuilder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_20_A1</name>
        <label>Send Acorn Close Case API</label>
        <locationX>418</locationX>
        <locationY>2856</locationY>
        <actionName>CloseAcornTicket</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caselst</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloseAcornTicket</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Put Case ID to stop recursion</description>
        <name>Task_Recursion_Check_Put</name>
        <label>Task Recursion Check Put</label>
        <locationX>630</locationX>
        <locationY>4184</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_to_run_on_delay_Second_Attempt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Put Case ID to stop recursion</description>
        <name>Task_Recursion_Check_Put_First_Attempt</name>
        <label>Task Recursion Check Put First Attempt</label>
        <locationX>341</locationX>
        <locationY>4047</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_to_run_on_delay_First_Attempt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_recursion</name>
        <label>Check if recursion</label>
        <locationX>71</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_recursion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecursionCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>if recursion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Flow_or_Action_to_Run</name>
        <label>Decide Flow or Action to Run</label>
        <locationX>1408</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Invoke_Pattern_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FlowToRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoke Pattern Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke</targetReference>
            </connector>
            <label>Run Invoke Pattern Action</label>
        </rules>
        <rules>
            <name>Work_Order_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FlowToRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Order Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Creation_Delay</targetReference>
            </connector>
            <label>Work Order Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Bypass Case Process</label>
        <locationX>319</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Bypass Case Process</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Bypass Case Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Notify Customer of Decline</label>
        <locationX>550</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Notify Customer of Decline</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_up_for_Decline</targetReference>
            </connector>
            <label>TRUE_Notify Customer of Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Pending Manual Dispatch</label>
        <locationX>550</locationX>
        <locationY>2148</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Pending Manual Dispatch</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manually_Dispatch</targetReference>
            </connector>
            <label>TRUE_Pending Manual Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>Requested by User Comment</label>
        <locationX>550</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>myRule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Requested by User Comment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_By_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>TRUE_Requested by User Comment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20</name>
        <label>Case Closed</label>
        <locationX>550</locationX>
        <locationY>2748</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Case Closed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>TRUE_Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>Pending Service Issue Resolution</label>
        <locationX>550</locationX>
        <locationY>3048</locationY>
        <defaultConnector>
            <targetReference>myRule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Pending Service Issue Resolution</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Non_Pickup_Framework</targetReference>
            </connector>
            <label>TRUE_Pending Service Issue Resolution</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24</name>
        <label>Accepted WorkOrder</label>
        <locationX>550</locationX>
        <locationY>3348</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Accepted WorkOrder</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Accepted_Workorder</targetReference>
            </connector>
            <label>TRUE_Accepted WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>Rejected WorkOrder</label>
        <locationX>550</locationX>
        <locationY>3648</locationY>
        <defaultConnector>
            <targetReference>myRule_28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Rejected WorkOrder</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Rejeced_Workorder_Task</targetReference>
            </connector>
            <label>TRUE_Rejected WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_28</name>
        <label>Matching Ticket First Attempt</label>
        <locationX>550</locationX>
        <locationY>3948</locationY>
        <defaultConnector>
            <targetReference>myRule_30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Matching Ticket First Attempt</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acorn_Ticket_Not_Matched__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Routing_Counter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Recursion_Check_Put_First_Attempt</targetReference>
            </connector>
            <label>TRUE_Matching Ticket First Attempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Obtain Vendor Update</label>
        <locationX>550</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Obtain Vendor Update</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Followup_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Obtain Vendor Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_30</name>
        <label>Matching Tracking No Second Attempt</label>
        <locationX>748</locationX>
        <locationY>4056</locationY>
        <defaultConnectorLabel>FALSE_Matching Tracking No Second Attempt</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Routing_Counter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Acorn_Ticket_Not_Matched__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Recursion_Check_Put</targetReference>
            </connector>
            <label>TRUE_Matching Tracking No Second Attempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Obtain Customer Info</label>
        <locationX>550</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Obtain Customer Info</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Obtain_Customer_Info_Task</targetReference>
            </connector>
            <label>TRUE_Obtain Customer Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Pending Vendor Information</label>
        <locationX>550</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Pending Vendor Information</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vendor_Availability</targetReference>
            </connector>
            <label>TRUE_Pending Vendor Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Create Work Order</label>
        <locationX>550</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Create Work Order</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_WO_Flow</targetReference>
            </connector>
            <label>TRUE_Create Work Order</label>
        </rules>
    </decisions>
    <description>Adding Case update to run process on the scheduled time
Removed the Assignment (Update RunFlowTime And FlowName FirstAttempt &amp; Update FlowToRun and FlowTimeToRun Second Attempt) Updated in S6</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_15_A1_1141275684</name>
        <dataType>Number</dataType>
        <expression>{!$User.Acorn_SUser_ID__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_2_myRule_15_A1_7099517487</name>
        <dataType>String</dataType>
        <expression>&quot;This case was opened per the request of &quot; &amp; {!$Record.Requested_By_User__r.FirstName} &amp; &quot; &quot;  &amp; {!$Record.Requested_By_User__r.LastName} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record.Is_Recreated__c} = True, 
$Setup.Object_Save_Mode__c.Disable_Process_Builder__c,
 $Setup.Object_Save_Mode__c.Full_Logic_Disabled__c
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT($User.Bypass_Validation__c),AND(ISPICKVAL({!$Record.Status}, &apos;Closed&apos;)),	ISPICKVAL({!$Record.Case_Sub_Status__c} , &apos;Request Not Approved&apos;), ISCHANGED({!$Record.Case_Sub_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Case_Type__c}, &apos;Pickup&apos;) ,ISCHANGED({!$Record.Case_Sub_Status__c} ),ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Pending Manual Dispatch&apos;))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_20</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        ISCHANGED({!$Record.Status}), 
        TEXT({!$Record.Status}) = &apos;Closed&apos;, 
        NOT(ISBLANK({!$Record.Tracking_Number__c} )  ),
        NOT(ISPICKVAL({!$Record.Work_Order__r.Verify_Service_Task__c} , &apos;SRI&apos;)), 
        NOT($Setup.VRBatchSetting__c.IsBatchExecution__c) 
        ),
    AND(
        $User.Bypass_Validation__c,
        ISCHANGED({!$Record.Status}), 
        TEXT({!$Record.Status}) = &apos;Closed&apos;, 
        NOT(ISBLANK({!$Record.Tracking_Number__c} ) ),
        NOT($Setup.VRBatchSetting__c.IsBatchExecution__c),
        {!$Record.Work_Order__c.Vendor_Service_Status__c=&apos;Confirmed} Negative&apos;
        )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(ISNEW(),ISPICKVAL({!$Record.Case_Sub_Status__c},&apos;Pending Service Issue Resolution&apos;)), AND(ISCHANGED({!$Record.Case_Sub_Status__c}),ISPICKVAL({!$Record.Case_Sub_Status__c},&apos;Pending Service Issue Resolution&apos;)
),AND(ISCHANGED({!$Record.Manual_Invocation__c}), {!$Record.Manual_Invocation__c} = &apos;Yes&apos;, ISPICKVAL({!$Record.Case_Sub_Status__c},
&apos;Pending Service Issue Resolution&apos;)))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW() ,
OR(ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Verify Account Number&apos;),
ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Verify Services&apos;),
ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Verify Waste Stream&apos;) ))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_26</name>
        <dataType>Boolean</dataType>
        <expression>AND(
     ISNEW() ,
     ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Validate Service Provider&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT($User.Bypass_Validation__c),ISPICKVAL({!$Record.Case_Type__c}, &apos;Status&apos;),ISPICKVAL({!$Record.Case_Sub_Type__c} , &apos;ETA&apos;),ISPICKVAL({!$Record.Status}, &apos;Open&apos;),ISPICKVAL({!$Record.Case_Sub_Status__c} , &apos;Pending Vendor Follow Up&apos;) )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.PurchaseOrder_Required__c} ,OR(ISBLANK({!$Record.PurchaseOrder_Number__c} ),ISBLANK({!$Record.Profile_Number__c}),ISBLANK({!$Record.Company_Category__c}) ),OR({!$Record.Override_PO_Create_Task__c},{!$Record.Override_Profile_Number_Task__c},{!$Record.Override_Company_Category_Create_Task__c}),NOT({!$Record.Is_Info_Task_Created__c} ) , NOT($User.Bypass_Validation__c),  AND(ISCHANGED({!$Record.Status})  ,OR(AND(ISPICKVAL({!$Record.Status} , &apos;Open&apos;), {!$Record.RecordTypeId} =&apos;0121I000000JoJtQAK&apos;),ISPICKVAL({!$Record.Status} , &apos;Pending&apos;),AND(ISPICKVAL({!$Record.Status} , &apos;Open&apos;),ISCHANGED({!$Record.Case_Sub_Status__c}),ISPICKVAL({!$Record.Case_Sub_Status__c} , &apos;Pending Service Integration&apos;)))))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED({!$Record.Case_Sub_Status__c} ),ISPICKVAL({!$Record.Case_Sub_Status__c}  ,&apos;Pending Vendor Information&apos;), NOT($User.Bypass_Validation__c))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT($User.Bypass_Validation__c), 
AND(NOT(ISPICKVAL({!$Record.Case_Type__c}, &apos;New Service&apos;))),
AND(OR(ISCHANGED({!$Record.Status}), ISNEW(), ISCHANGED({!$Record.Case_Sub_Status__c} )), 
ISPICKVAL({!$Record.Status}, &apos;Open&apos;),
ISPICKVAL({!$Record.Case_Sub_Status__c}, &apos;Pending Service Integration&apos;)),
AND(OR(ISBLANK({!$Record.Work_Order__c}), ISNULL({!$Record.Work_Order__c} ))),
{!$Record.Is_Recreated__c} = FALSE
)</expression>
    </formulas>
    <formulas>
        <name>ProcessName_fr</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Emergency__c} , &apos;Escalation Emergency Case&apos;, &apos;Obtain Customer Info&apos;)</expression>
    </formulas>
    <formulas>
        <name>VarLastAgentName_fr</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName} + &apos; &apos; + {!$Record.LastModifiedBy.LastName}</expression>
    </formulas>
    <formulas>
        <name>varScheduledTimeFirstAttempt</name>
        <dataType>DateTime</dataType>
        <expression>{!($Record.X5_mins_Delay__c+1/24)}</expression>
    </formulas>
    <formulas>
        <name>varScheduleTimeSecondAttempt</name>
        <dataType>DateTime</dataType>
        <expression>{!($Record.X10_mins_Delay__c+1/24)}</expression>
    </formulas>
    <interviewLabel>Case Update Process Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Process Record Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_15_A1</name>
        <label>Create Acorn Comment</label>
        <locationX>418</locationX>
        <locationY>2556</locationY>
        <connector>
            <targetReference>myRule_20</targetReference>
        </connector>
        <inputAssignments>
            <field>Acorn_SUser_ID__c</field>
            <value>
                <elementReference>formula_1_myRule_15_A1_1141275684</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>formula_2_myRule_15_A1_7099517487</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Log_Type_Name__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_to_run_on_delay_First_Attempt</name>
        <label>Update Case to run on delay First Attempt</label>
        <locationX>352</locationX>
        <locationY>4272</locationY>
        <inputAssignments>
            <field>FlowTimeToRun__c</field>
            <value>
                <elementReference>varScheduledTimeFirstAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowToRun__c</field>
            <value>
                <stringValue>Invoke Pattern Match</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_run_on_delay_Second_Attempt</name>
        <label>Update Case to run on delay Second Attempt</label>
        <locationX>616</locationX>
        <locationY>4380</locationY>
        <inputAssignments>
            <field>FlowTimeToRun__c</field>
            <value>
                <elementReference>varScheduleTimeSecondAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowToRun__c</field>
            <value>
                <stringValue>Invoke Pattern Match</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>614</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Case_Recursion_Check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_Scheduled_Action</name>
            <connector>
                <targetReference>Decide_Flow_or_Action_to_Run</targetReference>
            </connector>
            <label>Run Scheduled Action</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>FlowTimeToRun__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Accepted_Workorder</name>
        <label>Create Accepted Workorder</label>
        <locationX>418</locationX>
        <locationY>3456</locationY>
        <connector>
            <targetReference>myRule_26</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Accepted WorkOrder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>WOAcceptance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Followup_Task</name>
        <label>Create Followup Task</label>
        <locationX>418</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Obtain Vendor Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Contact vendor to confirm schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Obtain_Customer_Info_Task</name>
        <label>Create Obtain Customer Info Task</label>
        <locationX>418</locationX>
        <locationY>1056</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>contact_Number</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactTitle</name>
            <value>
                <elementReference>$Record.Contact_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <elementReference>ProcessName_fr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountLocation</name>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAssetId</name>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBrand</name>
            <value>
                <elementReference>$Record.Location__r.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseSubType</name>
            <value>
                <elementReference>$Record.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContact_Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContainer</name>
            <value>
                <elementReference>$Record.Asset.Product2.ProductTypeSelected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDivision</name>
            <value>
                <elementReference>$Record.Location__r.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGeography</name>
            <value>
                <elementReference>$Record.Location__r.Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName_fr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLocationType</name>
            <value>
                <elementReference>$Record.Location__r.Location_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varParentAccountId</name>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProject</name>
            <value>
                <elementReference>$Record.Asset.Project_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRequestType</name>
            <value>
                <elementReference>$Record.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleType</name>
            <value>
                <elementReference>$Record.Asset.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Rejeced_Workorder_Task</name>
        <label>Create Rejeced Workorder Task</label>
        <locationX>418</locationX>
        <locationY>3756</locationY>
        <connector>
            <targetReference>myRule_28</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Rejected Work Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>WOReject</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Vendor_Availability</name>
        <label>Create Vendor Availability</label>
        <locationX>418</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Confirm Vendor Availability</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Check if vendor is available at given service date.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName_fr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Follow_up_for_Decline</name>
        <label>Follow up for Decline</label>
        <locationX>418</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>contact_Number</name>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactTitle</name>
            <value>
                <elementReference>$Record.Contact_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Preferred_Method</name>
            <value>
                <elementReference>$Record.Contact.Preferred_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Notify Customer of Decline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContact_Email</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Notify Customer of Decline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName_fr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Invoke_Non_Pickup_Framework</name>
        <label>Invoke Non Pickup Framework</label>
        <locationX>418</locationX>
        <locationY>3156</locationY>
        <connector>
            <targetReference>myRule_24</targetReference>
        </connector>
        <flowName>Process_of_Non_Pickup_Task_framework</flowName>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumAttempt</name>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTypeInput</name>
            <value>
                <stringValue>Case;RecordType;BusinessHours;Vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutcomeText</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <stringValue>Resolve Service Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>$Record.Service_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>case</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_WO_Flow</name>
        <label>Launch WO Flow</label>
        <locationX>418</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
        <flowName>Work_Order_Creation</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Manually_Dispatch</name>
        <label>Manually Dispatch</label>
        <locationX>418</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>myRule_15</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <stringValue>Case;VendorDispatchContact;CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>Manually Dispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <stringValue>Manually Dispatch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <stringValue>null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Work_Order_Creation_Delay</name>
        <label>Work Order Creation</label>
        <locationX>1408</locationX>
        <locationY>432</locationY>
        <flowName>Work_Order_Creation</flowName>
        <inputAssignments>
            <name>FlowToRun</name>
            <value>
                <elementReference>$Record.FlowToRun__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Result of recursion check is stored in it</description>
        <name>varRecursionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
