force-app/main/default/flows/Change_Task_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invokes Apex class for changing the Task Assignment</description>
        <name>InvokeTaskAssignmentAction</name>
        <label>InvokeTaskAssignmentAction</label>
        <locationX>388</locationX>
        <locationY>179</locationY>
        <actionName>ChangeTaskAssignmentcntrl</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>taskLst</name>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>This flow handles the task assignment process</description>
    <interviewLabel>Change Task Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Task Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the task record and the required fields</description>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>160</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InvokeTaskAssignmentAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input value of taskid</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
