force-app/main/default/flows/Create_Task_FrameWork_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Ran_By_Delay_Logic</name>
        <label>Flow_Ran_By_Delay_Logic</label>
        <locationX>2228</locationX>
        <locationY>2306</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>taskRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Fetch actual Business Hours from the &quot;Get Business Resume Time Class&quot;</description>
        <name>Get_Business_Hours_Delay</name>
        <label>Get Business Hours Delay</label>
        <locationX>2140</locationX>
        <locationY>2090</locationY>
        <actionName>GetBusinessDelayTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_ResumeTime_is_Expired</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rec</name>
            <value>
                <elementReference>VarActualBaseTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetBusinessDelayTime</nameSegment>
        <outputParameters>
            <assignToReference>VarResumeTime</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Task_Framework_IDs_Already_Executed_On_Delay</name>
        <label>Task Framework IDs Already Executed On Delay</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <actionName>SplitStringToListCntrlr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Previous_Ran_Task_Framework_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputstr</name>
            <value>
                <elementReference>taskRec.TaskFrameworkId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringToListCntrlr</nameSegment>
        <outputParameters>
            <assignToReference>varTaskFrameworkIdList</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_already_used_task_frame_work_Ids</name>
        <label>Assign already used task frame work Ids</label>
        <locationX>2690</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varTaskFrameworkId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskFramework_Ids_on_Delay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtering_Task_Frame_Work_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delay</name>
        <label>Assign Delay</label>
        <locationX>2140</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>VarDelay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAutoApprovalOSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRec.Auto_Approval_OSA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Hours_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Attempt Variable as &quot;0&quot;</description>
        <name>Assign_it_as_Zero</name>
        <label>Assign as Zero</label>
        <locationX>1788</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>varAttempt</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Box</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OCI_Description</name>
        <label>Assign OCI Description</label>
        <locationX>1612</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBusinessRule.Required_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Ran_Task_Framework_Ids</name>
        <label>Set Previous Ran Task Framework Ids</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTaskFrameworkId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRec.TaskFrameworkId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Framework_on_Delay</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ConstApprovalTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approval Task</stringValue>
        </value>
    </constants>
    <constants>
        <description>Get Required Business Rules</description>
        <name>ConstBR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Get Required Business Rules</stringValue>
        </value>
    </constants>
    <constants>
        <name>constEscalate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalate to Account Team</stringValue>
        </value>
    </constants>
    <constants>
        <name>constFollowup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-up Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstNotifyCustomerDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify Customer of Decline</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstTaskApprovalsrecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approvals</stringValue>
        </value>
    </constants>
    <constants>
        <name>constUpdateCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Case</stringValue>
        </value>
    </constants>
    <constants>
        <description>Update Entitlement</description>
        <name>updateEntitlementConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Entitlement</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_case_is_closed</name>
        <label>Check if case is closed</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_not_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRec.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate</targetReference>
            </connector>
            <label>Case not closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ResumeTime_is_Expired</name>
        <label>Check If ResumeTime is Expired</label>
        <locationX>2140</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Flow_Ran_By_Delay_Logic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resume_Time_is_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResumeTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate</targetReference>
            </connector>
            <label>Resume Time is Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_BR</name>
        <label>Check on BR</label>
        <locationX>1744</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Iterate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBusinessRule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OCI_Description</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This condition is used to invoke get more details inorder to do new soql and get updated case values</description>
        <name>Condition_to_Invoke_get_more_details</name>
        <label>Condition to Invoke get more details</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Iterate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_condition_to_invoke_get_more_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputObjectIdParam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputObjectNamesParam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_more_details_invocation</targetReference>
            </connector>
            <label>check condition to invoke get more details</label>
        </rules>
    </decisions>
    <decisions>
        <description>These conditions will decide if Get More Details flow to be executed</description>
        <name>Conditions_check_to_invoke_Get_More_Details_Flow</name>
        <label>Conditions check to invoke Get More Details Flow</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Task_Framework</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invoke_Get_More_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputObjectIdParam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputObjectNamesParam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_More_Details</targetReference>
            </connector>
            <label>invoke Get More Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Delay_Immediate_Flow_Run</name>
        <label>Decide Delay/Immediate Flow Run</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Conditions_check_to_invoke_Get_More_Details_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunFlowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Task FrameWork Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Framework_IDs_Already_Executed_On_Delay</targetReference>
            </connector>
            <label>Delay Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Box</name>
        <label>Decision Box</label>
        <locationX>1920</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Iterate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConstApprovalTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Approval_Task</targetReference>
            </connector>
            <label>Approval Task</label>
        </rules>
        <rules>
            <name>Updatecase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutCome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constUpdateCase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Updatecase</label>
        </rules>
        <rules>
            <name>Follow_up_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constFollowup</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up</targetReference>
            </connector>
            <label>Follow-up Task</label>
        </rules>
        <rules>
            <name>Escalate_to_Account_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constEscalate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_to_Account</targetReference>
            </connector>
            <label>Escalate to Account Team</label>
        </rules>
        <rules>
            <name>Get_BR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConstBR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Process_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProcessName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDescription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Rule_Details</targetReference>
            </connector>
            <label>Get BR</label>
        </rules>
        <rules>
            <name>Delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delay</targetReference>
            </connector>
            <label>Delay</label>
        </rules>
        <rules>
            <name>Validate_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate</targetReference>
            </connector>
            <label>Validate Case</label>
        </rules>
        <rules>
            <name>Update_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>updateEntitlementConst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement_Flow</targetReference>
            </connector>
            <label>Update Entitlement</label>
        </rules>
        <rules>
            <name>Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Create_Case</targetReference>
            </connector>
            <label>Create Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filtering_Task_Frame_Work_Metadata</name>
        <label>Filtering Task Frame Work Metadata</label>
        <locationX>2690</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Iterate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Iteration</defaultConnectorLabel>
        <rules>
            <name>Filter_Task_Frame_work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.No_of_Attempt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarNumAttempt</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOutCome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Number_of_Attempt</targetReference>
            </connector>
            <label>Filter Task Frame work</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Task_Action_Empty</name>
        <label>Is Task Action Empty</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Attempt_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskActionlst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate</targetReference>
            </connector>
            <label>If Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Number of Attempt when Process and Parameter Process name are not matching.</description>
        <name>Update_Number_of_Attempt</name>
        <label>Update Number of Attempt</label>
        <locationX>1920</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Decision_Box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskAction.Process_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>taskAction.Parameter__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskAction.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_it_as_Zero</targetReference>
            </connector>
            <label>Update Attempt</label>
        </rules>
    </decisions>
    <description>Update runflowname
Added Variable varTaskFrameworkId
Add Condition : Check TaskFramework ID
Added Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic) - Apex Class(PutTaskRecursionCheck)
Added Variable - TaskInputIdParam
Added Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic) - newTaskList - Task Activity ID</description>
    <environments>Default</environments>
    <formulas>
        <name>ServiceDateTimeforCSC</name>
        <dataType>String</dataType>
        <expression>TEXT({!CaseRec.Service_Date_for_CSC__c}) &amp;&apos; 05:00:00&apos;</expression>
    </formulas>
    <formulas>
        <name>ServiceDateTimeforOSC</name>
        <dataType>String</dataType>
        <expression>TEXT({!CaseRec.Service_Date_for_OSC__c}) &amp;&apos; 05:00:00&apos;</expression>
    </formulas>
    <formulas>
        <description>To Avoid Exception</description>
        <name>TaskApprovalLog</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!taskRec.Approval_Log__c})),{!taskRec.Approval_Log__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>TaskFramework_Ids_on_Delay</name>
        <dataType>String</dataType>
        <expression>{!taskAction.Id}+&apos;;&apos;</expression>
    </formulas>
    <formulas>
        <description>List which will be used to pass as a parameter to calculate the delay ResumeTime</description>
        <name>VarActualBaseTime</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
{!ProcessName} = &apos;Confirm Service Completion&apos;, 
{!varSource} = &apos;Case&apos;),
{!ServiceDateTimeforCSC} &amp; &apos;;&apos;&amp; {!VarDelay},
IF(
AND(
{!ProcessName} = &apos;Obtain Schedule Confirmation&apos;, 
{!varSource} = &apos;Case&apos;),
{!ServiceDateTimeforOSC} &amp; &apos;;&apos;&amp; {!VarDelay},
TEXT({!VarBaseTime}) &amp; &apos;;&apos;&amp; {!VarDelay} &amp; &apos;;&apos;&amp; {!varAutoApprovalOSA} ) )</expression>
    </formulas>
    <formulas>
        <description>Base Time of the delay Process</description>
        <name>VarBaseTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!VarBaseDate})),DATETIMEVALUE({!VarBaseDate}),{!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>varCC</name>
        <dataType>String</dataType>
        <expression>If(CONTAINS({!varDescription},&quot;Company Category&quot;) &amp;&amp; ISBLANK({!CaseRec.Company_Category__c}) &amp;&amp; {!CaseRec.Override_Company_Category_Create_Task__c},&quot;Company Category;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>VarFlowdelay</name>
        <dataType>String</dataType>
        <expression>{!taskRec.Id}</expression>
    </formulas>
    <formulas>
        <name>VarIsNew</name>
        <dataType>Boolean</dataType>
        <expression>If({!varSource} == &apos;Case&apos;,True,False)</expression>
    </formulas>
    <formulas>
        <name>varPoNumber</name>
        <dataType>String</dataType>
        <expression>If(CONTAINS({!varDescription},&quot;PO Number&quot;) &amp;&amp; ISBLANK({!CaseRec.PurchaseOrder_Number__c}) &amp;&amp; {!CaseRec.Override_PO_Create_Task__c},&quot;PO Number;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varProfileNumber</name>
        <dataType>String</dataType>
        <expression>If(CONTAINS(UPPER({!varDescription}),&quot;PROFILE NUMBER&quot;) &amp;&amp; ISBLANK({!CaseRec.Profile_Number__c}) &amp;&amp; {!CaseRec.Override_Profile_Number_Task__c},&quot;Profile Number;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>IF((({!taskAction.Process_Name__c} == &quot;Obtain Customer Info&quot; || {!taskAction.Process_Name__c} == &quot;Escalation Obtain Customer Info&quot;) &amp;&amp; NOT(ISBLANK({!varDescription}))),{!varPoNumber} + {!varProfileNumber} + {!varCC},{!taskAction.Task_Related_Description__c})</expression>
    </formulas>
    <interviewLabel>Create Task FrameWork Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task FrameWork Process</label>
    <loops>
        <name>Iterate</name>
        <label>Iterate Task Action</label>
        <locationX>468</locationX>
        <locationY>1250</locationY>
        <assignNextValueToReference>taskAction</assignNextValueToReference>
        <collectionReference>taskActionlst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_already_used_task_frame_work_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task_Framework</name>
        <label>Get Task Framework</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Task_Action_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>VarSequenceOffset</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </filters>
        <object>Task_Framework__mdt</object>
        <outputReference>taskActionlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Next_Action__c</queriedFields>
        <queriedFields>No_of_Attempt__c</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
        <queriedFields>Parameter__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Process_Name__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Due_Date_Time_Delay__c</queriedFields>
        <queriedFields>Outcome_Parameter__c</queriedFields>
        <queriedFields>Task_Related_Description__c</queriedFields>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Framework_on_Delay</name>
        <label>Get Task Framework on Delay</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condition_to_Invoke_get_more_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>VarSequenceOffset</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varTaskFrameworkIdList</elementReference>
            </value>
        </filters>
        <object>Task_Framework__mdt</object>
        <outputReference>taskActionlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Next_Action__c</queriedFields>
        <queriedFields>No_of_Attempt__c</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
        <queriedFields>Parameter__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Process_Name__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Due_Date_Time_Delay__c</queriedFields>
        <queriedFields>Outcome_Parameter__c</queriedFields>
        <queriedFields>Task_Related_Description__c</queriedFields>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>2228</locationX>
        <locationY>2414</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunFlowAtTime__c</field>
            <value>
                <elementReference>VarResumeTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunFlowName__c</field>
            <value>
                <stringValue>Create Task FrameWork Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskFrameworkId__c</field>
            <value>
                <elementReference>varTaskFrameworkId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Delay_Immediate_Flow_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Follow_Up</name>
        <label>Create Follow Up</label>
        <locationX>1084</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Followup_Task_Creation</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FetchCustomerContact</name>
            <value>
                <elementReference>FetchedCustomerCont</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FetchedVendorContact</name>
            <value>
                <elementReference>FetchedVendorCont</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskMetadataInput</name>
            <value>
                <elementReference>taskAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentTaskProcess</name>
            <value>
                <elementReference>VarCurrentTaskProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseProposedServiceDateVal</name>
            <value>
                <elementReference>varCasePropServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactEmail</name>
            <value>
                <elementReference>VarContact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactNumber</name>
            <value>
                <elementReference>contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactTitle</name>
            <value>
                <elementReference>ContactTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDateTimeDelay</name>
            <value>
                <elementReference>taskAction.Due_Date_Time_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsNew</name>
            <value>
                <elementReference>VarIsNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastAgent</name>
            <value>
                <elementReference>VarLastAgentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>varLastModifiedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastTask</name>
            <value>
                <elementReference>taskRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastTaskRecord</name>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempt</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProposedServiceDate</name>
            <value>
                <elementReference>VarProposedServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceVal</name>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarFollowUpTask</assignToReference>
            <name>FollowUpTaskOutput</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Escalate_to_Account</name>
        <label>Escalate to Account</label>
        <locationX>1348</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Process_to_create_Escalation_Task</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCaseRec</name>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarComments</name>
            <value>
                <elementReference>VarTaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarEntitlementRec</name>
            <value>
                <elementReference>VarEntitlementRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarInputTask</name>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>taskAction.Task_Related_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDateTimeDelay</name>
            <value>
                <elementReference>taskAction.Due_Date_Time_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEscalateTask</assignToReference>
            <name>VarCreateTask</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Business_Rule_Details</name>
        <label>Get Business Rule Details</label>
        <locationX>1744</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Check_on_BR</targetReference>
        </connector>
        <flowName>Business_Rule_Selection</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>varParentAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>VarAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Brand</name>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CategoryType</name>
            <value>
                <elementReference>varCategoryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Container</name>
            <value>
                <elementReference>varContainer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Division</name>
            <value>
                <elementReference>varDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Geography</name>
            <value>
                <elementReference>varGeography</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LocationId</name>
            <value>
                <elementReference>varAccountLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LocationType</name>
            <value>
                <elementReference>varLocationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Project</name>
            <value>
                <elementReference>VarProject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Required_Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScheduleType</name>
            <value>
                <elementReference>varScheduleType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Service</name>
            <value>
                <elementReference>varCaseSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRequestType</name>
            <value>
                <elementReference>varRequestType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBusinessRule</assignToReference>
            <name>BusinessRuleRec</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>This subflow is invoked inored to fetch the record details based on the input object parameters being passed</description>
        <name>Get_More_Details</name>
        <label>Get More Details</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Task_Framework</targetReference>
        </connector>
        <flowName>Get_More_Details</flowName>
        <inputAssignments>
            <name>varObjectId</name>
            <value>
                <elementReference>InputObjectIdParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectNames</name>
            <value>
                <elementReference>InputObjectNamesParam</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRec</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderBasedOnCaseRecOP</assignToReference>
            <name>WorkOrderBasedOnCase</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderRecOP</assignToReference>
            <name>WorkOrderRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FetchedCustomerCont</assignToReference>
            <name>EvaluatedCustomerContactRec</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FetchedVendorCont</assignToReference>
            <name>EvaluatedVendorContactRec</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoke get more details to fetch the latest values of the case</description>
        <name>Get_more_details_invocation</name>
        <label>Get more details invocation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Check_if_case_is_closed</targetReference>
        </connector>
        <flowName>Get_More_Details</flowName>
        <inputAssignments>
            <name>VarTaskRec</name>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectId</name>
            <value>
                <elementReference>InputObjectIdParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectNames</name>
            <value>
                <elementReference>InputObjectNamesParam</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRec</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FetchedCustomerCont</assignToReference>
            <name>EvaluatedCustomerContactRec</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FetchedVendorCont</assignToReference>
            <name>EvaluatedVendorContactRec</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varValidateTask</assignToReference>
            <name>VarReturnTask</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderBasedOnCaseRecOP</assignToReference>
            <name>WorkOrderBasedOnCase</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderRecOP</assignToReference>
            <name>WorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Approval_Task</name>
        <label>Invoke Approval Task</label>
        <locationX>556</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Approval_Log_Task_Creation</flowName>
        <inputAssignments>
            <name>ApprovalLogId</name>
            <value>
                <elementReference>VarApprovalLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>approverType</name>
            <value>
                <elementReference>VarapproverType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assigneeId</name>
            <value>
                <elementReference>VarassigneeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BusinessRuleId</name>
            <value>
                <elementReference>VarBusinessRuleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact_Email</name>
            <value>
                <elementReference>VarContact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact_Number</name>
            <value>
                <elementReference>contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactTitle</name>
            <value>
                <elementReference>ContactTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExtApprover</name>
            <value>
                <elementReference>ExtApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsAccountTeam</name>
            <value>
                <elementReference>IsAccountTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Preferred_Method</name>
            <value>
                <elementReference>Preferred_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskProcess</name>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskSubject</name>
            <value>
                <elementReference>taskAction.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAttempt</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarcaseRec</name>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDateTimeDelay</name>
            <value>
                <elementReference>taskAction.Due_Date_Time_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarInputMultiCaseId</name>
            <value>
                <elementReference>VarInputMultiCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsRequired</name>
            <value>
                <elementReference>VarIsRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>VarLastAgentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>varLastModifiedId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoking Create Case Action</description>
        <name>Invoke_Create_Case</name>
        <label>Invoke Create Case</label>
        <locationX>3020</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Task_Framework_Process_To_Create_Case</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcessName</name>
            <value>
                <elementReference>ProcessName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWOVerifyTask</name>
            <value>
                <elementReference>varWOVerifyTask</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>820</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Update_Case_Status_and_Sub_Status</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>taskRec.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Outcome</name>
            <value>
                <elementReference>taskRec.Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <elementReference>taskAction.Process_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Proposedservicedate</name>
            <value>
                <elementReference>VarProposedServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskID</name>
            <value>
                <elementReference>taskRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskRec</name>
            <value>
                <elementReference>taskRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarActualApproverId</name>
            <value>
                <elementReference>VarActualApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApproverTittle</name>
            <value>
                <elementReference>VarApproverTittle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContactEmail</name>
            <value>
                <elementReference>VarApproverContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCaseId</name>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputServiceDateOrRescheduledDate</name>
            <value>
                <elementReference>varServiceDateOrRescheduledDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceValue</name>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWORecFromGetMoreDetails</name>
            <value>
                <elementReference>WorkOrderRecOP</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Update Entitlement based on task output</description>
        <name>Update_Entitlement_Flow</name>
        <label>Update Entitlement Flow</label>
        <locationX>2756</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Update_Entitlement</flowName>
        <inputAssignments>
            <name>VarEntitlementId</name>
            <value>
                <elementReference>taskRec.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarOutcome</name>
            <value>
                <elementReference>taskRec.Outcome__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Validate</name>
        <label>Validate</label>
        <locationX>2492</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Iterate</targetReference>
        </connector>
        <flowName>Validate_Case</flowName>
        <inputAssignments>
            <name>VarCaseId</name>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCaseRec</name>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProcess</name>
            <value>
                <elementReference>taskAction.Process_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varApprovalLogId</name>
            <value>
                <elementReference>TaskApprovalLog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTask</name>
            <value>
                <elementReference>varValidateTask</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsNextAction</assignToReference>
            <name>VarIsNextAction</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>DelayTimeChatter</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Resume time is :- {!VarResumeTime}</text>
    </textTemplates>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contact_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fetched Customer Contact</description>
        <name>FetchedCustomerCont</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Fetched Vendor Contact</description>
        <name>FetchedVendorCont</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>This holds the input parameter Object Id for Get More Details Subflow</description>
        <name>InputObjectIdParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This holds the input parameter ObjectNames for Get More Details Subflow</description>
        <name>InputObjectNamesParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsAccountTeam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsNextAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Preferred_Method</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Process Name of the Action</description>
        <name>ProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RunFlowName</description>
        <name>RunFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>taskActionlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>TaskInputIdParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarActualApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Corresponding Approval Log Id for Task</description>
        <name>VarApprovalLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email of the Approver</description>
        <name>VarApproverContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarApproverTittle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>used to display the related service Approver</description>
        <name>VarapproverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarassigneeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAutoApprovalOSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Date of case is passed from the PB, which will be used as a Base Date in calculation of Delay.</description>
        <name>VarBaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Adding Actual Resume Time Parameter into the List</description>
        <name>VarBaseTimelst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Brand of the Location</description>
        <name>varBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Corresponding Business Rule for the Task</description>
        <name>VarBusinessRuleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Last Modified Id</description>
        <name>VarcaselastmodifiedbyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is received from Process builder to update on Notify customer of Delay Task</description>
        <name>varCasePropServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CategoryType of the Location</description>
        <name>varCategoryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact&apos;s Email to be populated on Task</description>
        <name>VarContact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Task Process</description>
        <name>VarCurrentTaskProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDelay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Entitlement Record is passed as input parameter</description>
        <name>VarEntitlementRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>Created Escalation Task is returned to the CaseApprovalHandler method.</description>
        <name>varEscalateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>FollowUp Task Record</description>
        <name>VarFollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Geography of the Location</description>
        <name>varGeography</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarInputMultiCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarIsGynesysUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarIsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLastAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLastAgentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Task Last Modified By Id</description>
        <name>varLastModifiedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNumAttempt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutCome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProposedServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Type of the Case</description>
        <name>varRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Resume Time of the Delay</description>
        <name>VarResumeTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>varScheduleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSequenceOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>To store the value of Service date or rescheduled date when modified on the work order</description>
        <name>varServiceDateOrRescheduledDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Source Object of the Action</description>
        <name>varSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Escalation Task comments</description>
        <name>VarTaskComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskFrameworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskFrameworkIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varValidateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varWOVerifyTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Work Order Record Based On Case being fetched in Get More Details Flow</description>
        <name>WorkOrderBasedOnCaseRecOP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Holds the WorkOrder Rec details fetched from Get more details flow</description>
        <name>WorkOrderRecOP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
