force-app/main/default/flows/Create_Task_Genesys_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Genesys_Routing_Task_Record_Type_Id</name>
        <label>Get Genesys Routing Task Record Type Id</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Client_Values</targetReference>
        </connector>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>varGenesysRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Project_as_CS</name>
        <label>Assign Project as CS</label>
        <locationX>366</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>varServiceFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Supplier_ParentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_as_PS</name>
        <label>Assign Project as PS</label>
        <locationX>364</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>varServiceFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Supplier_ParentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Genesys_Id</name>
        <label>Genesys Id</label>
        <locationX>765</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>varGenesysRoutingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGenesysRouting.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Project</name>
        <label>Check Project</label>
        <locationX>536</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_as_CS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_is_not_null</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>varChildAssetRecord.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientAccount.Primary_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction and Demolition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_as_PS</targetReference>
            </connector>
            <label>Project is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Supplier</name>
        <label>Check Supplier</label>
        <locationX>449</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_Account</targetReference>
            </connector>
            <label>Supplier is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Supplier_Parent</name>
        <label>Check Supplier Parent</label>
        <locationX>147</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>Get_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupplierRecord.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Vendor</targetReference>
            </connector>
            <label>Check parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Supplier_ParentId</name>
        <label>Check Supplier ParentId</label>
        <locationX>153</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Get_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Suppliers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Supplier_Parent</targetReference>
            </connector>
            <label>Check Suppliers</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula for avoiding null pointer exception for Case Reason in Case Record</description>
        <name>VarCase_CaseReason</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(TEXT({!varCaseRecord.Case_Reason__c})), &apos;&apos; , Text({!varCaseRecord.Case_Reason__c}))</expression>
    </formulas>
    <formulas>
        <name>VarcaseLastAgent</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Last_Agent_ID__c} != null) , {!varCaseRecord.Last_Agent_ID__c} , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varEndTimeText</name>
        <dataType>String</dataType>
        <expression>Text(YEAR(Today()))+&apos;-&apos;+if(len(TEXT(MONTH(TODAY())))=2,TEXT(MONTH(TODAY())),&apos;0&apos;+TEXT(MONTH(TODAY())))+&apos;-&apos;+if(len(TEXT(DAY(TODAY())))=2,TEXT(DAY(TODAY())),&apos;0&apos;+TEXT(DAY(TODAY())))+&apos;T&apos;+&apos;17:00:00&apos;+&apos;Z&apos;</expression>
    </formulas>
    <formulas>
        <name>varLastAgentPresent</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!varLastTask})</expression>
    </formulas>
    <formulas>
        <name>varStartTimeText</name>
        <dataType>String</dataType>
        <expression>Text(YEAR(Today()))+&apos;-&apos;+if(len(TEXT(MONTH(TODAY())))=2,TEXT(MONTH(TODAY())),&apos;0&apos;+TEXT(MONTH(TODAY())))+&apos;-&apos;+if(len(Text(Day(Today())))=2,TEXT(DAY(TODAY())),&apos;0&apos;+TEXT(Day(Today())))+&apos;T&apos;+&apos;09:00:00&apos;+&apos;Z&apos;</expression>
    </formulas>
    <interviewLabel>Create Task Genesys Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task Genesys Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Genesys_Rotuing</name>
        <label>Create  Genesys Rotuing</label>
        <locationX>681</locationX>
        <locationY>277</locationY>
        <assignRecordIdToReference>varGenesysRouting.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Genesys_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>LastAgentId__c</field>
            <value>
                <elementReference>VarcaseLastAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediaType__c</field>
            <value>
                <stringValue>SFDCWorkflowTask</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctID__c</field>
            <value>
                <elementReference>varClientAccount.Customer_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocationTimeZone__c</field>
            <value>
                <elementReference>varAcctLocationTimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocation__c</field>
            <value>
                <elementReference>varAccountLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctSegment__c</field>
            <value>
                <elementReference>varClientAccount.Primary_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseNumber__c</field>
            <value>
                <elementReference>varCaseRecord.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseReason__c</field>
            <value>
                <elementReference>VarCase_CaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseRefNo__c</field>
            <value>
                <elementReference>varCaseRecord.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseSubCaseType__c</field>
            <value>
                <elementReference>varCaseRecord.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseType__c</field>
            <value>
                <elementReference>varCaseRecord.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCChildVendorAcctNo__c</field>
            <value>
                <elementReference>varSupplierRecord.Vendor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCChildVendorName__c</field>
            <value>
                <elementReference>varSupplierRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCFunction__c</field>
            <value>
                <elementReference>varFunction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjName__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjRecordID__c</field>
            <value>
                <elementReference>varTaskRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjType__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCParentVendorAcctNo__c</field>
            <value>
                <elementReference>varParentVendor.Vendor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCParentVendorName__c</field>
            <value>
                <elementReference>varParentVendor.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRecordType__c</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteEndTime__c</field>
            <value>
                <elementReference>varEndTimeText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteStartTime__c</field>
            <value>
                <elementReference>varStartTimeText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCServiceFlag__c</field>
            <value>
                <elementReference>varServiceFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskCaseId__c</field>
            <value>
                <elementReference>varTaskCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescCode__c</field>
            <value>
                <elementReference>varTaskDescCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescription__c</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDueDateTime__c</field>
            <value>
                <elementReference>varTaskRecord.Due_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Genesys_Routing__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>542</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>varChildAssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Values</name>
        <label>Get Client Values</label>
        <locationX>323</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Client__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varClientAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Code__c</queriedFields>
        <queriedFields>Primary_Segment__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Vendor_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Vendor</name>
        <label>Get Parent Vendor</label>
        <locationX>540</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSupplierRecord.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varParentVendor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Account</name>
        <label>Get Supplier Account</label>
        <locationX>635</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Supplier__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varSupplierRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Vendor_ID__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Des_Code</name>
        <label>Get Task Des Code</label>
        <locationX>681</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Genesys_Rotuing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </filters>
        <object>TaskDesc__mdt</object>
        <outputAssignments>
            <assignToReference>varTaskDescCode</assignToReference>
            <field>TaskDescCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>285</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Des_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Due_Date_Time__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Genesys_Routing_Task_Record_Type_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctLocationTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChildAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varClientAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEndTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>17:00</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFunction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGenesysRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Genesys_Routing__c;Task</stringValue>
        </value>
    </variables>
    <variables>
        <name>varGenesysRouting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Genesys_Routing__c</objectType>
    </variables>
    <variables>
        <name>varGenesysRoutingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGenesysRoutingTaskRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Genesys_Routing__c;Task</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLastAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentVendor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSFDCTaskDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStartTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9:00</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSupplierRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varTaskCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskDescCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskDueDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTempLast</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
