force-app/main/default/flows/create_Followup_Task_Pending_case_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Checking_Genesys_User</name>
        <label>Checking Genesys User</label>
        <locationX>593</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Create_FollowUp_Task_Pending_Information_case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_genesys_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Genesys_Enabled_User.Is_Genesys_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FollowUp_Task_Pending_Information_case</targetReference>
            </connector>
            <label>is genesys user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_requested_due_date</name>
        <label>Is requested due date</label>
        <locationX>334</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Create_FollowUp_Task_Pending_Information_case_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Future_date_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Date Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Genesys_integration_user</targetReference>
            </connector>
            <label>Future date requested</label>
        </rules>
    </decisions>
    <description>SDT-38282 Adding new outcome - Adding condition for due date_Updating team user name field</description>
    <environments>Default</environments>
    <formulas>
        <name>NextDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE( {!$Record.Next_Task_Due_Date_Time__c} )</expression>
    </formulas>
    <formulas>
        <description>decides the owner value based on duedate</description>
        <name>ownerIdvalue</name>
        <dataType>String</dataType>
        <expression>IF(NOW() &lt;={!$Record.Next_Task_Due_Date_Time__c}, {!$User.Id},{!$Record.OwnerId} )</expression>
    </formulas>
    <formulas>
        <description>formula to populate task attempt</description>
        <name>varTaskAttempt</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Attempt__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>create Followup Task Pending case Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Followup Task Pending Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FollowUp_Task_Pending_Information_case</name>
        <label>Create FollowUp Task Pending Information case</label>
        <locationX>807</locationX>
        <locationY>1080</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>varTaskAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Next_Task_Due_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Reasons__c</field>
            <value>
                <elementReference>$Record.Follow_Up_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Assignment__c</field>
            <value>
                <elementReference>$Record.Initial_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Genesys_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>$Record.Last_Agent_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Genesys_integration_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Name__c</field>
            <value>
                <elementReference>$Record.Task_Team_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Queue__c</field>
            <value>
                <elementReference>$Record.Task_Team_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FollowUp_Task_Pending_Information_case_0</name>
        <label>Create FollowUp Task Pending Information case</label>
        <locationX>408</locationX>
        <locationY>1077</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>varTaskAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Next_Task_Due_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Reasons__c</field>
            <value>
                <elementReference>$Record.Follow_Up_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>$Record.Last_Agent_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Genesys_Enabled_User.SFDC_user_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Name__c</field>
            <value>
                <elementReference>$Record.Task_Team_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Team_Queue__c</field>
            <value>
                <elementReference>$Record.Task_Team_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FollowUp_Task_Pending_Information_case_0_0</name>
        <label>Create FollowUp Task Pending Information case</label>
        <locationX>50</locationX>
        <locationY>919</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <elementReference>varTaskAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>$Record.Next_Task_Due_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Reasons__c</field>
            <value>
                <elementReference>$Record.Follow_Up_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Agent_ID__c</field>
            <value>
                <elementReference>$Record.Last_Agent_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Genesys_Enabled_User</name>
        <label>Genesys Enabled User</label>
        <locationX>806</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Genesys_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Acorn_Team_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_Team_Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSR_User_Data_Setup__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Genesys_integration_user</name>
        <label>Get Genesys integration user</label>
        <locationX>808</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Genesys_Enabled_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>475</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_requested_due_date</targetReference>
        </connector>
        <filterLogic>(2 OR 6) AND 3 AND (1 OR 4 OR 5 OR 7)</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Information Not Obtained</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Follow up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolve Service Issue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future Date Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Assignment</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
