force-app/main/default/flows/Creation_of_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SBS_Assign_task_values</name>
        <label>Assign task values</label>
        <locationX>863</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accTeam.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_Task_Instance.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReminderDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SBS_Collection_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SBS_Collection_of_Task</name>
        <label>Collection of Task</label>
        <locationX>609</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>SBS_Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SBS_Task_Instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SBS_Iterate_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SBS_Null</name>
        <label>Null</label>
        <locationX>380</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_team_member_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBS_Account_Team_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBS_Iterate_Account_Team_Member</targetReference>
            </connector>
            <label>If Account team member is found</label>
        </rules>
    </decisions>
    <description>When Account is activate or PO number is not populated Task will be created for Account Team member</description>
    <formulas>
        <name>varReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/24)</expression>
    </formulas>
    <interviewLabel>Creation of Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creation of Task</label>
    <loops>
        <name>SBS_Iterate_Account_Team_Member</name>
        <label>Iterate Account Team Member</label>
        <locationX>609</locationX>
        <locationY>307</locationY>
        <assignNextValueToReference>accTeam</assignNextValueToReference>
        <collectionReference>SBS_Account_Team_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SBS_Assign_task_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SBS_Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SBS_Create_Task</name>
        <label>Create Task</label>
        <locationX>612</locationX>
        <locationY>180</locationY>
        <inputReference>SBS_Task_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SBS_Get_account_members</name>
        <label>Get account members</label>
        <locationX>220</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SBS_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>SBS_Account_Team_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <startElementReference>SBS_Get_account_members</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>SBS_Account_Team_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>SBS_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SBS_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SBS_Task_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SBS_Task_Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SBS_WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
