force-app/main/default/flows/CustomCloningBusinessRule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Approval_Rule</name>
        <label>Clone Approval Rule</label>
        <locationX>591</locationX>
        <locationY>1307</locationY>
        <actionName>CloneApprovalRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ApexDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_BR_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>loopCount</name>
            <value>
                <elementReference>loopCounter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentApprovalRule</name>
            <value>
                <elementReference>Get_BR_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneApprovalRules</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Cloned_Business_Rule_Id</assignToReference>
            <name>clonedBusinessRuleId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>businessRuleToStore</assignToReference>
            <name>createdBusinessRule</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DuplicateRecords</assignToReference>
            <name>duplicateBusinessRule</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>exceptionErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Compare_Old_and_New_Records</name>
        <label>Compare Old and New Records</label>
        <locationX>62</locationX>
        <locationY>1134</locationY>
        <actionName>RecordComparator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Records_are_Different</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>NewBusinessRule</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecord</name>
            <value>
                <elementReference>OldBusinessRule</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecordComparator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Record_Differences</assignToReference>
            <name>differences</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_the_Cloned_BR</name>
        <label>Navigate to the Cloned BR</label>
        <locationX>1284</locationX>
        <locationY>947</locationY>
        <actionName>c:flowNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Cloned_Business_Rule_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:flowNavigateToRecord</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Cloned_Business_Rule_Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_New_Service_BR_Values</name>
        <label>Assign New Service BR Values</label>
        <locationX>509</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Get_BR_Details.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_BR_Details.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_BR_Details.Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Temporary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_BR_Details.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Haul Away Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_BR_Details.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Service_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Business_Rule</name>
        <label>Assign Old Business Rule</label>
        <locationX>962</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>isDuplicateVisible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.AssetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.AssetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.LocationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.LocationId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Project_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Is_Auto_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Is_Auto_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Is_Channel_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Is_Channel_Requirements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Is_Special_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Is_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Multiple_Mandatory_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.No_Approval_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.No_Approval_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.NTE_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.NTE_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Universal_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Universal_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Required_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Required_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Occurrence_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Occurrence_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Case_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Category_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Container__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Material__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Object_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Request_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Schedule_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Special_Instructions_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Special_Instructions_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Channel_Req__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Channel_Req__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldBusinessRule.Special_Ins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBusinessRule.Special_Ins__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_BR_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Approvers_List_Size</name>
        <label>Assign Related Approvers List Size</label>
        <locationX>857</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>listSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Service_Approvers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_BR_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Business_Rule_Id</name>
        <label>Update Business Rule Id</label>
        <locationX>1289</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Selected_Approvers.Business_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cloned_Business_Rule_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Approvers_To_Be_Cloned</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Selected_Approvers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Selected_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Count</name>
        <label>Update Loop Count</label>
        <locationX>451</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isDuplicateVisible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.AssetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.AssetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.LocationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.LocationId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Project_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Project_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Is_Auto_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Is_Auto_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Is_Channel_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Is_Channel_Requirements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Is_Special_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Is_Special_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Multiple_Mandatory_Approvers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Multiple_Mandatory_Approvers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.No_Approval_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.No_Approval_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.NTE_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.NTE_Rules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Universal_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Universal_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Required_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Required_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Occurrence_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Occurrence_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Case_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Category_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Container__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Material__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Object_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Object_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Request_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Schedule_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Special_Instructions_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Special_Instructions_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Channel_Req__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Channel_Req__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessRule.Special_Ins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BR_Details.Special_Ins__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop_Counter_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Counter_Again</name>
        <label>Update Loop Counter Again</label>
        <locationX>62</locationX>
        <locationY>1507</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Approval_Rule</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New_Service_Choice</name>
        <choiceText>New Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pickup_Choice</name>
        <choiceText>Pickup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pickup</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ApexDecision</name>
        <label>ApexDecision</label>
        <locationX>891</locationX>
        <locationY>1489</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DuplicateRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Business_Rule</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
        <rules>
            <name>GotError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exceptionErrorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>exceptionErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_BR_Details</targetReference>
            </connector>
            <label>GotError</label>
        </rules>
        <rules>
            <name>Business_Rule_Cloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cloned_Business_Rule_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cloned_Business_Rule_Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Selected_Approvers</targetReference>
            </connector>
            <label>Business Rule Cloned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loop_Counter_Size</name>
        <label>Check Loop Counter Size</label>
        <locationX>315</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Clone_Approval_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loop_Counter_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Old_and_New_Records</targetReference>
            </connector>
            <label>Loop Counter 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Request_Type</name>
        <label>Check Request Type</label>
        <locationX>844</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Service_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BR_Details.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BR_Details.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haul Away - No Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Request_Type</targetReference>
            </connector>
            <label>Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Request_Type</name>
        <label>Check Selected Request Type</label>
        <locationX>503</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Service_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Service_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Service_BR_Values</targetReference>
            </connector>
            <label>New Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_are_Different</name>
        <label>Records are Different</label>
        <locationX>54</locationX>
        <locationY>1305</locationY>
        <defaultConnector>
            <targetReference>Clone_Approval_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Different_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Differences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Differences</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loop_Counter_Again</targetReference>
            </connector>
            <label>Yes Different Records</label>
        </rules>
    </decisions>
    <description>This flow clones the Approval Business Rule along with the related Service Approvers. This also checks duplicate Business Rules.</description>
    <environments>Default</environments>
    <formulas>
        <name>fm_errorMessage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, FIND(&quot;You can look up ExceptionCode&quot;, {!$Flow.FaultMessage} ) - 1 )</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CustomCloningBusinessRule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CustomCloningBusinessRule</label>
    <loops>
        <name>Loop_Over_Selected_Approvers</name>
        <label>Loop Over Selected Approvers</label>
        <locationX>1125</locationX>
        <locationY>1202</locationY>
        <collectionReference>RelatedServiceApprovers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Business_Rule_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Related_Service_Approvers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Related_Service_Approvers</name>
        <label>Clone Related Service Approvers</label>
        <locationX>1129</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Navigate_to_the_Cloned_BR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_BR_Details</targetReference>
        </faultConnector>
        <inputReference>Service_Approvers_To_Be_Cloned</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>1159</locationX>
        <locationY>321</locationY>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <stringValue>Clone Service Approval Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Description__c</field>
            <value>
                <stringValue>Exception occurs while fetching Business Rule Record or Related Service Approval Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Get Record Element Error from Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Id__c</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BR_Details</name>
        <label>Get BR Details</label>
        <locationX>851</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Service_Approvers</name>
        <label>Get Related Service Approvers</label>
        <locationX>857</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Related_Approvers_List_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Approver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_BR_Details</name>
        <label>Display BR Details</label>
        <locationX>617</locationX>
        <locationY>897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Loop_Count</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;New Business Rule: Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!fm_errorMessage} {!exceptionErrorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateRecordList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Rule__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Duplicate Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DuplicateRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Business_rule_name__c&quot;,&quot;guid&quot;:&quot;column-1cb8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Business rule name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Alias__c&quot;,&quot;guid&quot;:&quot;column-63a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Alias&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Alias&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-1f4d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-7c30&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Active&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isDuplicateVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_BR_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_BR_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_BR_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Required</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(237, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&amp;nbsp;= Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Rule_Details</name>
            <fieldText>Business Rule Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Rule_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Is_Auto_Email__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.AccountId__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Dependent_Picklists</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Business_Rule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Request_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Service__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Request Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_BR_Details.Request_Type__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Service</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Get_BR_Details.Service__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Case_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Case Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <elementReference>Get_BR_Details.Case_Reason__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_BR_Details.Request_Type__c</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Get_BR_Details.Service__c</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Get_BR_Details.Case_Reason__c</assignToReference>
                        <name>bottomValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.LocationId__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Schedule_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Effective_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Multiple_Mandatory_Approvers__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Occurrence_Limit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Special_Instructions_Approval__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Rule_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Alias__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Container__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Material__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.NTE_Rules__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>1 OR ( 2 AND ( 3 OR 4 ) )</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_BR_Details.Request_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Service</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_BR_Details.Request_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_BR_Details.Service__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Bulk</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_BR_Details.Service__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Haul Away - No Equipment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Category_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Group__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Project_Code__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.AssetId__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.No_Approval_Required__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_BR_Details.Active__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RelatedServiceApprovers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service_Approver__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Approvers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Service_Approvers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c2a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-425c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Approver__c&quot;,&quot;guid&quot;:&quot;column-a8ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Approver&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Approver&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-a087&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Active&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Requester_Only__c&quot;,&quot;guid&quot;:&quot;column-9a5d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Requester Only&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Requester Only&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Origin__c&quot;,&quot;guid&quot;:&quot;column-589c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Origin&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Origin&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Related_Service_Approvers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>listSize</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Request_Type</name>
        <label>Select Request Type</label>
        <locationX>510</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Request_Type</targetReference>
        </connector>
        <fields>
            <name>Select_Type</name>
            <choiceReferences>Pickup_Choice</choiceReferences>
            <choiceReferences>New_Service_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you like to clone as a New Service Type or Pickup Type?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>725</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_BR_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>businessRuleToStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Cloned_Business_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Approver__c</objectType>
    </variables>
    <variables>
        <name>DuplicateRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>exceptionErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isDuplicateVisible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewBusinessRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>OldBusinessRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>Record_Differences</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Approvers_To_Be_Cloned</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Approver__c</objectType>
    </variables>
</Flow>
