force-app/main/default/flows/Determine_and_Return_Last_Agent_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Return CS Service Resolution agent Username</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LastAgentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastAgentIdCustomLabel</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_the_input_Last_Agent_Id</name>
        <label>Return the input Last Agent Id</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LastAgentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastAgentIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerIdInput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Haul_Away_Case</name>
        <label>Is Haul Away Case?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_the_input_Last_Agent_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Haul_Away_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecord.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_User_Id</targetReference>
            </connector>
            <label>Haul Away Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CSServiceResolutionTeamUserFirstName</name>
        <dataType>String</dataType>
        <expression>{!$Label.CSServiceResolutionTeamUserFirstName}</expression>
    </formulas>
    <formulas>
        <name>CSServiceResolutionTeamUserLastName</name>
        <dataType>String</dataType>
        <expression>{!$Label.CSServiceResolutionTeamUserLastName}</expression>
    </formulas>
    <formulas>
        <name>LastAgentIdCustomLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.CSServiceResolutionTeamUser}</expression>
    </formulas>
    <interviewLabel>Determine and Return Last Agent Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Determine and Return Last Agent Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_User_Id</name>
        <label>Retrieve User Id</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_the_input_Last_Agent_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSServiceResolutionTeamUserFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSServiceResolutionTeamUserLastName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Haul_Away_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LastAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastAgentIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
