force-app/main/default/flows/Email_Notification_for_Vendor_and_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Business Task Notification Record Type</description>
        <name>Get_Business_Task_Notification_Record_Type</name>
        <label>Get Business Task Notification Record Type</label>
        <locationX>534</locationX>
        <locationY>506</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Business_Rule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>BusinessNotificationDefaultValue</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BusinessRuleRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>1556</locationX>
        <locationY>385</locationY>
        <actionName>SendEmailToServiceApproversCntrlr</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brlst</name>
            <value>
                <elementReference>VarBRandCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Task Id, Case Id, Vendor Id</description>
        <name>SendEmailToWMVendorCtrl</name>
        <label>SendEmailToWMVendorCtrl</label>
        <locationX>955</locationX>
        <locationY>140</locationY>
        <actionName>SendEmailToWMVendorCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vendorTaskList</name>
            <value>
                <elementReference>varVendorTaskList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Universal_to_List</name>
        <label>Add Universal to List</label>
        <locationX>1755</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUniversalBR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRecordInput.Process__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>212</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Task_Notification_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BR_ID</name>
        <label>Assign BR ID</label>
        <locationX>1488</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarBusinessRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_BR_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process</name>
        <label>Assign Process</label>
        <locationX>1068</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>VarBusinessRuleProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBusinessRule.Process__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_Business_Process_has_task_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Account_Id</name>
        <label>Assign Vendor Account Id</label>
        <locationX>711</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Assignment</name>
        <label>Process Assignment</label>
        <locationX>1392</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>varProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRecordInput.Process__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assignment_Vendor_Customer_Id</name>
        <label>Check Assignment Vendor Customer Id</label>
        <locationX>526</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalate_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskRecordInput.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Account_Id</targetReference>
            </connector>
            <label>Escalate Vendor</label>
        </rules>
        <rules>
            <name>Escalate_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskRecordInput.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Account_Id</targetReference>
            </connector>
            <label>Escalate Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BR_list</name>
        <label>Check BR list</label>
        <locationX>793</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>Iterate_BR_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Whether_BR_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBusinessRulelst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_BR_list</targetReference>
            </connector>
            <label>Whether BR is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Universal_rule</name>
        <label>Check Universal rule</label>
        <locationX>1761</locationX>
        <locationY>665</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Universal_rule_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUniversalBR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Universal_to_List</targetReference>
            </connector>
            <label>Universal rule present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_BR_is_available</name>
        <label>Check whether BR is available</label>
        <locationX>1382</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessRuleList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Assignment</targetReference>
            </connector>
            <label>Is not Empty</label>
        </rules>
        <rules>
            <name>Universal_Rule</name>
            <conditionLogic>1 AND (2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>BusinessRuleList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRecordInput.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRecordInput.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Universal_Rule</targetReference>
            </connector>
            <label>Universal Rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Business_Process_has_task_Process</name>
        <label>Check Whether Business Process has task Process</label>
        <locationX>1219</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Iterate_BR_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcessCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BR_ID</targetReference>
            </connector>
            <label>Has Process</label>
        </rules>
    </decisions>
    <decisions>
        <description>check WM Vendor exist</description>
        <name>Is_WM_Vendor_Exist</name>
        <label>Is WM Vendor Exist</label>
        <locationX>947</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WM_Vendor_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVendorRecordInput.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToWMVendorCtrl</targetReference>
            </connector>
            <label>Is WM Vendor Available</label>
        </rules>
    </decisions>
    <formulas>
        <name>VarBRandCaseId</name>
        <dataType>String</dataType>
        <expression>{!BusinessRuleList} &amp;&quot;;&quot;&amp;{!varCaseRecordInput.Id}&amp;&quot;;&quot;&amp;{!varGenericValuesMetadataForGroupUser.Id__c}&amp;&quot;;&quot;&amp;{!varProcess}</expression>
    </formulas>
    <formulas>
        <description>Check whether Business Rule has the Process or not.</description>
        <name>VarProcessCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!varTaskRecordInput.Process__c} ,&quot;Escalation Unresponsive Contact Customer&quot;) &amp;&amp; INCLUDES({!VarBusinessRuleProcess}, &quot;Escalation Unresponsive Contact Customer&quot;),true,IF(ISPICKVAL({!varTaskRecordInput.Process__c} ,&quot;Escalation Unresponsive Contact Vendor&quot;) &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Unresponsive Contact Vendor&quot;),true,false))</expression>
    </formulas>
    <formulas>
        <description>get Task, Case and Vendor Record</description>
        <name>varVendorTaskList</name>
        <dataType>String</dataType>
        <expression>{!varTaskRecordInput.Id} &amp;&quot;;&quot;&amp;{!varCaseRecordInput.Id}&amp;&quot;;&quot;&amp;{!varAccountId}</expression>
    </formulas>
    <interviewLabel>Email Notification for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Notification for Vendor and Customer</label>
    <loops>
        <description>Iterate the fetched Business Rule list</description>
        <name>Iterate_BR_list</name>
        <label>Iterate BR list</label>
        <locationX>1059</locationX>
        <locationY>556</locationY>
        <assignNextValueToReference>VarBusinessRule</assignNextValueToReference>
        <collectionReference>VarBusinessRulelst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Process</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_whether_BR_is_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Rule</name>
        <label>Get Business Rule</label>
        <locationX>800</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BR_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessRuleRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Universal_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>VarBusinessRulelst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Universal_Rule</name>
        <label>Get Universal Rule</label>
        <locationX>1591</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Universal_rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessRuleRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Universal_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>varUniversalBR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Vendor records</description>
        <name>Get_Vendor_Records</name>
        <label>Get Vendor Records</label>
        <locationX>802</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_WM_Vendor_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varVendorRecordInput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WM_Vendor__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Task_Id_For_Flow_URL__c field on Case to further use in Flow URL</description>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>532</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Check_Assignment_Vendor_Customer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecordInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Task_Id_For_Flow_URL__c</field>
            <value>
                <elementReference>varTaskRecordInput.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>406</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessNotificationDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business_Rule__c;Task_Notification</stringValue>
        </value>
    </variables>
    <variables>
        <description>stores list of BR&apos;s</description>
        <name>BusinessRuleList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store Business Rule Record Type Id</description>
        <name>BusinessRuleRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CaseId</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores Default User Id</description>
        <name>GroupUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Get WM Vendor</description>
        <name>IsWMVendor</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBusinessRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>VarBusinessRulelst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Business Rule Process Field</description>
        <name>VarBusinessRuleProcess</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varGenericValuesMetadataForGroupUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <description>Hold Task process name</description>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>universal business rule record.</description>
        <name>varUniversalBR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>get Vendor Record</description>
        <name>varVendorRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
