force-app/main/default/flows/Escalation_Task_Creation_Non_Pickup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FetchAccountContact_RollOff</name>
        <label>FetchAccountContact-RollOff</label>
        <locationX>1092</locationX>
        <locationY>448</locationY>
        <actionName>FetchAccountContactByRole</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Escalation_Vendor_Available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>role</name>
            <value>
                <stringValue>2nd Dispatch Escalation-RollOff</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>varCaseRecordInput.Supplier__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accContactRecCount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Escalation_Task_RecordType</name>
        <label>Get Escalation Task RecordType</label>
        <locationX>380</locationX>
        <locationY>602</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_GetNonPickupBusinessTime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>varNonPickUpEscalation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varTaskRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetAccountContact_Commercial</name>
        <label>GetAccountContact - Commercial</label>
        <locationX>1094</locationX>
        <locationY>212</locationY>
        <actionName>FetchAccountContactByRole</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Escalation_Vendor_Available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>role</name>
            <value>
                <stringValue>2nd Dispatch Escalation-Commercial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>varCaseRecordInput.Supplier__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accContactRecCount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_GetNonPickupBusinessTime</name>
        <label>Invoke GetNonPickupBusinessTime</label>
        <locationX>589</locationX>
        <locationY>602</locationY>
        <actionName>GetNonPickupBusinessTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_Task_Assignment_Subflow_To_Assign_Task_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>baseDateTime</name>
            <value>
                <elementReference>varBaseDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>varBusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>considerBusinessHours</name>
            <value>
                <elementReference>varNonPickupFrameworkMdt.Consider_Business_Hours__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayTimeInterval</name>
            <value>
                <elementReference>varNonPickupFrameworkMdt.Due_date_Time_Interval__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDueDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ObtainVendorUpdateRT</name>
        <label>ObtainVendorUpdateRT</label>
        <locationX>1861</locationX>
        <locationY>255</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>populateTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <stringValue>Task;Follow_Up</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Vendor_Account_Id</name>
        <label>Assign Vendor Account Id</label>
        <locationX>795</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escalation_Task_Creation_Details</name>
        <label>Escalation Task Creation Details</label>
        <locationX>1690</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActivityDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Tech_Contact_Account_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNonPickupFrameworkMdt.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIsGenesysUserInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskOwnerIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Profile_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.PurchaseOrder_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubjectEscalation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Escalation_task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escalation_Task_Creation_Details_Customer</name>
        <label>Escalation Task Creation Details Customer</label>
        <locationX>1704</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActivityDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Contact_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNonPickupFrameworkMdt.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIsGenesysUserInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskOwnerIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Profile_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.PurchaseOrder_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubjectEscalation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Escalation_task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populateTask</name>
        <label>populateTask</label>
        <locationX>2050</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Contact_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This vendor is missing the 2nd Dispatch Escalation Contact information, please determine who is the correct Escalation Contact, create a Service Escalation Task and assign to them.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Vendor Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Vendor Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtainVendorUpdateRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obtainVendorUpdateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This vendor is missing the 2nd Dispatch Escalation Contact information, please determine who is the correct Escalation Contact, create a Service Escalation Task and assign to them.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Obtain_Vendor_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Escalation_task_List</name>
        <label>Return Escalation task List</label>
        <locationX>2054</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFollowupTask</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>NONPICKUPFOLLOWUP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task;Non_Pickup_Follow_up_Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>varNonPickUpEscalation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task;Non_Pickup_Escalation_Task</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckProductFamily</name>
        <label>CheckProductFamily</label>
        <locationX>842</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFamily_RollOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordInput.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RollOff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchAccountContact_RollOff</targetReference>
            </connector>
            <label>ProductFamily - RollOff</label>
        </rules>
        <rules>
            <name>ProductFamily_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordInput.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountContact_Commercial</targetReference>
            </connector>
            <label>ProductFamily - Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWMVendor</name>
        <label>CheckWMVendor</label>
        <locationX>971</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Is_Unresponsive_Vendor_or_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WMVendorTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>supplierRecord.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckProductFamily</targetReference>
            </connector>
            <label>WMVendorTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Task_Creation_Check</name>
        <label>Escalation Task Creation Check</label>
        <locationX>150</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttemptInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Escalation_Task_RecordType</targetReference>
            </connector>
            <label>Escalation Task Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Escalation_Vendor_Available</name>
        <label>Is Escalation Vendor Available</label>
        <locationX>1336</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ObtainVendorUpdateRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Vendor_Available_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accContactRecCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Unresponsive_Vendor_or_Customer</targetReference>
            </connector>
            <label>Escalation Vendor Available True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unresponsive_Vendor_or_Customer</name>
        <label>Is Unresponsive Vendor or Customer</label>
        <locationX>1338</locationX>
        <locationY>672</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNonPickupFrameworkMdt.Parameter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Task_Creation_Details</targetReference>
            </connector>
            <label>Is Vendor</label>
        </rules>
        <rules>
            <name>Is_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNonPickupFrameworkMdt.Parameter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Task_Creation_Details_Customer</targetReference>
            </connector>
            <label>Is Customer</label>
        </rules>
    </decisions>
    <formulas>
        <name>varActivityDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varDueDateTime})</expression>
    </formulas>
    <interviewLabel>Escalation Task Creation Non Pickup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation Task Creation Non Pickup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Obtain_Vendor_Update</name>
        <label>Create Obtain Vendor Update</label>
        <locationX>2049</locationX>
        <locationY>462</locationY>
        <inputReference>obtainVendorUpdateTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Vendor_Records</name>
        <label>Get Vendor Records</label>
        <locationX>1052</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWMVendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>supplierRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WM_Vendor__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>24</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Escalation_Task_Creation_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Vendor_Contact_Details</name>
        <label>Get Vendor Contact Details</label>
        <locationX>795</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_Vendor_Account_Id</targetReference>
        </connector>
        <flowName>Get_Contact_And_Vendor_Details</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempt</name>
            <value>
                <elementReference>varAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectNameInput</name>
            <value>
                <stringValue>vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactDetailsInput</assignToReference>
            <name>varContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Task_Assignment_Subflow_To_Assign_Task_Owner</name>
        <label>Invoke Task Assignment Subflow To Assign Task Owner</label>
        <locationX>782</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Get_Vendor_Contact_Details</targetReference>
        </connector>
        <flowName>Task_Assignment_Non_PickUp_Subflow</flowName>
        <inputAssignments>
            <name>varCaseRecordInput</name>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericMetaDataInputForGroupUser</name>
            <value>
                <elementReference>varGenericMetaDataInputForGroupUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericValueMetadataInput</name>
            <value>
                <elementReference>varGenericValueMetadataInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>varLastModifiedIdTaskInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempts</name>
            <value>
                <elementReference>varAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <elementReference>varProfileNameForTaskAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeNameInput</name>
            <value>
                <stringValue>Non_Pickup_Escalation_Task</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsGenesysUserInput</assignToReference>
            <name>varIsGenesysUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskOwnerIdInput</assignToReference>
            <name>varTaskOwner</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>accContactRecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>conRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>currentItem_AccountContactFilterByCommercialRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>currentItem_AccountContactFilterByRollOffRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>obtainVendorUpdateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>supplierRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttemptInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBaseDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactDetailsInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDescriptionInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFollowupTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varFollowupTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varGenericMetaDataInputForGroupUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varGenericValueMetadataInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varIsGenesysUserInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedIdTaskInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNonPickupFrameworkMdt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Pickup_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>varProcessInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileNameForTaskAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectEscalation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Escalation - Resolve Service Issue</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTaskOwnerIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
