force-app/main/default/flows/Flow_to_Lock_and_UnLock_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_the_record_is_locked</name>
        <label>Check if the record is locked</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>GetRecordLockedStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Record_Lock_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordLockedStatus</nameSegment>
        <outputParameters>
            <assignToReference>Isrecordlocked</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_if_the_record_is_unlocked</name>
        <label>Check if the record is unlocked</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <actionName>GetRecordLockedStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Record_unLock_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordLockedStatus</nameSegment>
        <outputParameters>
            <assignToReference>Isrecordlocked</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Lock_Quote_Records</name>
        <label>Lock Quote Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UnLock_Quote_Records</name>
        <label>UnLock Quote Records</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Record_Lock_status</name>
        <label>Check for Record Lock status</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_is_unlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isrecordlocked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_Quote_Records</targetReference>
            </connector>
            <label>If record is unlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_unLock_status</name>
        <label>Check for Record unLock status</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_record_is_locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isrecordlocked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnLock_Quote_Records</targetReference>
            </connector>
            <label>If record is locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lock_Quote_and_Quoteline_Records</name>
        <label>Lock Quote and Quoteline Records</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Conditions_to_Lock</name>
            <conditionLogic>((1 OR 2) AND 3 )OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_record_is_locked</targetReference>
            </connector>
            <label>Check for Conditions to Lock</label>
        </rules>
        <rules>
            <name>If_the_integration_status_is_failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_record_is_unlocked</targetReference>
            </connector>
            <label>If the integration status is failure</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow to Lock and UnLock Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Lock and UnLock Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lock_Quote_and_Quoteline_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>Isrecordlocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
