force-app/main/default/flows/Followup_Task_Creation_Non_Pickup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_FollowUp_Task_RecordType</name>
        <label>Get FollowUp Task RecordType</label>
        <locationX>277</locationX>
        <locationY>166</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_GetNonPickupBusinessTime</targetReference>
        </connector>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>NONPICKUPFOLLOWUP</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varTaskRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_GetNonPickupBusinessTime</name>
        <label>Invoke GetNonPickupBusinessTime</label>
        <locationX>456</locationX>
        <locationY>165</locationY>
        <actionName>GetNonPickupBusinessTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_Task_Assignment_Subflow_To_Assign_Task_Owner</targetReference>
        </connector>
        <inputParameters>
            <name>baseDateTime</name>
            <value>
                <elementReference>varBaseDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>varBusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>considerBusinessHours</name>
            <value>
                <elementReference>varNonPickUpFrameworkMtd.Consider_Business_Hours__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayTimeInterval</name>
            <value>
                <elementReference>varNonPickUpFrameworkMtd.Due_date_Time_Interval__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDueDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Case_List</name>
        <label>Add Case List</label>
        <locationX>581</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>caseLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Alternate_Contact_Provided</name>
        <label>Alternate Contact Provided</label>
        <locationX>1262</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.Is_Alternate_Contact_Provided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTaskRec.Alternate_Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTaskRec.Alternate_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhoId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Return_Followup_task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Alternate_Contacts</name>
        <label>Assign Alternate Contacts</label>
        <locationX>1564</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.Is_Alternate_Contact_Provided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTaskRec.Is_Alternate_Contact_Provided__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTaskRec.Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentTaskRec.Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhoId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Return_Followup_task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Manual_Invocation</name>
        <label>Assign Case Manual Invocation</label>
        <locationX>707</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecordInput.Manual_Invocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttemptInput</name>
        <label>AttemptInput</label>
        <locationX>971</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>varAttemptInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Followup_Task_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escalation_Unresponsive_Contact_Vendor</name>
        <label>Escalation Unresponsive Contact Vendor</label>
        <locationX>1385</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Followup_task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Followup_Task_Creation</name>
        <label>Followup Task Creation</label>
        <locationX>1087</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActivityDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAttemptInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Tech_Contact_Account_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNonPickUpFrameworkMtd.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIsGenesysUserInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskOwnerIdInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Profile_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.PurchaseOrder_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactDetailsInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowupTask.Service_Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceClassification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResolveServiceIssuetasked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Followup_task_List</name>
        <label>Return Followup task List</label>
        <locationX>1096</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>varFollowupTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFollowupTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Process_is_RSI</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NONPICKUPFOLLOWUP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task;Non_Pickup_Follow_up_Task</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if the task &quot;Resolve service issue&quot;, then update manual invocation field to false on case object</description>
        <name>Check_if_Process_is_RSI</name>
        <label>Check if Process is RSI</label>
        <locationX>902</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_is_RSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve service issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Manual_Invocation</targetReference>
            </connector>
            <label>Process is RSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_up_Task_Creation_Check</name>
        <label>Follow up Task Creation Check</label>
        <locationX>50</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Task_Creation</name>
            <conditionLogic>(1 AND 2 AND (3 OR (4 AND 5)))</conditionLogic>
            <conditions>
                <leftValueReference>varAttemptInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentTaskRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentTaskRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentTaskRec.Is_Stop_Task_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FollowUp_Task_RecordType</targetReference>
            </connector>
            <label>Follow Task Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_Check</name>
        <label>Outcome Check</label>
        <locationX>699</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Vendor_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Evidence_Recieved_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNonPickUpFrameworkMtd.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Evidence Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNonPickUpFrameworkMtd.Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_and_Vendor_Details</targetReference>
            </connector>
            <label>Service Evidence Recieved Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>Alternate Contact Provided  creates Resolve Service Issue task</description>
        <name>ResolveServiceIssuetasked</name>
        <label>Resolve Service Issue task</label>
        <locationX>1093</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Return_Followup_task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNonPickUpFrameworkMtd.Process_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternate_Contact_Provided</targetReference>
            </connector>
            <label>Is Escalated</label>
        </rules>
        <rules>
            <name>Is_Escalation_Unresponsive_Contact_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNonPickUpFrameworkMtd.Process_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Unresponsive_Contact_Vendor</targetReference>
            </connector>
            <label>Is Escalation Unresponsive Contact Vendor</label>
        </rules>
        <rules>
            <name>If_RSI_Attempt2_from_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentTaskRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentTaskRec.Is_Alternate_Contact_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcessInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve Service Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAttemptInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alternate_Contacts</targetReference>
            </connector>
            <label>If RSI Attempt2 from Escalation</label>
        </rules>
    </decisions>
    <description>To Create Follow Up Task for Non Pickup</description>
    <formulas>
        <name>varActivityDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varDueDateTime})</expression>
    </formulas>
    <interviewLabel>Follow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Followup Task Creation Non Pickup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>238</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Follow_up_Task_Creation_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Contact_and_Vendor_Details</name>
        <label>Get Contact and Vendor Details</label>
        <locationX>841</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>AttemptInput</targetReference>
        </connector>
        <flowName>Get_Contact_And_Vendor_Details</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempt</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectNameInput</name>
            <value>
                <stringValue>vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactDetailsInput</assignToReference>
            <name>varContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Vendor_Details</name>
        <label>Get Contact Vendor Details</label>
        <locationX>918</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Followup_Task_Creation</targetReference>
        </connector>
        <flowName>Get_Contact_And_Vendor_Details</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempt</name>
            <value>
                <elementReference>varAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectNameInput</name>
            <value>
                <stringValue>vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactDetailsInput</assignToReference>
            <name>varContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Task_Assignment_Subflow_To_Assign_Task_Owner</name>
        <label>Invoke Task Assignment Subflow To Assign Task Owner</label>
        <locationX>587</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Outcome_Check</targetReference>
        </connector>
        <flowName>Task_Assignment_Non_PickUp_Subflow</flowName>
        <inputAssignments>
            <name>varCaseRecordInput</name>
            <value>
                <elementReference>varCaseRecordInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericValueMetadataInput</name>
            <value>
                <elementReference>varGenericValueMetadataInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumberOfAttempts</name>
            <value>
                <elementReference>varAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>varProcessInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeNameInput</name>
            <value>
                <stringValue>Non_Pickup_Follow_up_Task</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsGenesysUserInput</assignToReference>
            <name>varIsGenesysUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskOwnerIdInput</assignToReference>
            <name>varTaskOwner</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>caseLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAttemptInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBaseDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactDetailsInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCurrentTaskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varDescriptionInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFollowupTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varFollowupTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varGenericValueMetadataInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varIsGenesysUserInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedIdTaskInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNonPickUpFrameworkMtd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Pickup_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>varProcessInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileNameForTaskAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskOwnerIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
