force-app/main/default/flows/Get_Contact_And_Vendor_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Evaluated_Contact_Id</name>
        <label>Get Evaluated Contact Id</label>
        <locationX>502</locationX>
        <locationY>131</locationY>
        <actionName>GetEvaluatedContactId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_EvaluatedId_is_Available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_EvaluatedId_is_Available</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>varCaseRecord.Supplier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfAttempt</name>
            <value>
                <elementReference>varNumberOfAttempt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productFamily</name>
            <value>
                <elementReference>varCaseRecord.Tech_Asset_ProductFamily__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEvaluatedContactIdFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_BLANK_If_No_AccountContactRelation_Record_Found</name>
        <label>Set BLANK If No AccountContactRelation Record Found</label>
        <locationX>253</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>varContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord.Tech_Contact_Account_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_EvaluatedId_is_Available</name>
        <label>Check EvaluatedId is Available</label>
        <locationX>446</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Set_BLANK_If_No_AccountContactRelation_Record_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_EvaluatedId_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEvaluatedContactIdFromApex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEvaluatedContactIdFromApex</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Contact_Details</targetReference>
            </connector>
            <label>Is EvaluatedId is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluated_Id_check</name>
        <label>Evaluated Id check</label>
        <locationX>162</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_evaluated_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEvaluatedContactIdFromApex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Evaluated_Contact_Id</targetReference>
            </connector>
            <label>Is evaluated Id</label>
        </rules>
    </decisions>
    <formulas>
        <name>var1stDispatchEscalationCommercial</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;1st Dispatch Escalation-Commercial&quot;)),{!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; OR(INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Commercial&quot;),INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;)),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <formulas>
        <name>var1stDispatchEscalationRolloff</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;1st Dispatch Escalation-Rolloff&quot;)),{!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; OR(INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Rolloff&quot;), INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;)),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <formulas>
        <name>var2ndDispatchEscalationCommercial</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;2nd Dispatch Escalation-Commercial&quot;)),{!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; OR(INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;1st Dispatch Escalation-Commercial&quot;), INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Commercial&quot;),INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;)),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <formulas>
        <name>var2ndDispatchEscalationRolloff</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;2nd Dispatch Escalation-Rolloff&quot;)),{!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; OR(INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;1st Dispatch Escalation-Rolloff&quot;), INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Rolloff&quot;), INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;)),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <formulas>
        <name>varDispatchCommercial</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Commercial&quot;)),{!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <formulas>
        <name>varDispatchRolloff</name>
        <dataType>String</dataType>
        <expression>IF(({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch - Rolloff&quot;)), {!varIterateAccountContactRecords.ContactId},IF({!varCaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!varIterateAccountContactRecords.Roles}, &quot;Dispatch&quot;),{!varIterateAccountContactRecords.ContactId},Null))</expression>
    </formulas>
    <interviewLabel>Get Contact And Vendor Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Contact And Vendor Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vendor_Contact_Details</name>
        <label>Get Vendor Contact Details</label>
        <locationX>850</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEvaluatedContactIdFromApex</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tech_Contact_Account_Title__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Evaluated_Id_check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varAccountContactRelationRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varCaseIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEvaluatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEvaluatedContactIdFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIterateAccountContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varNumberOfAttempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varObjectNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
