force-app/main/default/flows/Get_More_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This class is invoked where in to convert appended input string parameter to list</description>
        <name>Invoke_to_Convert_String_to_List</name>
        <label>Invoke to Convert String to List</label>
        <locationX>176</locationX>
        <locationY>166</locationY>
        <actionName>SplitStringToListCntrlr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputstr</name>
            <value>
                <elementReference>varObjectNames</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varObjectNameslst</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assignment for caseid</description>
        <name>Assign_Caseid_as_Object_Id</name>
        <label>Assign Caseid as Object Id</label>
        <locationX>721</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>varCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Con_Id</name>
        <label>Assign Con Id</label>
        <locationX>1292</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDispatchRolloffCommercialConId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vendor_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Dispatch Contact Id</description>
        <name>Assign_Dispatch_Contact_Id</name>
        <label>Assign Dispatch Contact Id</label>
        <locationX>1437</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AccountContact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>evaluate when Roll off or Commercial product is available but Similar kind of Contact role is not available then Dispatch contact will be displayed.</description>
        <name>Assign_Dispatch_Contact_on_NO_Rolloff_Or_Commercial_Contact</name>
        <label>Assign Dispatch Contact on NO Rolloff Or Commercial Contact</label>
        <locationX>1300</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RollOffCommercialProductFamilyButDispatchContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AccountContact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DispatchRolloffCommercia_Contact_Id</name>
        <label>Assign DispatchRolloffCommercia Contact Id</label>
        <locationX>1554</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varDispatchRolloffCommercialConId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchRolloffCommercialContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AccountContact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of ObjectId to Case Id</description>
        <name>Assign_ObjectId_To</name>
        <label>Assign ObjectId To CaseId</label>
        <locationX>738</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>varCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign RollOffCommercialContact</description>
        <name>Assign_RollOffCommercialContact</name>
        <label>Assign RollOffCommercialContact</label>
        <locationX>1175</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>EvaluatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RollOffCommercialContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AccountContact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of ObjectId to W/O</description>
        <name>Assignment_of_ObjectId_to_W_O</name>
        <label>Assign ObjectId to W/O</label>
        <locationX>739</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>varDefaultTaskObjectValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </constants>
    <decisions>
        <description>AccountContact Null check</description>
        <name>AccountContact_Null_check</name>
        <label>AccountContact Null check</label>
        <locationX>714</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountContactRecord_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountContactRecordslst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_AccountContact_Records</targetReference>
            </connector>
            <label>AccountContactRecord is available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check if the record is availbale</description>
        <name>AccountContact_Rec_Available</name>
        <label>AccountContact Rec Available</label>
        <locationX>720</locationX>
        <locationY>812</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountContact_Record_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountContactRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Contact</targetReference>
            </connector>
            <label>AccountContact Record Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DispatchRolloffCommercial_Id</name>
        <label>Check DispatchRolloffCommercial Id</label>
        <locationX>1161</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Get_Vendor_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_DispatchRolloffCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDispatchRolloffCommercialConId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Con_Id</targetReference>
            </connector>
            <label>Check DispatchRolloffCommercial</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to Evaluate product family and Role</description>
        <name>Check_ProductFamily_and_Role</name>
        <label>Check ProductFamily and Role</label>
        <locationX>951</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Iterate_AccountContact_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RollOff_Or_Commercial</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rolloff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RollOffCommercialContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RollOffCommercialContact</targetReference>
            </connector>
            <label>If RollOff Or Commercial</label>
        </rules>
        <rules>
            <name>DispatchRolloffCommercial</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rolloff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchRolloffCommercialContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DispatchRolloffCommercia_Contact_Id</targetReference>
            </connector>
            <label>DispatchRolloffCommercial</label>
        </rules>
        <rules>
            <name>RollOff_or_Commercial_But_Display_Dipatch</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rolloff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RollOffCommercialProductFamilyButDispatchContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvaluatedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dispatch_Contact_on_NO_Rolloff_Or_Commercial_Contact</targetReference>
            </connector>
            <label>RollOff or Commercial But Display Dipatch</label>
        </rules>
        <rules>
            <name>If_Dispatch</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rolloff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Asset_ProductFamily__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dispatch_Contact_Id</targetReference>
            </connector>
            <label>If Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Object Name is not empty</description>
        <name>Input_Parameters_Check</name>
        <label>Input Parameters Check</label>
        <locationX>342</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Details_for_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultCaseObjectValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Required Details for Case</label>
        </rules>
        <rules>
            <name>Required_Details_for_W_O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultWorkOrderValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Record</targetReference>
            </connector>
            <label>Required Details for W/O</label>
        </rules>
        <rules>
            <name>Required_W_O_based_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultWorkOrderValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_W_O_Based_on_Case</targetReference>
            </connector>
            <label>Required W/O based on Case</label>
        </rules>
        <rules>
            <name>Required_Details_for_Case_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefaultCaseAssetName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Asset</targetReference>
            </connector>
            <label>Required Details for Case Asset</label>
        </rules>
        <rules>
            <name>Required_Details_for_vendor_Dispatch_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VendorDispatchContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VendorDispatch_Details</targetReference>
            </connector>
            <label>Required Details for vendor Dispatch contact</label>
        </rules>
        <rules>
            <name>Required_Details_for_Customer_Account_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Contact_Details</targetReference>
            </connector>
            <label>Required Details for Customer Account Contact</label>
        </rules>
        <rules>
            <name>Required_Details_for_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectNamelstOP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varDefaultTaskObjectValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskRec.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskRec.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response/Pending Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task</targetReference>
            </connector>
            <label>Required Details for Task</label>
        </rules>
    </decisions>
    <description>This flow is used to fetch more details based on the input object names being passed</description>
    <formulas>
        <description>Evaluates to fetch Dispatch Contact Id</description>
        <name>DispatchContactId</name>
        <dataType>String</dataType>
        <expression>IF(({!CaseRecord.Tech_Asset_ProductFamily__c} != &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch&quot;)) &amp;&amp; ({!CaseRecord.Tech_Asset_ProductFamily__c} != &apos;Commercial&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch&quot;)),{!AccountContactRecord.ContactId},Null)</expression>
    </formulas>
    <formulas>
        <name>DispatchRolloffCommercialContactId</name>
        <dataType>String</dataType>
        <expression>IF(({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch - Rolloff&quot;)) ||
({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch - Commercial&quot;)),{!AccountContactRecord.ContactId},Null)</expression>
    </formulas>
    <formulas>
        <description>To evaluate if Roll Off or Commercial Product and Role</description>
        <name>RollOffCommercialContactId</name>
        <dataType>String</dataType>
        <expression>IF(({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Rolloff Service/Dispatch&quot;)) || ({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Commercial Service/Dispatch&quot;)),{!AccountContactRecord.ContactId},Null)</expression>
    </formulas>
    <formulas>
        <description>This formula is to evaluate when Roll off or Commercial product is available but Similar kind of Contact role is not available so Dispatch contact will be displayed.</description>
        <name>RollOffCommercialProductFamilyButDispatchContactId</name>
        <dataType>String</dataType>
        <expression>IF(({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Rolloff&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch&quot;)) ||
({!CaseRecord.Tech_Asset_ProductFamily__c} == &apos;Commercial&apos; &amp;&amp; INCLUDES( {!AccountContactRecord.Roles}, &quot;Dispatch&quot;)),{!AccountContactRecord.ContactId},Null)</expression>
    </formulas>
    <interviewLabel>Get More Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get More Details</label>
    <loops>
        <description>Iterate Account Contact Records</description>
        <name>Iterate_AccountContact_Records</name>
        <label>Iterate AccountContact Records</label>
        <locationX>964</locationX>
        <locationY>525</locationY>
        <assignNextValueToReference>AccountContactRecord</assignNextValueToReference>
        <collectionReference>AccountContactRecordslst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ProductFamily_and_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_DispatchRolloffCommercial_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop is to iterate all the objects</description>
        <name>Loop_Object_Names</name>
        <label>Loop Object Names</label>
        <locationX>178</locationX>
        <locationY>296</locationY>
        <assignNextValueToReference>varObjectNamelstOP</assignNextValueToReference>
        <collectionReference>varObjectNameslst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Input_Parameters_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the Case Asset Details</description>
        <name>Get_Case_Asset</name>
        <label>Get Case Asset</label>
        <locationX>552</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Caseid_as_Object_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </filters>
        <object>SBS_Case_Asset__c</object>
        <outputReference>CaseAssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Id_of_Asset_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Case Details</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>549</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ObjectId_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Tech_Asset_ProductFamily__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>Reference_Number__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Contact_Title__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Last_Agent_ID__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Sub_Status__c</queriedFields>
        <queriedFields>Service_Date_Time_Formula__c</queriedFields>
        <queriedFields>Service_Date_for_CSC__c</queriedFields>
        <queriedFields>Service_Date_for_OSC__c</queriedFields>
        <queriedFields>Due_Date_Time_for_CSC__c</queriedFields>
        <queriedFields>Due_Date_Time_for_OSC__c</queriedFields>
        <queriedFields>Due_Date_Time_for_CSC_Location__c</queriedFields>
        <queriedFields>PurchaseOrder_Number__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Profile_Number__c</queriedFields>
        <queriedFields>Override_Profile_Number_Task__c</queriedFields>
        <queriedFields>Override_PO_Create_Task__c</queriedFields>
        <queriedFields>Last_Agent_Id_ForTaskAssignment__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Source_System__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Company_Category__c</queriedFields>
        <queriedFields>Override_Company_Category_Create_Task__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch Evaluated Customer Contact Record</description>
        <name>Get_Customer_Contact</name>
        <label>Get Customer Contact</label>
        <locationX>993</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountContactRec.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EvaluatedCustomerContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Tech_Contact_Account_Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch Customer Contact Details</description>
        <name>Get_Customer_Contact_Details</name>
        <label>Get Customer Contact Details</label>
        <locationX>556</locationX>
        <locationY>811</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountContact_Rec_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AccountContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Task Record</description>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>321</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Log__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskRec.Approval_Log__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multi Case Approval Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskRec.WhatId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>VarReturnTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetched Vendor Contact Record</description>
        <name>Get_Vendor_Contact</name>
        <label>Get Vendor Contact</label>
        <locationX>950</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EvaluatedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EvaluatedVendorContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Tech_Contact_Account_Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch Account Contact</description>
        <name>Get_VendorDispatch_Details</name>
        <label>Get VendorDispatch Details</label>
        <locationX>560</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountContact_Null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Supplier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AccountContactRecordslst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Roles</queriedFields>
        <queriedFields>Tech_Contact_Status__c</queriedFields>
        <queriedFields>Tech_Contact_Created_Date__c</queriedFields>
        <sortField>Tech_Contact_Created_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Fetch W/O details based on Case</description>
        <name>Get_W_O_Based_on_Case</name>
        <label>Get W/O Based on Case</label>
        <locationX>550</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Holds the W/O details</description>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>554</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_ObjectId_to_W_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vendor_Account_Id__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Invoke_to_Convert_String_to_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the Id of Account Contact after evaluation</description>
        <name>AccountContactList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>AccountContact Record</description>
        <name>AccountContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Account contact records list</description>
        <name>AccountContactRecordslst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>holds the case asset record</description>
        <name>CaseAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBS_Case_Asset__c</objectType>
    </variables>
    <variables>
        <description>To hold Case Record details</description>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contactcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DefaultCaseAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SBS_Case_Asset</stringValue>
        </value>
    </variables>
    <variables>
        <description>Holds the default value as Case</description>
        <name>DefaultCaseObjectValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold Default W/O value</description>
        <name>DefaultWorkOrderValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>WorkOrder</stringValue>
        </value>
    </variables>
    <variables>
        <description>Contact Id field to store evaluated contact id</description>
        <name>EvaluatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EvaluatedCustomerContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Fetch Evaluated Vendor Contact Record</description>
        <name>EvaluatedVendorContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>GetFormulaText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store roles</description>
        <name>varAccountContactRoles</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDispatchRolloffCommercialConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Object Id</description>
        <name>varObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>loop variable to iterate Object Names</description>
        <name>varObjectNamelstOP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the comma seperated object Names</description>
        <name>varObjectNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This list holds the list of input strings</description>
        <name>varObjectNameslst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarReturnTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarTaskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Holds the Work Order Details fetch based on Case</description>
        <name>WorkOrderBasedOnCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Holds The W/O record</description>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
