force-app/main/default/flows/Get_The_BR_for_PO_required_information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_business_rule_to_the_list</name>
        <label>Add business rule to the list</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>BusinessRulesToUse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_PO_Mandatory_Only</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_for_PO_Mandatory_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Mandatory2_0</name>
        <label>Update PO Mandatory2</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteRecord.PO_Mandatory__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>NS_TEMP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_BRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Mandatory3_0</name>
        <label>Update PO Mandatory3</label>
        <locationX>1194</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteRecord.PO_Mandatory__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>PCK_ER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_BRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Mandatory4_0</name>
        <label>Update PO Mandatory4</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteRecord.PO_Mandatory__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>PCK_OC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_BRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Mandatory5_0</name>
        <label>Update PO Mandatory5</label>
        <locationX>2074</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteRecord.PO_Mandatory__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>PCK_EXPCK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_BRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Mandatory_0</name>
        <label>Update PO Mandatory</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteRecord.PO_Mandatory__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>NS_PERM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_BRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_BR_exists</name>
        <label>Check if BR exists</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessRulesToUse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NS_PERM_exists</name>
        <label>Check if NS_PERM exists</label>
        <locationX>226</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Mandatory_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentQuoteRecord.PO_Mandatory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NS_PERM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NS_TEMP_exists</name>
        <label>Check if NS_TEMP exists</label>
        <locationX>666</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Mandatory2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentQuoteRecord.PO_Mandatory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NS_TEMP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PCK_ER_exists</name>
        <label>Check if PCK_ER exists</label>
        <locationX>1106</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Mandatory3_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentQuoteRecord.PO_Mandatory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PCK_ER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PCK_EXPCK_exists</name>
        <label>Check if PCK_EXPCK exists</label>
        <locationX>1986</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Mandatory5_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentQuoteRecord.PO_Mandatory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PCK_EXPCK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PCK_OC_exists</name>
        <label>Check if PCK_OC exists</label>
        <locationX>1546</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Mandatory4_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentQuoteRecord.PO_Mandatory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PCK_OC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_BRs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_mandatory_in_BR_s</name>
        <label>Check PO mandatory in BR&apos;s</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Filter_for_PO_Mandatory_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_then_get_the_BR_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_PO_Mandatory_Only.Required_Information__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_business_rule_to_the_list</targetReference>
            </connector>
            <label>Yes, then get the BR&apos;s</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Request_Type</name>
        <label>Check Request Type</label>
        <locationX>1282</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_BRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NS_PERM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_NS_PERM_exists</targetReference>
            </connector>
            <label>NS_PERM</label>
        </rules>
        <rules>
            <name>NS_TEMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_NS_TEMP_exists</targetReference>
            </connector>
            <label>NS_TEMP</label>
        </rules>
        <rules>
            <name>PCK_ER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empty and Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PCK_ER_exists</targetReference>
            </connector>
            <label>PCK_ER</label>
        </rules>
        <rules>
            <name>PCK_OC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PCK_OC_exists</targetReference>
            </connector>
            <label>PCK_OC</label>
        </rules>
        <rules>
            <name>PCK_EXPCK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_BRs.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extra Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PCK_EXPCK_exists</targetReference>
            </connector>
            <label>PCK_EXPCK</label>
        </rules>
    </decisions>
    <description>Get The BR for PO required information</description>
    <interviewLabel>Get The BR for PO information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get The BR for PO required information</label>
    <loops>
        <description>Since Flow Queries do not have INCLUDES for MSP in Filters, using this workaround.</description>
        <name>Filter_for_PO_Mandatory_Only</name>
        <label>Filter for PO Mandatory Only</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_the_BR_for_PO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_PO_mandatory_in_BR_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_BR_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_BRs</name>
        <label>Iterate over BRs</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <collectionReference>BusinessRulesToUse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Request_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quote_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Account</name>
        <label>Get Parent Account</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_BR_for_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLocationId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the BR for related Parent Account or Account Location when PO is required</description>
        <name>Get_the_BR_for_PO</name>
        <label>Get the BR for PO</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_PO_Mandatory_Only</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Required_Information__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLocation.Parent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Quote_Update</name>
        <label>Quote Update</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <inputReference>CurrentQuoteRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessRulesToUse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>CurrentQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
