force-app/main/default/flows/Get_Details_Non_Pick_Up_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Input_Parameters</name>
        <label>Check Input Parameters</label>
        <locationX>390</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Get_Non_Pickup_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Case_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseIdInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Detail</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Detail</targetReference>
            </connector>
            <label>Get Case Records</label>
        </rules>
        <rules>
            <name>Get_Business_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BusinessHours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBusinessHour</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Business_Hour_Details</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Hour_Details</targetReference>
            </connector>
            <label>Get Business Hours</label>
        </rules>
        <rules>
            <name>Get_Task_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varObjectTypeInput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRecInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Get Task Records</label>
        </rules>
    </decisions>
    <formulas>
        <name>varVendor</name>
        <dataType>String</dataType>
        <expression>IF(
	AND(
		{!varSource} = &apos;Task&apos;,
		{!varOutcomeText} = &apos;No Response/Pending Response&apos;
	), 
	IF({!varCaseRecord.Supplier__r.Parent.AccountNumber} = &apos;8&apos;,&apos;WM&apos;, &apos;RSG&apos;),
	&apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Get Details Non Pick Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Details Non Pick Up Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Hour_Details</name>
        <label>Get Business Hour Details</label>
        <locationX>586</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Input_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeZoneSidKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Location__r.tz__Timezone_SFDC__c</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputReference>varBusinessHour</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Detail</name>
        <label>Get Case Record Detail</label>
        <locationX>711</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Input_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIdInput</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Tech_Asset_ProductFamily__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>Reference_Number__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Contact_Title__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Last_Agent_ID__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Sub_Status__c</queriedFields>
        <queriedFields>PurchaseOrder_Number__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Profile_Number__c</queriedFields>
        <queriedFields>Override_Profile_Number_Task__c</queriedFields>
        <queriedFields>Override_PO_Create_Task__c</queriedFields>
        <queriedFields>Last_Agent_Id_ForTaskAssignment__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Proposed_Service_Date__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Manual_Invocation__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>Source_System__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CallCentreText__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Values_Custom_Metadata</name>
        <label>Get Generic Values Custom Metadata</label>
        <locationX>1004</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Generic_Values_Custom_Metadata_For_Group_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputReference>varGenericValuesCustomMetaData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Values_Custom_Metadata_For_Group_User</name>
        <label>Get Generic Values Custom Metadata For Group User</label>
        <locationX>1003</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputReference>varGetGenericMetaDataForGroupUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Pickup_Metadata</name>
        <label>Get Non Pickup Metadata</label>
        <locationX>1001</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Generic_Values_Custom_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_of_Attempt__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNumAttempt</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOutcomeText</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Classification__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varServiceClassification</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVendor</elementReference>
            </value>
        </filters>
        <object>Non_Pickup_Framework__mdt</object>
        <outputReference>varNonPickupRecordMetadataList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Next_Action__c</queriedFields>
        <queriedFields>No_of_Attempt__c</queriedFields>
        <queriedFields>Parameter__c</queriedFields>
        <queriedFields>Process_Name__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Consider_Business_Hours__c</queriedFields>
        <queriedFields>Due_date_Time_Interval__c</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecords</name>
        <label>GetTaskRecords</label>
        <locationX>1142</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Input_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskRecInput.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Stop_Task_Creation__c</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Attempt__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>Alternate_Contact_Email__c</queriedFields>
        <queriedFields>Alternate_Contact_Number__c</queriedFields>
        <queriedFields>Is_Alternate_Contact_Provided__c</queriedFields>
        <queriedFields>Is_a_New_Work_Order_Needed__c</queriedFields>
        <queriedFields>Contact_Email__c</queriedFields>
        <queriedFields>Contact_Number__c</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Contact_Title__c</queriedFields>
        <queriedFields>ContactEmail__c</queriedFields>
        <queriedFields>Preferred_Contact_Method__c</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Due_Date_Time__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Proposed_Service_Date__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Is_Genesys_User__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Profile_Number__c</queriedFields>
        <queriedFields>PurchaseOrder_Number__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>WhoId</queriedFields>
    </recordLookups>
    <start>
        <locationX>298</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Check_Input_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varAttemptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varBusinessHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>varCaseIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To hold Case Record details</description>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varGenericValuesCustomMetaData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varGenericValuesMetaData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varGetGenericMetaDataForGroupUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varNonPickupRecordMetadataList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Non_Pickup_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>varNumAttempt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObjectTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutcomeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskRecInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
