force-app/main/default/flows/Haul_Away_Automate_Follow_Up_Approval_Attempts_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEscalationEmailForMultiMandatory</name>
        <label>sendEscalationEmailForMultiMandatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>ToAddressEmailsForFinalFollowUP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderEmail</name>
            <value>
                <elementReference>getOrgWideEmailforESC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>getEscEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendEscalationEmailForNotMultiMandatory</name>
        <label>sendEscalationEmailForNotMultiMandatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderEmail</name>
            <value>
                <elementReference>getOrgWideEmailforESC.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>getEscEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendFollowUpEmailForMultiMandatory</name>
        <label>sendFollowUpEmailForMultiMandatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>ToAddressEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderEmail</name>
            <value>
                <elementReference>getOrgWideEmail.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendFollowUpEmailForNotMultiMandatory</name>
        <label>sendFollowUpEmailForNotMultiMandatory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderEmail</name>
            <value>
                <elementReference>getOrgWideEmail.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Collect_Emails_for_final_followUp</name>
        <label>Collect Emails for final followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ToAddressEmailsForFinalFollowUP</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Approval_Log_Records_for_final_followUp.Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Approval_Log_Records_for_final_followUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Emails_for_first_followUp</name>
        <label>Collect Emails for first followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ToAddressEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Approval_Log_Records_for_first_followUp.Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Approval_Log_Records_for_first_followUp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Final_Approval_Quote_Record</name>
        <label>Check Final Approval Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getOrgWideEmailforESC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found Final Approval Quote Record</defaultConnectorLabel>
        <rules>
            <name>Not_Found_Final_Approval_Quote_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Final_Approval_Quote_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found Final Approval Quote Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_First_Follow_Up_Quote_Record</name>
        <label>Check First Follow Up Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getOrgWideEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found First Follow Up Quote Record</defaultConnectorLabel>
        <rules>
            <name>Not_Found_First_Follow_Up_Quote_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Follow_Up_Quote_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found First Follow Up Quote Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Haul_Away_Case_Before_Declined</name>
        <label>Check Haul Away Case Before Declined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Haul Away Service Before Declined Not Found</defaultConnectorLabel>
        <rules>
            <name>Haul_Away_Service_Before_Declined_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_For_Declined.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Status_Before_Declined</targetReference>
            </connector>
            <label>Haul Away Service Before Declined Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Haul_Away_Case_For_Final_Approval</name>
        <label>Check Haul Away Case For Final Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Final Approval Haul Away Case Not Found</defaultConnectorLabel>
        <rules>
            <name>Final_Approval_Haul_Away_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_For_Final_Approval.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Final_Approval_Quote_Record</targetReference>
            </connector>
            <label>Final Approval Haul Away Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Haul_Away_Case_For_First_Follow_Up</name>
        <label>Check Haul Away Case For First Follow Up</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>First Follow Up Haul Away Case Not Found</defaultConnectorLabel>
        <rules>
            <name>First_Follow_Up_Haul_Away_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_for_first_followUp.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_First_Follow_Up_Quote_Record</targetReference>
            </connector>
            <label>First Follow Up Haul Away Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Status_Before_Declined</name>
        <label>Check Quote Status Before Declined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Declined_Quote_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found Check Quote Status Before Declined</defaultConnectorLabel>
        <rules>
            <name>Not_Found_Check_Quote_Status_Before_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Status_Before_Declined</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found Check Quote Status Before Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMultiApproversForFinalFollowUp</name>
        <label>CheckMultiApproversForFinalFollowUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sendEscalationEmailForNotMultiMandatory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMultiMandatoryForFinalFollowUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFinalFollowUpBusinessRules.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Approval_Log_Records_for_final_followUp</targetReference>
            </connector>
            <label>IsMultiMandatoryForFinalFollowUp</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMultiApproversForFollowUp</name>
        <label>CheckMultiApproversForFollowUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sendFollowUpEmailForNotMultiMandatory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMultiMandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFollowUpBusinessRules.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Approval_Log_Records_for_first_followUp</targetReference>
            </connector>
            <label>IsMultiMandatory</label>
        </rules>
    </decisions>
    <description>This flow is used to send Automate approval follow up email and escalation email, If no approval received close the case and decline the quote.</description>
    <environments>Default</environments>
    <interviewLabel>Haul Away Approval Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Haul Away Automate Follow Up Approval Attempts Email</label>
    <loops>
        <name>Loop_Approval_Log_Records_for_final_followUp</name>
        <label>Loop Approval Log Records for final followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Log_Records_for_final_followUp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Emails_for_final_followUp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendEscalationEmailForMultiMandatory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Approval_Log_Records_for_first_followUp</name>
        <label>Loop Approval Log Records for first followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Log_Records_for_first_followUp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Emails_for_first_followUp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendFollowUpEmailForMultiMandatory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Log_Records_for_final_followUp</name>
        <label>Get Approval Log Records for final followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFinalFollowUpBusinessRules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Approval_Quote_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Approval_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Log_Records_for_first_followUp</name>
        <label>Get Approval Log Records for first followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFollowUpBusinessRules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Follow_Up_Quote_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Approval_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_For_Declined</name>
        <label>Get Case Record For Declined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Haul_Away_Case_Before_Declined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Status_Before_Declined.SBQQ__Opportunity2__r.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_For_Final_Approval</name>
        <label>Get Case Record For Final Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Haul_Away_Case_For_Final_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Approval_Quote_Record.SBQQ__Opportunity2__r.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_for_first_followUp</name>
        <label>Get Case Record for first followUp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Haul_Away_Case_For_First_Follow_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Follow_Up_Quote_Record.SBQQ__Opportunity2__r.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Approval_Quote_Record</name>
        <label>Get Final Approval Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_For_Final_Approval</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Configured</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Follow_Up_Quote_Record</name>
        <label>Get First Follow Up Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_for_first_followUp</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Configured</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Status_Before_Declined</name>
        <label>Get Quote Status Before Declined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_For_Declined</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Configured</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Log_Records_for_first_followUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HaulAwayServiceQuoteAprvlFollowUp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEscEmailTemplate</name>
        <label>Get Esc Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Log_Records_for_final_followUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HaulAwayServiceQuoteAprvlEscalation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFinalFollowUpBusinessRules</name>
        <label>GetFinalFollowUpBusinessRules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMultiApproversForFinalFollowUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Multiple_Mandatory_Approvers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Approval_Quote_Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFollowUpBusinessRules</name>
        <label>GetFollowUpBusinessRules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMultiApproversForFollowUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Multiple_Mandatory_Approvers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Follow_Up_Quote_Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWideEmail</name>
        <label>Get Org Wide Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WM Service Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWideEmailforESC</name>
        <label>Get Org Wide Email for ESC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEscEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WM Service Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case_Record</name>
        <label>Close Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Status_Before_Declined.SBQQ__Opportunity2__r.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Reason__c</field>
            <value>
                <stringValue>No Action Needed as no response from the customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Case_Reason__c</field>
            <value>
                <stringValue>No Action Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Declined_Quote_Record</name>
        <label>Declined Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Add Service Request</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>send_first_follow_up</name>
            <connector>
                <targetReference>Get_First_Follow_Up_Quote_Record</targetReference>
            </connector>
            <label>send first follow up</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>send_Final_Approval_email</name>
            <connector>
                <targetReference>Get_Final_Approval_Quote_Record</targetReference>
            </connector>
            <label>send Final Approval email</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Close_Case_and_Cancel_Quote</name>
            <connector>
                <targetReference>Get_Quote_Status_Before_Declined</targetReference>
            </connector>
            <label>Close Case and Cancel Quote</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Arial, sans-serif; color: rgb(0, 29, 53);&quot;&gt;Subject: &quot;This is the Email Subject&quot;, Body: &quot;This is the email body. Merge Field: {!${!Get_First_Follow_Up_Quote_Record.Name}}&quot;)&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>GetSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceApproversEmailIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ToAddressEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToAddressEmailsForFinalFollowUP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
