force-app/main/default/flows/MAA_Settings_Administration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Case_LOB_Filter</name>
        <label>Assign Case LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseObjectDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_LOB_Filter</name>
        <label>Assign Location LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationObjDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Equipment_Filter</name>
        <label>Assign Quote Equipment Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Allow_Filtering_by_Equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_LOB_Filter</name>
        <label>Assign Quote LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Quote_Equipment_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_API_Variables</name>
        <label>Assign to API Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>APIObjDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_settings_to_store_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Case</name>
        <label>Assign to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseObjectDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_settings_to_store_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Location</name>
        <label>Assign to Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationObjDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_settings_to_store_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Quote</name>
        <label>Assign to Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteObjDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_settings_to_store_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseObjectDetails.Number_of_Days_of_Alerts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Number_of_Days_of_Alerts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObjectDetails.Number_of_Alerts_Per_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Number_of_Alerts_Per_Page</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationObjDetails.Number_of_Days_of_Alerts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Number_of_Days_of_Alerts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationObjDetails.Number_of_Alerts_Per_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Number_of_Alerts_Per_Page</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Number_of_Days_of_Alerts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Number_of_Days_of_Alerts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Number_of_Alerts_Per_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Number_of_Alerts_Per_Page</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObjectDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Allow_Filtering_LOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationObjDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Allow_Filtering_LOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Allow_Filtering_by_LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Allow_Filtering_LOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteObjDetails.Allow_Filtering_by_Equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Allow_Filtering_by_Equipment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Case_LOB_Filter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Unassignable Item</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_settings_to_store_values.MAA_Page_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_settings_to_store_values.MAA_Page_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Quote</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_settings_to_store_values.MAA_Page_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Location</targetReference>
            </connector>
            <label>Location</label>
        </rules>
        <rules>
            <name>API_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_settings_to_store_values.MAA_Page_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API Enabled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_API_Variables</targetReference>
            </connector>
            <label>API Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MAA_Panel_Visible</name>
        <label>Is MAA Panel Visible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Blank_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MAA_Code_Switch_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MAA_Code_Switch.Switch_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MAA_Settings</targetReference>
            </connector>
            <label>MAA Code Switch On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Case_LOB_Filter</name>
        <label>Validate Case LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_LOB_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseObjectDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_LOB_Filter</targetReference>
            </connector>
            <label>Case LOB Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Location_LOB_Filter</name>
        <label>Validate Location LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_LOB_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationObjDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_LOB_Filter</targetReference>
            </connector>
            <label>Location LOB Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Quote_Equipment_Filter</name>
        <label>Validate Quote Equipment Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Equipment_Filter_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteObjDetails.Allow_Filtering_by_Equipment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Equipment_Filter</targetReference>
            </connector>
            <label>Quote Equipment Filter Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Quote_LOB_Filter</name>
        <label>Validate Quote LOB Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Quote_Equipment_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_LOB_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteObjDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_LOB_Filter</targetReference>
            </connector>
            <label>Quote LOB Not Selected</label>
        </rules>
    </decisions>
    <description>MAA Admin Panel Flow</description>
    <environments>Default</environments>
    <interviewLabel>MAA - Settings Administration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAA - Settings Administration</label>
    <loops>
        <name>Loop_through_settings_to_store_values</name>
        <label>Loop through settings to store values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_MAA_Settings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Settings_Administration_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_MAA_Code_Switch</name>
        <label>Get MAA Code Switch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_MAA_Panel_Visible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Market Area Alerts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Switch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MAA_Settings</name>
        <label>Get MAA Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_settings_to_store_values</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MAA_Admin_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Location_LOB_Filter</targetReference>
        </connector>
        <inputReference>CaseObjectDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Quote_LOB_Filter</targetReference>
        </connector>
        <inputReference>LocationObjDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>QuoteObjDetails</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Blank_Screen</name>
        <label>Blank Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Settings_Administration_Screen</name>
        <label>Settings Administration Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Market_Area_Alerts_Administration</name>
            <fieldText>Market Area Alerts Administration</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Market_Area_Alerts_Administration_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseOverview</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Case Administration&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Case_Number_of_Days_of_Alerts</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>CaseObjectDetails.Number_of_Days_of_Alerts__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Days of Alerts</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The number should be between 1 to 99&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Case_Number_of_Days_of_Alerts} &gt;= 1 &amp;&amp; {!Case_Number_of_Days_of_Alerts} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Case_Number_of_Alerts_Per_Page</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>CaseObjectDetails.Number_of_Alerts_Per_Page__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Alerts Per Page</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The number should be between 1 to 99&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Case_Number_of_Alerts_Per_Page} &gt;= 1 &amp;&amp; {!Case_Number_of_Alerts_Per_Page} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Case_Allow_Filtering_LOB</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>CaseObjectDetails.Allow_Filtering_by_LOB__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow Filtering LOB</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>APIObjDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Market_Area_Alerts_Administration_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LocationOverview</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Location Administration&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Location_Number_of_Days_of_Alerts</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>LocationObjDetails.Number_of_Days_of_Alerts__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Days of Alerts</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The number should be between 1 to 99&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Location_Number_of_Days_of_Alerts} &gt;= 1 &amp;&amp; {!Location_Number_of_Days_of_Alerts} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Location_Number_of_Alerts_Per_Page</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>LocationObjDetails.Number_of_Alerts_Per_Page__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Alerts Per Page</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The number should be between 1 to 99&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Location_Number_of_Alerts_Per_Page} &gt;= 1 &amp;&amp; {!Location_Number_of_Alerts_Per_Page} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Location_Allow_Filtering_LOB</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>LocationObjDetails.Allow_Filtering_by_LOB__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow Filtering LOB</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>APIObjDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Market_Area_Alerts_Administration_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuoteOverview</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Quote Administration&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Quote_Number_of_Days_of_Alerts</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>QuoteObjDetails.Number_of_Days_of_Alerts__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Days of Alerts</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The number should be between 1 to 99&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Quote_Number_of_Days_of_Alerts} &gt;= 1 &amp;&amp; {!Quote_Number_of_Days_of_Alerts} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Quote_Number_of_Alerts_Per_Page</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>QuoteObjDetails.Number_of_Alerts_Per_Page__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Alerts Per Page</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The number should be between 1 to 99&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Quote_Number_of_Alerts_Per_Page} &gt;= 1 &amp;&amp; {!Quote_Number_of_Alerts_Per_Page} &lt;= 99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Quote_Allow_Filtering_LOB</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>QuoteObjDetails.Allow_Filtering_by_LOB__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow Filtering LOB</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>APIObjDetails.Allow_Filtering_by_LOB__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Quote_Allow_Filtering_by_Equipment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>QuoteObjDetails.Allow_Filtering_by_Equipment__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow Filtering by Equipment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>APIObjDetails.Allow_Filtering_by_Equipment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MAA_Code_Switch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APIObjDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MAA_Admin_Settings__c</objectType>
    </variables>
    <variables>
        <name>CaseObjectDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MAA_Admin_Settings__c</objectType>
    </variables>
    <variables>
        <name>LocationObjDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MAA_Admin_Settings__c</objectType>
    </variables>
    <variables>
        <name>QuoteObjDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MAA_Admin_Settings__c</objectType>
    </variables>
</Flow>
