force-app/main/default/flows/Master_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Add_comment_for_sla_override</name>
        <label>Add comment for sla override</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <actionName>QuoteProcurementController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Service_Date</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slaComment</name>
            <value>
                <elementReference>currentCase.SLA_Override_Comment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slaReason</name>
            <value>
                <elementReference>currentCase.SLA_Override_Reason__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteProcurementController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AddCaseCommentLine</name>
        <label>AddCaseCommentLine</label>
        <locationX>732</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>CaseCommentConcatenation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCommentLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Eligible_Case_Types</name>
        <label>Count of Eligible Case Types</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CountOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_CPQ_Eligibility_Case_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Eligible_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Temporary holding assignment</description>
        <name>First_Question_Response</name>
        <label>First Question Response</label>
        <locationX>600</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>CaseCommentConcatenation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCommentLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_Statement_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is to ensure that default values are present in the two fields. These are not Set in the query to case and require.</description>
        <name>Initialise_Defaul_Value_To_Over_Ride_Reason</name>
        <label>Initialise Default Value To Over Ride Reason</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentCase.SLA_Override_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.SLA_Override_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequestedEffectiveDateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Service_Date</name>
        <label>Update Case Service Date</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>currentCase.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluates_the_Case_for_Quote_Eligibility</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Completeness</name>
        <label>Case Completeness</label>
        <locationX>325</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Help_With_Flow_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Complete</defaultConnectorLabel>
        <rules>
            <name>Case_Incomplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentCase.Case_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentCase.Case_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentCase.Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentCase.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Incomplete_Warning</targetReference>
            </connector>
            <label>Case Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the Quote Eligibility from Flow</description>
        <name>Determine_Flow_Eligibility</name>
        <label>Determine Flow Eligibility</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>First_Dynamic_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Not Eligible for CPQ</defaultConnectorLabel>
        <rules>
            <name>Case_Eligible_for_CPQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteEligibleFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Eligible_for_Quote</targetReference>
            </connector>
            <label>Case Eligible for CPQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_of_Statement</name>
        <label>End of Statement</label>
        <locationX>732</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Next_Dynamic_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Needed</defaultConnectorLabel>
        <rules>
            <name>Statement_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Statement_Display</targetReference>
            </connector>
            <label>Statement End</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_of_Statement_0</name>
        <label>End of Statement</label>
        <locationX>600</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Next_Dynamic_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Needed</defaultConnectorLabel>
        <rules>
            <name>Statement_End_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Statement_Display</targetReference>
            </connector>
            <label>Statement End</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Eligible_Check</name>
        <label>Quote Eligible Check</label>
        <locationX>600</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>First_Dynamic_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Ineligible For CPQ</defaultConnectorLabel>
        <rules>
            <name>Quote_Eligible_for_CPQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Update_Asset_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Defaul_Value_To_Over_Ride_Reason</targetReference>
            </connector>
            <label>Quote Eligible for CPQ</label>
        </rules>
    </decisions>
    <description>These updates are made for story SDT-42385
Added assignment for SLA Override reason and sla override comment
updated default value for requested effective date as case service date
Made changes in requested Effective date screen flow
Updated Case Service date Assignment
Validation for Override Reason and comment.</description>
    <dynamicChoiceSets>
        <name>SLAOverrideReasonPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLA_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Check for SLA comment and Reason is Empty.</description>
        <name>frIsSLACommentAndReasonEmpty</name>
        <dataType>Boolean</dataType>
        <expression>AND(  NOT( 

		ISPICKVAL({!currentCase.SLA_Override_Reason__c}, &apos;&apos;)
	 )    , 

	!OR( 
		ISBLANK({!currentCase.SLA_Override_Comment__c})
		, ISNULL({!currentCase.SLA_Override_Comment__c}) 
	   )
)</expression>
    </formulas>
    <formulas>
        <name>testcheckerrormessage</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!currentCase.SLA_Override_Reason__c}, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Master Intake Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master Intake Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>325</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Records_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>currentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Master_Intake_Complete__c</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Selected_Asset_Header_Ids__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Comment_Record_Types</name>
        <label>Get Comment Record Types</label>
        <locationX>325</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Completeness</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acorn_Ticket_Comment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_Eligibility_Case_Types</name>
        <label>Get CPQ Eligibility Case Types</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Eligible_Case_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.Case_Sub_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.Case_Reason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AC_Scope_Controller__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Details</name>
        <label>User Details</label>
        <locationX>325</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Comment_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Eligible_for_Quote</name>
        <label>Case Eligible for Quote</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnteringQuote</name>
            <fieldText>&lt;p&gt;Your case is eligible to be worked in CPQ!  Please use the &quot;Add Quote&quot; button at the top of the screen to configure the customer&apos;s requested change.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Incomplete_Warning</name>
        <label>Case Incomplete Warning</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <fields>
            <name>IncompleteAssistance</name>
            <fieldText>&lt;p&gt;Prior to starting this flow, the following values must be set on the case record:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Case Type&lt;/li&gt;&lt;li&gt;Case Sub-Type&lt;/li&gt;&lt;li&gt;Case Reason (if applicable)&lt;/li&gt;&lt;li&gt;Customer Account&lt;/li&gt;&lt;li&gt;Customer Location&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the values on this case and set the above.  Once complete, please press &quot;Next&quot; below to restart this questionnaire. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Statement_Display</name>
        <label>End Statement Display</label>
        <locationX>600</locationX>
        <locationY>2912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndStatementDisp</name>
            <fieldText>&lt;p&gt;Your summary and next step instructions are below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!CaseCommentConcatenation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseCommentConcatenation</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoQuestionsInstructions</name>
            <fieldText>&lt;p&gt;Using the below, please document the reason for this case.  Upon completion, please select where you would like this task assigned and for which reason.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndStatement</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndStatementHelp</name>
            <fieldText>&lt;p&gt;{!EndStatement}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndStatement</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FalseFinishNote</name>
            <extensionName>c:flowFalseFinish</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseRecord</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <stringValue>{!CaseCommentConcatenation}{!EndStatement}&lt;br/&gt;&lt;br/&gt;&lt;b&gt;Additional Comments&lt;/b&gt;&lt;br/&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FinalOutcome</name>
                <value>
                    <elementReference>FinalOutcomeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Dynamic_Questions</name>
        <label>First Dynamic Questions</label>
        <locationX>600</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>First_Question_Response</targetReference>
        </connector>
        <fields>
            <name>FirstDynamicQuestions</name>
            <extensionName>c:DynamicQuestions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CaseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecord</name>
                <value>
                    <elementReference>currentCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>nextQuestionId</assignToReference>
                <name>NextQuestionId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newCommentLine</assignToReference>
                <name>QuestionAnswer</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>boolEnd</assignToReference>
                <name>boolEnd</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Records_Error</name>
        <label>Get Records Error</label>
        <locationX>1084</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GetCaseErrorHeader</name>
            <fieldText>&lt;p&gt;An error has occurred while retrieving the case record.  Please provide the below error to your Salesforce administrator to assist in troubleshooting this issue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Help_With_Flow_Screen</name>
        <label>Help With Flow Screen</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CPQ_Eligibility_Case_Types</targetReference>
        </connector>
        <fields>
            <name>HelpWithFlow</name>
            <fieldText>&lt;p&gt;Your case is ready to enter the Case Template Tool.   If any changes need to be made to the Case Type, Sub-Type, or Reason please make those prior to pressing Next.  If ready to enter the Case Template Tool, please press &quot;Next&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_Dynamic_Question</name>
        <label>Next Dynamic Question</label>
        <locationX>732</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddCaseCommentLine</targetReference>
        </connector>
        <fields>
            <name>NextDynamicQuestion</name>
            <extensionName>c:DynamicQuestions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>QuestionId</name>
                <value>
                    <elementReference>nextQuestionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CaseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecord</name>
                <value>
                    <elementReference>currentCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>nextQuestionId</assignToReference>
                <name>NextQuestionId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>boolEnd</assignToReference>
                <name>boolEnd</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EndStatement</assignToReference>
                <name>EndStatement</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newCommentLine</assignToReference>
                <name>QuestionAnswer</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FinalOutcomeId</assignToReference>
                <name>FinalOutcome</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestedEffectiveDateScreen</name>
        <label>RequestedEffectiveDateScreen</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_comment_for_sla_override</targetReference>
        </connector>
        <fields>
            <name>RequestedEffectiveDateScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestedEffectiveDateScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedEffectiveDate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please document the requested effective date of the service.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestedEffectiveDateScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_Effective_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>currentCase.Service_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Requested Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>currentCase.SLA_Override_Reason__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Requested_Effective_Date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>currentCase.Service_Date__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>currentCase.SLA_Override_Comment__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Requested_Effective_Date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>currentCase.Service_Date__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>testcheck_sla_error_message</name>
            <dataType>Boolean</dataType>
            <fieldText>.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;Please Provide SLA Override reason and Comment&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!frIsSLACommentAndReasonEmpty}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>Requested_Effective_Date</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>currentCase.Service_Date__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frIsSLACommentAndReasonEmpty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluates_the_Case_for_Quote_Eligibility</name>
        <label>Evaluates the Case for Quote Eligibility</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Determine_Flow_Eligibility</targetReference>
        </connector>
        <flowName>Validation_Add_Change_Scope_Evaluation</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>currentCase</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>QuoteEligibleFlag</assignToReference>
            <name>OutputQuoteEligible</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllUniversalCIR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>boolAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolEnd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolGeneral</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolLocation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolUniversal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCommentConcatenation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCommentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <name>collAccountQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collApplicableQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collAssetQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collGeneralQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collLocationQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collProjectQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>collUniversalQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>CountOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EndStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalOutcomeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCommentLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextQuestionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Intake_Process__c</objectType>
    </variables>
    <variables>
        <name>QuestionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Determines if the current configuration is case eligible based on the outcome of the modular flow</description>
        <name>QuoteEligibleFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordTypeIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>UniversalCIRRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniversalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
