force-app/main/default/flows/New_Service_Framework.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Case_RecordId</name>
        <label>Assign Case RecordId</label>
        <locationX>1097</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_CaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Service_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_CaseRecordId</name>
        <label>Assign New CaseRecordId</label>
        <locationX>151</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>var_CaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Asset_Type_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_to_Case</name>
        <label>Assign Parent to Case</label>
        <locationX>977</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Different_Type_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Value</name>
        <label>Assign Parent Value</label>
        <locationX>169</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Same_Type_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Same_Type_Case</name>
        <label>Assign Same Type Case</label>
        <locationX>451</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Case_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Case_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Equipment_Type_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Equipment_Type_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Equipment_Size_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Equipment_Size_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Is_Multiple_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LOB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Different_Case</name>
        <label>Different Type Case</label>
        <locationX>884</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecod.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Is_Multiple_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewCaseRecord.Case_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Delivery_Count</name>
        <label>Increment Delivery Count</label>
        <locationX>451</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_DeliveryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Iteration</name>
        <label>Increment Delivery Iteration</label>
        <locationX>51</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>var_DeliveryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Asset_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To check whether same Asset or different Asset Type</description>
        <name>Check_on_Asset_Type</name>
        <label>Check on Asset Type</label>
        <locationX>443</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different_Asset_Type_New_Case</name>
            <conditionLogic>(1 AND 2 AND 3 )  OR (1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>var_SameType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DifferentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeliveryCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DifferentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Multiple_Delivery</targetReference>
            </connector>
            <label>New Case/Different Asset Type</label>
        </rules>
        <rules>
            <name>Same_Asset_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SameType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DifferentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeliveryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Same_Type_Case</targetReference>
            </connector>
            <label>Same Asset Type</label>
        </rules>
        <rules>
            <name>Show_MultiAsset_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SameType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DifferentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeliveryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Multi_Card_Asset</targetReference>
            </connector>
            <label>Show MultiAsset Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_Case_Id</name>
        <label>Check on Case Id</label>
        <locationX>326</locationX>
        <locationY>706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_NewCaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_CaseRecordId</targetReference>
            </connector>
            <label>Is Case Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Multiple_Delivery</name>
        <label>Is Multiple Delivery</label>
        <locationX>693</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>New_Service_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Service Flow</defaultConnectorLabel>
        <rules>
            <name>Is_Different_Asset_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeliveryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DifferentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_SameType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_Case</targetReference>
            </connector>
            <label>Is Different Asset Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Case</name>
        <label>Is Parent Case</label>
        <locationX>980</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Create_Different_Type_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecod.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_to_Case</targetReference>
            </connector>
            <label>Is Parent available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case</name>
        <label>Parent Case</label>
        <locationX>326</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Create_Same_Type_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecod.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Value</targetReference>
            </connector>
            <label>Is Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Case</name>
        <label>Validate Case</label>
        <locationX>1091</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Different_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_NewCaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_RecordId</targetReference>
            </connector>
            <label>Validate Different Type</label>
        </rules>
    </decisions>
    <description>The flow to guide the user through creating a new service case  and create Multiple Delivery if needed.</description>
    <interviewLabel>New Service Framework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Service Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Different_Type_Case</name>
        <label>Create Different Type Case</label>
        <locationX>1091</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Validate_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Problem_Screen</targetReference>
        </faultConnector>
        <inputReference>Var_NewCaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Same_Type_Case</name>
        <label>Create Same Type Case</label>
        <locationX>454</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>Check_on_Case_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Problem_Screen</targetReference>
        </faultConnector>
        <inputReference>Var_NewCaseRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Show_Multi_Card_Asset</name>
        <label>Show Multi-Card Asset</label>
        <locationX>580</locationX>
        <locationY>517</locationY>
        <faultConnector>
            <targetReference>Problem_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ParentCaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Multiple_Asset__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Multiple_Asset_Cases__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Problem_Screen</name>
        <label>Problem Screen</label>
        <locationX>1092</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p&gt;An error has occurred while performing these actions.  Please provide the following message to your administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>314</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Check_on_Asset_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Service_Flow</name>
        <label>New Service Flow</label>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Increment_Delivery_Count</targetReference>
        </connector>
        <flowName>New_Service_Flow</flowName>
        <inputAssignments>
            <name>v_CustomerSegment</name>
            <value>
                <elementReference>var_CustomerSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CompanyCategories</name>
            <value>
                <elementReference>var_CompanyCategories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CurrentCaseId</name>
            <value>
                <elementReference>var_CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LOB</name>
            <value>
                <elementReference>var_LOB</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_CustomerSegment</assignToReference>
            <name>v_CustomerSegment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CompanyCategories</assignToReference>
            <name>var_CompanyCategories</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecod</assignToReference>
            <name>var_CurrentCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DifferentType</assignToReference>
            <name>var_DifferentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_LOB</assignToReference>
            <name>var_LOB</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SameType</assignToReference>
            <name>var_SameType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Same_Asset_Type_Flow</name>
        <label>Same Asset Type Flow</label>
        <locationX>51</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Increment_Iteration</targetReference>
        </connector>
        <flowName>New_Service_Flow_Same_AssetType</flowName>
        <inputAssignments>
            <name>v_CustomerSegment</name>
            <value>
                <elementReference>var_CustomerSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CompanyCategories</name>
            <value>
                <elementReference>var_CompanyCategories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CurrentCaseId</name>
            <value>
                <elementReference>var_CaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LOB</name>
            <value>
                <elementReference>var_LOB</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecod</assignToReference>
            <name>var_CurrentCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_DifferentType</assignToReference>
            <name>Var_DifferentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SameType</assignToReference>
            <name>Var_SameType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>var_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CompanyCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomerSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DeliveryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_DifferentType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var_ParentCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SameType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCaseRecod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
