force-app/main/default/flows/Obtain_PO_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DateTime_of_Last_Task</name>
        <label>DateTime of Last Task</label>
        <locationX>979</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>varLastTaskTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wait_2_Hour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Count</name>
        <label>Task Count</label>
        <locationX>660</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>varTaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Traverse_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_Decision</name>
        <label>Flow Decision</label>
        <locationX>765</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreferredMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.PurchaseOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task</targetReference>
            </connector>
            <label>Flow Email</label>
        </rules>
        <rules>
            <name>Flow_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreferredMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.PurchaseOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task</targetReference>
            </connector>
            <label>Flow Phone</label>
        </rules>
        <rules>
            <name>Escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreferredMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.PurchaseOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_to_Account_Team</targetReference>
            </connector>
            <label>Escalate Flow Email</label>
        </rules>
        <rules>
            <name>Escalate_Flow_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreferredMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.PurchaseOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_to_Account_Team</targetReference>
            </connector>
            <label>Escalate Flow Phone</label>
        </rules>
    </decisions>
    <formulas>
        <name>varActivityDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Obtain PO Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtain PO Flow</label>
    <loops>
        <name>Traverse_Task</name>
        <label>Traverse Task</label>
        <locationX>511</locationX>
        <locationY>243</locationY>
        <assignNextValueToReference>objTask</assignNextValueToReference>
        <collectionReference>taskList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Flow_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>977</locationX>
        <locationY>241</locationY>
        <assignRecordIdToReference>varTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>DateTime_of_Last_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Obtain Client PO Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>320</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>PurchaseOrder_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Task</name>
        <label>Get Related Task</label>
        <locationX>511</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Traverse_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obtain Client PO Number</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>taskList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <startElementReference>Get_Case_Details</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Escalate_to_Account_Team</name>
        <label>Escalate to Account Team</label>
        <locationX>774</locationX>
        <locationY>299</locationY>
        <flowName>Account_Team_Task_Creation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>varCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SBS_Description</name>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SBS_Subject</name>
            <value>
                <stringValue>Obtain Customer Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SBS_WhatId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>objTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastTaskTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPreferredMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact the customer&apos;s approving party to obtain the Purchase Order Number for this request. If approved, once the Purchase Order is obtained, it will need to be added to the Case, if the request is not approved notify requester and close case.</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_2_Hour</name>
        <label>Wait 2 Hour</label>
        <locationX>323</locationX>
        <locationY>453</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.PurchaseOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Details</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varLastTaskTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait</label>
        </waitEvents>
    </waits>
</Flow>
