force-app/main/default/flows/Process_of_Non_Pickup_Task_framework.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Ran_By_Delay_Logic</name>
        <label>Flow_Ran_By_Delay_Logic</label>
        <locationX>879</locationX>
        <locationY>1108</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>TaskInputIdParam</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_GetNonPickupBusinessTime</name>
        <label>Invoke GetNonPickupBusinessTime</label>
        <locationX>692</locationX>
        <locationY>1020</locationY>
        <actionName>GetNonPickupBusinessTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Ran_By_Delay_Logic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>baseDateTime</name>
            <value>
                <elementReference>VarBaseDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>varBusinessHours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>considerBusinessHours</name>
            <value>
                <elementReference>nonPickupFramework.Consider_Business_Hours__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delayTimeInterval</name>
            <value>
                <elementReference>nonPickupFramework.Parameter__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetNonPickupBusinessTime</nameSegment>
        <outputParameters>
            <assignToReference>varResumeTime</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SplitStringToListCntrlr_Action_1</name>
        <label>SplitStringToListCntrlr Action 1</label>
        <locationX>367</locationX>
        <locationY>290</locationY>
        <actionName>SplitStringToListCntrlr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_Get_Details_Non_pickup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputstr</name>
            <value>
                <elementReference>varTaskRecord.TaskFrameworkId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringToListCntrlr</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Concatenated_Non_Pickup_Task_Framework_Id</name>
        <label>Concatenated Non Pickup Task Framework Id</label>
        <locationX>1247</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>varNonPickupTaskFrameworkId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_NonPickupTaskFrameworkId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Next_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Record_Assignment_After_Creation_For_Escalation</name>
        <label>Task Record Assignment After Creation For Escalation</label>
        <locationX>499</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varTaskRecordOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Notification_For_Escalation_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Number_of_Attempt</name>
        <label>Update Number of Attempt</label>
        <locationX>631</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Get_Details_Non_Pickup_flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check next action based on the custom metadata result and invoke corresponding sub-flows</description>
        <name>Check_Next_Action</name>
        <label>Check Next Action</label>
        <locationX>1247</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Iterate_Framework_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonPickupFramework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_GetNonPickupBusinessTime</targetReference>
            </connector>
            <label>Delay</label>
        </rules>
        <rules>
            <name>Validate_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonPickupFramework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Non_Pickup_Case</targetReference>
            </connector>
            <label>Validate Case</label>
        </rules>
        <rules>
            <name>Follow_up_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonPickupFramework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-up Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Non_Pickup_Followup_Task_Flow</targetReference>
            </connector>
            <label>Follow-up Task</label>
        </rules>
        <rules>
            <name>Escalate_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonPickupFramework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalate to Account Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Escalation_Task_Creation</targetReference>
            </connector>
            <label>Escalate Task</label>
        </rules>
        <rules>
            <name>Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nonPickupFramework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNextAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Update_Non_Pickup_Case</targetReference>
            </connector>
            <label>Update Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Size_Before_Performing_DML</name>
        <label>Check Record Size Before Performing DML</label>
        <locationX>499</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RSI_TASK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateCaseLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve Service Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Records</targetReference>
            </connector>
            <label>RSI TASK</label>
        </rules>
        <rules>
            <name>Update_Task_and_Case_List</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>taskLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateCaseLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Task_and_Update_Case</targetReference>
            </connector>
            <label>Update Task and Case List</label>
        </rules>
        <rules>
            <name>Check_TaskLst_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Task_Records</targetReference>
            </connector>
            <label>Check TaskLst Size</label>
        </rules>
        <rules>
            <name>check_caseLst_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateCaseLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Records</targetReference>
            </connector>
            <label>check caseLst Size</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Delay_Immediate_Flow_Run</name>
        <label>Decide Delay/Immediate Flow Run</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Update_Number_of_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunFlowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process of Non Pickup Task framework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SplitStringToListCntrlr_Action_1</targetReference>
            </connector>
            <label>Delay Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Escalation</name>
        <label>Is Escalation</label>
        <locationX>631</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Escalation_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTaskRec.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRec.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Record_Assignment_After_Creation_For_Escalation</targetReference>
            </connector>
            <label>Is Escalation Task</label>
        </rules>
    </decisions>
    <description>Added new resource - TaskInputIdParam
Added Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic)</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_NonPickupTaskFrameworkId</name>
        <dataType>String</dataType>
        <expression>{!nonPickupFramework.Id} + &apos;;&apos;</expression>
    </formulas>
    <formulas>
        <description>Base DateTime of the delay Process</description>
        <name>VarBaseDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!VarBaseDate})),DATETIMEVALUE({!VarBaseDate}),{!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>Process of Non Pickup Task framework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process of Non Pickup Task framework</label>
    <loops>
        <name>Iterate_Framework_List</name>
        <label>Iterate Framework List</label>
        <locationX>499</locationX>
        <locationY>590</locationY>
        <assignNextValueToReference>nonPickupFramework</assignNextValueToReference>
        <collectionReference>nonPickupFrameworkLst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenated_Non_Pickup_Task_Framework_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Record_Size_Before_Performing_DML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_Task_List</name>
        <label>Iterate on Task List</label>
        <locationX>411</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>varTaskRec</assignNextValueToReference>
        <collectionReference>taskLst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Escalation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Task_and_Update_Case</name>
        <label>Insert Task and Update Case</label>
        <locationX>411</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Update_Case_and_Insert_Task</targetReference>
        </connector>
        <inputReference>taskLst</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Task_Records</name>
        <label>Insert Task Records</label>
        <locationX>675</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Iterate_on_Task_List</targetReference>
        </connector>
        <inputReference>taskLst</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_and_Insert_Task</name>
        <label>Update Case and Insert Task</label>
        <locationX>411</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Iterate_on_Task_List</targetReference>
        </connector>
        <inputReference>updateCaseLst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update caseLst returned from update case subflow</description>
        <name>Update_Case_Records</name>
        <label>Update Case Records</label>
        <locationX>499</locationX>
        <locationY>2738</locationY>
        <inputReference>updateCaseLst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>587</locationX>
        <locationY>1130</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskInputIdParam</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunFlowAtTime__c</field>
            <value>
                <elementReference>varResumeTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunFlowName__c</field>
            <value>
                <stringValue>Process of Non Pickup Task framework</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskFrameworkId__c</field>
            <value>
                <elementReference>varNonPickupTaskFrameworkId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decide_Delay_Immediate_Flow_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_Escalation_Task_Creation</name>
        <label>Invoke Escalation Task Creation</label>
        <locationX>1379</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Escalation_Task_Creation_Non_Pickup</flowName>
        <inputAssignments>
            <name>varAttemptInput</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBaseDateTime</name>
            <value>
                <elementReference>VarBaseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBusinessHoursId</name>
            <value>
                <elementReference>varBusinessHours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecordInput</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericMetaDataInputForGroupUser</name>
            <value>
                <elementReference>varGetGenericMetaDataInputForGroupUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericValueMetadataInput</name>
            <value>
                <elementReference>varGenericValueMetadataInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNonPickupFrameworkMdt</name>
            <value>
                <elementReference>nonPickupFramework</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcessInput</name>
            <value>
                <elementReference>nonPickupFramework.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>taskLst</assignToReference>
            <name>varFollowupTaskList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Get_Details_Non_pickup</name>
        <label>Invoke Get Details Non pickup</label>
        <locationX>367</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Get_Details_Non_Pick_Up_Subflow</flowName>
        <inputAssignments>
            <name>varAttemptNumber</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseIdInput</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumAttempt</name>
            <value>
                <elementReference>varNumAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTypeInput</name>
            <value>
                <elementReference>varObjectTypeInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutcomeText</name>
            <value>
                <elementReference>varOutcomeText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>varServiceClassification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskRecInput</name>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBusinessHours</assignToReference>
            <name>varBusinessHour</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactDetailsInput</assignToReference>
            <name>varContactDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGenericValueMetadataInput</assignToReference>
            <name>varGenericValuesCustomMetaData</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGetGenericMetaDataInputForGroupUser</assignToReference>
            <name>varGetGenericMetaDataForGroupUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nonPickupFrameworkLst</assignToReference>
            <name>varNonPickupRecordMetadataList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskRecord</assignToReference>
            <name>varTaskRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Get_Details_Non_Pickup_flow</name>
        <label>Invoke Get Details Non Pickup flow</label>
        <locationX>631</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Get_Details_Non_Pick_Up_Subflow</flowName>
        <inputAssignments>
            <name>varAttemptNumber</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseIdInput</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumAttempt</name>
            <value>
                <elementReference>varNumAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTypeInput</name>
            <value>
                <elementReference>varObjectTypeInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutcomeText</name>
            <value>
                <elementReference>varOutcomeText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>varServiceClassification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBusinessHours</assignToReference>
            <name>varBusinessHour</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactDetailsInput</assignToReference>
            <name>varContactDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGenericValueMetadataInput</assignToReference>
            <name>varGenericValuesCustomMetaData</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGetGenericMetaDataInputForGroupUser</assignToReference>
            <name>varGetGenericMetaDataForGroupUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nonPickupFrameworkLst</assignToReference>
            <name>varNonPickupRecordMetadataList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Non_Pickup_Followup_Task_Flow</name>
        <label>Invoke Non Pickup Followup Task Flow</label>
        <locationX>1115</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Followup_Task_Creation_Non_Pickup</flowName>
        <inputAssignments>
            <name>varAttemptInput</name>
            <value>
                <elementReference>varAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBaseDateTime</name>
            <value>
                <elementReference>VarBaseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBusinessHoursId</name>
            <value>
                <elementReference>varBusinessHours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecordInput</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentTaskRec</name>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericValueMetadataInput</name>
            <value>
                <elementReference>varGenericValueMetadataInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNonPickUpFrameworkMtd</name>
            <value>
                <elementReference>nonPickupFramework</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcessInput</name>
            <value>
                <elementReference>nonPickupFramework.Parameter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>varServiceClassification</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>updateCaseLst</assignToReference>
            <name>caseLst</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>taskLst</assignToReference>
            <name>varFollowupTaskList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invoke_Update_Non_Pickup_Case</name>
        <label>Invoke Update Non Pickup Case</label>
        <locationX>1643</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Update_Non_Pickup_Case</flowName>
        <inputAssignments>
            <name>caseRec</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskRec</name>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>updateCaseLst</assignToReference>
            <name>updateCaseLst</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Email_Notification_For_Escalation_Task</name>
        <label>Send Email Notification For Escalation Task</label>
        <locationX>499</locationX>
        <locationY>2162</locationY>
        <flowName>Email_Notification_for_Vendor_and_Customer</flowName>
        <inputAssignments>
            <name>varCaseRecordInput</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGenericValuesMetadataForGroupUser</name>
            <value>
                <elementReference>varGetGenericMetaDataInputForGroupUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskRecordInput</name>
            <value>
                <elementReference>varTaskRecordOutput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Non_Pickup_Case</name>
        <label>Validate Non Pickup Case</label>
        <locationX>851</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Iterate_Framework_List</targetReference>
        </connector>
        <flowName>Validate_Non_Pickup_Case</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>nonPickupFramework.Process_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsNextAction</assignToReference>
            <name>VarIsNextAction</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>To check if next action is available</description>
        <name>IsNextAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nonPickupFramework</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Pickup_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>nonPickupFrameworkLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Pickup_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>RunFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskInputIdParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>insert returned taskLst from follow-up task/escalation task</description>
        <name>taskLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>updateCaseLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAttempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Service Date of case is passed from the PB, which will be used as a Base Date in calculation of Delay.</description>
        <name>VarBaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>varBusinessHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactDetailsInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCustomerContactRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varGenericValueMetadataInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varGetGenericMetaDataInputForGroupUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varLastModifiedIdTaskInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNonPickupTaskFrameworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumAttempt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObjectTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutcomeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProfileNameForTaskOwnerAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResumeTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>This field is being created to pass to Subflow</description>
        <name>varTaskRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskRecordOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
