force-app/main/default/flows/Process_to_create_Escalation_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Escalation_Second_Dispatch_Vendor</name>
        <label>Fetch Escalation Second Dispatch Vendor</label>
        <locationX>776</locationX>
        <locationY>1106</locationY>
        <actionName>GetVendorContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Second_Dispatch_Escalation_Contact_is_returned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prodFamily</name>
            <value>
                <elementReference>VarCaseRec.Tech_Asset_ProductFamily__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorId</name>
            <value>
                <elementReference>VarCaseRec.Supplier__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetVendorContact</nameSegment>
        <outputParameters>
            <assignToReference>var2ndDispatchEscalationUserName</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Business_Hours_for_Due_Date_Time</name>
        <label>Get Business Hours for Due Date Time</label>
        <locationX>877</locationX>
        <locationY>35</locationY>
        <actionName>GetBusinessDelayTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Input_Values_Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rec</name>
            <value>
                <elementReference>varActualBaseTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetBusinessDelayTime</nameSegment>
        <outputParameters>
            <assignToReference>varDueDateTimeBusinessHours</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Get Business Task Notification Record Type</description>
        <name>Get_Business_Task_Notification_Record_Type</name>
        <label>Get Business Task Notification Record Type</label>
        <locationX>1174</locationX>
        <locationY>311</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Business_Rule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>BusinessNotificationDefaultValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSobjectRecordTypeId</nameSegment>
        <outputParameters>
            <assignToReference>BusinessRuleRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Get Esacaltion Task RecordType</description>
        <name>Get_Esacaltion_Task_RecordType</name>
        <label>Get Esacaltion Task RecordType</label>
        <locationX>425</locationX>
        <locationY>50</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>VarEscalationTask</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSobjectRecordTypeId</nameSegment>
        <outputParameters>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Invokes Apex Class to fetch Service Approvers Mail id and send Email</description>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>2328</locationX>
        <locationY>339</locationY>
        <actionName>SendEmailToServiceApproversCntrlr</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brlst</name>
            <value>
                <elementReference>VarBRandCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailToServiceApproversCntrlr</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailUniversalRule</name>
        <label>SendEmailUniversalRule</label>
        <locationX>2371</locationX>
        <locationY>504</locationY>
        <actionName>SendEmailToServiceApproversCntrlrURule</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brlst</name>
            <value>
                <elementReference>VarBRandCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailToServiceApproversCntrlrURule</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Universal_to_List</name>
        <label>Add Universal to List</label>
        <locationX>2174</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUniversalBR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailUniversalRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accepted_WO</name>
        <label>Assign Accepted WO</label>
        <locationX>785</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>varAccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRescheduleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Reschedule_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation {!VarInputTask.Subject}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProposedServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Proposed_Service_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWOAcceptedComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.WO_Accepted_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Escalation_Task_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Parent Account Id</description>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>852</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCaseRec.Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Task_Notification_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Business Rule Id</description>
        <name>Assign_BR_ID</name>
        <label>Assign BR ID</label>
        <locationX>1700</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>BusinessRuleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarBusinessRule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_BR_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contact_Email</name>
        <label>assign Contact Email</label>
        <locationX>180</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Contact_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contact_Number</name>
        <label>assign Contact Number</label>
        <locationX>181</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskContactNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values  to task</description>
        <name>Assign_Escalation_Obtain_Service_Approval</name>
        <label>Assign Escalation Obtain Service Approval</label>
        <locationX>489</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.Approval_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Approval_Log__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation Obtain Service Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation Obtain Service Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Business_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.MultiCaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMultiCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarinputTaskWhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Department_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTaskDepartName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTaskContactTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.ContactEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varinputTaskContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values  to task</description>
        <name>Assign_Escalation_Obtain_Service_Approval_0</name>
        <label>Assign Escalation Obtain Service Approval</label>
        <locationX>1313</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.Approval_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Approval_Log__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation Obtain Service Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalation Obtain Service Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Business_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.Business_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarInputTask.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.MultiCaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMultiCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarinputTaskWhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Department_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTaskDepartName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTaskContactTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.ContactEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varinputTaskContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of Task Values</description>
        <name>Assign_Escalation_Task_Values</name>
        <label>Assign Escalation Task Values</label>
        <locationX>703</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationObtainCustomerinfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPurchaseOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckProfileNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.MultiCaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMultiCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Reschedule_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRescheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Proposed_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProposedServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WO_Accepted_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWOAcceptedComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Vendor_Escalation_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of Task Values</description>
        <name>Assign_Escalation_Task_Values_0</name>
        <label>Assign Escalation Task Values</label>
        <locationX>1357</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationObtainCustomerinfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>genesysUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPurchaseOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckProfileNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.MultiCaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMultiCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Reschedule_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRescheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Proposed_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProposedServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WO_Accepted_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWOAcceptedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of Task Values</description>
        <name>Assign_Escalation_Task_Values_0_0</name>
        <label>Assign Escalation Task Values</label>
        <locationX>1444</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationObtainCustomerinfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDateTimeBusinessHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.PurchaseOrder_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPurchaseOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Profile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckProfileNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.MultiCaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMultiCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Reschedule_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRescheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Proposed_Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProposedServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.WO_Accepted_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWOAcceptedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateTask.Is_Genesys_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process</name>
        <label>Assign Process</label>
        <locationX>1504</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>VarBusinessRuleProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBusinessRule.Process__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_Business_Process_has_task_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_to_2nd_Dispatch_Escalation_User</name>
        <label>Assign task to 2nd Dispatch Escalation User</label>
        <locationX>490</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Second_Dispatch_Vendor_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_to_Vendor_Operations_Resolution_User</name>
        <label>Assign task to Vendor Operations Resolution User</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>VarCreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Vendor_Operations_Resolution_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of Vendor Account Id as Account Id</description>
        <name>Assign_Vendor_Account_Id</name>
        <label>Assign Vendor Account Id</label>
        <locationX>844</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCaseRec.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Task_Notification_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning respective Account Id</description>
        <name>AssignAccountId</name>
        <label>AssignAccountId</label>
        <locationX>1037</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Task_Notification_Record_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Set Customer&apos;s Service Guarantees</description>
        <name>CustomerServiceGuaranteesConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Customer&apos;s Service Guarantees</stringValue>
        </value>
    </constants>
    <constants>
        <description>Service Guarantees Approval</description>
        <name>ServiceGuaranteesConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Guarantees Approval</stringValue>
        </value>
    </constants>
    <constants>
        <description>Escalation Task Record Type</description>
        <name>VarEscalationTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task;Escalation</stringValue>
        </value>
    </constants>
    <decisions>
        <description>When there is no Business Rule List</description>
        <name>Check_BR_list</name>
        <label>Check BR list</label>
        <locationX>1294</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Iterate_BR_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Whether_BR_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBusinessRulelst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_BR_list</targetReference>
            </connector>
            <label>Whether BR is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Contact_Number</name>
        <label>check Contact Number</label>
        <locationX>170</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskContactNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Contact_Number</targetReference>
            </connector>
            <label>Contact Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_of_Task</name>
        <label>Check Email of Task</label>
        <locationX>354</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>check_Contact_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Email_to_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Contact_Email</targetReference>
            </connector>
            <label>Assign Email to Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Vendor_Escalation_Tasks</name>
        <label>Check for Vendor Escalation Tasks</label>
        <locationX>1441</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vendor_Escalation_Tasks</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Confirm Vendor Availability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Vendor Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Vendor_Name_in_Case_record</targetReference>
            </connector>
            <label>Vendor Escalation Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Vendor_Name_in_Case_record</name>
        <label>Check for Vendor Name in  Case record</label>
        <locationX>1161</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If no supplier is assigned with the case</defaultConnectorLabel>
        <rules>
            <name>If_supplier_is_WM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseRec.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Supplier__r.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Escalation_Second_Dispatch_Vendor</targetReference>
            </connector>
            <label>If supplier is WM</label>
        </rules>
        <rules>
            <name>If_supplier_is_Non_WM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseRec.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Supplier__r.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Vendor_Operations_Resolution_User</targetReference>
            </connector>
            <label>If supplier is Non-WM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Vendor_Operations_Resolution_User</name>
        <label>Check for Vendor Operations Resolution User</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If no Vendor Operations Resolution User</defaultConnectorLabel>
        <rules>
            <name>If_Vendor_Operations_Resolution_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Vendor_Operations_Resolution_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_to_Vendor_Operations_Resolution_User</targetReference>
            </connector>
            <label>If Vendor Operations Resolution is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_a_user_is_available_with_2nd_Dispatch_escalation_contact_name</name>
        <label>Check if a user is available with 2nd Dispatch escalation contact name</label>
        <locationX>622</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No 2nd Dispatch Escalation user</defaultConnectorLabel>
        <rules>
            <name>X2nd_Dispatch_Escalation_user_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Second_Dispatch_Vendor_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_to_2nd_Dispatch_Escalation_User</targetReference>
            </connector>
            <label>2nd Dispatch Escalation user present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Second_Dispatch_Escalation_Contact_is_returned</name>
        <label>Check if Second Dispatch Escalation Contact is returned</label>
        <locationX>776</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Second Dispatch Escalation user is not available</defaultConnectorLabel>
        <rules>
            <name>Second_Dispatch_Escalation_user_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var2ndDispatchEscalationUserName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Escalation_Second_Dispatch_Vendor_User</targetReference>
            </connector>
            <label>Second Dispatch Escalation user is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_BR_is_available</name>
        <label>Check whether BR is available</label>
        <locationX>1796</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessRuleList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>Is not Empty</label>
        </rules>
        <rules>
            <name>Universal_Rule</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>BusinessRuleList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Confirm Service Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Guarantees Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Universal_Rule</targetReference>
            </connector>
            <label>Universal Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Whether Business Process has task Process</description>
        <name>Check_Whether_Business_Process_has_task_Process</name>
        <label>Check Whether Business Process has task Process</label>
        <locationX>1611</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Iterate_BR_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcessCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BR_ID</targetReference>
            </connector>
            <label>Has Process</label>
        </rules>
    </decisions>
    <decisions>
        <description>Post conditions check before assigning AccountId</description>
        <name>Decision_Box</name>
        <label>Decision Box</label>
        <locationX>835</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalate_Vendor_Availability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varEscalationCVA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_to_update_Vendor_on_Case</targetReference>
            </connector>
            <label>Escalate Vendor Availability</label>
        </rules>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Vendor Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_Account_Id</targetReference>
            </connector>
            <label>Escalate Obtain Vendor Information</label>
        </rules>
        <rules>
            <name>Escalate_Confirm_Service_Completion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Confirm Service Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Email Approval Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Rejected Work Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Escalate Confirm Service Completion</label>
        </rules>
        <rules>
            <name>Set_Customer_Service_Guarantees</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerServiceGuaranteesConst</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServiceGuaranteesConst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountId</targetReference>
            </connector>
            <label>Set Customer Service Guarantees</label>
        </rules>
    </decisions>
    <decisions>
        <description>To Check if  input parameters are not null</description>
        <name>Input_Values_Null_Check</name>
        <label>Input Values Null Check</label>
        <locationX>1139</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>service_Guarantees</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GroupUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set Customer&apos;s Service Guarantees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Guarantees Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Task_Values</targetReference>
            </connector>
            <label>Set Customer&apos;s Service Guarantees</label>
        </rules>
        <rules>
            <name>Escalation_Obtain_Service_Approval</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>GroupUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Performed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarInputTask.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Obtain_Service_Approval</targetReference>
            </connector>
            <label>Escalation Obtain Service Approval</label>
        </rules>
        <rules>
            <name>If_Accepted_WO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Accepted WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Rejected Work Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_WO</targetReference>
            </connector>
            <label>If Accepted WO</label>
        </rules>
        <rules>
            <name>Other_Escalation_Process</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Performed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Task_Values</targetReference>
            </connector>
            <label>Other Escalation Process</label>
        </rules>
        <rules>
            <name>is_Auto_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarInputTask.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Obtain_Service_Approval_0</targetReference>
            </connector>
            <label>is Auto Email</label>
        </rules>
        <rules>
            <name>Is_Auto_Obtain_Cust_Info_Esc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarInputTask.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Task_Values_0</targetReference>
            </connector>
            <label>Is Auto Obtain Cust Info Esc</label>
        </rules>
        <rules>
            <name>Escalation_Obtain_Cust_Info</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>GroupUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Performed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalation_Task_Values_0_0</targetReference>
            </connector>
            <label>Escalation Obtain Cust Info</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Case,Account,Entitlement</description>
        <name>update_Scenario</name>
        <label>update Scenario</label>
        <locationX>581</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerServiceGuaranteesConst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Update Account</label>
        </rules>
        <rules>
            <name>UpdateEntitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServiceGuaranteesConst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement</targetReference>
            </connector>
            <label>UpdateEntitlement</label>
        </rules>
    </decisions>
    <description>This flow creates Escalation task and assigns to Default User  update 7/16 3:02 pm EST
Last Modified : Anu</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula is to check if multi case id is blank or not</description>
        <name>CheckMultiCaseId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!VarInputTask.MultiCaseId__c}) ) , {!VarInputTask.MultiCaseId__c} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>To populate profile number if populated</description>
        <name>CheckProfileNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!VarCaseRec.Profile_Number__c}) ) , {!VarCaseRec.Profile_Number__c} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckPurchaseOrderNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!VarCaseRec.PurchaseOrder_Number__c}) ) , {!VarCaseRec.PurchaseOrder_Number__c} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>To populate Description from Task for Escalation Obtain Customer Info Task</description>
        <name>EscalationObtainCustomerinfo</name>
        <dataType>String</dataType>
        <expression>IF({!varProcess} == &quot;Escalation Obtain Customer Info&quot; &amp;&amp; {!VarInputTask.Description__c} !=null ,{!VarInputTask.Description__c},{!varDescription})</expression>
    </formulas>
    <formulas>
        <name>TaskContactEmail</name>
        <dataType>String</dataType>
        <expression>{!VarInputTask.Contact_Email__c}</expression>
    </formulas>
    <formulas>
        <name>TaskContactNumber</name>
        <dataType>String</dataType>
        <expression>{!VarInputTask.Contact_Number__c}</expression>
    </formulas>
    <formulas>
        <description>Assign Account Id when Process contains Service Guarantees</description>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <expression>If({!varProcess} == {!CustomerServiceGuaranteesConst},{!CaseId},If({!VarEntitlementRec.AccountId} != null &amp;&amp; {!varProcess} == {!ServiceGuaranteesConst},{!VarEntitlementRec.AccountId},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>varActualBaseTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) &amp; &apos;;&apos;&amp; {!varDueDateTimeDelayCheck}</expression>
    </formulas>
    <formulas>
        <name>VarBRandCaseId</name>
        <dataType>String</dataType>
        <expression>{!BusinessRuleList} &amp;&quot;;&quot;&amp;{!CaseId}&amp;&quot;;&quot;&amp;{!GroupUserId}&amp;&quot;;&quot;&amp;{!varProcess}</expression>
    </formulas>
    <formulas>
        <description>Null check due date time delay field which comes from meta data</description>
        <name>varDueDateTimeDelayCheck</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varDueDateTimeDelay})),{!varDueDateTimeDelay},&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>varinputTaskContactEmail</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!VarInputTask.ContactEmail__c}),&apos;&apos;,{!VarInputTask.ContactEmail__c})</expression>
    </formulas>
    <formulas>
        <name>varInputTaskContactTitle</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!VarInputTask.Contact_Title__c}),&apos;&apos;,{!VarInputTask.Contact_Title__c})</expression>
    </formulas>
    <formulas>
        <name>varInputTaskDepartName</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!VarInputTask.Department_Name__c}),&apos;&apos;,{!VarInputTask.Department_Name__c})</expression>
    </formulas>
    <formulas>
        <name>VarinputTaskWhoId</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!VarInputTask.WhoId}),&apos;&apos;, {!VarInputTask.WhoId})</expression>
    </formulas>
    <formulas>
        <description>Check whether Business Rule has the Process or not.</description>
        <name>VarProcessCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varProcess} == &apos;Escalation Rejected Work Order&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Rejected Work Order&quot;),true,
IF({!varProcess} == {!CustomerServiceGuaranteesConst} &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Set Customer&apos;s Service Guarantees&quot;),true,
IF({!varProcess} == {!ServiceGuaranteesConst} &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Service Guarantees Approval&quot;),true,
IF({!varProcess} == &apos;Validate Email Approval Response&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Validate Email Approval Response&quot;),true,
IF({!varProcess} == &apos;Escalation Obtain Customer Info&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Obtain Customer Info&quot;),true,
IF({!varProcess} == &apos;Escalation Obtain Service Approval&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Obtain Service Approval&quot;),true,
IF({!varProcess} == &apos;Escalation Emergency Case&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Emergency Case&quot;),true,
IF({!varProcess} == &apos;Escalation Confirm Vendor Availability&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Confirm Vendor Availability&quot;),true,
IF({!varProcess} == &apos;Escalation Confirm Service Completion&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Confirm Service Completion&quot;),true,
IF({!varProcess} == &apos;Escalation Obtain Vendor Information&apos; &amp;&amp; INCLUDES( {!VarBusinessRuleProcess}, &quot;Escalation Obtain Vendor Information&quot;),True,False))))))))))</expression>
    </formulas>
    <interviewLabel>Process to create Escalation Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process to create Escalation Task</label>
    <loops>
        <description>Iterate the fetched Business Rule list</description>
        <name>Iterate_BR_list</name>
        <label>Iterate BR list</label>
        <locationX>1507</locationX>
        <locationY>511</locationY>
        <assignNextValueToReference>VarBusinessRule</assignNextValueToReference>
        <collectionReference>VarBusinessRulelst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Process</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_whether_BR_is_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Task Record</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>528</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>update_Scenario</targetReference>
        </connector>
        <inputReference>VarCreateTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Vendor_Operations_Resolution_User</name>
        <label>Fetch Vendor Operations Resolution User</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Vendor_Operations_Resolution_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor Operations Resolution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Bussiness Rule based on Task Notification RecordTypeId, AccountId, Process</description>
        <name>Get_Business_Rule</name>
        <label>Get Business Rule</label>
        <locationX>1187</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BR_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessRuleRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Universal_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>VarBusinessRulelst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>To fetch the Group User Id from the custom metadata</description>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>541</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Metadata_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputAssignments>
            <assignToReference>GroupUserId</assignToReference>
            <field>Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>To fetch the Group User Id from the custom metadata</description>
        <name>Get_Custom_Metadata_0</name>
        <label>Get Custom Metadata</label>
        <locationX>686</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Hours_for_Due_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputAssignments>
            <assignToReference>genesysUserId</assignToReference>
            <field>Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Second_Dispatch_Vendor_User</name>
        <label>Get Escalation Second Dispatch Vendor User</label>
        <locationX>622</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_a_user_is_available_with_2nd_Dispatch_escalation_contact_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var2ndDispatchEscalationUserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Universal_Rule</name>
        <label>Get Universal Rule</label>
        <locationX>1948</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Universal_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessRuleRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Universal_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Business_Rule__c</object>
        <outputReference>varUniversalBR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Task Flow Id</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>464</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>Decision_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Task_Id_For_Flow_URL__c</field>
            <value>
                <elementReference>VarCreateTask.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Task_Id_For_Flow_URL__c field on Case to further use in Flow URL</description>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>709</locationX>
        <locationY>678</locationY>
        <connector>
            <targetReference>Decision_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Task_Id_For_Flow_URL__c</field>
            <value>
                <elementReference>VarCreateTask.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Entitlement</name>
        <label>Update Entitlement</label>
        <locationX>584</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Decision_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Id_URL__c</field>
            <value>
                <elementReference>VarCreateTask.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Esacaltion_Task_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow will update the vendor on the case</description>
        <name>Invoke_to_update_Vendor_on_Case</name>
        <label>Invoke to update Vendor on Case</label>
        <locationX>1034</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Assign_Vendor_Account_Id</targetReference>
        </connector>
        <flowName>Update_Vendor_on_Case</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>VarCaseRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Hold the AccountId</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the AssetId of the related Case</description>
        <name>AssetIdOnCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the default value as Business_Notification</description>
        <name>BusinessNotificationDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business_Rule__c;Task_Notification</stringValue>
        </value>
    </variables>
    <variables>
        <description>stores list of BR&apos;s</description>
        <name>BusinessRuleList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Record Id of the Business Rule</description>
        <name>BusinessRuleRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To Store Business Rule Record Type Id</description>
        <name>BusinessRuleRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CaseId</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Hold the ClientId of Case</description>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the Created Task Id</description>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>genesysUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To Store &quot;Group User&quot; value</description>
        <name>GroupUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Group User</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores Default User Id</description>
        <name>GroupUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to store &quot;Escalation&quot; Record type Default value</description>
        <name>Task_Escalation_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Escalation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Task Record Type Id</description>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TodayEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>var2ndDispatchEscalationUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBusinessRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>VarBusinessRulelst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <description>Business Rule Process Field</description>
        <name>VarBusinessRuleProcess</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Record</description>
        <name>VarCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Task Comments</description>
        <name>VarComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Instance Create Task Record</description>
        <name>VarCreateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Stores Description for task</description>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Due date time as per business hours</description>
        <name>varDueDateTimeBusinessHours</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDueDateTimeDelay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Entitlement Record is passed as a Parameter</description>
        <name>VarEntitlementRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <description>holds the default value of process name</description>
        <name>varEscalationCVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Escalation Confirm Vendor Availability</stringValue>
        </value>
    </variables>
    <variables>
        <description>Task Record is passed as a input for creating Escalation Obtain Service Approval.</description>
        <name>VarInputTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Hold Task process name</description>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProposedServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRescheduleDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores Subject value</description>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Hold the SupplierId</description>
        <name>varSupplierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>universal business rule record.</description>
        <name>varUniversalBR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Rule__c</objectType>
    </variables>
    <variables>
        <name>varWOAcceptedComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the WorkOrder Record that is passed as input parameter</description>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
