force-app/main/default/flows/Process_for_update_Case_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_update_List</name>
        <label>Add to update List</label>
        <locationX>724</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedCommentlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>commentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Comment_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_commentrec</name>
        <label>Assign Value to commentRecord</label>
        <locationX>489</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>casecommentrecord.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casecommentrecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentCaseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Comment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Acorn_Tracking_Number</name>
        <label>Update Acorn Tracking Number</label>
        <locationX>909</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>commentRecord.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>casecommentrecord.CommentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentRecord.Acorn_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTrackingNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentRecord.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Comment_list</name>
        <label>Update Case Comment list</label>
        <locationX>1015</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCaseCommentlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>casecommentrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Comment_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Comment_records</name>
        <label>Update Case Comment records</label>
        <locationX>1149</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>casecommentrecord.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Comment_list</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>HaulerReported</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hauler Reported</stringValue>
        </value>
    </constants>
    <constants>
        <name>SNPCaseSubStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Service Issue Resolution</stringValue>
        </value>
    </constants>
    <constants>
        <name>varSNP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Not Performed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Indentification</name>
        <label>Case Indentification</label>
        <locationX>372</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Comment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SNP_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HaulerReported</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSubStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SNPCaseSubStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SNP_Parent_Case</targetReference>
            </connector>
            <label>SNP Case</label>
        </rules>
    </decisions>
    <description>Added SNP Case description</description>
    <formulas>
        <name>varCaseDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Case  &apos;+{!varCaseNumber}+&apos; , &apos;+&apos;Reference Number  &apos;+{!varCaseReferenceNo}+&apos; , &apos;+&apos;Ticket &apos;+{!varTrackingNumber}+&apos; has been created due to receiving a service exception from the hauler.&apos;</expression>
    </formulas>
    <interviewLabel>Process for update Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process for update Case Comment</label>
    <loops>
        <name>Loop_Case_Comment_List</name>
        <label>Loop Case Comment List</label>
        <locationX>1081</locationX>
        <locationY>196</locationY>
        <assignNextValueToReference>casecommentrecord</assignNextValueToReference>
        <collectionReference>varCaseCommentlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Comment_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CaseComment_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Comment_list</name>
        <label>Loop Comment list</label>
        <locationX>819</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>casecommentrecord</assignNextValueToReference>
        <collectionReference>varCaseCommentlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Acorn_Tracking_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Comment_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Comment</name>
        <label>Create Comment</label>
        <locationX>700</locationX>
        <locationY>456</locationY>
        <inputReference>casecommentrecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Comment_Record</name>
        <label>Create Comment Record</label>
        <locationX>1052</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Loop_Case_Comment_List</targetReference>
        </connector>
        <inputReference>varUpdatedCommentlist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Comment_Records</name>
        <label>Get Case Comment Records</label>
        <locationX>593</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Comment_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPublished</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>CaseComment</object>
        <outputReference>varCaseCommentlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommentBody</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>388</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Indentification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseReason</assignToReference>
            <field>Case_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseSubStatus</assignToReference>
            <field>Case_Sub_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseReferenceNo</assignToReference>
            <field>Reference_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTrackingNumber</assignToReference>
            <field>Tracking_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_of_Comment</name>
        <label>Get RecordType of Comment</label>
        <locationX>192</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acorn_Ticket_Comment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SNP_Parent_Case</name>
        <label>Get SNP Parent Case</label>
        <locationX>233</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_to_commentrec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSNP</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reference_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseReferenceNo</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varParentCaseRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CaseComment_List</name>
        <label>Update CaseComment List</label>
        <locationX>1273</locationX>
        <locationY>215</locationY>
        <inputReference>varUpdateCaseCommentlist</inputReference>
    </recordUpdates>
    <startElementReference>Get_RecordType_of_Comment</startElementReference>
    <status>Active</status>
    <variables>
        <name>casecommentrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>commentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <name>varCaseCommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseReferenceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseSubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varcommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <name>varParentCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpdateCaseCommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>varUpdatedCommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
</Flow>
