force-app/main/default/flows/Process_on_Task_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This class is invoked in order to fetch the task field based on task record type and concatenate into single string for spooling to Acorn</description>
        <name>Concatenate_Task_Detail</name>
        <label>Concatenate Task Detail</label>
        <locationX>221</locationX>
        <locationY>231</locationY>
        <actionName>ConcatenateTaskDetailForAcorn</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Output_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>lstTask</name>
            <value>
                <elementReference>TaskRecord</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FinalReturnValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_update_List</name>
        <label>Add to update List</label>
        <locationX>670</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedCommentlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>commentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Comment_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_value_to_String</name>
        <label>Assign List value to String</label>
        <locationX>403</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>ReturnedStringValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingGenesysVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Output_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Acorn_Tracking_Number</name>
        <label>Update Acorn Tracking Number</label>
        <locationX>676</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>commentRecord.Acorn_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTrackingNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comment_not_empty</name>
        <label>Comment not empty</label>
        <locationX>947</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>comment_list_null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcommentlist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Comment_list</targetReference>
            </connector>
            <label>comment list null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_the_Tracking_Number</name>
        <label>Null check for the Tracking Number</label>
        <locationX>1148</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrackingNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Comment_Records</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <description>This flow is part of task details spooling to Acorn functionality</description>
    <interviewLabel>Process on Task Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process for task details to Acorn</label>
    <loops>
        <name>Loop_Comment_list</name>
        <label>Loop Comment list</label>
        <locationX>895</locationX>
        <locationY>655</locationY>
        <assignNextValueToReference>commentRecord</assignNextValueToReference>
        <collectionReference>varcommentlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Acorn_Tracking_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Comment_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>looping collection variable to fetch the value into string</description>
        <name>Loop_Output_Collection</name>
        <label>Loop Output Collection</label>
        <locationX>399</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>LoopingGenesysVariable</assignNextValueToReference>
        <collectionReference>FinalReturnValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_List_value_to_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Task_RecordTypeId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Comment_Record</name>
        <label>Create Comment Record</label>
        <locationX>949</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Null_check_for_the_Tracking_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Acorn_Tracking_Number__c</field>
            <value>
                <elementReference>varTrackingNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>ReturnedStringValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <object>Comment__c</object>
    </recordCreates>
    <recordLookups>
        <description>fetch case to get Case Number</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>769</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Comment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTrackingNumber</assignToReference>
            <field>Tracking_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWORecord.Id</assignToReference>
            <field>Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Comment_Records</name>
        <label>Get Comment Records</label>
        <locationX>952</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comment_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Acorn_Tracking_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <object>Comment__c</object>
        <outputReference>varcommentlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Acorn_Tracking_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>221</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Concatenate_Task_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskRecId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsAcornCase__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Proposed_Service_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type Id to assign to genesys record</description>
        <name>Get_Task_RecordTypeId</name>
        <label>Get Task RecordTypeId</label>
        <locationX>606</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_Details_to_Acorn</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Comment_List</name>
        <label>Update Comment List</label>
        <locationX>1151</locationX>
        <locationY>647</locationY>
        <inputReference>varUpdatedCommentlist</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>commentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <description>Stores the Id of the created Genesys Record</description>
        <name>CreatedGenesysRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the string value returned from invocable method</description>
        <name>FinalReturnValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopingGenesysVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnedStringValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskClctn</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Stores task record</description>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Holds workorder Id sent as input parameter</description>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>store Case Number</description>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <description>Genesys record</description>
        <name>varGenesysRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Genesys_Routing__c</objectType>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>This variable hold the input parameter Task Id</description>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarTaskRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTrackingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpdatedCommentlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Comment__c</objectType>
    </variables>
    <variables>
        <description>stores the value of the acorn work order number that is on WO</description>
        <name>varWOAcornNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
