force-app/main/default/flows/Quote_Status_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calc_Customer_Offset</name>
        <label>Calc Customer Offset</label>
        <locationX>2690</locationX>
        <locationY>4211</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>NextActionDelayValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Customer_Action_0</name>
        <label>Calculate Customer Action</label>
        <locationX>2822</locationX>
        <locationY>3995</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>QuoteActionFrameworkRecord.Customer_Delay__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Due_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_RSG_Action</name>
        <label>Calculate RSG Action</label>
        <locationX>974</locationX>
        <locationY>4319</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Type_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>QuoteActionFrameworkRecord.RSG_Delay__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Due_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_TPH_Action</name>
        <label>Calculate TPH Action</label>
        <locationX>1766</locationX>
        <locationY>4319</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Type_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>QuoteActionFrameworkRecord.TPH_Delay__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Due_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_TPH_Action_0_0_0</name>
        <label>Calculate TPH Action</label>
        <locationX>842</locationX>
        <locationY>4535</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>NextActionDelayValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_TPH_Action_0_0_0_0</name>
        <label>Calculate TPH Action</label>
        <locationX>50</locationX>
        <locationY>4535</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>NextActionDelayValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_TPH_Offset</name>
        <label>Calculate TPH Offset</label>
        <locationX>1634</locationX>
        <locationY>4535</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>NextActionDelayValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_WM_Action</name>
        <label>Calculate WM Action</label>
        <locationX>182</locationX>
        <locationY>4319</locationY>
        <actionName>InvocableBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Type_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delayMinutes</name>
            <value>
                <elementReference>QuoteActionFrameworkRecord.WM_Delay__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStartDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBusinessHours</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Next_Action_Due_Date__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Quote_Priority</name>
        <label>Get Quote Priority</label>
        <locationX>1141</locationX>
        <locationY>1247</locationY>
        <actionName>CalculateQuotePriority</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Service_Type_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalculateQuotePriority</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNoOfDays</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>5005</locationX>
        <locationY>2819</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Assignment Team Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_0_0_0_0_0_0</name>
        <label>Send Notification</label>
        <locationX>3218</locationX>
        <locationY>4103</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_0_0_0_0_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Customer Delay Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_0_0_0_0_0_0_0</name>
        <label>Send Notification</label>
        <locationX>2426</locationX>
        <locationY>4211</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_0_0_0_0_0_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Quote Lines Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_0_0_0_0_0_0_0_0</name>
        <label>Send Notification</label>
        <locationX>2162</locationX>
        <locationY>4427</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_0_0_0_0_0_0_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>TPH Delay Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_0_0_0_0_0_0_0_0_0</name>
        <label>Send Notification</label>
        <locationX>1370</locationX>
        <locationY>4427</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_0_0_0_0_0_0_0_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>RSG Delay Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Notification</label>
        <locationX>578</locationX>
        <locationY>4427</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_0_0_0_0_0_0_0_0_0_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>WM Delay Not Found on {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Missing Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Stage0</name>
        <label>Add Stage0</label>
        <locationX>1141</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stage7</name>
        <label>Add Stage7</label>
        <locationX>3020</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer Delay</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Customer_Delay_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stage8</name>
        <label>Add Stage8</label>
        <locationX>1799</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Vendor Delay</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Lines_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stage_2</name>
        <label>Add Stage 2</label>
        <locationX>4232</locationX>
        <locationY>3384</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Retrieve_New_Stores_Quote_Only_Container_on_Site.quoteOnlyUserName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_New_Stores_Quote_Only_Container_on_Site.inputQuote.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages</name>
        <label>Add Stages</label>
        <locationX>1009</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages1</name>
        <label>Add Stages1</label>
        <locationX>1273</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages2_Non_VRM</name>
        <label>Add Stages2</label>
        <locationX>4741</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Non_VRM_Team_User_Team_Update.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Stages4_0</name>
        <label>add Stages4</label>
        <locationX>2893</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Stages4_0_0</name>
        <label>add Stages4</label>
        <locationX>2299</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stages_VRM</name>
        <label>Add Stages2</label>
        <locationX>4213</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_VRM_Team_User_Team_Update.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CS_Team</name>
        <label>Assign CS Team</label>
        <locationX>1273</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CustomerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stages1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_P1_Quote</name>
        <label>Assign P1 - Quote</label>
        <locationX>745</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartDateprioritycheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_P2_Quote</name>
        <label>Assign P2 - Quote</label>
        <locationX>1009</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartDateprioritycheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_P3_Quote</name>
        <label>Assign P3 - Quote</label>
        <locationX>1273</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartDateprioritycheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_P4_Quote</name>
        <label>Assign P4 - Quote</label>
        <locationX>1537</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartDateprioritycheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PS_Team</name>
        <label>Assign PS Team</label>
        <locationX>1009</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CustomerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Services</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId</name>
        <label>Assign the Current UserId</label>
        <locationX>5005</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId_0_0_0_0_0_0</name>
        <label>Assign the Current UserId</label>
        <locationX>3218</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId_0_0_0_0_0_0_0</name>
        <label>Assign the Current UserId</label>
        <locationX>2426</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId_0_0_0_0_0_0_0_0</name>
        <label>Assign the Current UserId</label>
        <locationX>2162</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId_0_0_0_0_0_0_0_0_0</name>
        <label>Assign the Current UserId</label>
        <locationX>1370</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Current_UserId_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign the Current UserId</label>
        <locationX>578</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Current_User_0</name>
        <label>Assign To Current User</label>
        <locationX>2893</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Stages4_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_NonVRM_User</name>
        <label>Assign To User</label>
        <locationX>2629</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_NonVRM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Stages4_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_User_0</name>
        <label>Assign To User</label>
        <locationX>4213</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VRM_Team_User_Team_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stages_VRM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_User_0_0</name>
        <label>Assign To User</label>
        <locationX>4741</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_VRM_Team_User_Team_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stages2_Non_VRM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_User_of_Canada_update</name>
        <label>Assign To User of Canada</label>
        <locationX>2101</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VRM_Team_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Stages4_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_User_of_Canada_updated</name>
        <label>Assign To User of Canada</label>
        <locationX>3949</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Canada.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_VRM_User</name>
        <label>Assign To User</label>
        <locationX>2365</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VRM_Team_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Stages4_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Assigned to Me action to True to prevent new genesis routing records if the change is only start date</description>
        <name>Set_Assigned_to_Me_action_to_True</name>
        <label>Set Assigned to Me action to True</label>
        <locationX>1493</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assing_To_Me_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartDate_Priority_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Action_to_Now</name>
        <label>Set Last Action to Now</label>
        <locationX>2409</locationX>
        <locationY>5063</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Action_Performed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage10</name>
        <label>Stage10</label>
        <locationX>974</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RSG Delay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextActionOffsetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteActionFrameworkRecord.RSG_Delay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_RSG_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage11</name>
        <label>Stage11</label>
        <locationX>1766</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TPH Delay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextActionOffsetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteActionFrameworkRecord.TPH_Delay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_TPH_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage12</name>
        <label>Stage12</label>
        <locationX>2822</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer Delay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextActionOffsetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteActionFrameworkRecord.Customer_Delay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Customer_Action_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage9</name>
        <label>Stage9</label>
        <locationX>182</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>WM Delay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextActionOffsetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteActionFrameworkRecord.WM_Delay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_WM_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StartDate_Priority_Calculation</name>
        <label>Start Date Priority</label>
        <locationX>1493</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>startDatePriorityCalculation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stage0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assigned_To_on_Quote</name>
        <label>Update Assigned To on Quote</label>
        <locationX>1661</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Asset_Quote_Team_to_Assign_Quote.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Delay_Customer_Delay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Action_Start_to_Now</name>
        <label>Update Next Action Start to Now</label>
        <locationX>2954</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Action_Start_to_Now_0</name>
        <label>Update Next Action Start to Now</label>
        <locationX>1898</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Action_Start_to_Now_0_0</name>
        <label>Update Next Action Start to Now</label>
        <locationX>1106</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Action_Start_to_Now_0_0_0</name>
        <label>Update Next Action Start to Now</label>
        <locationX>314</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Action_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Last_Action_to_Now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_False</name>
        <label>Update to False</label>
        <locationX>965</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Integration_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stage0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_Status_Change</name>
        <label>Update to Status Change</label>
        <locationX>525</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stage0</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This variable use for storing value of Canada Country.</description>
        <name>CanadaCountry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <description>To store the value to be queried in Quote Teams Frameworks metadata</description>
        <name>NewQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Quote</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>2822</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Action_Start_to_Now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Immediate Creation</defaultConnectorLabel>
        <rules>
            <name>Pending_Information</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calc_Customer_Offset</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Type_0</name>
        <label>Action Type</label>
        <locationX>1766</locationX>
        <locationY>4427</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Action_Start_to_Now_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Immediate Creation</defaultConnectorLabel>
        <rules>
            <name>Pending_Information_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_TPH_Offset</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Type_0_0</name>
        <label>Action Type</label>
        <locationX>974</locationX>
        <locationY>4427</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Action_Start_to_Now_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Immediate Creation</defaultConnectorLabel>
        <rules>
            <name>Pending_Information_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_TPH_Action_0_0_0</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_Type_0_0_0</name>
        <label>Action Type</label>
        <locationX>182</locationX>
        <locationY>4427</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Action_Start_to_Now_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Immediate Creation</defaultConnectorLabel>
        <rules>
            <name>Pending_Information_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_TPH_Action_0_0_0_0</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
    </decisions>
    <decisions>
        <description>Eligibility to assign to user  &quot;New Stores - Quote Only/Container on Site&quot;.</description>
        <name>check_eligiblity_for_Special_handling_or_Quote_Only</name>
        <label>check eligiblity for Special handling or Quote Only</label>
        <locationX>4424</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Procured_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Special_Handling_or_Quote_Only</name>
            <conditionLogic>(1 OR 2 )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Special_Handling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_New_Stores_Quote_Only_Container_on_Site</targetReference>
            </connector>
            <label>Special Handling or Quote Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Assignment_Team_Found</name>
        <label>Check If Assignment Team Found</label>
        <locationX>4389</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Get_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignment Team Not Found</defaultConnectorLabel>
        <rules>
            <name>CheckAssignedTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Delay_Customer_Delay</targetReference>
            </connector>
            <label>CheckAssignedTo</label>
        </rules>
        <rules>
            <name>Assignment_Team_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamFrameworkVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Location_Check</targetReference>
            </connector>
            <label>Assignment Team Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Customer_Delay_Found</name>
        <label>Check If Customer Delay Found</label>
        <locationX>3020</locationX>
        <locationY>3779</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Delay Not Found</defaultConnectorLabel>
        <rules>
            <name>Customer_Delay_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteActionFrameworkRecord.Customer_Delay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage12</targetReference>
            </connector>
            <label>Customer Delay Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a new quote or existing quote</description>
        <name>Check_if_new_quote_or_existing_quote</name>
        <label>Check if new quote or existing quote</label>
        <locationX>2596</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Assign_To_Current_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Quote</defaultConnectorLabel>
        <rules>
            <name>Existing_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Check_Canada</targetReference>
            </connector>
            <label>Existing Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Quote_Lines_Found</name>
        <label>Check If Quote Lines Found</label>
        <locationX>1799</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QL Not Found</defaultConnectorLabel>
        <rules>
            <name>QL_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Lines_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_vendor_Decision_0</targetReference>
            </connector>
            <label>QL Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_RSG_Delay_Found</name>
        <label>Check If RSG Delay Found</label>
        <locationX>1172</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RSG Delay Not Found</defaultConnectorLabel>
        <rules>
            <name>RSG_Delay_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteActionFrameworkRecord.RSG_Delay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage10</targetReference>
            </connector>
            <label>RSG Delay Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_TPH_Delay_Found</name>
        <label>Check If TPH Delay Found</label>
        <locationX>1964</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TPH Delay Not Found</defaultConnectorLabel>
        <rules>
            <name>TPH_Delay_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteActionFrameworkRecord.TPH_Delay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage11</targetReference>
            </connector>
            <label>TPH Delay Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_user_present</name>
        <label>check if user present</label>
        <locationX>4132</locationX>
        <locationY>3103</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Procured_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_user_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_New_Stores_Quote_Only_Container_on_Site.isUserFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stage_2</targetReference>
            </connector>
            <label>If user found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_WM_Delay_Found</name>
        <label>Check If WM Delay Found</label>
        <locationX>380</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Get_Notification_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WM Delay Not Found</defaultConnectorLabel>
        <rules>
            <name>WM_Delay_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteActionFrameworkRecord.WM_Delay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage9</targetReference>
            </connector>
            <label>WM Delay Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Procured_Status</name>
        <label>Check Quote Procured Status</label>
        <locationX>2497</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Get_Team_NonVRM_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign to SSM or Other Team</defaultConnectorLabel>
        <rules>
            <name>Assign_to_VRM</name>
            <conditionLogic>1 AND 4 AND 5 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VRM_Team_User</targetReference>
            </connector>
            <label>Assign to VRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Procured_Status_0</name>
        <label>Check Quote Procured Status</label>
        <locationX>4428</locationX>
        <locationY>2888</locationY>
        <defaultConnector>
            <targetReference>Get_Non_VRM_Team_User_Team_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign to SSM or Other Team</defaultConnectorLabel>
        <rules>
            <name>Assign_to_VRM_0</name>
            <conditionLogic>1 AND 4 AND (5 OR 6) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VRM_Team_User_Team_Update</targetReference>
            </connector>
            <label>Assign to VRM</label>
        </rules>
        <rules>
            <name>Quote_Procured_Status_Check_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <label>Quote Procured Status Check Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>2409</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>getHaulAwaySwitch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Quote</defaultConnectorLabel>
        <rules>
            <name>Amendment_Correction_Exception</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.QuoteProcuredStatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Asset_Quote_Team_to_Assign_Quote</targetReference>
            </connector>
            <label>Amendment/Correction/Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_status</name>
        <label>Check the status</label>
        <locationX>4389</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Get_Assignment_Teams_updated_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For rest of the Status-CustomerGroup Values</defaultConnectorLabel>
        <rules>
            <name>Procure_Service_with_Core_Customer_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignment_Teams_updated</targetReference>
            </connector>
            <label>Procure Service with Core Customer Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Update_Required_Assign_Timings_Mail_Notification</name>
        <label>Check Type of Update Required(Assign-Timings/Mail Notification)</label>
        <locationX>3157</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_the_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Assignment-Timings Both(Action Type&gt;Status Change &amp; Status&gt;Updates)</defaultConnectorLabel>
        <rules>
            <name>Only_Timings_ProcureServices_ConfigurePrice</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Project Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Client Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Delay_Customer_Delay</targetReference>
            </connector>
            <label>Only Timings(ProcureServices&gt;ConfigurePrice)</label>
        </rules>
        <rules>
            <name>Team_Assignment_Logic_Status_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_new_quote_or_existing_quote</targetReference>
            </connector>
            <label>Team Assignment Logic(Status&gt;Draft)</label>
        </rules>
        <rules>
            <name>Haul_Away_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>haulAwayCodeswitch.Switch_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsQuoteOnlyEnabled</targetReference>
            </connector>
            <label>Haul Away Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Haul_Away_GR_record</name>
        <label>Haul Away GR record</label>
        <locationX>3333</locationX>
        <locationY>2603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Haul_Away_GR_Submit_for_approval</name>
            <conditionLogic>1 AND 2 AND (3 OR 5) AND (4 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Rule__r.No_Approval_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Rule__r.No_Approval_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_for_haul_away</targetReference>
            </connector>
            <label>Haul Away GR_Submit for approval</label>
        </rules>
        <rules>
            <name>Haul_away_GR_integration_failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_for_haul_away</targetReference>
            </connector>
            <label>Haul away GR integration failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Customer_Type</name>
        <label>Identify Customer Type</label>
        <locationX>1141</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Assign_CS_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Core Customer</defaultConnectorLabel>
        <rules>
            <name>Project_Services_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRole.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Project Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Parent.Primary_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction and Demolition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Services_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PS_Team</targetReference>
            </connector>
            <label>Project Services Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuoteOnlyEnabled</name>
        <label>IsQuoteOnlyEnabled</label>
        <locationX>3333</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>AssignToHaulAwayQuotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteOnlyEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_CS_User</targetReference>
            </connector>
            <label>QuoteOnlyEnabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking shipping country of Location - Account of Quote</description>
        <name>Location_Check_Canada</name>
        <label>Location Check</label>
        <locationX>2299</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Get_Assignment_Teams_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_to_VRM_Canada_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ShippingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_User_for_Canada_update</targetReference>
            </connector>
            <label>Assign to Canada VRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_vendor_Decision_0</name>
        <label>Parent vendor Decision</label>
        <locationX>1172</locationX>
        <locationY>3995</locationY>
        <defaultConnector>
            <targetReference>Check_If_TPH_Delay_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Third Party</defaultConnectorLabel>
        <rules>
            <name>Waste_Management_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Lines_0.Vendor__r.Parent_Vendor_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_WM_Delay_Found</targetReference>
            </connector>
            <label>Waste Management</label>
        </rules>
        <rules>
            <name>Republic_Services_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Lines_0.Vendor__r.Parent_Vendor_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_RSG_Delay_Found</targetReference>
            </connector>
            <label>Republic Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking shipping country of Location - Account of Quote</description>
        <name>Quote_Location_Check</name>
        <label>Quote Location Check</label>
        <locationX>4213</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>check_eligiblity_for_Special_handling_or_Quote_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_to_Canada_VRM_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ShippingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Canada_Assignment</targetReference>
            </connector>
            <label>Assign to Canada VRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type_0</name>
        <label>Service Type</label>
        <locationX>1141</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Get_Future_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Date more than business 10 days</defaultConnectorLabel>
        <rules>
            <name>Service_Date_equal_to_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoOfDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Emergency_Followup</targetReference>
            </connector>
            <label>Service Date equal to today</label>
        </rules>
        <rules>
            <name>Service_Date_equal_to_next_business_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoOfDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Followup</targetReference>
            </connector>
            <label>Service Date equal to next business day</label>
        </rules>
        <rules>
            <name>Service_Date_till_business_10_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoOfDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNoOfDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Only_Followup</targetReference>
            </connector>
            <label>Service Date till business 10 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>StartDateprioritycheck</name>
        <label>StartDate priority Check</label>
        <locationX>1141</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start Date variable not checked</defaultConnectorLabel>
        <rules>
            <name>Start_Date_variable_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startDatePriorityCalculation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Details</targetReference>
            </connector>
            <label>Start Date variable checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Check</name>
        <label>Status Change Check</label>
        <locationX>1141</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>END</defaultConnectorLabel>
        <rules>
            <name>Status_Updated</name>
            <conditionLogic>((1 AND 2 ) OR 3) AND (4 or 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteProcuredStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.QuoteProcuredStatus__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.STP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Status_Change</targetReference>
            </connector>
            <label>Status Updated</label>
        </rules>
        <rules>
            <name>Action_Type_Updated</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Action_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stage0</targetReference>
            </connector>
            <label>Action Type Updated</label>
        </rules>
        <rules>
            <name>Pending_Info_Checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Information__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Pending_Information__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_False</targetReference>
            </connector>
            <label>Pending Info Checkbox</label>
        </rules>
        <rules>
            <name>Assign_To_Change_Only</name>
            <conditionLogic>(1 AND 2) OR ((3 OR 5 OR 6) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada VRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Genesys_Record_only_for_assigned_to_change</targetReference>
            </connector>
            <label>Assign To Change Only</label>
        </rules>
        <rules>
            <name>Start_Date_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SBQQ__StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigned_to_Me_action_to_True</targetReference>
            </connector>
            <label>Start Date changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_Delay_Customer_Delay</name>
        <label>Vendor Delay/Customer Delay</label>
        <locationX>2409</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Add_Stage7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Delay Required</defaultConnectorLabel>
        <rules>
            <name>Vendor_Delay_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Status Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stage8</targetReference>
            </connector>
            <label>Vendor Delay Required</label>
        </rules>
    </decisions>
    <description>Added new sub flow &quot;Retrieve User Id to Assign Quote For Special Handling and Quote Only Quotes&quot; Prod Issue fix</description>
    <environments>Default</environments>
    <formulas>
        <name>EmergencyDateDesignation</name>
        <dataType>Boolean</dataType>
        <expression>DateTimeValue({!$Record.SBQQ__StartDate__c} + ({!$Record.SBQQ__Account__r.tz__UTF_Offset__c}/24)) - ({!$Flow.CurrentDateTime} + ({!$Record.SBQQ__Account__r.tz__UTF_Offset__c}/24)) &lt;= 1.5</expression>
    </formulas>
    <formulas>
        <name>FutureDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>NextActionDelayValue</name>
        <dataType>Number</dataType>
        <expression>{!NextActionOffsetValue} / 2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote Status Change Flow Prod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Status Change Flow and Genesys Launch Point PROD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Teams_0</name>
        <label>Get Assignment Teams</label>
        <locationX>2497</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_Procured_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Teams_Framework__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Teams_updated</name>
        <label>Get Assignment Teams updated</label>
        <locationX>4257</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Assignment_Team_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuote</elementReference>
            </value>
        </filters>
        <filters>
            <field>Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </filters>
        <object>Quote_Teams_Framework__mdt</object>
        <outputReference>TeamFrameworkVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_Type__c</queriedFields>
        <queriedFields>Customer_Group__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Team_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Teams_updated_0</name>
        <label>Get Assignment Teams updated</label>
        <locationX>4521</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Assignment_Team_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuote</elementReference>
            </value>
        </filters>
        <object>Quote_Teams_Framework__mdt</object>
        <outputReference>TeamFrameworkVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_Type__c</queriedFields>
        <queriedFields>Customer_Group__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Team_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Emergency_Followup</name>
        <label>Get Emergency Followup</label>
        <locationX>745</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_P1_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency</stringValue>
            </value>
        </filters>
        <object>Quote_Action_Framework__mdt</object>
        <outputReference>QuoteActionFrameworkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RSG_Delay__c</queriedFields>
        <queriedFields>TPH_Delay__c</queriedFields>
        <queriedFields>WM_Delay__c</queriedFields>
        <queriedFields>Customer_Delay__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_Followup</name>
        <label>Get Future Followup</label>
        <locationX>1537</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_P4_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future</stringValue>
            </value>
        </filters>
        <object>Quote_Action_Framework__mdt</object>
        <outputReference>QuoteActionFrameworkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RSG_Delay__c</queriedFields>
        <queriedFields>TPH_Delay__c</queriedFields>
        <queriedFields>WM_Delay__c</queriedFields>
        <queriedFields>Customer_Delay__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_VRM_Team_User_Team_Update</name>
        <label>Get Team User</label>
        <locationX>4741</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_User_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamFrameworkVar.Team_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>5005</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_0_0_0_0_0_0</name>
        <label>Get Notification</label>
        <locationX>3218</locationX>
        <locationY>3887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_0_0_0_0_0_0_0</name>
        <label>Get Notification</label>
        <locationX>2426</locationX>
        <locationY>3995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_0_0_0_0_0_0_0_0</name>
        <label>Get Notification</label>
        <locationX>2162</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_0_0_0_0_0_0_0_0_0</name>
        <label>Get Notification</label>
        <locationX>1370</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_0_0_0_0_0_0_0_0_0_0</name>
        <label>Get Notification</label>
        <locationX>578</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Current_UserId_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing_Infiormation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines_0</name>
        <label>Get Quote Lines</label>
        <locationX>1799</locationX>
        <locationY>3779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Quote_Lines_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Only_Followup</name>
        <label>Get Quote Only Followup</label>
        <locationX>1273</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_P3_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Only</stringValue>
            </value>
        </filters>
        <object>Quote_Action_Framework__mdt</object>
        <outputReference>QuoteActionFrameworkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RSG_Delay__c</queriedFields>
        <queriedFields>TPH_Delay__c</queriedFields>
        <queriedFields>WM_Delay__c</queriedFields>
        <queriedFields>Customer_Delay__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Followup</name>
        <label>Get Standard Followup</label>
        <locationX>1009</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_P2_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Action_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>Quote_Action_Framework__mdt</object>
        <outputReference>QuoteActionFrameworkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RSG_Delay__c</queriedFields>
        <queriedFields>TPH_Delay__c</queriedFields>
        <queriedFields>WM_Delay__c</queriedFields>
        <queriedFields>Customer_Delay__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Service_Classification__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Canada</name>
        <label>Get Team User for Canada</label>
        <locationX>3747</locationX>
        <locationY>2800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_User_of_Canada_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Team_Canada_Assignment.Team_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Canada_Assignment</name>
        <label>Get Assignment Teams for canada</label>
        <locationX>3949</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Team_Canada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CanadaCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewQuote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Teams_Framework__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_NonVRM_User</name>
        <label>Get Team User</label>
        <locationX>2629</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_NonVRM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_Teams_0.Team_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_User_for_Canada_update</name>
        <label>Get Team User for Canada</label>
        <locationX>2101</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_User_of_Canada_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VRM_Team_User</name>
        <label>Get Team User</label>
        <locationX>2365</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_VRM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Stores</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VRM_Team_User_Team_Update</name>
        <label>Get Team User</label>
        <locationX>4100</locationX>
        <locationY>2766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Stores</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getHaulAwaySwitch</name>
        <label>getHaulAwaySwitch</label>
        <locationX>3157</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Type_of_Update_Required_Assign_Timings_Mail_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Haul_Away</stringValue>
            </value>
        </filters>
        <object>Code_Switch__c</object>
        <outputReference>haulAwayCodeswitch</outputReference>
        <queriedFields>Switch_Off__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_CS_User</name>
        <label>Retrieve CS User</label>
        <locationX>3201</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToCSTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS Service Resolution</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assignToCSTeam</name>
        <label>assignToCSTeam</label>
        <locationX>3201</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Haul_Away_GR_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>Retrieve_CS_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>AssignTo field in quote is assigned to running user only for haul away service SDT-41635</description>
        <name>AssignToHaulAwayQuotes</name>
        <label>AssignToHaulAwayQuotes</label>
        <locationX>3465</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Haul_Away_GR_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Details</name>
        <label>Update Quote Details</label>
        <locationX>1141</locationX>
        <locationY>5255</locationY>
        <connector>
            <targetReference>Generate_Genesys_Routing_Records</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1015</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change_Check</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Genesys_Record_only_for_assigned_to_change</name>
        <label>Create Genesys Record only for assigned to change</label>
        <locationX>1229</locationX>
        <locationY>431</locationY>
        <flowName>Quote_Genesys_Routing_Autoflow</flowName>
        <inputAssignments>
            <name>newQuote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldQuote</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Genesys_Routing_Records</name>
        <label>Generate Genesys Routing Records</label>
        <locationX>1141</locationX>
        <locationY>5363</locationY>
        <flowName>Quote_Genesys_Routing_Autoflow</flowName>
        <inputAssignments>
            <name>newQuote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldQuote</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>GR for haul away in case of submit for approval</description>
        <name>GR_for_haul_away</name>
        <label>GR for haul away</label>
        <locationX>3333</locationX>
        <locationY>2903</locationY>
        <flowName>Quote_Genesys_Routing_Autoflow</flowName>
        <inputAssignments>
            <name>newQuote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldQuote</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Retrieve_Asset_Quote_Team_to_Assign_Quote</name>
        <label>Retrieve Asset Quote Team to Assign Quote</label>
        <locationX>1661</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Update_Assigned_To_on_Quote</targetReference>
        </connector>
        <flowName>Retrieve_Asset_Quote_Assignment_Team</flowName>
        <inputAssignments>
            <name>CustomerGroup</name>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CustomerLocation</name>
            <value>
                <elementReference>$Record.SBQQ__ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QuoteStatus</name>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QuoteType</name>
            <value>
                <elementReference>$Record.SBQQ__Type__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>To retrieve the user and assign to user &quot;Retrieve New Stores - Quote Only/Container on Site&quot;</description>
        <name>Retrieve_New_Stores_Quote_Only_Container_on_Site</name>
        <label>Retrieve New Stores - Quote Only/Container on Site</label>
        <locationX>4590</locationX>
        <locationY>2607</locationY>
        <connector>
            <targetReference>check_if_user_present</targetReference>
        </connector>
        <flowName>Retrieve_User_Id_to_Assign_Quote_For_Special_Handling_and_Quote_Only_Quotes</flowName>
        <inputAssignments>
            <name>inputQuote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>Body for Quote Integration Failure Notification</description>
        <name>NotificationBodyForQuoteIntegrationFailure</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;Quote Integration is failed for &apos; +{!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CATEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>haulAwayCodeswitch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Code_Switch__c</objectType>
    </variables>
    <variables>
        <name>NextActionOffsetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteActionFrameworkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Action_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>RecepientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores recipient list for sending custom notification when Quote Integration is failed.</description>
        <name>RecepientIdsForIntegrationFailureNotification</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>--&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable use to check if priority calculation is running based on start date, so that other flow element does not execute in the case of start date priority calculation</description>
        <name>startDatePriorityCalculation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TeamFrameworkVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Teams_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>var_CurrQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PrevQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
