force-app/main/default/flows/Quote_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignee_Assigned_To_value_for_Quote_for_Team_User</name>
        <label>assignee Assigned To value for Quote for Team User</label>
        <locationX>1131</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>varAssignTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Team_User_Metadata.SFDC_user_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignToName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Team_User_Metadata.Team_User_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Action_Selection</name>
        <label>Check Action Selection</label>
        <locationX>574</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>User_Assigment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Action Type</defaultConnectorLabel>
        <rules>
            <name>Status_Change_OR_Non_SBS_Coordination_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-SBS Coordination Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Screen</targetReference>
            </connector>
            <label>Status Change OR Non-SBS Coordination Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_selection</name>
        <label>Check User selection</label>
        <locationX>1087</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sfdc User (Assigned To)</defaultConnectorLabel>
        <rules>
            <name>ERROR</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>varAssignTo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sfdcTeamUserName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignToName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Spec Corrections Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingedToError</targetReference>
            </connector>
            <label>ERROR</label>
        </rules>
        <rules>
            <name>Team_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Team_User_Metadata</targetReference>
            </connector>
            <label>Team User</label>
        </rules>
    </decisions>
    <description>SDT-26938 v12</description>
    <interviewLabel>Quote Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_By_Opportunity</name>
        <label>Get Case By Opportunity</label>
        <locationX>616</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Save_Quote_Assigment_And_Create_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varCaseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>908</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_By_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>SBQQ__Opportunity2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Team_User_Metadata</name>
        <label>get Team User Metadata</label>
        <locationX>1262</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignee_Assigned_To_value_for_Quote_for_Team_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_User_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sfdcTeams.middleValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSR_User_Data_Setup__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>583</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Action_Selection</targetReference>
        </connector>
        <fields>
            <name>ActionTypeAndReason</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Action_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Action_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Action Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varActionType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varActionReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Action Reason</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varActionType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varActionReason</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Next_Action_Due_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Next Action Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Information</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssingedToError</name>
        <label>AssingedToError</label>
        <locationX>1209</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ERRORText</name>
            <fieldText>&lt;p&gt;Select Assigned To or SFDC Team User.&lt;/p&gt;&lt;p&gt;Assigned To should not be Internal Spec Corrections Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Change_Screen</name>
        <label>Status Change Screen</label>
        <locationX>453</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dsp_ActoinTypeStatusMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 67, 36);&quot;&gt;Action Type: Status Change is not allowed from Take Action.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Status Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorNonSBSCoordinationNeeded</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 67, 36); background-color: rgb(255, 255, 255);&quot;&gt;Action Typ&lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 40, 40); background-color: rgb(255, 255, 255);&quot;&gt;e: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 40, 40);&quot;&gt;Non-SBS Coordination Needed&lt;/strong&gt;&lt;strong style=&quot;color: rgb(250, 67, 36); background-color: rgb(255, 255, 255);&quot;&gt; is not allowed from Take Action.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Non-SBS Coordination Needed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Assigment_Screen</name>
        <label>User Assigment Screen</label>
        <locationX>828</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_selection</targetReference>
        </connector>
        <fields>
            <name>lp_AssignTo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAssignTo</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAssignToName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Information</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Status Change</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>sfdcTeams.topValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Action_Due_Date_New</name>
            <dataType>DateTime</dataType>
            <fieldText>Next Action Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Information</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sfdcTeams</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>SFDC_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>SFDC_Team_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>SFDC Team</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varAssignTo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Information</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dsp_ActoinTypeMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 174, 50);&quot;&gt;User assignment is not needed for the action type: Pending Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varActionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Information</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Input_Save_Quote_Assigment_And_Create_Comment</name>
        <label>Save Quote Assigment And Create Comment</label>
        <locationX>616</locationX>
        <locationY>865</locationY>
        <flowName>AL_Save_Quote_Assigment_And_Create_Comment</flowName>
        <inputAssignments>
            <name>varActionReason</name>
            <value>
                <elementReference>varActionReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varActionType</name>
            <value>
                <elementReference>varActionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssignTo</name>
            <value>
                <elementReference>varAssignTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssignToName</name>
            <value>
                <elementReference>varAssignToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseNumber</name>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNextDueDateTime</name>
            <value>
                <elementReference>Next_Action_Due_Date_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNotes</name>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQuoteId</name>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>text variable to store user selected Team</description>
        <name>sfdcTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable used to store user selected team user name</description>
        <name>sfdcTeamUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
