force-app/main/default/flows/Quote_Genesys_Routing_Autoflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Default_Values_0</name>
        <label>Assign Default Values</label>
        <locationX>1986</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDescriptionCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDescriptionName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Price</name>
        <label>Calculate Price</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculate Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CalcPrice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Price_Old_0</name>
        <label>Calculate Price Old</label>
        <locationX>666</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculate Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CalcPrice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_existing</name>
        <label>Default existing UCC to users&apos;s UCC value</label>
        <locationX>732</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>UCCcodetocreatenewgr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuote.Assigned_To__r.User_categorization_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerofgrrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuote.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UCC_Metadata_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integration_Error</name>
        <label>Integration Error</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPQ Integration Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPQIntegFail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integration_Error_old</name>
        <label>Integration Error old</label>
        <locationX>1194</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPQ Integration Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPQIntegFail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integration_Error_Old_0</name>
        <label>Integration Error Old</label>
        <locationX>1458</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Integration Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IntError</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notify_Customer_of_Decline</name>
        <label>Notify Customer of Decline</label>
        <locationX>1590</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify Customer of Decline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ApproveDecline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notify_Customer_of_Decline_Old_0</name>
        <label>Notify Customer of Decline Old</label>
        <locationX>1722</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify Customer of Decline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ApproveDecline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ObCustInfo</name>
        <label>ObCustInfo</label>
        <locationX>1106</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObCustInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancellation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ObCustInfo_1</name>
        <label>ObCustInfo</label>
        <locationX>1546</locationX>
        <locationY>4274</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObCustInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Routing_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Approval</name>
        <label>Obtain Approval</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObApprov</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Approval_Old_0</name>
        <label>Obtain Approval Old</label>
        <locationX>930</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObApprov</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Customer_Information</name>
        <label>Obtain Customer Information</label>
        <locationX>94</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Customer Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObCustInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Customer_Information_Old_0</name>
        <label>Obtain Customer Information Old</label>
        <locationX>138</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain Customer Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ObCustInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pending_Information_1taskcode</name>
        <label>Pending Information</label>
        <locationX>1282</locationX>
        <locationY>4274</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PendInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Routing_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pending_Infprmation</name>
        <label>Pending Infprmation</label>
        <locationX>842</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PendInfo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancellation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Procure_Service_Old_0</name>
        <label>Procure Service Old</label>
        <locationX>402</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendor Cost &amp; Availability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProcVend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Unrouted_GR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Escalation</name>
        <label>Service Escalation</label>
        <locationX>578</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>oldTaskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ServEscalation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancellation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Escalation_1</name>
        <label>Service Escalation</label>
        <locationX>1018</locationX>
        <locationY>4274</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ServEscalation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Routing_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NexActionStartDate_value_form_Quote</name>
        <label>Set NexActionStartDate value form Quote</label>
        <locationX>930</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>NextActionStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuote.Next_Action_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Action_type_and_set_task_description_code_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_value_for_service_flag</name>
        <label>Set value for service flag</label>
        <locationX>50</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>GrServiceFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSRUserDataRecordForCreatingCancellationGR.GR_Service_Flag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancellation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set value from an old field User Object</description>
        <name>Set_value_for_service_flag_0</name>
        <label>Set value for service flag 0</label>
        <locationX>842</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>GrServiceFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSRUserDataRecordForCreatingCancellationGR.GR_Service_Flag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Action_type_and_set_task_description_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set value from an old field User Object</description>
        <name>Set_value_for_service_flag_1</name>
        <label>Set value for service flag 1</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>GrServiceFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oldQuote.Assigned_To__r.GR_Service_Flag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Action_type_and_set_task_description_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning to New Stores Team.</description>
        <name>UCC_to_NSGEN</name>
        <label>UCC to NSGEN</label>
        <locationX>996</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>UCCcodetocreatenewgr</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSGEN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Stores_Team_User_and_Assign_gr_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>UCC code assignment for haul away case GR</description>
        <name>UCC_to_users_s_UCC_value_for_haulaway</name>
        <label>UCC to users&apos;s UCC value for haulaway</label>
        <locationX>468</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>UCCcodetocreatenewgr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_const_CSRES</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerofgrrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuote.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UCC_Metadata_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Assigned_To_Flag</name>
        <label>Update Quote Assigned To Flag</label>
        <locationX>1260</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>newQuote.Assing_To_Me_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_GR_Flag</name>
        <label>Update Quote GR Flag</label>
        <locationX>578</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>newQuote.Genesys_Record_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vendor_Cost_Availability</name>
        <label>Vendor Cost &amp; Availability</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>taskDescriptionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendor Cost &amp; Availability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescriptionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProcVend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check the action type performed by user from take action and reset the task description code for genesis routing cancellation record SDT-32483</description>
        <name>check_for_Action_type_and_set_task_description_code</name>
        <label>check for Action type and set task description code</label>
        <locationX>974</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Create_Cancellation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Escalation</targetReference>
            </connector>
            <label>Escalation</label>
        </rules>
        <rules>
            <name>Pending_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Infprmation</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
        <rules>
            <name>Additional_Information_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObCustInfo</targetReference>
            </connector>
            <label>Additional Information Needed</label>
        </rules>
    </decisions>
    <decisions>
        <description>check the action type performed by the user from take action and reset the task description code for genesis routing new  record SDT-32483</description>
        <name>check_for_Action_type_and_set_task_description_code_1</name>
        <label>check for Action type and set task description code</label>
        <locationX>1062</locationX>
        <locationY>4166</locationY>
        <defaultConnector>
            <targetReference>Create_Routing_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Haul_Away_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_and_return</targetReference>
            </connector>
            <label>Check for Haul Away Case</label>
        </rules>
        <rules>
            <name>Check_for_Integration_Status</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Routing_Request</targetReference>
            </connector>
            <label>Check for Integration Status</label>
        </rules>
        <rules>
            <name>Escalation_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Escalation_1</targetReference>
            </connector>
            <label>Escalation</label>
        </rules>
        <rules>
            <name>Pending_Information_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Information_1taskcode</targetReference>
            </connector>
            <label>Pending Information</label>
        </rules>
        <rules>
            <name>Additional_Information_Needed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObCustInfo_1</targetReference>
            </connector>
            <label>Additional Information Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Genesis_Routing_Record_Present</name>
        <label>Check For Genesis Routing Record Present</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Genesys_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_For</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_routed_GR.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UCC_Metadata_for_cancellation_rec</targetReference>
            </connector>
            <label>Outcome 1 of Check For</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Genesys_Record</name>
        <label>Check for Genesys Record</label>
        <locationX>1062</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Is_Genesys_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Genesys Record Created</defaultConnectorLabel>
        <rules>
            <name>Genesys_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Genesys_Record_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_status_change_or_assignment_change</targetReference>
            </connector>
            <label>Genesys Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for haul away case</description>
        <name>Check_for_Haul_Away</name>
        <label>Check for Haul Away</label>
        <locationX>600</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Default_existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Haulaway_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UCC_to_users_s_UCC_value_for_haulaway</targetReference>
            </connector>
            <label>Check for Haulaway case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_integration_failure</name>
        <label>Check for integration failure</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Determine_Old_Quote_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Error</targetReference>
            </connector>
            <label>Integration Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Integration_failure_old</name>
        <label>Check for Integration failure_old</label>
        <locationX>1326</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Integration_Error_Old_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Change</defaultConnectorLabel>
        <rules>
            <name>Integration_Failed_old</name>
            <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Error_old</targetReference>
            </connector>
            <label>Integration Failed old</label>
        </rules>
    </decisions>
    <decisions>
        <description>It will check whether the stage is Submit for approval or approved for haul away case.</description>
        <name>Check_for_Submit_for_approval_or_approved_stage_for_Haul_Away</name>
        <label>Check for Submit for approval or approved stage for Haul Away</label>
        <locationX>314</locationX>
        <locationY>4382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Submit_for_approval_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Business_Rule__r.Is_Auto_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Business_Rule__r.No_Approval_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newQuote.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_GR_Routing_Request_For_Haul_Away</targetReference>
            </connector>
            <label>Check for Submit for approval stage for Haul Away</label>
        </rules>
        <rules>
            <name>check_for_Approved_and_integration_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_GR_Routing_Request_For_Haul_Away</targetReference>
            </connector>
            <label>check for Approved and integration failed</label>
        </rules>
        <rules>
            <name>genesys_record_creation_for_quote_only_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Quote_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newQuote.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_GR_Routing_Request_For_Haul_Away</targetReference>
            </connector>
            <label>genesys record creation for quote only request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Metadata_record_Found</name>
        <label>Check Metadata record Found</label>
        <locationX>1062</locationX>
        <locationY>3566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UCC_Metadata_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSRUserDataRecordForCreatingNewGR.Is_Genesys_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Quote_NexActionStartDate</targetReference>
            </connector>
            <label>User is Genesis Enabled</label>
        </rules>
        <rules>
            <name>HaulAway_Service_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Quote_NexActionStartDate</targetReference>
            </connector>
            <label>HaulAway Service Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Metadata_record_Found_for_Old_Quote</name>
        <label>Check Metadata record Found for Old Quote</label>
        <locationX>974</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Set_value_for_service_flag_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get value from Old GR flag from user Object</defaultConnectorLabel>
        <rules>
            <name>User_is_Genesis_Enabled_for_Old_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UCC_Metadata_Record_for_Cancellation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSRUserDataRecordForCreatingCancellationGR.Is_Genesys_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_value_for_service_flag_0</targetReference>
            </connector>
            <label>User is Genesis Enabled for Old Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Quote_NexActionStartDate</name>
        <label>check Quote NexActionStartDate</label>
        <locationX>1062</locationX>
        <locationY>3866</locationY>
        <defaultConnector>
            <targetReference>check_for_Action_type_and_set_task_description_code_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NexActionStartDate_is_in_future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Next_Action_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NexActionStartDate_value_form_Quote</targetReference>
            </connector>
            <label>NexActionStartDate is in future</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Old_Quote_Status</name>
        <label>Determine Old Quote Status</label>
        <locationX>1062</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Applicable Status</defaultConnectorLabel>
        <rules>
            <name>Draft_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Customer_Information_Old_0</targetReference>
            </connector>
            <label>Draft Status</label>
        </rules>
        <rules>
            <name>Procure_Service_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procure_Service_Old_0</targetReference>
            </connector>
            <label>Procure Service Status</label>
        </rules>
        <rules>
            <name>Configure_Price_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Price_Old_0</targetReference>
            </connector>
            <label>Configure Price Status</label>
        </rules>
        <rules>
            <name>Submit_for_Approval_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Approval_Old_0</targetReference>
            </connector>
            <label>Submit for Approval Status</label>
        </rules>
        <rules>
            <name>Approved_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Integration_failure_old</targetReference>
            </connector>
            <label>Approved Status</label>
        </rules>
        <rules>
            <name>Declined_Status_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_of_Decline_Old_0</targetReference>
            </connector>
            <label>Declined Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Quote_Status</name>
        <label>Determine Quote Status</label>
        <locationX>1062</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not Applicable Status</defaultConnectorLabel>
        <rules>
            <name>Draft_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Customer_Information</targetReference>
            </connector>
            <label>Draft Status</label>
        </rules>
        <rules>
            <name>Procure_Service_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Cost_Availability</targetReference>
            </connector>
            <label>Procure Service Status</label>
        </rules>
        <rules>
            <name>Configure_Price_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Price</targetReference>
            </connector>
            <label>Configure Price Status</label>
        </rules>
        <rules>
            <name>Submit_for_Approval_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Configured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtain_Approval</targetReference>
            </connector>
            <label>Submit for Approval Status</label>
        </rules>
        <rules>
            <name>Approved_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_integration_failure</targetReference>
            </connector>
            <label>Approved Status</label>
        </rules>
        <rules>
            <name>Declined_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_of_Decline</targetReference>
            </connector>
            <label>Declined Status</label>
        </rules>
        <rules>
            <name>Canceled_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Old_Quote_Status</targetReference>
            </connector>
            <label>Canceled Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Path when the trigger was fired due to integration status change or assignment change</description>
        <name>Integration_status_change_or_assignment_change</name>
        <label>Integration status change or assignment change</label>
        <locationX>578</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Get_UCC_Metadata_Record_for_Cancellation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignment Change</defaultConnectorLabel>
        <rules>
            <name>Integration_failure</name>
            <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_routed_GR</targetReference>
            </connector>
            <label>Integration failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Genesys_Eligible</name>
        <label>Is Genesys Eligible</label>
        <locationX>1062</locationX>
        <locationY>2942</locationY>
        <defaultConnectorLabel>Not Genesys Eligible</defaultConnectorLabel>
        <rules>
            <name>Genesys_Eligible_Quote</name>
            <conditionLogic>(1 AND 2) AND (3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Assigned_To__r.User_categorization_code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Assing_To_Me_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Haul_Away</targetReference>
            </connector>
            <label>Check If Genesys Eligible Quote</label>
        </rules>
        <rules>
            <name>Integration_failed_and_Assigned_to_STP_user</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Assigned_To__r.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.STP_Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Assing_To_Me_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newQuote.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldQuote.Integration_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UCC_to_NSGEN</targetReference>
            </connector>
            <label>Integration failed and Assigned to STP user</label>
        </rules>
        <rules>
            <name>User_Performed_Assinged_To_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.Assing_To_Me_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Assigned_To_Flag</targetReference>
            </connector>
            <label>User Performed Assinged To Action</label>
        </rules>
        <rules>
            <name>Haul_Away_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newQuote.SBQQ__Opportunity2__r.Case__r.Is_Haul_Away_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UCC_Metadata_Record</targetReference>
            </connector>
            <label>Haul Away Request</label>
        </rules>
    </decisions>
    <description>have made changes for Haul Away service request case in the below nodes for bypassing UCC code check if UCC code is not set for User.
Is Genesys Eligible Decision
Check Metadata record found- Decision
added input for haulaway sub flow for determining and retrieving haul away last agent id
Updated the flow for haul away GR for Assigning the UCC code.</description>
    <environments>Default</environments>
    <formulas>
        <description>LastAgentId for new Genesis record</description>
        <name>LastAgentIdNewRecord</name>
        <dataType>String</dataType>
        <expression>IF(AND(CONTAINS({!newQuote.Assigned_To__r.Username}, &quot;@wm.com&quot;)), 
    LEFT({!newQuote.Assigned_To__r.Username},Find(&quot;@wm.com&quot;, {!newQuote.Assigned_To__r.Username})-1), 
    &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>RouteEndTime</name>
        <dataType>String</dataType>
        <expression>if(AND(LEN(TEXT(MONTH({!$Flow.CurrentDate}))) = 1,LEN(TEXT(DAY({!$Flow.CurrentDate}))) = 1),TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T23:59:00Z&quot;, if(LEN(TEXT(MONTH({!$Flow.CurrentDate}))) = 1,TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T23:59:00Z&quot;, if( LEN(TEXT(DAY({!$Flow.CurrentDate}))) = 1,	TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T23:59:00Z&quot;, TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T23:59:00Z&quot;)))</expression>
    </formulas>
    <formulas>
        <name>RouteStartTime</name>
        <dataType>String</dataType>
        <expression>if(AND(LEN(TEXT(MONTH({!$Flow.CurrentDate}))) = 1,LEN(TEXT(DAY({!$Flow.CurrentDate}))) = 1),TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T09:00:00Z&quot;, if(LEN(TEXT(MONTH({!$Flow.CurrentDate}))) = 1,TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T09:00:00Z&quot;, if( LEN(TEXT(DAY({!$Flow.CurrentDate}))) = 1,	TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T09:00:00Z&quot;, TEXT(YEAR({!$Flow.CurrentDate})) &amp; &quot;-0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;T09:00:00Z&quot;)))</expression>
    </formulas>
    <interviewLabel>Quote Genesys Routing Autoflow PROD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Genesys Routing Autoflow PROD-v3</label>
    <loops>
        <name>Iterate_over_existing_records</name>
        <label>Iterate over existing records</label>
        <locationX>1062</locationX>
        <locationY>1226</locationY>
        <collectionReference>Find_Unrouted_GR_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_GR_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Genesys_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_GR_Routing_Request_For_Haul_Away</name>
        <label>Create GR Routing Request For Haul Away</label>
        <locationX>314</locationX>
        <locationY>4682</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastAgentId__c</field>
            <value>
                <elementReference>Determine_and_return.LastAgentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediaType__c</field>
            <value>
                <stringValue>SFDCCPQQuote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Determine_and_return.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctID__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocationTimeZone__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.tz__Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocation__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctSegment__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.Primary_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseNumber__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseReason__c</field>
            <value>
                <elementReference>newQuote.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseRefNo__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseSubCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjRecordID__c</field>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteEndTime__c</field>
            <value>
                <elementReference>RouteEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRoutePriority__c</field>
            <value>
                <elementReference>newQuote.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteStartTime__c</field>
            <value>
                <elementReference>RouteStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCServiceFlag__c</field>
            <value>
                <elementReference>CSRUserDataRecordForCreatingNewGR.GR_Service_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescCode__c</field>
            <value>
                <elementReference>taskDescriptionCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescription__c</field>
            <value>
                <elementReference>taskDescriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDueDateTime__c</field>
            <value>
                <elementReference>newQuote.Next_Action_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_Genesys_Time__c</field>
            <value>
                <elementReference>NextActionStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Genesys_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cancellation_Record</name>
        <label>Create Cancellation Record</label>
        <locationX>578</locationX>
        <locationY>2534</locationY>
        <connector>
            <targetReference>Update_Quote_GR_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Reason__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastAgentId__c</field>
            <value>
                <elementReference>LastAgentIdNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediaType__c</field>
            <value>
                <stringValue>SFDCCPQQuote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newQuote.Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctID__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocationTimeZone__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.tz__Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocation__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctSegment__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.Primary_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseNumber__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseReason__c</field>
            <value>
                <elementReference>newQuote.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseRefNo__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseSubCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjRecordID__c</field>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteEndTime__c</field>
            <value>
                <elementReference>RouteEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRoutePriority__c</field>
            <value>
                <elementReference>newQuote.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteStartTime__c</field>
            <value>
                <elementReference>RouteStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCServiceFlag__c</field>
            <value>
                <elementReference>GrServiceFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescCode__c</field>
            <value>
                <elementReference>oldTaskDescriptionCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescription__c</field>
            <value>
                <elementReference>oldTaskDescriptionName</elementReference>
            </value>
        </inputAssignments>
        <object>Genesys_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Routing_Request</name>
        <label>Create Routing Request</label>
        <locationX>1062</locationX>
        <locationY>4982</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastAgentId__c</field>
            <value>
                <elementReference>LastAgentIdNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediaType__c</field>
            <value>
                <stringValue>SFDCCPQQuote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerofgrrecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctID__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocationTimeZone__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.tz__Timezone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctLocation__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCAcctSegment__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Account__r.Parent.Primary_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseNumber__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseReason__c</field>
            <value>
                <elementReference>newQuote.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseRefNo__c</field>
            <value>
                <elementReference>newQuote.SBQQ__Opportunity2__r.Case__r.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseSubCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCCaseType__c</field>
            <value>
                <elementReference>newQuote.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCObjRecordID__c</field>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteEndTime__c</field>
            <value>
                <elementReference>RouteEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRoutePriority__c</field>
            <value>
                <elementReference>newQuote.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCRouteStartTime__c</field>
            <value>
                <elementReference>RouteStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCServiceFlag__c</field>
            <value>
                <elementReference>CSRUserDataRecordForCreatingNewGR.GR_Service_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescCode__c</field>
            <value>
                <elementReference>taskDescriptionCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDescription__c</field>
            <value>
                <elementReference>taskDescriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDCTaskDueDateTime__c</field>
            <value>
                <elementReference>newQuote.Next_Action_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_Genesys_Time__c</field>
            <value>
                <elementReference>NextActionStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Genesys_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_GR_Record</name>
        <label>Delete GR Record</label>
        <locationX>1150</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Iterate_over_existing_records</targetReference>
        </connector>
        <inputReference>Iterate_over_existing_records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Unrouted_GR_Records</name>
        <label>Find Unrouted GR Records</label>
        <locationX>1062</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_existing_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFDCObjRecordID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFDCTaskDescCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldTaskDescriptionCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Send_to_Genesys_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Genesys_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetching the New Stores Team user record.</description>
        <name>Get_New_Stores_Team_User_and_Assign_gr_owner</name>
        <label>Get New Stores Team User and Assign gr owner</label>
        <locationX>996</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UCC_Metadata_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Stores Team</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerofgrrecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This element will fetch the latest routed new gr</description>
        <name>Get_routed_GR</name>
        <label>Get routed GR</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Genesis_Routing_Record_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFDCObjRecordID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFDCTaskDescCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldTaskDescriptionCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Send_to_Genesys_Time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Genesys_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UCC_Metadata_for_cancellation_rec</name>
        <label>Get UCC Metadata for cancellation rec</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_value_for_service_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_categorization_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_routed_GR.Owner:User.User_categorization_code__c</elementReference>
            </value>
        </filters>
        <object>CSR_User_Data_Setup__mdt</object>
        <outputReference>CSRUserDataRecordForCreatingCancellationGR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GR_Service_Flag__c</queriedFields>
        <queriedFields>User_categorization_code__c</queriedFields>
        <queriedFields>Is_Genesys_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Metadata For user categorization code</description>
        <name>Get_UCC_Metadata_Record</name>
        <label>Get UCC Metadata Record</label>
        <locationX>1062</locationX>
        <locationY>3458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Metadata_record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_categorization_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UCCcodetocreatenewgr</elementReference>
            </value>
        </filters>
        <object>CSR_User_Data_Setup__mdt</object>
        <outputReference>CSRUserDataRecordForCreatingNewGR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Genesys_User__c</queriedFields>
        <queriedFields>GR_Service_Flag__c</queriedFields>
        <queriedFields>User_categorization_code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Metadata For user categorization code</description>
        <name>Get_UCC_Metadata_Record_for_Cancellation_Record</name>
        <label>Get UCC Metadata Record for Cancellation Record</label>
        <locationX>974</locationX>
        <locationY>1742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Metadata_record_Found_for_Old_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_categorization_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldQuote.Assigned_To__r.User_categorization_code__c</elementReference>
            </value>
        </filters>
        <object>CSR_User_Data_Setup__mdt</object>
        <outputReference>CSRUserDataRecordForCreatingCancellationGR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GR_Service_Flag__c</queriedFields>
        <queriedFields>User_categorization_code__c</queriedFields>
        <queriedFields>Is_Genesys_User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_0</name>
        <label>Update Quote</label>
        <locationX>578</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Is_Genesys_Eligible</targetReference>
        </connector>
        <inputReference>newQuote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0_0</name>
        <label>Update Quote</label>
        <locationX>1260</locationX>
        <locationY>3158</locationY>
        <inputReference>newQuote</inputReference>
    </recordUpdates>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Quote_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Determine_and_return</name>
        <label>Determine and Return Last Agent Id</label>
        <locationX>314</locationX>
        <locationY>4274</locationY>
        <connector>
            <targetReference>Check_for_Submit_for_approval_or_approved_stage_for_Haul_Away</targetReference>
        </connector>
        <flowName>Determine_and_Return_Last_Agent_Id</flowName>
        <inputAssignments>
            <name>LastAgentIdInput</name>
            <value>
                <elementReference>LastAgentIdNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerIdInput</name>
            <value>
                <elementReference>ownerofgrrecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QuoteRecord</name>
            <value>
                <elementReference>newQuote</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>This variable is used to store the csr user data setup for cancellation record</description>
        <name>CSRUserDataRecordForCreatingCancellationGR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSR_User_Data_Setup__mdt</objectType>
    </variables>
    <variables>
        <description>This variable is used to store csruser data record that is used for creating gr record.</description>
        <name>CSRUserDataRecordForCreatingNewGR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSR_User_Data_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>GrServiceFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>Value to store NexActionStartDate to set value for genesis (Sent to genesis time)</description>
        <name>NextActionStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>oldQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>oldTaskDescriptionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldTaskDescriptionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will be used to store the id of the owner of the gr record.</description>
        <name>ownerofgrrecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskDescriptionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDescriptionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the ucc that is used to create the new gr record.</description>
        <name>UCCcodetocreatenewgr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Constant for CSRES UCC code.</description>
        <name>var_const_CSRES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CSRES</stringValue>
        </value>
    </variables>
</Flow>
