force-app/main/default/flows/Recreate_Work_Order_from_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Cancel_Acorn_Work_Order</name>
        <label>Cancel Acorn Work Order</label>
        <locationX>2250</locationX>
        <locationY>1122</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Cancel_WO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Update_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>v_EachWorkOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Resend the Acorn work order using the invocable work order method</description>
        <name>Resend_Acorn_WO</name>
        <label>Resend Acorn WO</label>
        <locationX>736</locationX>
        <locationY>1140</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_WO_Resend</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Date_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>v_EachWorkOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Acorn_Accept</name>
        <label>Send to Acorn Accept</label>
        <locationX>868</locationX>
        <locationY>1410</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Accept_Work_Order</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>v_EachWorkOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Acorn_Service_Date</name>
        <label>Update Acorn Service Date</label>
        <locationX>697</locationX>
        <locationY>1683</locationY>
        <actionName>UpdateWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Update_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Date_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>WorkOrderlst</name>
            <value>
                <elementReference>v_EachWorkOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>APIResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Accept_Assignment</name>
        <label>Accept Assignment</label>
        <locationX>973</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Acorn_Accept</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dry_Run_Vars</name>
        <label>Assign Dry Run Vars</label>
        <locationX>1641</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>v_DryRunCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DryRunPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dry Run</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Not_WM_Vendor</name>
        <label>Assignment of Not WM Vendor</label>
        <locationX>1745</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Exception_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Description_Non_Vendor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Exception_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Send_Work_Order_to_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_WM_Vendor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Integration_Status_Cancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Work_Order_and_Case</name>
        <label>Cancel Work Order and Case</label>
        <locationX>2103</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Dry_Run_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_DryRunCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Dry_Run_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_DryRunPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_CurrentCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_CurrentCaseRecord.Case_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Dry_Run_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Dry_Run_Root_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dry_Run_Root_Cause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Acorn_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Service_Date</name>
        <label>Change Service Date</label>
        <locationX>991</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Service_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_CurrentCaseRecord.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Service_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acorn_Service_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Date_Assignment</name>
        <label>End Date Assignment</label>
        <locationX>1944</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>var_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AssetDetail.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integration_Status_Cancel</name>
        <label>Integration Status = Cancel</label>
        <locationX>1880</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integration_Status_Resend</name>
        <label>Integration Status = Resend</label>
        <locationX>803</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resend_Acorn_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_WM_Vendor_WO</name>
        <label>Assignment of Is WM Vendor WO</label>
        <locationX>1808</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Exception_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_EachWorkOrder.Exception_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Integration_Status_Cancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date_Service_Date</name>
        <label>Set End Date Service Date</label>
        <locationX>2183</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>var_NewServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Date_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrderCount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Service_Date</name>
        <label>Set New Service Date</label>
        <locationX>1843</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>var_NewServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkOrderCount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Bypass_Work_Order</name>
        <label>Update Bypass Work Order</label>
        <locationX>2249</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>var_BypassWO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bypass_Duplicate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkOrderCount_0</name>
        <label>WorkOrderCount=0</label>
        <locationX>1949</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>v_WorkOrderCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkOrderCounter</name>
        <label>WorkOrderCounter</label>
        <locationX>1699</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>v_WorkOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_DuplicateWorkOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_AssetDupeWO.Acorn_WorkOrder_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Asset_Work_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Accept</name>
        <choiceText>Accept Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept Work Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BlockedCan</name>
        <choiceText>Blocked Can</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked Can</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CancelWorkOrder</name>
        <choiceText>Cancel Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Work Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Contamination</name>
        <choiceText>Contamination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contamination</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_DryRunWorkOrder</name>
        <choiceText>Dry Run Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Work Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_EquipmentIssues</name>
        <choiceText>Equipment Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ResendWorkOrder</name>
        <choiceText>Resend Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resend Work Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_UpdateServiceDate</name>
        <choiceText>Update Service Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Service Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_WeatherConditions</name>
        <choiceText>Weather Conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weather Conditions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Acorn_Num_Nulll</name>
        <label>Acorn Num Nulll</label>
        <locationX>1198</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Accept3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_workOrder_number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_number_null</targetReference>
            </connector>
            <label>If Acorn workOrder number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_Dated_WO_User_Selection</name>
        <label>Back Dated WO User Selection</label>
        <locationX>1053</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return to Screen</defaultConnectorLabel>
        <rules>
            <name>Send_To_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resend_Back_Dated_Work_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Status_Resend</targetReference>
            </connector>
            <label>Send To Vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Screen_Decision</name>
        <label>Confirmation Screen Decision</label>
        <locationX>2505</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Order Required</defaultConnectorLabel>
        <rules>
            <name>No_Work_Order_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Recreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successfully_Canceled</targetReference>
            </connector>
            <label>No Work Order Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Available_Check</name>
        <label>End Date Available Check</label>
        <locationX>1919</locationX>
        <locationY>1414</locationY>
        <defaultConnector>
            <targetReference>New_Case_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No End Date</defaultConnectorLabel>
        <rules>
            <name>End_Date_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case_Date_w_End_Date</targetReference>
            </connector>
            <label>End Date Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handle_Canceled_Work_Order</name>
        <label>Handle Canceled Work Order</label>
        <locationX>1457</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canceled_Work_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_Confirmation</targetReference>
            </connector>
            <label>Canceled Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Acorn_number_is_null_check</name>
        <label>If Acorn number is null check</label>
        <locationX>1109</locationX>
        <locationY>1447</locationY>
        <defaultConnector>
            <targetReference>Accept_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Acorn_WO_number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Acorn_WorkOrder_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_workorder_null</targetReference>
            </connector>
            <label>If Acorn workorder number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Duplicates</name>
        <label>Number of Duplicates</label>
        <locationX>2082</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One or More</defaultConnectorLabel>
        <rules>
            <name>No_Asset_WOs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_WorkOrderCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Validation</targetReference>
            </connector>
            <label>No Asset WOs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recreate_Work_Order_Decision</name>
        <label>Recreate Work Order Decision</label>
        <locationX>1766</locationX>
        <locationY>1110</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Child_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Order Needed</defaultConnectorLabel>
        <rules>
            <name>No_Work_Order_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Recreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>No Work Order Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Validation</name>
        <label>SLA Validation</label>
        <locationX>2086</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>SLA_Bypass_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sooner than SLA</defaultConnectorLabel>
        <rules>
            <name>Within_SLA_Requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_CurrentCaseRecord.SLA_Service_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_CurrentCaseRecord.SLA_Service_Date_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_NewServiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_and_Create_Confirmation</targetReference>
            </connector>
            <label>Within SLA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Cancellation</name>
        <label>Type of Cancellation</label>
        <locationX>1543</locationX>
        <locationY>1101</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Dry_Run_Not_Permitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Dry Run</defaultConnectorLabel>
        <rules>
            <name>Dry_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_DryRunWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Service_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dry_Run_Cost_Price</targetReference>
            </connector>
            <label>Dry Run</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_CancelWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Account</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Accept_Work_Order</name>
        <label>Update Accept Work Order</label>
        <locationX>919</locationX>
        <locationY>1198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Accept_Wo_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accept_WO</targetReference>
            </connector>
            <label>Update Accept Wo Yes</label>
        </rules>
        <rules>
            <name>Update_Accept_WO_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_API_WO_Error</targetReference>
            </connector>
            <label>Update Accept WO No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Cancel_WO</name>
        <label>Update Cancel WO</label>
        <locationX>2374</locationX>
        <locationY>1123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_WO_Cancel_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Work_Order</targetReference>
            </connector>
            <label>Update WO Cancel Yes</label>
        </rules>
        <rules>
            <name>Update_WO_Cancel_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unexpected_Update_Error</targetReference>
            </connector>
            <label>Update WO Cancel No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Service_Date_Eligibility</name>
        <label>Update Service Date Eligibility</label>
        <locationX>1409</locationX>
        <locationY>1275</locationY>
        <defaultConnector>
            <targetReference>Service_Date_Update_Ineligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Date Ineligible</defaultConnectorLabel>
        <rules>
            <name>Service_Date_Eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending/Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Order_Date</targetReference>
            </connector>
            <label>Service Date Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Update_Work_Order</name>
        <label>Update Update Work Order</label>
        <locationX>553</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Update_WO_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Date</targetReference>
            </connector>
            <label>Update Update WO Yes</label>
        </rules>
        <rules>
            <name>Update_Update_WO_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unexpected_Date_Error</targetReference>
            </connector>
            <label>Update Update WO No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_WO_Resend</name>
        <label>Update WO - Resend</label>
        <locationX>612</locationX>
        <locationY>851</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Int_Status_Resend</targetReference>
            </connector>
            <label>Yes: Update WO</label>
        </rules>
        <rules>
            <name>No_Update_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IsSuccess : False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResendWOFailure</targetReference>
            </connector>
            <label>No: Update WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Choice_Selection</name>
        <label>User Choice Selection</label>
        <locationX>1256</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Date_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Date Change</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_CancelWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_DryRunWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Cancellation</targetReference>
            </connector>
            <label>Work Order Canceled</label>
        </rules>
        <rules>
            <name>Resend_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_ResendWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_WO_Service_Date</targetReference>
            </connector>
            <label>Resend Work Order</label>
        </rules>
        <rules>
            <name>Accept_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkOrder_Status</targetReference>
            </connector>
            <label>Accept Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Asset_Details</name>
        <label>Validate Asset Details</label>
        <locationX>2021</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>End_Date_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Usable</defaultConnectorLabel>
        <rules>
            <name>Inactive_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AssetDetail.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AssetDetail.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_Assets</targetReference>
            </connector>
            <label>Inactive Service</label>
        </rules>
        <rules>
            <name>Not_Core_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AssetDetail.Is_Core_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_Assets</targetReference>
            </connector>
            <label>Not Core Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_WO_Service_Date</name>
        <label>Verify WO Service Date</label>
        <locationX>905</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Service_Date_Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Date in Past</defaultConnectorLabel>
        <rules>
            <name>Service_Date_Today_or_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Service_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Status_Resend</targetReference>
            </connector>
            <label>Service Date Today or Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>WM_Vendor_or_Non_WM_Vendor</name>
        <label>WM Vendor or Non WM Vendor</label>
        <locationX>1464</locationX>
        <locationY>796</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WM_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVendorAccount.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Reason</targetReference>
            </connector>
            <label>Is WM Vendor</label>
        </rules>
        <rules>
            <name>Not_WM_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVendorAccount.WM_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Purchase_Non_WM_Vendor</targetReference>
            </connector>
            <label>Not WM Vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkOrder_Status</name>
        <label>WorkOrder Status</label>
        <locationX>1057</locationX>
        <locationY>1137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept_the_WorkOrder_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Acorn_number_is_null_check</targetReference>
            </connector>
            <label>Accept the WorkOrder Success</label>
        </rules>
        <rules>
            <name>Accept_Workorder_Unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_EachWorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acorn_Num_Nulll</targetReference>
            </connector>
            <label>Accept Workorder Unsuccessful</label>
        </rules>
    </decisions>
    <description>Recreate Work Order Flow</description>
    <dynamicChoiceSets>
        <name>pck_CancellationReasonDropDown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exception_Reason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SLABypassReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLA_Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Recreate Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Actions</label>
    <loops>
        <name>Iterate_Asset_Work_Order</name>
        <label>Iterate Asset Work Order</label>
        <locationX>1949</locationX>
        <locationY>428</locationY>
        <assignNextValueToReference>v_LoopWorkOrder</assignNextValueToReference>
        <collectionReference>v_AssetWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetWorkOrderDetails_Dupe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_Duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Child_Assets</name>
        <label>Loop through Child Assets</label>
        <locationX>1732</locationX>
        <locationY>1556</locationY>
        <assignNextValueToReference>var_AssetDetail</assignNextValueToReference>
        <collectionReference>var_CaseAssetDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Asset_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Date_Available_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>2510</locationX>
        <locationY>774</locationY>
        <assignRecordIdToReference>v_NewCaseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Case_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>v_CurrentCaseRecord.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_WO_Duplicate__c</field>
            <value>
                <elementReference>var_BypassWO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Information__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Case_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_Status__c</field>
            <value>
                <stringValue>Pending Service Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_Type__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>v_CurrentCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Recreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSI_Comments__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.PSI_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSI_Override_Reason__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.PSI_Override_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSI__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.PSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseOrder_Number__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.PurchaseOrder_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>v_CurrentCaseRecord.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Override_Comment__c</field>
            <value>
                <elementReference>SLA_Override_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Override_Reason__c</field>
            <value>
                <elementReference>SLA_Override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Service_Date_Time__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.SLA_Service_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>var_NewServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>v_CurrentCaseRecord.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Asset_Work_Orders</name>
        <label>Check Asset Work Orders</label>
        <locationX>1949</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Asset_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_CurrentCaseRecord.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewServiceDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>v_AssetWorkOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the current case record from which the flow is launched</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>766</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handle_Canceled_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_EachWorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>v_CurrentCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Case_Information__c</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>Case_Sub_Type__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>PSI__c</queriedFields>
        <queriedFields>PurchaseOrder_Number__c</queriedFields>
        <queriedFields>Reference_Number__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>PSI_Comments__c</queriedFields>
        <queriedFields>PSI_Override_Reason__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Case_Sub_Status__c</queriedFields>
        <queriedFields>Source_System__c</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>SLA_Service_Date_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Details</name>
        <label>Get New Case Details</label>
        <locationX>2672</locationX>
        <locationY>774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Case_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Creation_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_NewCaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>v_NewCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_One_Work_Order</name>
        <label>Get One Work Order</label>
        <locationX>907</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Issue_Retrieving_Work_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_currentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>v_EachWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Acorn_WorkOrder_Number__c</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>Case_Subtype__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Dry_Run_Cost__c</queriedFields>
        <queriedFields>Dry_Run_Price__c</queriedFields>
        <queriedFields>Dry_Run_Description__c</queriedFields>
        <queriedFields>Exception_Reason__c</queriedFields>
        <queriedFields>Exception_Description__c</queriedFields>
        <queriedFields>Integration_Status__c</queriedFields>
        <queriedFields>Vendor_Account_Id__c</queriedFields>
        <queriedFields>Send_Work_Order_to_Vendor__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Account</name>
        <label>Get Vendor Account</label>
        <locationX>1530</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WM_Vendor_or_Non_WM_Vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_EachWorkOrder.Vendor_Account_Id__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varVendorAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WM_Vendor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderDetails_Dupe</name>
        <label>GetWorkOrderDetails-Dupe</label>
        <locationX>1699</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkOrderCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_LoopWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>v_AssetDupeWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Acorn_WorkOrder_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Work_Order</name>
        <label>Cancel Work Order</label>
        <locationX>2524</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Update_Case_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Update_Error</targetReference>
        </faultConnector>
        <inputReference>v_EachWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accept_WO</name>
        <label>Update Accept WO</label>
        <locationX>756</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>Accept_Work_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_currentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Records</name>
        <label>Update Case Records</label>
        <locationX>2626</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Confirmation_Screen_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Update_Error</targetReference>
        </faultConnector>
        <inputReference>v_CurrentCaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Service_Date</name>
        <label>Update Case Service Date</label>
        <locationX>211</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Service_Date_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Date_Error</targetReference>
        </faultConnector>
        <inputReference>v_CurrentCaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Date</name>
        <label>Update Service Date</label>
        <locationX>434</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>Update_Case_Service_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unexpected_Date_Error</targetReference>
        </faultConnector>
        <inputReference>v_EachWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Int_Status_Resend</name>
        <label>Update WO Int Status = Resend</label>
        <locationX>278</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Work_Order_Resent</targetReference>
        </connector>
        <inputReference>v_EachWorkOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>Accept3</name>
        <label>Accept</label>
        <locationX>1321</locationX>
        <locationY>1360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AcceptWO_NotSuccess2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Accept Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AcceptWO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Work Order can only be accepted,if the WO Status is sent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Accept_API_WO_Error</name>
        <label>Accept API WO Error</label>
        <locationX>786</locationX>
        <locationY>1464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AcceptWO_Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Accept Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>API_WO_Error_Accept</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Oh no... An unexpected error has occurred. You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>WorkOrder is accepted.</description>
        <name>Accept_Work_Order_Status</name>
        <label>Accept Work Order Status</label>
        <locationX>623</locationX>
        <locationY>1228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Accept_Wo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Accept Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accept_WorkOrder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;WorkOrder is accepted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Acorn_number_null</name>
        <label>Acorn number null</label>
        <locationX>1211</locationX>
        <locationY>1467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AcceptWo_NotSucces1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Accept Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acorn_number_null_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot perform this action currently. Please try again after sometime.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Acorn_workorder_null</name>
        <label>Acorn_workorder_null</label>
        <locationX>996</locationX>
        <locationY>1284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Acorn_workorder_number_null</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot perform this action currently. Please try again after sometime.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_and_Create_Confirmation</name>
        <label>Cancel and Create Confirmation</label>
        <locationX>2266</locationX>
        <locationY>997</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Work_Order_and_Case</targetReference>
        </connector>
        <fields>
            <name>Cancel_S6</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CandCHelp</name>
            <fieldText>You&apos;re about to cancel a case and work order and recreate them for service on {!Service_Date}.  If this is correct, please press &quot;Next&quot;.  Otherwise if you need to make changes please press &quot;Previous&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel_Purchase_Non_WM_Vendor</name>
        <label>Cancel Purchase</label>
        <locationX>1624</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_Not_WM_Vendor</targetReference>
        </connector>
        <fields>
            <name>Cancel_S3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancellation_Description_Non_Vendor</name>
            <dataType>String</dataType>
            <fieldText>Cancellation Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter at least 9 characters in the cancellation description field</errorMessage>
                <formulaExpression>LEN({!Cancellation_Description_Non_Vendor}) &gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cancellation_Reason3</name>
            <choiceReferences>pck_CancellationReasonDropDown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Work_Order_to_Vendor</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send Work Order to Vendor?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Canceled_Confirmation</name>
        <label>Canceled Confirmation</label>
        <locationX>1755</locationX>
        <locationY>596</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cancel_S5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CanceledNotification</name>
            <fieldText>Work Order Details:

Work Order Number: {!v_EachWorkOrder.Acorn_WorkOrder_Number__c}
Work Order Type: {!v_EachWorkOrder.Case_Type__c} -  {!v_EachWorkOrder.Case_Subtype__c}
Status: {!v_EachWorkOrder.Status}
Service Date:{!v_EachWorkOrder.Service_Date__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserRedirection</name>
            <fieldText>Actions cannot be taken on this work order because the work order is currently {!v_EachWorkOrder.Status}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Reason</name>
        <label>Cancellation Reason</label>
        <locationX>1680</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_WM_Vendor_WO</targetReference>
        </connector>
        <fields>
            <name>Cancel_S4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CancellationHelp</name>
            <fieldText>Please select the cancellation reason from the drop down below., and document a brief description as to why the work order is being canceled.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancellation_Reason_Picklist</name>
            <choiceReferences>pck_CancellationReasonDropDown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancellation_Description</name>
            <fieldText>Cancellation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please provide a cancellation description longer than 9 characters</errorMessage>
                <formulaExpression>Len({!Cancellation_Description})&gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Creation_Error</name>
        <label>Case Creation Error</label>
        <locationX>2590</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateCaseHelp</name>
            <fieldText>&lt;p&gt;There was an error creating your new case.  Please provide these details your administrator:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2104</locationX>
        <locationY>1248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Work_Order_and_Case</targetReference>
        </connector>
        <fields>
            <name>Cancel_S1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarningNoWOHelp</name>
            <fieldText>You are about to cancel a work order and not issue a new work order.  Please click &quot;Next&quot; to proceed with this action or &quot;Previous&quot; to change your selections.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dry_Run_Cost_Price</name>
        <label>Dry Run Cost/Price</label>
        <locationX>1524</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Dry_Run_Vars</targetReference>
        </connector>
        <fields>
            <name>Dryrun_S2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Dry Run Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DryRunHelp</name>
            <fieldText>Please enter the Dry Run cost and price. Please note that you may need to refer to Red Notes to determine the customer&apos;s price for the dry run, or if approval is needed to bill the customer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dry_Run_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Dry Run Cost</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>The cost that has been provided by the Vendor</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Dry_Run_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Dry Run Price</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>The price that has been calculation based on feedback from the Customer Account Team, or derived from contractual artifacts such as the Acorn CMT.</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Dry_Run_Root_Cause</name>
            <choiceReferences>c_BlockedCan</choiceReferences>
            <choiceReferences>c_Contamination</choiceReferences>
            <choiceReferences>c_EquipmentIssues</choiceReferences>
            <choiceReferences>c_WeatherConditions</choiceReferences>
            <choiceReferences>c_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run Root Cause</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>Select the closest approximate reason as to why this work order is being marked as a dry run</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dry_Run_Description</name>
            <fieldText>Dry Run Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please write a brief description of the issue encountered onsite by the hauler</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please provide a dry run description longer than 9 characters</errorMessage>
                <formulaExpression>Len({!Dry_Run_Description})&gt;=9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NeedApprovalHelp</name>
            <fieldText>Need approval per Red Notes?  Don&apos;t worry, we haven&apos;t changed any records yet.  Simply navigate away from this page and make your selections again once you have input from the approver.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Warning</name>
        <label>Duplicate Warning</label>
        <locationX>2302</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Bypass_Work_Order</targetReference>
        </connector>
        <fields>
            <name>DuplicateWarningHelp</name>
            <fieldText>A duplicate work order may exist.  Please review the below work orders to determine that a duplicate is not being issued.  If these are not true duplicates, please confirm using the checkbox at the bottom of the screen prior to pressing &quot;Next&quot;, or press &quot;Previous&quot; to change the service date.

{!v_DuplicateWorkOrders}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bypass_Duplicate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Ignore Duplicate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please confirm that you wish to bypass the duplicate check.  Otherwise, please press &quot;Previous&quot; to change the service date.</errorMessage>
                <formulaExpression>{!Bypass_Duplicate} = True</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Retrieving_Work_Order</name>
        <label>Issue Retrieving Work Order</label>
        <locationX>1461</locationX>
        <locationY>497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IssueGettingOneHelp</name>
            <fieldText>&lt;p&gt;There was an issue retrieving the work order record details associated to this case.  Please provide the following error to your administrator:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Case_Date</name>
        <label>New Case Date</label>
        <locationX>1964</locationX>
        <locationY>1296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_New_Service_Date</targetReference>
        </connector>
        <fields>
            <name>CreateNewHelp</name>
            <fieldText>When will the new service be provided?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Date</name>
            <dataType>Date</dataType>
            <fieldText>Service Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The new service date should be today or in the future</errorMessage>
                <formulaExpression>{!Service_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Case_Date_w_End_Date</name>
        <label>New Case Date w End Date</label>
        <locationX>2101</locationX>
        <locationY>1477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_End_Date_Service_Date</targetReference>
        </connector>
        <fields>
            <name>CreateNewHelp_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;This service will end on {!var_EndDate}&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;.  &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;If service is needed beyond this date, the end dates will need to be removed before you can proceed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When will the new service be provided?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Service Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;The new service date should be today or in the future, and it should not exceed the asset&apos;s end date&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!Service_Date_0} &gt;= {!$Flow.CurrentDate},
{!Service_Date_0} &lt;= {!var_EndDate}
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Work_Order</name>
        <label>New Work Order</label>
        <locationX>1735</locationX>
        <locationY>981</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recreate_Work_Order_Decision</targetReference>
        </connector>
        <fields>
            <name>WorkOrderRecreateHelp</name>
            <fieldText>Does a new work order need to be created?  

An example of why a new work order would be created is if the service was marked as a Dry Run because a car was blocking the container, and the customer still requires a pickup.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Recreate</name>
            <choiceReferences>c_Yes</choiceReferences>
            <choiceReferences>c_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Recreate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Work_Order_Date</name>
        <label>New Work Order Date</label>
        <locationX>1306</locationX>
        <locationY>1644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Service_Date</targetReference>
        </connector>
        <fields>
            <name>Update_Service</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Update Service Date&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Service_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>v_EachWorkOrder.Service_Date__c</elementReference>
            </defaultValue>
            <fieldText>New Service Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The service date should not be set to a date in the past.</errorMessage>
                <formulaExpression>{!New_Service_Date} &gt;={!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResendWOFailure</name>
        <label>ResendWOFailure</label>
        <locationX>262</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Resend_Wo_Radio</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Resend Work Order&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>resendHelp</name>
            <fieldText>&lt;p&gt;Your work order cannot be resent at this time.  Please try to resend this work order later.  If the PDF is required immediately, navigate to the Work Order record you are trying to resend and use the &quot;Download WO PDF&quot; function to download the PDF manually and send to the interested party.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Date_Update_Ineligible</name>
        <label>Service Date Update Ineligible</label>
        <locationX>1473</locationX>
        <locationY>1537</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Inelligible</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Update Service Date&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IneligibleHelp</name>
            <fieldText>This work order cannot have it&apos;s service date updated at this time due to its current status.  If you wish to update the service date, a new work order and case will need to be created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Date_Updated</name>
        <label>Service Date Updated</label>
        <locationX>90</locationX>
        <locationY>1359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Sucess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Update Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceDateUpdateHelp</name>
            <fieldText>The service date has been successfully updated to {!v_EachWorkOrder.Service_Date__c}!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Date_Warning</name>
        <label>Service Date Warning</label>
        <locationX>1076</locationX>
        <locationY>907</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Back_Dated_WO_User_Selection</targetReference>
        </connector>
        <fields>
            <name>Resend_Wo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Resend Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceDateInPastHelp</name>
            <fieldText>The Service Date of this work order, {!v_EachWorkOrder.Service_Date__c}, is in the past.  It may not be necessary to resend this work order to the vendor.

Please identify below if you wish to resend this work order to the vendor.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resend_Back_Dated_Work_Order</name>
            <choiceReferences>c_Yes</choiceReferences>
            <choiceReferences>c_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resend Back-Dated Work Order?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SLA_Bypass_Reason</name>
        <label>SLA Bypass Reason</label>
        <locationX>2265</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_and_Create_Confirmation</targetReference>
        </connector>
        <fields>
            <name>SLAOverrideHelp</name>
            <fieldText>Please indicate below why you are overriding the customer&apos;s SLA (the date you selected is before the customer&apos;s entitled SLA date/time) and a brief description of why the SLA date is being overridden.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SLA_Override</name>
            <choiceReferences>SLABypassReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SLA Override</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SLA_Override_Description</name>
            <fieldText>SLA Override Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please provide a description longer than 9 characters</errorMessage>
                <formulaExpression>Len({!SLA_Override_Description}) &gt;= 9</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>2993</locationX>
        <locationY>776</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessHelpText</name>
            <fieldText>Your new case has been created!  The new case number is {!v_NewCaseRecord.CaseNumber}!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Canceled</name>
        <label>Successfully Canceled</label>
        <locationX>2742</locationX>
        <locationY>944</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cancel_S7</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cancel Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessHelp</name>
            <fieldText>You have successfully canceled the work order, and the case has transitioned to the appropriate status and sub-status.  If you haven&apos;t notified the customer, you should proceed to do so and log the interaction using the &quot;Log A Call&quot; functionality in the &quot;Feed&quot; section of the case details.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unexpected_Date_Error</name>
        <label>Unexpected Date Error</label>
        <locationX>513</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ServiceDateErrorHelp</name>
            <fieldText>&lt;p&gt;An error has occurred.  You may retry this action, however the error message is below.  Please provide this error message to your administrative support team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unexpected_Update_Error</name>
        <label>Unexpected Update Error</label>
        <locationX>2376</locationX>
        <locationY>1444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateErrorHelp</name>
            <fieldText>&lt;p&gt;Oh no... An unexpected error has occurred.  You can try this action again, but if you&apos;re unable to proceed please notify your Salesforce Administrator with the below error:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The screen displayed when the case record is only tied to one work order</description>
        <name>Work_Order_Details</name>
        <label>Work Order Details</label>
        <locationX>1258</locationX>
        <locationY>804</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Choice_Selection</targetReference>
        </connector>
        <fields>
            <name>WorkOrderDetails</name>
            <fieldText>Work Order Details:

Work Order Number: {!v_EachWorkOrder.Acorn_WorkOrder_Number__c}
Work Order Type: {!v_EachWorkOrder.Case_Type__c} -  {!v_EachWorkOrder.Case_Subtype__c}
Status: {!v_EachWorkOrder.Status}
Service Date:{!v_EachWorkOrder.Service_Date__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActionSelectorHelpText</name>
            <fieldText>If you need to take action on this work order, please select an action item below:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Actions</name>
            <choiceReferences>c_UpdateServiceDate</choiceReferences>
            <choiceReferences>c_ResendWorkOrder</choiceReferences>
            <choiceReferences>c_CancelWorkOrder</choiceReferences>
            <choiceReferences>c_DryRunWorkOrder</choiceReferences>
            <choiceReferences>c_Accept</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Actions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Dry_Run_Not_Permitted</name>
        <label>Work Order Dry Run Not Permitted</label>
        <locationX>1321</locationX>
        <locationY>1117</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DryRun_S1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Dry Run Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DryRunErrorHelp</name>
            <fieldText>You cannot perform a dry run on a work order under the following conditions:

- The work order is currently canceled
- The work order has a service date in the future

If one of these actions need to occur to this work order, please address them in Acorn.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Resent</name>
        <label>Work Order Resent</label>
        <locationX>50</locationX>
        <locationY>1150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Resend_Sucess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Resend Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResentConfirmation</name>
            <fieldText>The work order was resent on {!$Flow.CurrentDateTime}!

If additional actions need to be taken, please press the &quot;Finish&quot; button to be taken back to the start of the Modify Work Order process.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>333</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_One_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Make_Case_Assets</name>
        <label>Make Case Assets</label>
        <locationX>2833</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Add_Case_Assets</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>v_NewCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varParentAssetId</name>
            <value>
                <elementReference>v_NewCaseRecord.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceDate</name>
            <value>
                <elementReference>var_NewServiceDate</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>APIResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bool_RecalculateSLA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AssetDupeWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>v_AssetWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>v_CaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <description>The variable to store the Case record</description>
        <name>v_CurrentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>v_CurrentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_currentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_DryRunCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DryRunPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_DuplicateWorkOrders</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_EachWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>v_LoopWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>v_NewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>v_WorkOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AssetDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_BypassWO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_CaseAssetDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_CaseAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBS_Case_Asset__c</objectType>
    </variables>
    <variables>
        <name>var_CaseAssetServiceTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SingleCaseAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBS_Case_Asset__c</objectType>
    </variables>
    <variables>
        <name>varVendorAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
