force-app/main/default/flows/Retrieve_User_Id_to_Assign_Quote_For_Special_Handling_and_Quote_Only_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_the_Quote_to_the_User</name>
        <label>Assign the Quote to the User</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>inputQuote.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteOnlyUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_User_Id.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isUserFound_to_True</name>
        <label>Set isUserFound to True</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isUserFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_Quote_to_the_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Special_Handling_or_Quote_Only</name>
        <label>Check for Special Handling or Quote Only</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Special_Handling_or_Quote_Only</name>
            <conditionLogic>(1 OR (2 AND (3 OR 4))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>inputQuote.Quote_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputQuote.Special_Handling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputQuote.Special_Handling_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back-dated service requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputQuote.Special_Handling_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery not needed/container on site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputQuote.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_User_Id</targetReference>
            </connector>
            <label>Special Handling or Quote Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_User_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_isUserFound_to_True</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>SDT-42754 - Added new variable &quot;quoteOnlyUserName&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Retrieve User Id to Assign Quote For Special Handling and Quote Only Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve User Id to Assign Quote For Special Handling and Quote Only Quotes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve user id for the User with Name = New Stores-Quote Only/ Container on Site</description>
        <name>Retrieve_User_Id</name>
        <label>Retrieve User Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Stores-Quote Only/ Container on Site</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Special_Handling_or_Quote_Only</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>isUserFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>quoteOnlyUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
