force-app/main/default/flows/Retrieve_Asset_Quote_Assignment_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Return_Current_User_Id</name>
        <label>Return Current User Id</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_User_Id</name>
        <label>Return User Id</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>LocationCanada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assignment_Team_Found</name>
        <label>Assignment Team Found?</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Return_Current_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamFrameWorkRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_User_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to Identify Quote Type</description>
        <name>Check_for_NULL_Values</name>
        <label>Check for NULL Values</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Return_Current_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Values_are_present</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>QuoteStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_is_Canada</targetReference>
            </connector>
            <label>Values are present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_is_Canada</name>
        <label>Location is Canada?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Assignment_Team_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Canada</defaultConnectorLabel>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationCanada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Canada_Assignment_Team_Name</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Return_Current_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_User_Id</targetReference>
            </connector>
            <label>User Record Found</label>
        </rules>
    </decisions>
    <interviewLabel>Retrieve Asset Quote Assignment Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Asset Quote Assignment Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Assigned User for Amendment Quotes</description>
        <name>Get_Assignment_Team_Name</name>
        <label>Get Assignment Team Name</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Team_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerGroup</elementReference>
            </value>
        </filters>
        <object>Quote_Teams_Framework__mdt</object>
        <outputReference>TeamFrameWorkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Customer_Group__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Quote_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Assigned User for Amendment Quotes</description>
        <name>Get_Canada_Assignment_Team_Name</name>
        <label>Get Canada Assignment Team Name</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Team_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerLocation</elementReference>
            </value>
        </filters>
        <object>Quote_Teams_Framework__mdt</object>
        <outputReference>TeamFrameWorkRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Customer_Group__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Quote_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_User_Record</name>
        <label>Query User Record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamFrameWorkRecord.Team_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_NULL_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamFrameWorkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Teams_Framework__mdt</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
