force-app/main/default/flows/Retrieve_Asset_Ids_and_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Adjust_Temp_AssetId_Variable</name>
        <label>Adjust Temp AssetId Variable</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TempAssetIdsVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedAssetIdVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementIndex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contains_Semicolon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Set Flow Result to Failure</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FlowResultCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Ids not available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Add Asset Id to Collection variable</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Temp_AssetId_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>Add Asset Id to Collection</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetIdsFromCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowResultCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementIndex</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_8</name>
        <label>Set Final Outputs</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TruncatedAssetIdVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowResultCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Index</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>GetAssetIdintoVariable</name>
        <label>Get Asset Id into Variable</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TempAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Variables</name>
        <label>Initialize Variables</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAssetIdsVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetIdsFromCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_only_one_AssetId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssetIdsFromCaseNULL</name>
        <label>AssetIdsFromCase NULL?</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Initialize_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssetIdsFromCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetIdsFromCase</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_only_one_AssetId</name>
        <label>Contains only one AssetId</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Contains_Semicolon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Asset Ids</defaultConnectorLabel>
        <rules>
            <name>One_Asset_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsSemicolon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_7</targetReference>
            </connector>
            <label>One Asset Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Semicolon</name>
        <label>Contains Semicolon</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assignment_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Contain</defaultConnectorLabel>
        <rules>
            <name>Contains_Semicolon1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsSemicolon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssetIdintoVariable</targetReference>
            </connector>
            <label>Contains Semicolon</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContainsSemicolon</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!TempAssetIdsVariable}, &quot;;&quot;)</expression>
    </formulas>
    <formulas>
        <name>GetAssetId</name>
        <dataType>String</dataType>
        <expression>LEFT({!TempAssetIdsVariable}, FIND(&quot;;&quot;, {!TempAssetIdsVariable}) - 1)</expression>
    </formulas>
    <formulas>
        <name>IncrementIndex</name>
        <dataType>Number</dataType>
        <expression>{!Index} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TruncatedAssetIdVariable</name>
        <dataType>String</dataType>
        <expression>RIGHT({!TempAssetIdsVariable}, LEN({!TempAssetIdsVariable}) - FIND(&quot;;&quot;, {!TempAssetIdsVariable}))</expression>
    </formulas>
    <interviewLabel>Retrieve Asset Ids and Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Asset Ids and Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssetIdsFromCaseNULL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssetIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetIdsFromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowResultCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Failure</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlowResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TempAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempAssetIdsVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
