force-app/main/default/flows/Task_Assignment_Non_PickUp_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Integration_User</name>
        <label>Assign Integration User</label>
        <locationX>238</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGenericValueMetadataInput.Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ByPassGenesys_Assignment</name>
        <label>ByPassGenesys Assignment</label>
        <locationX>939</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051I0000026mLrQAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Escalation_Unresponsive_Contact_Customer</name>
        <label>Escalation Unresponsive Contact Customer</label>
        <locationX>939</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGenericMetaDataInputForGroupUser.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Escalation_Unresponsive_Contact_Vendor</name>
        <label>Escalation Unresponsive Contact Vendor</label>
        <locationX>923</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGenericMetaDataInputForGroupUser.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>if_case_rec_last_agent_id_is_not_null</name>
        <label>if case rec last agent id is not null</label>
        <locationX>798</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordInput.Last_Agent_Id_ForTaskAssignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_case_last_agent_id_for_task_assignment</name>
        <label>Check for case last agent id for task assignment</label>
        <locationX>454</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Assign_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_case_last_agent_if_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordInput.Last_Agent_Id_ForTaskAssignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_case_rec_last_agent_id_is_not_null</targetReference>
            </connector>
            <label>if case last agent if is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>485</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Assign_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ByPassGenesysAssignment</name>
            <conditionLogic>1 AND (2 OR 5) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordInput.Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acorn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordInput.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeNameInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Pickup_Follow_up_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordInput.CallCentreText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ByPassGenesys_Assignment</targetReference>
            </connector>
            <label>ByPassGenesysAssignment</label>
        </rules>
        <rules>
            <name>Non_Pickup_Followup_First_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeNameInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Pickup_Follow_up_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_last_agent_id_for_task_assignment</targetReference>
            </connector>
            <label>Non Pickup Followup First Attempt</label>
        </rules>
        <rules>
            <name>Non_Pickup_Unresponsive_Customer_Contact_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeNameInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Pickup_Escalation_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Unresponsive_Contact_Customer</targetReference>
            </connector>
            <label>Non Pickup Unresponsive Customer Contact Escalation</label>
        </rules>
        <rules>
            <name>Non_Pickup_Unresponsive_Vendor_Contact_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeNameInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Pickup_Escalation_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Unresponsive Contact Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Unresponsive_Contact_Vendor</targetReference>
            </connector>
            <label>Non Pickup Unresponsive Vendor Contact Escalation</label>
        </rules>
    </decisions>
    <interviewLabel>Task Assignment Non PickUp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Assignment Non PickUp Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>334</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Task_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseRecordInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varGenericMetaDataInputForGroupUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varGenericValueMetadataInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Generic_Values__mdt</objectType>
    </variables>
    <variables>
        <name>varIsGenesysUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
