force-app/main/default/flows/Task_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Tasks_for_deletion</name>
        <label>Check Tasks for deletion</label>
        <locationX>540</locationX>
        <locationY>173</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tasks_to_be_deleted_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskGroupInstanceForDeletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Task_with_Same_GroupId</targetReference>
            </connector>
            <label>Tasks to be deleted available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_On_TaskId_And_TaskGroupId_obtained</name>
        <label>Condition On TaskId And TaskGroupId obtained</label>
        <locationX>140</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskGroupId_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Record_collection_without_GroupId</targetReference>
            </connector>
            <label>TaskGroupId Not Available</label>
        </rules>
        <rules>
            <name>TaskIdAndTaskGroupId_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Record_Collection_with_GroupId</targetReference>
            </connector>
            <label>TaskIdAndTaskGroupId Available</label>
        </rules>
    </decisions>
    <description>This flow is to delete tasks</description>
    <interviewLabel>Task Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Task_with_Same_GroupId</name>
        <label>Delete Task with Same GroupId</label>
        <locationX>809</locationX>
        <locationY>162</locationY>
        <inputReference>TaskGroupInstanceForDeletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Task_Record_Collection_with_GroupId</name>
        <label>Task Record Collection with GroupId</label>
        <locationX>360</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Tasks_for_deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskGroupInstanceForDeletion</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Task_Record_collection_without_GroupId</name>
        <label>Task Record collection without GroupId</label>
        <locationX>353</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Tasks_for_deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskGroupInstanceForDeletion</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Condition_On_TaskId_And_TaskGroupId_obtained</startElementReference>
    <status>Active</status>
    <variables>
        <name>TaskGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskGroupInstanceForDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskGroupRecordForDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskInstanceForDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecordForDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
