force-app/main/default/flows/Task_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>to send email for nsd task</description>
        <name>sendEmailforNSD</name>
        <label>sendEmailforNSD</label>
        <locationX>1027</locationX>
        <locationY>197</locationY>
        <actionName>SendEmailForNotifyCustomerDelayTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_NCD_task_to_close</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseList</name>
            <value>
                <elementReference>varCaseDetailList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Integration_User</name>
        <label>Assign Integration User</label>
        <locationX>182</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Last_Modified_User_Task_Owner</name>
        <label>Assign Last Modified User Task Owner</label>
        <locationX>1283</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastModifiedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner</name>
        <label>Assign Task Owner</label>
        <locationX>1134</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_OVU</name>
        <label>Assign Task Owner OVU</label>
        <locationX>1461</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>if_case_rec_last_agent_id_is_not_null</name>
        <label>if case rec last agent id is not null</label>
        <locationX>1506</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRec.Last_Agent_Id_ForTaskAssignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsGenesysUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_to_Stop_the_further_flow_execution</name>
        <label>Update to Stop the further flow execution</label>
        <locationX>1009</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>varIsStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>varPROCESSCSC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Service Completion</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSCSWL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Service Completion with Location</stringValue>
        </value>
    </constants>
    <constants>
        <name>varProcessCVA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Vendor Availability</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSECSC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalation Confirm Service Completion</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSMD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually Dispatch</stringValue>
        </value>
    </constants>
    <constants>
        <name>varProcessNCD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify Customer of Delay</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSNCDELAY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify Customer Of Delay</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSNotifyCustomerOfServiceUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify Customer of Service Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSObtainVendorUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Obtain Vendor Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>varProcessOCI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Obtain Customer Info</stringValue>
        </value>
    </constants>
    <constants>
        <description>Obtain Service Approval</description>
        <name>varProcessOSA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Obtain Service Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>varPROCESSOSC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Obtain Schedule Confirmation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_case_last_agent_id_for_task_assignment</name>
        <label>Check for case last agent id for task assignment</label>
        <locationX>909</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_case_last_agent_if_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRec.Last_Agent_Id_ForTaskAssignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_record</targetReference>
            </connector>
            <label>if case last agent if is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Metadata_record_Found</name>
        <label>Check Metadata record Found</label>
        <locationX>1489</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>if_case_rec_last_agent_id_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Genesys_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UCC_Metadata_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UCC_Metadata_Record.Is_Genesys_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>User is Genesys Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>1111</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_is_Customer_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Modified_User_Task_Owner</targetReference>
            </connector>
            <label>Profile is Customer Service</label>
        </rules>
        <rules>
            <name>Profile_is_not_Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProfileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Profile is not Customer Service</label>
        </rules>
        <rules>
            <name>If_No_Previous_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProfileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner</targetReference>
            </connector>
            <label>If No Previous Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>352</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Obtain_Customer_Info_First_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessOCI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_last_agent_id_for_task_assignment</targetReference>
            </connector>
            <label>Obtain Customer Info First Attempt and Second Attempt</label>
        </rules>
        <rules>
            <name>OCI_Attempt_Greater_than_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessOCI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>OCI Attempt Greater than 2</label>
        </rules>
        <rules>
            <name>CVA_Attempt_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessCVA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_last_agent_id_for_task_assignment</targetReference>
            </connector>
            <label>CVA Attempt 1 and 2 and 3</label>
        </rules>
        <rules>
            <name>CVA_Attempt_Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessCVA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>CVA Attempt Greater than 3</label>
        </rules>
        <rules>
            <name>OSA_First_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessOSA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_last_agent_id_for_task_assignment</targetReference>
            </connector>
            <label>OSA second Attempt</label>
        </rules>
        <rules>
            <name>OSA_Attempt_Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessOSA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>OSA Attempt Greater than 2</label>
        </rules>
        <rules>
            <name>Notify_Customer_of_Delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessNCD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSourceVal</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_related_to_Case</targetReference>
            </connector>
            <label>Notify Customer of Delay</label>
        </rules>
        <rules>
            <name>CSC_Confirm_Service_Completion_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSCSC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>CSC &lt;Confirm Service Completion&gt; Tasks</label>
        </rules>
        <rules>
            <name>Escalation_Confirm_Service_Completion_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSECSC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Escalation Confirm Service Completion Attempt</label>
        </rules>
        <rules>
            <name>Notify_Customer_of_Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notify Customer of Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Notify Customer of Decline</label>
        </rules>
        <rules>
            <name>Obtain_Schedule_Confirmation_for_created_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSOSC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Obtain Schedule Confirmation for created Case</label>
        </rules>
        <rules>
            <name>Manually_Dispatch_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSMD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_last_agent_id_for_task_assignment</targetReference>
            </connector>
            <label>Manually Dispatch Process</label>
        </rules>
        <rules>
            <name>NotifyCustomofServiceUpdateEscalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSNCDELAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentTaskProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Confirm Service Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Notify Custom of Service Update - Escalation</label>
        </rules>
        <rules>
            <name>Notify_Custom_of_Service_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSNCDELAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentTaskProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Service Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner</targetReference>
            </connector>
            <label>Notify Custom of Service Update</label>
        </rules>
        <rules>
            <name>Confirm_Service_Completion_with_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSCSWL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Confirm Service Completion with Location</label>
        </rules>
        <rules>
            <name>Obtain_Vendor_Update_Attempt_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSObtainVendorUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner_OVU</targetReference>
            </connector>
            <label>Obtain Vendor Update Attempt 1</label>
        </rules>
        <rules>
            <name>Obtain_Vendor_Update_and_Notify_Customer_of_Service_Update</name>
            <conditionLogic>(1 AND 4) OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSObtainVendorUpdate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPROCESSNotifyCustomerOfServiceUpdate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Work Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>OBV , NCSU , RWO</label>
        </rules>
        <rules>
            <name>Notify_Customer_of_Delay_from_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessNCD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSourceVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_related_to_Case</targetReference>
            </connector>
            <label>Notify Customer of Delay from WorkOrder</label>
        </rules>
        <rules>
            <name>Notify_Customer_of_Delay_from_Work_Order_and_Email_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProcessNCD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSourceVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRec.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NCD_Task_and_Send_Email</targetReference>
            </connector>
            <label>Notify Customer of Delay from Work Order and Email to Contact</label>
        </rules>
        <rules>
            <name>Validate_Email_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Email Comments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Validate Email Comments</label>
        </rules>
        <rules>
            <name>Accepted_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Metadata</targetReference>
            </connector>
            <label>Accepted WorkOrder</label>
        </rules>
    </decisions>
    <description>Flow used to identify the task owner.
Last Modified -2/27.
User - Harun.
Description -  Task Framework Assignments.
Changes - Directed attempt 2 of OCI,CSV,SA to UCC check</description>
    <environments>Default</environments>
    <interviewLabel>Task Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This task is created and email will be sent to Contact Email Address</description>
        <name>Create_NCD_Task_and_Send_Email</name>
        <label>Create NCD Task and Send Email</label>
        <locationX>709</locationX>
        <locationY>229</locationY>
        <assignRecordIdToReference>varTaskRecForEmail</assignRecordIdToReference>
        <connector>
            <targetReference>sendEmailforNSD</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attempt__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>varCaseRec.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>varCaseRec.ContactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>varCaseRec.Contact_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>NotifyCustomerofDelayDefaultDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Service_Date__c</field>
            <value>
                <elementReference>varCasePropServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarFollowUpRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varCaseRec.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>355</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys User</stringValue>
            </value>
        </filters>
        <object>Generic_Values__mdt</object>
        <outputAssignments>
            <assignToReference>varTaskOwner</assignToReference>
            <field>Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>747</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastModifiedId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varProfileId</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Name</name>
        <label>Get Profile Name</label>
        <locationX>883</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProfileId</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>varProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_related_to_Case</name>
        <label>Get Task related to Case</label>
        <locationX>621</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRec.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varLastModifiedId</assignToReference>
            <field>LastModifiedById</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_UCC_Metadata_Record</name>
        <label>Get UCC Metadata Record</label>
        <locationX>1334</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Metadata_record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_categorization_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_user_record.User_categorization_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSR_User_Data_Setup__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_record</name>
        <label>Get user record</label>
        <locationX>1100</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UCC_Metadata_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRec.Last_Agent_Id_ForTaskAssignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NCD_task_to_close</name>
        <label>Update NCD task to close</label>
        <locationX>975</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Update_to_Stop_the_further_flow_execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskRecForEmail</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Task_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varCaseDetailList</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varCaseRec.Id}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>LastModifieduserforCVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Notify customer of delay task description to display on task</description>
        <name>NotifyCustomerofDelayDefaultDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>The vendor is unable to provide service on the requested service date, however has provided a new proposed service date.  Please contact the customer to advise of the service date change. </stringValue>
        </value>
    </variables>
    <variables>
        <name>ProfileNameforCVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCasePropServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Current Task Process to identify whether CSR or CAT Member</description>
        <name>VarCurrentTaskProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCustomerServiceProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFollowUpRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGenesysUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varGenesysUserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGenesysUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsGenesysUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsStop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberOfAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProfileIdforCVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSourceVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskRecForEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
