force-app/main/default/flows/Task_delay_SLA_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Ran_By_Delay_Logic</name>
        <label>Flow_Ran_By_Delay_Logic</label>
        <locationX>1305</locationX>
        <locationY>182</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>TaskInputIdParam</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Business_hours_Delay</name>
        <label>Get Business hours Delay</label>
        <locationX>1034</locationX>
        <locationY>274</locationY>
        <actionName>GetBusinessDelayTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Resume_Time_Expired</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rec</name>
            <value>
                <elementReference>varActualBaseTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetBusinessDelayTime</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Delay_assignment</name>
        <label>Delay assignment</label>
        <locationX>869</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>vartaskDelay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Metadata_framework.Parameter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAutoOSASLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Metadata_framework.Auto_Approval_OSA_Prod_Delay__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_hours_Delay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Resume_Time_Expired</name>
        <label>Check Resume Time Expired</label>
        <locationX>1154</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resume_Time_is_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResumeTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Ran_By_Delay_Logic</targetReference>
            </connector>
            <label>Resume Time is Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condtion_Task_Delay</name>
        <label>Condtion Task Delay</label>
        <locationX>678</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Metadata_framework.Next_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delay_assignment</targetReference>
            </connector>
            <label>Task Delay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Delay_Immediate_Flow_Run</name>
        <label>Decide Delay/Immediate Flow Run</label>
        <locationX>163</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>input_parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunFlowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task delay SLA process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_record_Outcome</targetReference>
            </connector>
            <label>Delay Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>input_parameters</name>
        <label>input parameters</label>
        <locationX>348</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskIdvalue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskInputIdParam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Metadata_framework</targetReference>
            </connector>
            <label>TaskIdvalue</label>
        </rules>
    </decisions>
    <description>Removed Apex call TestGetTaskFlow Put
Added Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic)</description>
    <environments>Default</environments>
    <formulas>
        <name>dateTimeAfter5Minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!varAutoOSASLA}</expression>
    </formulas>
    <formulas>
        <name>varActualBaseTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) &amp; &apos;;&apos;&amp; {!vartaskDelay}</expression>
    </formulas>
    <interviewLabel>Task delay SLA process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task delay SLA process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task_Metadata_framework</name>
        <label>Get Task Metadata framework</label>
        <locationX>445</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Condtion_Task_Delay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obtain Service Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Approval Email Sent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Framework__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>1235</locationX>
        <locationY>291</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskInputIdParam</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunFlowAtTime__c</field>
            <value>
                <elementReference>dateTimeAfter5Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunFlowName__c</field>
            <value>
                <stringValue>Task delay SLA process</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_record_Outcome</name>
        <label>Update Task record Outcome</label>
        <locationX>204</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskInputIdParam</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Approval Email Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>No Response/Pending Response</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>333</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decide_Delay_Immediate_Flow_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RunFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskInputIdParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskInputObjNameParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAutoOSASLA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>VarResumeTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>vartaskDelay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
