force-app/main/default/flows/Task_Framework_Process_To_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get case RecordType Id</description>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>942</locationX>
        <locationY>51</locationY>
        <actionName>GetSobjectRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputParameter</name>
            <value>
                <elementReference>caseRecordTypeName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>caseRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Accepted_WorkOrder_Values</name>
        <label>Assign Accepted WorkOrder Values</label>
        <locationX>907</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varCaseSubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVerifyTaskVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejected_WorkOrder_Values</name>
        <label>Assign Rejected WorkOrder Values</label>
        <locationX>686</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>VarCaseReason</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wrong Hauler</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Vendor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Customer Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTeamQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Work Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVerifyTaskVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waste_Stream</name>
        <label>Assign Waste Stream</label>
        <locationX>593</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>varCaseSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste Stream</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVerifyTaskVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseReason</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_on_Input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>763</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Check_on_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Verify_Service_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWOVerifyTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Waste_Stream</targetReference>
            </connector>
            <label>WO Verify Service Task</label>
        </rules>
        <rules>
            <name>Accepted_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_WorkOrder_Values</targetReference>
            </connector>
            <label>Accepted WorkOrder</label>
        </rules>
        <rules>
            <name>Rejected_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Work Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rejected_WorkOrder_Values</targetReference>
            </connector>
            <label>Rejected WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_Input</name>
        <label>Check on Input</label>
        <locationX>727</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Input_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecordTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_RecordType</targetReference>
            </connector>
            <label>check Input Values</label>
        </rules>
    </decisions>
    <description>Process To Create Case via Task Framework</description>
    <formulas>
        <name>varVerifyTaskVal</name>
        <dataType>String</dataType>
        <expression>IF({!varWOVerifyTask}= &apos;ATN&apos;,&apos;Verify Account Number&apos;,
IF({!varWOVerifyTask}= &apos;WGS&apos;, &apos;Verify Services&apos;,
IF({!varWOVerifyTask}= &apos;WTS&apos;, &apos;Verify Waste Stream&apos;,
IF({!varWOVerifyTask}= &apos;WRV&apos;, &apos;Validate Service Provider&apos;,&apos;&apos;))))</expression>
    </formulas>
    <interviewLabel>Task Framework Process To Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Framework Process To Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Case</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1092</locationX>
        <locationY>51</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>varCaseRecord.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <elementReference>VarCaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_Status__c</field>
            <value>
                <elementReference>varCaseSubStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_Type__c</field>
            <value>
                <elementReference>varCaseSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>VarCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>varCaseRecord.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>varCaseRecord.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>varCaseRecord.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>varCaseRecord.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Name__c</field>
            <value>
                <elementReference>varTeamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Queue__c</field>
            <value>
                <elementReference>varTeamQueue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case;Modify_Existing_Service_Case</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Reason</description>
        <name>VarCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service Correction</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Status</description>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseSubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Sub Type</description>
        <name>varCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change/Correction</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Type</description>
        <name>VarCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>varProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWOVerifyTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
