force-app/main/default/flows/Task_for_Compliance_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SBS_Assign_All_Task</name>
        <label>Assign All Task</label>
        <locationX>620</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>SBS_InsertTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SBS_tsk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SBS_Iterate_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SBS_Assign_Task</name>
        <label>Assign Task</label>
        <locationX>751</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>SBS_tsk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_GroupMember.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_tsk.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_CurrentDateplustwo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_tsk.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBS_RelatedTO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_tsk.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_tsk.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SBS_tsk.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approve Newly Created Entitlement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SBS_Assign_All_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GroupMemeber_Null</name>
        <label>Null</label>
        <locationX>532</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Group_Member_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBS_GroupMemberlst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBS_Iterate_Group_Member</targetReference>
            </connector>
            <label>If Group Member is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null</name>
        <label>Null</label>
        <locationX>40</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Fetched_Group_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBS_GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBS_Fetch_Group_Member</targetReference>
            </connector>
            <label>If Fetched Group is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>SBS_Null</name>
        <label>Null</label>
        <locationX>160</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBS_If_Group_Name_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBS_GroupName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBS_Fetch_groupId</targetReference>
            </connector>
            <label>If Group Name not null</label>
        </rules>
    </decisions>
    <description>This Flow is used to create Task for Compliance Group when SLA is created for the Account</description>
    <formulas>
        <name>SBS_CurrentDateplustwo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 2</expression>
    </formulas>
    <formulas>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>&apos;SLA &apos; + {!Case_Sub_Type}+&apos; Approval.&apos;</expression>
    </formulas>
    <interviewLabel>Task for Compliance Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task for Compliance Group</label>
    <loops>
        <name>SBS_Iterate_Group_Member</name>
        <label>Iterate Group Member</label>
        <locationX>748</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>SBS_GroupMember</assignNextValueToReference>
        <collectionReference>SBS_GroupMemberlst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SBS_Assign_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SBS_Insert_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SBS_Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>945</locationX>
        <locationY>227</locationY>
        <inputReference>SBS_InsertTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>SBS_Fetch_Group_Member</name>
        <label>Fetch Group Member</label>
        <locationX>386</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMemeber_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SBS_GroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>SBS_GroupMemberlst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SBS_Fetch_groupId</name>
        <label>Fetch groupId</label>
        <locationX>376</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SBS_GroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>SBS_GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>SBS_Null</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_Sub_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBS_GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SBS_GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>SBS_GroupMemberlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>SBS_GroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SBS_InsertTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SBS_RelatedTO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SBS_tsk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
