force-app/main/default/flows/Update_Case_for_Task_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>ByPassLogic</label>
        <locationX>250</locationX>
        <locationY>362</locationY>
        <actionName>AvoidProcessBuilder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>AvoidProcessBuilder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Get Task Recursion Check</description>
        <name>Task_Recursion_Check</name>
        <label>Task Recursion Check</label>
        <locationX>296</locationX>
        <locationY>124</locationY>
        <actionName>GetTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Recursion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetTaskRecursionCheck</nameSegment>
        <outputParameters>
            <assignToReference>varIsRecursion</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <description>varSource String = Task</description>
        <name>varSource_Task</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Recursion</name>
        <label>Check for Recursion</label>
        <locationX>109</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop_on_Recursion</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varStopRecursion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsRecursion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Stop on Recursion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Delayed_Flow_to_Run</name>
        <label>Decide Delayed Flow to Run</label>
        <locationX>938</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Task_FrameWork_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RunFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Task FrameWork Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_FrameWork_Process_on_Delay_1</targetReference>
            </connector>
            <label>Create Task FrameWork Process</label>
        </rules>
        <rules>
            <name>Task_delay_SLA_process_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RunFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task delay SLA process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_delay_SLA_process_on_delay</targetReference>
            </connector>
            <label>Task delay SLA process Flow</label>
        </rules>
        <rules>
            <name>Process_of_Non_Pickup_Task_framework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RunFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process of Non Pickup Task framework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_of_Non_Pickup_Task_framework_delay</targetReference>
            </connector>
            <label>Process of Non Pickup Task framework</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>By Pass</label>
        <locationX>499</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_By Pass</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_By Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>When Non Pickup Outcome Changed</label>
        <locationX>730</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_When Non Pickup Outcome Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_of_Non_Pickup_Task_framework_Set</targetReference>
            </connector>
            <label>TRUE_When Non Pickup Outcome Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Task Delay obtain Service Approval</label>
        <locationX>929</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>FALSE_Task Delay obtain Service Approval</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_delay_SLA_process</targetReference>
            </connector>
            <label>TRUE_Task Delay obtain Service Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>On Task Completion</label>
        <locationX>730</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_On Task Completion</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsAcornCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Error Message</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Detail_Concatenation_Process</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_On Task Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>When Outcome is udated</label>
        <locationX>730</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_When Outcome is udated</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_FrameWork_ProcessV1</targetReference>
            </connector>
            <label>TRUE_When Outcome is udated</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Update Is Info Task Created</label>
        <locationX>730</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Is Info Task Created</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>TRUE_Update Is Info Task Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Populate Description on the Task</label>
        <locationX>730</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Description on the Task</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_Flow_Invocation</targetReference>
            </connector>
            <label>TRUE_Populate Description on the Task</label>
        </rules>
    </decisions>
    <description>Updated Approval_Log__r.Required_Approver_Title__c in Department Approver (ExApprover)</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.Object_Save_Mode__c.Disable_Process_Builder__c},  {!$Setup.Object_Save_Mode__c.Full_Logic_Disabled__c})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(BEGINS({!$Record.WhatId},&apos;500&apos;),NOT(ISNEW()),ISCHANGED({!$Record.Outcome__c} ), 
OR({!$Record.RecordType.DeveloperName} =&apos;Non_Pickup_Follow_up_Task&apos;,{!$Record.RecordType.DeveloperName=&apos;Non_Pickup_Escalation_Task&apos;}),
NOT(ISBLANK(TEXT({!$Record.Outcome__c}))),IF(AND(ISPICKVAL({!$Record.Process__c} , &apos;Resolve Service Issue&apos;),{!$Record.Reached_out_to_Contact__c} ),FALSE,TRUE)),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(OR(BEGINS({!$Record.WhatId},&apos;500&apos;),BEGINS({!$Record.WhatId},&apos;550&apos;)) ,ISNEW(),{!$Record.Attempt__c=1},
{!$Record.RecordType.DeveloperName} =&apos;Approvals&apos;,
NOT(ISBLANK(TEXT({!$Record.Outcome__c}))), ISPICKVAL({!$Record.Outcome__c}, &apos;Auto Approval Email Sent&apos;), ISPICKVAL({!$Record.Process__c}, &apos;Obtain Service Approval&apos;)),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(OR(BEGINS({!$Record.WhatId},&apos;500&apos;),BEGINS({!$Record.WhatId},&apos;550&apos;)) ,NOT(ISNEW()),ISCHANGED({!$Record.Outcome__c} ), 
OR({!$Record.RecordType.DeveloperName} =&apos;Approvals&apos;,{!$Record.RecordType.DeveloperName=&apos;Escalation&apos;}, {!$Record.RecordType.DeveloperName=&apos;Follow_Up&apos;}),
NOT(ISBLANK(TEXT({!$Record.Outcome__c}))), NOT(AND(ISPICKVAL({!$Record.Outcome__c}, &apos;No Response/Pending Response&apos;), OR(ISPICKVAL({!$Record.Process__c}, &apos;Confirm Service Completion&apos;), ISPICKVAL({!$Record.Process__c},
 &apos;Obtain Schedule Confirmation&apos;))))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT($User.Bypass_Validation__c),BEGINS({!$Record.WhatId},&apos;500&apos;),ISPICKVAL({!$Record.Process__c} , &apos;Obtain Customer Info&apos;), ISNEW() )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),
 {!$Record.RecordType.Name} == &apos;Quick Task&apos;)</expression>
    </formulas>
    <formulas>
        <description>InputObjectIdParam</description>
        <name>InputObjectIdParam</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!$Record.Process__c} ,&apos;Service Guarantees Approval&apos;) ),{!$Record.WhatId} ,null)</expression>
    </formulas>
    <formulas>
        <description>InputObjectNamesParam</description>
        <name>InputObjectNamesParam</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!$Record.Process__c} ,&apos;Service Guarantees Approval&apos;) ),&apos;Case;VendorDispatchContact;CustomerContact;Task&apos;,null)</expression>
    </formulas>
    <formulas>
        <description>VarActualApproverId</description>
        <name>VarActualApproverId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Approval_Log__r.Approver_Type__c}),IF(AND(ISBLANK({!$Record.WhoId}),ISBLANK({!$Record.Contact_Title__c}),ISBLANK({!$Record.Contact_Email__c}),ISBLANK({!$Record.Approver_Name__c})),{!$Record.Owner:User.Id},
IF(AND(ISBLANK({!$Record.WhoId}),ISBLANK({!$Record.Contact_Title__c}),NOT(ISBLANK({!$Record.Contact_Email__c})),ISBLANK({!$Record.Approver_Name__c}),{!$Record.Owner:User.Profile.Name} != &apos;Customer Service&apos;),{!$Record.Owner:User.Id},&apos;&apos;)),
IF(OR(CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;User&apos;),CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Account_Team_Member&apos;),{!$Record.RecordType.DeveloperName} = &apos;Escalation&apos; ),{!$Record.Owner:User.Id},
IF(AND(CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Email&apos;),ISBLANK({!$Record.WhoId}),NOT(ISBLANK({!$Record.Contact_Email__c})),{!$Record.Owner:User.Profile.Name} != &apos;Customer Service&apos;),{!$Record.Owner:User.Id},&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <description>VarApproverContactEmail</description>
        <name>VarApproverContactEmail</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.ContactEmail__c} )),NOT(ISPICKVAL({!$Record.Process__c} ,&apos;Validate Email Approval Response&apos;))),{!$Record.ContactEmail__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>VarApproverTittle</description>
        <name>VarApproverTittle</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Contact_Title__c})),{!$Record.Contact_Title__c},
IF(ISBLANK({!$Record.Approval_Log__r.Approver_Type__c}),IF(NOT(ISBLANK({!$Record.Contact_Title__c})),{!$Record.Contact_Title__c},IF(AND(ISBLANK({!$Record.Contact_Title__c}),NOT(ISBLANK({!$Record.Department_Name__c}))),{!$Record.Department_Name__c},IF(AND(ISBLANK({!$Record.WhoId}),ISBLANK({!$Record.Contact_Title__c}),ISBLANK({!$Record.Approver_Name__c}),ISBLANK({!$Record.Contact_Email__c}),ISBLANK({!$Record.Department_Name__c})),{!$Record.Owner:User.Title},&apos;&apos;))),
IF(AND(OR(CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Account Team Member&apos;),CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;User&apos;),{!$Record.RecordType.DeveloperName} = &apos;Escalation&apos; ),NOT(ISBLANK({!$Record.Owner:User.Title}))),{!$Record.Owner:User.Title}, IF(OR(AND(CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Contact&apos;),NOT(ISBLANK({!$Record.WhoId}))),CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Title&apos;)),{!$Record.Contact_Title__c},
IF(AND(CONTAINS({!$Record.Approval_Log__r.Approver_Type__c},&apos;Department&apos;),NOT(ISBLANK({!$Record.Department_Name__c}))),{!$Record.Department_Name__c},&apos;&apos;)))))</expression>
    </formulas>
    <formulas>
        <description>VarContact_Email</description>
        <name>VarContact_Email</name>
        <dataType>String</dataType>
        <expression>If(OR(ISPICKVAL({!$Record.Process__c} , &apos;Obtain Service Approval&apos;),ISPICKVAL({!$Record.Process__c}, &apos;Escalation Obtain Service Approval&apos;)),{!$Record.ContactEmail__c}, {!$Record.Contact_Email__c})</expression>
    </formulas>
    <formulas>
        <description>varDescription</description>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>If(OR(ISPICKVAL({!$Record.Process__c} , &apos;Obtain Service Approval&apos;),ISPICKVAL({!$Record.Process__c} , &apos;Escalation Obtain Service Approval&apos;)),&apos;&apos;,{!$Record.Description__c} )</expression>
    </formulas>
    <formulas>
        <description>VarLastAgentName</description>
        <name>VarLastAgentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} + &apos; &apos; + {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <description>varNumAttempt</description>
        <name>varNumAttempt</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Attempt__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varNumAttempt_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Attempt__c})</expression>
    </formulas>
    <formulas>
        <description>VarNumAttempt</description>
        <name>VarNumberAttempt</name>
        <dataType>String</dataType>
        <expression>If(ISPICKVAL({!$Record.Process__c} , &apos;Obtain Schedule Confirmation&apos;), &apos;Any&apos;,TEXT({!$Record.Attempt__c}) )</expression>
    </formulas>
    <formulas>
        <description>VarProposedServiceDate</description>
        <name>VarProposedServiceDate</name>
        <dataType>Date</dataType>
        <expression>IF((ISPICKVAL({!$Record.Process__c} ,&apos;Obtain Vendor Update&apos;) &amp;&amp; ((ISPICKVAL({!$Record.Outcome__c} ,&apos;New ETA Provided&apos;)) || (ISPICKVAL({!$Record.Outcome__c} ,&apos;Service Evidence Received&apos;))))|| (ISPICKVAL({!$Record.Process__c} ,&apos;Notify Customer Of Service Update&apos;) &amp;&amp; (ISPICKVAL({!$Record.Outcome__c} ,&apos;Customer Accepts Status&apos;)))|| (ISPICKVAL({!$Record.Process__c} ,&apos;Escalation Obtain Vendor Information&apos;) &amp;&amp; ((ISPICKVAL({!$Record.Outcome__c} ,&apos;New ETA Provided&apos;)) || (ISPICKVAL({!$Record.Outcome__c} ,&apos;Service Evidence Received&apos;)))),{!$Record.Proposed_Service_Date__c},null)</expression>
    </formulas>
    <interviewLabel>Update Case for Task Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case for Task Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>591</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Info_Task_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Is_Info_Task_Created_False</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Info_Task_Created__c</field>
            <value>
                <elementReference>Is_Info_Task_Created_True</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>575</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Task_Recursion_Check</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delay_Actions</name>
            <connector>
                <targetReference>Decide_Delayed_Flow_to_Run</targetReference>
            </connector>
            <label>Delay Actions</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>RunFlowAtTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Task_FrameWork_Process_on_Delay_1</name>
        <label>Create Task FrameWork Process on Delay</label>
        <locationX>951</locationX>
        <locationY>360</locationY>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>contact_Number</name>
            <value>
                <elementReference>$Record.Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactTitle</name>
            <value>
                <elementReference>$Record.Contact_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExtApprover</name>
            <value>
                <elementReference>$Record.Approval_Log__r.Required_Approver_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>InputObjectIdParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <elementReference>InputObjectNamesParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Preferred_Method</name>
            <value>
                <elementReference>$Record.Preferred_Contact_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RunFlowName</name>
            <value>
                <elementReference>$Record.RunFlowName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskRec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarActualApproverId</name>
            <value>
                <elementReference>VarActualApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApprovalLogId</name>
            <value>
                <elementReference>$Record.Approval_Log__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApproverContactEmail</name>
            <value>
                <elementReference>VarApproverContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApproverTittle</name>
            <value>
                <elementReference>VarApproverTittle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarapproverType</name>
            <value>
                <elementReference>$Record.Approval_Log__r.Approver_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <elementReference>$Record.Attempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarBusinessRuleId</name>
            <value>
                <elementReference>$Record.Business_Rule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCasePropServiceDate</name>
            <value>
                <elementReference>$Record.Proposed_Service_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContact_Email</name>
            <value>
                <elementReference>VarContact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentTaskProcess</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarInputMultiCaseId</name>
            <value>
                <elementReference>$Record.MultiCaseId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarIsRequired</name>
            <value>
                <elementReference>$Record.If_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <elementReference>VarNumberAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutCome</name>
            <value>
                <elementReference>$Record.Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProposedServiceDate</name>
            <value>
                <elementReference>VarProposedServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskFrameworkId</name>
            <value>
                <elementReference>$Record.TaskFrameworkId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Task_FrameWork_ProcessV1</name>
        <label>Create Task FrameWork Process</label>
        <locationX>286</locationX>
        <locationY>831</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <flowName>Create_Task_FrameWork_Process</flowName>
        <inputAssignments>
            <name>contact_Number</name>
            <value>
                <elementReference>$Record.Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactTitle</name>
            <value>
                <elementReference>$Record.Contact_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExtApprover</name>
            <value>
                <elementReference>$Record.Approver_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectIdParam</name>
            <value>
                <elementReference>InputObjectIdParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputObjectNamesParam</name>
            <value>
                <elementReference>InputObjectNamesParam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Preferred_Method</name>
            <value>
                <elementReference>$Record.Preferred_Contact_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskRec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarActualApproverId</name>
            <value>
                <elementReference>VarActualApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApprovalLogId</name>
            <value>
                <elementReference>$Record.Approval_Log__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApproverContactEmail</name>
            <value>
                <elementReference>VarApproverContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarApproverTittle</name>
            <value>
                <elementReference>VarApproverTittle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarapproverType</name>
            <value>
                <elementReference>$Record.Approval_Log__r.Approver_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <elementReference>$Record.Attempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarBusinessRuleId</name>
            <value>
                <elementReference>$Record.Business_Rule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCasePropServiceDate</name>
            <value>
                <elementReference>$Record.Proposed_Service_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContact_Email</name>
            <value>
                <elementReference>VarContact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentTaskProcess</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarInputMultiCaseId</name>
            <value>
                <elementReference>$Record.MultiCaseId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarIsRequired</name>
            <value>
                <elementReference>$Record.If_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarLastAgentName</name>
            <value>
                <elementReference>VarLastAgentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastModifiedId</name>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNumAttempt</name>
            <value>
                <elementReference>VarNumberAttempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutCome</name>
            <value>
                <elementReference>$Record.Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProposedServiceDate</name>
            <value>
                <elementReference>VarProposedServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Process_of_Non_Pickup_Task_framework_delay</name>
        <label>Process of Non Pickup Task framework delay</label>
        <locationX>1232</locationX>
        <locationY>282</locationY>
        <flowName>Process_of_Non_Pickup_Task_framework</flowName>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <elementReference>$Record.Attempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumAttempt</name>
            <value>
                <elementReference>varNumAttempt_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTypeInput</name>
            <value>
                <stringValue>Case;RecordType;BusinessHours;Task;CustomerContact;Vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutcomeText</name>
            <value>
                <elementReference>$Record.Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>$Record.Service_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RunFlowName</name>
            <value>
                <elementReference>$Record.RunFlowName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskInputIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Process_of_Non_Pickup_Task_framework_Set</name>
        <label>Process of Non Pickup Task framework Set</label>
        <locationX>601</locationX>
        <locationY>1861</locationY>
        <flowName>Process_of_Non_Pickup_Task_framework</flowName>
        <inputAssignments>
            <name>varAttempt</name>
            <value>
                <elementReference>$Record.Attempt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumAttempt</name>
            <value>
                <elementReference>varNumAttempt_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTypeInput</name>
            <value>
                <stringValue>Case;RecordType;BusinessHours;Task;CustomerContact;Vendorcontact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOutcomeText</name>
            <value>
                <elementReference>$Record.Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProcess</name>
            <value>
                <elementReference>$Record.Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceClassification</name>
            <value>
                <elementReference>$Record.Service_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSource</name>
            <value>
                <elementReference>varSource_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_delay_SLA_process</name>
        <label>Task delay SLA process</label>
        <locationX>801</locationX>
        <locationY>1868</locationY>
        <flowName>Task_delay_SLA_process</flowName>
        <inputAssignments>
            <name>TaskInputIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_delay_SLA_process_on_delay</name>
        <label>Task delay SLA process on delay</label>
        <locationX>1116</locationX>
        <locationY>352</locationY>
        <flowName>Task_delay_SLA_process</flowName>
        <inputAssignments>
            <name>RunFlowName</name>
            <value>
                <elementReference>$Record.RunFlowName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskInputIdParam</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Detail_Concatenation_Process</name>
        <label>Task Detail Concatenation Process</label>
        <locationX>599</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <flowName>Process_on_Task_Completion</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarTaskRecId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Task_Subject_Flow_Invocation</name>
        <label>Task Subject Flow Invocation</label>
        <locationX>598</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
        <flowName>Task_Subject_Description_Mapping</flowName>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Is Info Task Created = False</description>
        <name>Is_Info_Task_Created_False</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Info Task Created = True</description>
        <name>Is_Info_Task_Created_True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIsRecursion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>varObjectTypeInput</description>
        <name>varObjectTypeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case;RecordType;BusinessHours;Task;CustomerContact;Vendorcontact</stringValue>
        </value>
    </variables>
    <variables>
        <description>TaskRecordType</description>
        <name>varObjectTypeInputRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.RecordTypeId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStopRecursion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTaskFrameworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
