force-app/main/default/flows/UpdateIndicoStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetStatusOfIndico</name>
        <label>SetStatusOfIndico</label>
        <locationX>488</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>varEmailMessageRec.IndicoStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed Indico Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailMessageRec.isIndicoEligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEmailMessage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_on_Case_Status</name>
        <label>Check on Case Status</label>
        <locationX>474</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_on_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailMessageRec.IndicoStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Indico Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusOfIndico</targetReference>
            </connector>
            <label>Check on Status</label>
        </rules>
    </decisions>
    <formulas>
        <name>varIndicoPause</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.25/24</expression>
    </formulas>
    <interviewLabel>Pause {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateIndicoStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEmailMessageRecord</name>
        <label>GetEmailMessageRecord</label>
        <locationX>224</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_on_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailMessageId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>varEmailMessageRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IndicoStatus__c</queriedFields>
        <queriedFields>isIndicoEligible__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEmailMessage</name>
        <label>UpdateEmailMessage</label>
        <locationX>758</locationX>
        <locationY>313</locationY>
        <inputReference>varEmailMessageRec</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>66</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>SetPauseForIndico</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailMessageRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <waits>
        <name>SetPauseForIndico</name>
        <label>SetPauseForIndico</label>
        <locationX>482</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>SetPause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetEmailMessageRecord</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varIndicoPause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>SetPause</label>
        </waitEvents>
    </waits>
</Flow>
