force-app/main/default/flows/Update_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check input Parameter</description>
        <name>Check_input_Parameter</name>
        <label>Check input Parameter</label>
        <locationX>158</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Next_action_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement_as_Approved</targetReference>
            </connector>
            <label>Update as Approved</label>
        </rules>
        <rules>
            <name>Update_as_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement_as_Reject</targetReference>
            </connector>
            <label>Update as Rejected</label>
        </rules>
    </decisions>
    <description>Update Entitlement based on Service Guarantees Approval Task.</description>
    <interviewLabel>Update Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Entitlement as Approved</description>
        <name>Update_Entitlement_as_Approved</name>
        <label>Update Entitlement as Approved</label>
        <locationX>399</locationX>
        <locationY>34</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarEntitlementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Entitlement as Rejected</description>
        <name>Update_Entitlement_as_Reject</name>
        <label>Update Entitlement as Rejected</label>
        <locationX>417</locationX>
        <locationY>221</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarEntitlementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <startElementReference>Check_input_Parameter</startElementReference>
    <status>Active</status>
    <variables>
        <description>update Entitlement based on the outcome.</description>
        <name>VarEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Outcome of the Service Guarantees Approval task</description>
        <name>VarOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
