force-app/main/default/flows/Validation_Add_Change_Scope_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_14</name>
        <label>Set Output variables: Asset Count &gt; 2</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>More than 2 Assets selected on the Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Case_with_Case_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_16</name>
        <label>Set Error</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Asset_Ids_and_Count.FlowResultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_Case_with_Case_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_18</name>
        <label>Add Case Asset Id to Collection</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsFromCaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputCase.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Asset_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Eligibility to false based on the presence of an extended or duplicate service</description>
        <name>Copy_1_of_Set_Quote_Eligible_for_False_for_Duplicate_Options</name>
        <label>Set Quote Eligible for False for Ended Service</label>
        <locationX>5150</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ended Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Eligibility to false based on the presence of an extended or duplicate service</description>
        <name>Copy_1_of_Set_Quote_Eligible_for_False_for_Ended_Service</name>
        <label>Set Quote Eligible for False for Starting on Day Of Service</label>
        <locationX>5414</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Starts On Day Of Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_De</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote eligibility flag to false if the primary Asset does not have a CPQ Product</description>
        <name>Copy_1_of_Set_Quote_Eligible_to_False_on_Main_Asset</name>
        <label>Copy 1 of Set Quote Eligible to False on Main Asset</label>
        <locationX>534</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Asset Header is End Dated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_AssetId_Collection_into_Local_Variable</name>
        <label>Get AssetId Collection into Local Variable</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AssetIdsFromCaseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Asset_Ids_and_Count.AssetIdsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Asset_Ids_from_Case1</name>
        <label>Get Selected Asset Ids from Case</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SelectAssetIdsonCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCase.Selected_Asset_Header_Ids__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_an_Asset_Has_Been_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Asset_Ids_from_Case2</name>
        <label>Get Selected Asset Ids from Case</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SelectAssetIdsonCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Selected_Asset_Header_Ids__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_AC_Scope_Controller_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Restrictions</name>
        <label>Set Number of Restrictions</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NumCaseRestrictions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_for_AC_Scope_Controller_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_that_the_case_type_is_in_scope</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Eligibility to false based on the presence of an extended or duplicate service</description>
        <name>Set_Quote_Eligible_for_False_for_Duplicate_Options</name>
        <label>Set Quote Eligible for False for Duplicate Options</label>
        <locationX>4886</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Eligibility to false based on the presence of an extended or duplicate service</description>
        <name>Set_Quote_Eligible_for_False_for_Extended_Service</name>
        <label>Set Quote Eligible for False for Extended Service</label>
        <locationX>4622</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended/Duplicate Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Eligibility to false based on the lacking CPQ Product Catalog relationships</description>
        <name>Set_Quote_Eligible_to_False_for_Product_Fail</name>
        <label>Set Quote Eligible to False for Product Fail</label>
        <locationX>4662</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lacking Product Catalog Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote eligibility flag to false if the user is not enabled</description>
        <name>Set_Quote_Eligible_to_False_on_Active_User</name>
        <label>Set Quote Eligible to False on Active User</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Not Enabled for Add/Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_User_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote eligibility flag to false if no assets were selected</description>
        <name>Set_Quote_Eligible_to_False_on_Asset_Selection</name>
        <label>Set Quote Eligible to False on Asset Selection</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Assets Selected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote eligibility flag to false if the case type is not in scope</description>
        <name>Set_Quote_Eligible_to_False_on_Case_Type</name>
        <label>Set Quote Eligible to False on Case Type</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Type Ineligible</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Case_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote eligibility flag to false if the primary Asset does not have a CPQ Product</description>
        <name>Set_Quote_Eligible_to_False_on_Main_Asset</name>
        <label>Set Quote Eligible to False on Main Asset</label>
        <locationX>3390</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Asset has No CPQ Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Update_Case_with_Ineligible_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Eligibility to Quote</description>
        <name>Transaction_Eligible_for_Quote</name>
        <label>Transaction Eligible for Quote</label>
        <locationX>446</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>OutputQuoteEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputCase.Quote_Eligibility_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible for Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Eligible_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if a case record was provided (preferred), and if not it will perform a query to obtain the case details.  This step allows scalability into lightning/LWC components with a declared hasRecordId in addition to being invoked by other case-based flows.</description>
        <name>Case_Check</name>
        <label>Case Check</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Record Not Provided</defaultConnectorLabel>
        <rules>
            <name>Case_Record_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Asset_Ids_from_Case1</targetReference>
            </connector>
            <label>Case Record Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is check for previously existing Cases (which do not have Session data updated) which do not have a value in Selected_Asset_Header_Ids__c field. In this case, the flow will look for Asset Id field on case and process if it is present.</description>
        <name>Check_if_Asset_Id_is_populated_on_Case</name>
        <label>Check if Asset Id is populated on Case</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Assignment_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Id_Present_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCase.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_18</targetReference>
            </connector>
            <label>Asset Id Present on Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the semicolo separated field Selected_Asset_Header_Ids__c on Case to get Asset Ids</description>
        <name>Decision_7</name>
        <label>Check Asset Count</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Asset_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Asset_Ids_and_Count.AssetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Asset_Ids_and_Count.FlowResultCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_14</targetReference>
            </connector>
            <label>Count &gt; 2</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Asset_Ids_and_Count.FlowResultCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Asset_Id_is_populated_on_Case</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_CPQ_Product_and_Material</name>
        <label>Is there a CPQ Product and Material?</label>
        <locationX>4598</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Eligible_to_False_for_Product_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CPQ Product or Material</defaultConnectorLabel>
        <rules>
            <name>CPQ_Product_and_Material_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Details.CPQ_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Details.CPQ_Material__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Against_Each_Detail</targetReference>
            </connector>
            <label>CPQ Product and Material Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_Violation_in_Start_Dates</name>
        <label>Are there Duplicate or Extended Services?</label>
        <locationX>5150</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Compare_Against_Each_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Extended In Future Nor Duplicate</defaultConnectorLabel>
        <rules>
            <name>If_Extended_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Details.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Against_Each_Detail.Service_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Details.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>InputCase.Service_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Details.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Against_Each_Detail.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Eligible_for_False_for_Extended_Service</targetReference>
            </connector>
            <label>If Extended In Future</label>
        </rules>
        <rules>
            <name>If_Duplicate_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Details.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Against_Each_Detail.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Details.CPQ_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Against_Each_Detail.CPQ_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Eligible_for_False_for_Duplicate_Options</targetReference>
            </connector>
            <label>If Duplicate Service</label>
        </rules>
        <rules>
            <name>If_Ended_Before_Service_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Details.End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Case_Record.Service_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Quote_Eligible_for_False_for_Duplicate_Options</targetReference>
            </connector>
            <label>If Ended Before Service Date</label>
        </rules>
        <rules>
            <name>If_Start_on_Day_Of_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Details.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InputCase.Service_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Quote_Eligible_for_False_for_Ended_Service</targetReference>
            </connector>
            <label>If Start on Day Of Service</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that the count of assets related to the case are at least 1 before entering a loop</description>
        <name>Validate_an_Asset_Has_Been_Selected</name>
        <label>Has an Asset Been Selected?</label>
        <locationX>732</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Eligible_to_False_on_Asset_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assets Selected</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Assets_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCase.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Asset_Ids_and_Count</targetReference>
            </connector>
            <label>One or More Assets Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that the Primary Asset related to the Case has a relationship to a CPQ product</description>
        <name>Validate_Primary_Asset_has_CPQ_Product</name>
        <label>Does the Asset Header have CPQ Products?</label>
        <locationX>1962</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Eligible_to_False_on_Main_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Has No CPQ Product</defaultConnectorLabel>
        <rules>
            <name>Header_is_End_Dated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Header.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Quote_Eligible_to_False_on_Main_Asset</targetReference>
            </connector>
            <label>Header is End Dated</label>
        </rules>
        <rules>
            <name>Asset_Has_CPQ_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Header.CPQ_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Details</targetReference>
            </connector>
            <label>Asset Has CPQ Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_that_the_case_type_is_in_scope</name>
        <label>Validate that the case type is in scope</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Eligible_to_False_on_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Type Not In Scope</defaultConnectorLabel>
        <rules>
            <name>Case_Type_In_Scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumCaseRestrictions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Update_Asset_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_an_Asset_Has_Been_Selected</targetReference>
            </connector>
            <label>Case Type In Scope</label>
        </rules>
        <rules>
            <name>User_Not_Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumCaseRestrictions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Update_Asset_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Eligible_to_False_on_Active_User</targetReference>
            </connector>
            <label>User Not Active User</label>
        </rules>
    </decisions>
    <description>A modular auto-launched flow that accepts a Case as an input and will determine whether or not the case is Add/Change eligible.  Validates Case Type Combinations against custom metadata, confirms that a user has selected an asset, and confirms that each selected asset contains populated data fields necessary to translate Asset to Quote.</description>
    <environments>Default</environments>
    <interviewLabel>Modular Validation - Add/Change Scope Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validation - Add/Change Scope Evaluation</label>
    <loops>
        <description>A nested loop that determines if there are duplicates for each probable row and if anything is extended into the future</description>
        <name>Compare_Against_Each_Detail</name>
        <label>Compare Against Each Detail</label>
        <locationX>4534</locationX>
        <locationY>2954</locationY>
        <collectionReference>Get_All_Asset_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Potential_Violation_in_Start_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Asset_Ids</name>
        <label>Loop through Asset Ids</label>
        <locationX>446</locationX>
        <locationY>2306</locationY>
        <collectionReference>AssetIdsFromCaseCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Asset_Header</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transaction_Eligible_for_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Details</name>
        <label>Loop Through Details</label>
        <locationX>3302</locationX>
        <locationY>2738</locationY>
        <collectionReference>Get_All_Asset_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_a_CPQ_Product_and_Material</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Asset_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This check is necessary if this flow will become portable, such that we need to build this check into either the screenflows that launch this process and pass the case record directly, or pass in a case Id and perform the check locally in the validation.  This is &quot;planned redundancy&quot;</description>
        <name>Check_for_AC_Scope_Controller_Records</name>
        <label>Check for AC Scope Controller Records</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_of_Restrictions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Case_Sub_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Case_Reason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Restriction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Classification (Type, Sub-Type, Reason)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AC_Scope_Controller__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets All Asset Details Related to the Service</description>
        <name>Get_All_Asset_Details</name>
        <label>Get All Asset Details</label>
        <locationX>1962</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Primary_Asset_has_CPQ_Product</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Asset_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>InputCase.Service_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>Service_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Header</name>
        <label>Get Asset Header</label>
        <locationX>1962</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Asset_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Asset_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the case record in the event that a Case Record was not provided as an input variable</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Asset_Ids_from_Case2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_De</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Update Case with Ineligible Details</label>
        <locationX>5414</locationX>
        <locationY>3278</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Update Case with Ineligible Details</label>
        <locationX>5150</locationX>
        <locationY>3278</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update Case with Ineligible Details</label>
        <locationX>4886</locationX>
        <locationY>3278</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Update Case with Ineligible Details</label>
        <locationX>534</locationX>
        <locationY>2846</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Copy 1 of Update Case with Ineligible Details</label>
        <locationX>4622</locationX>
        <locationY>3278</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Copy 2 of Update Case with Ineligible Details</label>
        <locationX>3390</locationX>
        <locationY>2846</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_with_Case_Ineligible_Details</name>
        <label>Update Case with Case Ineligible Details</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 1 of Update Case with Ineligible Details</label>
        <locationX>4662</locationX>
        <locationY>3062</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Case_with_Ineligible_Details</name>
        <label>Copy 2 of Update Case with Ineligible Details</label>
        <locationX>1018</locationX>
        <locationY>1490</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Case_with_Case_Ineligible_Details</name>
        <label>Update Case with Case Ineligible Details</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Case_Ineligible_Details</name>
        <label>Update Case with Case Ineligible Details</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Eligible_Details</name>
        <label>Update Case with Eligible Details</label>
        <locationX>446</locationX>
        <locationY>4106</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_User_Ineligible_Details</name>
        <label>Update Case with User Ineligible Details</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <inputReference>InputCase</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Retrieve_Asset_Ids_and_Count</name>
        <label>Retrieve Asset Ids and Count</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Get_AssetId_Collection_into_Local_Variable</targetReference>
        </connector>
        <flowName>Retrieve_Asset_Ids_and_Count</flowName>
        <inputAssignments>
            <name>AssetIdsFromCase</name>
            <value>
                <elementReference>SelectAssetIdsonCase</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AssetIdsFromCaseCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A case record Id may be presented instead of a Case Id, and if so it will perform a query to obtain the case record</description>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NumAssetsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Number of case restrictions that match the current case against the custom metadata types</description>
        <name>NumCaseRestrictions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OutputQuoteEligible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectAssetIdsonCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
