force-app/main/default/flows/Validate_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Next_Action</name>
        <label>Assign Next Action</label>
        <locationX>657</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>VarIsNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Approval_Follow_Task</name>
        <label>Check Approval Follow Task</label>
        <locationX>646</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Task</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>VarApprovalStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarApprovalStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approval Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Approval Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check case</description>
        <name>Check_case_record</name>
        <label>Check case record</label>
        <locationX>155</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_case_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Case</targetReference>
            </connector>
            <label>Is case available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Case</name>
        <label>Validate Case</label>
        <locationX>409</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Obtain_Customer_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtain Customer Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Not Obtained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Obtain Customer Info</label>
        </rules>
        <rules>
            <name>Confirm_Service_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Service Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Service Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Confirm Service Completion</label>
        </rules>
        <rules>
            <name>Obtain_Service_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Obtain Service Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetApprovallog</targetReference>
            </connector>
            <label>Obtain Service Approval</label>
        </rules>
        <rules>
            <name>Obtain_Schedule_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtain Schedule Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Case_Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Schedule Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Service_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varServiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Obtain Schedule Confirmation</label>
        </rules>
        <rules>
            <name>Obtain_Schedule_Confirmation_No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtain Schedule Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response/Pending Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Service_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varServiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Obtain Schedule Confirmation/No Response</label>
        </rules>
        <rules>
            <name>Reject_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Work Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRec.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Action</targetReference>
            </connector>
            <label>Reject Work Order</label>
        </rules>
    </decisions>
    <description>validate Case to preform Next Action</description>
    <formulas>
        <description>When Process is &quot;Obtain Schedule Confirmation&quot; Task should not be created when Service date is greater than 7 days.</description>
        <name>varServiceDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Validate Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetApprovallog</name>
        <label>GetApprovallog</label>
        <locationX>254</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Follow_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApprovalLogId</elementReference>
            </value>
        </filters>
        <object>Approval_Log__c</object>
        <outputAssignments>
            <assignToReference>VarApprovalStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_case_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varApprovalLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varInputTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarIsNextAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
