force-app/main/default/flows/Work_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Ran_By_Delay_Logic</name>
        <label>Flow_Ran_By_Delay_Logic</label>
        <locationX>185</locationX>
        <locationY>782</locationY>
        <actionName>PutTaskRecursionCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newTaskList</name>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PutTaskRecursionCheck</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Object_Type_and_Record_Type</name>
        <label>Assign Object Type and Record Type</label>
        <locationX>609</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>varDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Back_Dated_Work_Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSobjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_WorkOrder_Line_Items</name>
        <label>Assign Values for WorkOrder Line Items</label>
        <locationX>697</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varWoLineItem.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.AssetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Vendor_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSupplierId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.New_Client_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.New_Client_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Original_Client_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.Original_Client_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.Reason_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Reason_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.Reason_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Service_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWoLineItem.Asset_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseAsset.Asset_Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_WorkOrder_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_of_WorkOrder_Line_Items</name>
        <label>Collection of WorkOrder Line Items</label>
        <locationX>697</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varWoLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWoLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Asset_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRetry</name>
        <label>SetRetry</label>
        <locationX>367</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>VarRetry</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Delay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Asset_List_is_empty</name>
        <label>Check if Asset List is empty</label>
        <locationX>499</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Check_WO_Service_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Asset_Line_Item_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseAssetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRetry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Ran_By_Delay_Logic</targetReference>
            </connector>
            <label>If Asset Line Item Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Service_Date</name>
        <label>Check WO Service Date</label>
        <locationX>741</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Get_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_WO_Service_Date_is_BackDated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Service_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Object_Type_and_Record_Type</targetReference>
            </connector>
            <label>Check if WO Service Date is BackDated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCaseAssetsAvailable</name>
        <label>CheckIfCaseAssetsAvailable</label>
        <locationX>741</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCaseAssetsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseAssetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Case_Asset_List</targetReference>
            </connector>
            <label>IfCaseAssetsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Delay_Immediate_Flow_Run</name>
        <label>Decide Delay/Immediate Flow Run</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowToRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Order Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRetry</targetReference>
            </connector>
            <label>Delay Flow</label>
        </rules>
    </decisions>
    <description>User Story : SDT-33638
1. Removing Delay
2. Added Decision - Decide Delay/Immediate Flow Run
3. Apex Call Flow_Run_By_Delay_Logic - Apex Class is TestPutWorkOrderCreationFlow
4 Update Case Records
5. Added Assignment in Delay which is Set Retry
6. Added Get Records in Delay which is Get Asset
7. Added Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic)
8. Added Case Id in Apex Action Task Recursion Check Put(Flow_Ran_By_Delay_Logic)</description>
    <environments>Default</environments>
    <formulas>
        <name>varAcornSBID</name>
        <dataType>Number</dataType>
        <expression>{!varCase.Asset.Acorn_SBID__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varAcornSCOD</name>
        <dataType>Number</dataType>
        <expression>{!varCase.Asset.Acorn_SCOD__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varInstructions</name>
        <dataType>String</dataType>
        <expression>&apos;Onsite Contact &apos; +  {!varCase.Site_Contact__c} +&apos; ,&apos;  + &apos;Onsite Contact Phone  &apos;  +{!varCase.Site_Contact_Phone__c} + &apos;Instructions  &apos;  + {!varCase.Work_Order_Instructions__c}</expression>
    </formulas>
    <formulas>
        <name>varNewQuantity</name>
        <dataType>Number</dataType>
        <expression>IF({!varCaseAsset.Quantity__c} != {!varCaseAsset.Quantity_Override__c}, {!varCaseAsset.Quantity_Override__c}, null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varPauseTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + VALUE({!$Label.PauseTime})/24</expression>
    </formulas>
    <formulas>
        <name>varSupplierId</name>
        <dataType>String</dataType>
        <expression>IF({!varAsset.Supplier__c} != null, {!varAsset.Supplier__c}, null)</expression>
    </formulas>
    <formulas>
        <name>varVendorId</name>
        <dataType>String</dataType>
        <expression>{!varCase.Asset.Supplier__c}</expression>
    </formulas>
    <interviewLabel>Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Creation</label>
    <loops>
        <name>Loop_Case_Asset_List</name>
        <label>Loop Case Asset List</label>
        <locationX>609</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>varCaseAsset</assignNextValueToReference>
        <collectionReference>varCaseAssetList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_for_WorkOrder_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WorkOrderLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>741</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>varWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>CheckIfCaseAssetsAvailable</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>varCase.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Location__c</field>
            <value>
                <elementReference>varCase.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Bypass__c</field>
            <value>
                <elementReference>varCase.Is_ByPassWO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Expected_Date__c</field>
            <value>
                <elementReference>varCase.Service_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSI__c</field>
            <value>
                <elementReference>varCase.PSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Service_Date_Time__c</field>
            <value>
                <elementReference>varCase.SLA_Service_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>varCase.Service_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Account_Id__c</field>
            <value>
                <elementReference>varCase.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WorkOrderLineItems</name>
        <label>Create WorkOrderLineItems</label>
        <locationX>609</locationX>
        <locationY>1838</locationY>
        <inputReference>varWoLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>631</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>varAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Acorn_SBID__c</queriedFields>
        <queriedFields>Acorn_SCOD__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Delay</name>
        <label>Get Asset</label>
        <locationX>367</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>varAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Acorn_SBID__c</queriedFields>
        <queriedFields>Acorn_SCOD__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Assets</name>
        <label>Get Case Assets</label>
        <locationX>499</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Asset_List_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>SBS_Case_Asset__c</object>
        <outputReference>varCaseAssetList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId__c</queriedFields>
        <queriedFields>Asset_Header__c</queriedFields>
        <queriedFields>Asset_Service_Type__c</queriedFields>
        <queriedFields>CaseId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Original_Client_Price__c</queriedFields>
        <queriedFields>New_Client_Price__c</queriedFields>
        <queriedFields>Reason_Code__c</queriedFields>
        <queriedFields>Reason_Description__c</queriedFields>
        <queriedFields>Quantity_Override__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>631</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Work_Order_Instructions__c</queriedFields>
        <queriedFields>Service_Date__c</queriedFields>
        <queriedFields>SLA_Service_Date_Time__c</queriedFields>
        <queriedFields>Case_Reason__c</queriedFields>
        <queriedFields>PSI__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Quantity_Override__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Site_Contact__c</queriedFields>
        <queriedFields>Site_Contact_Phone__c</queriedFields>
        <queriedFields>Is_ByPassWO__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>741</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSobjectName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeRec</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>257</locationX>
        <locationY>914</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FlowTimeToRun__c</field>
            <value>
                <elementReference>varPauseTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowToRun__c</field>
            <value>
                <stringValue>Work Order Creation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decide_Delay_Immediate_Flow_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowToRun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>TaskInputIdParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBS_Case_Asset__c</objectType>
    </variables>
    <variables>
        <name>VarCaseAssetFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseAssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBS_Case_Asset__c</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Work_Order</stringValue>
        </value>
    </variables>
    <variables>
        <description>Delaying two mins in order to get case asset mapped to the cloned case</description>
        <name>VarResumeTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarRetry</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSobjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>workorder</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSupplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWoLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varWoLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
